[2017-06-13 10:25] suryanaga commented on #569
Yeah, I think if they are confusing people we'll probably just take them out.

[2017-06-13 11:19] EUzkuraityte commented on #568
@sanjaypoyzer our prototype screen asks the user to enter the email address to receive a payment confirmation. Can we have it as a 'recommended' feature to councils - if a user enters an email address, then we will pre-pop all further email address fields? Can you make this happen in the prototype?

[2017-06-13 11:25] lizziebruce commented on #569
How about adding a little bit of explanatory copy:

**Before**

**After**

[2017-06-13 11:45] EUzkuraityte commented on #569
@lizziebruce looks great to me!
My only suggestion would be - is it possible to change 'Self Assessment' bit to '[Report a medical condition that affects your driving](https://www.gov.uk/report-driving-medical-condition)? - it's more relevant to parking and should be less alarming to users.

[2017-06-13 12:27] suryanaga commented on #568
@EUzkuraityte I really don't think payment providers will have that feature, as it would be a complicated thing for them to be providing to their customers at no real benefit. Can you check if this is something Worldpay would do?

[2017-06-13 12:32] suryanaga commented on #569
I'm not sure this section is needed. People seem to understand Verify much better in general now the content that introduces it is much better.

[2017-06-13 12:36] suryanaga commented on #320
Disagree that those versions are clearer. These pages work well now for all users we've tested with and there's no clear problem to solve by combining them.

[2017-06-13 12:36] #320 closed, assigned to nobody

[2017-06-13 12:38] suryanaga commented on #537
This is a duplicate of #399

[2017-06-13 12:38] #537 closed, assigned to suryanaga

[2017-06-13 13:17] EUzkuraityte commented on #568
@sanjaypoyzer well, Northumberland already has it (screenshot attached) and as we're recommending that the field should be there, could we set up for our prototype (as a good practice thing) and not enforce it if councils struggle with it?

![image](https://user-images.githubusercontent.com/20285115/27084186-da9e7450-5042-11e7-9cb4-2232333c6477.png)

[2017-06-13 13:19] EUzkuraityte commented on #399
Hi @sanjaypoyzer the user journey where a user does not need to pay for a permit needs fixing. We need to demonstrate (as my basic diagram illustrates) that when a user qualifies for a free permit, he should be shown a suitable summary page (see #339) and not shown any payment pages.

flow
![image](https://user-images.githubusercontent.com/20285115/27084332-66cd6486-5043-11e7-9e81-2cbe3104c16e.png

[2017-06-13 13:20] EUzkuraityte commented on #399
Evidence from sunderland
![image](https://user-images.githubusercontent.com/20285115/27038881-2d26543c-4f84-11e7-94af-2c398dbe53a2.png)

[2017-06-13 13:21] EUzkuraityte commented on #537
no probs, I copied all the info from this comment into #565

[2017-06-13 15:02] lizziebruce commented on #569
@EUzkuraityte if the Verify links are confusing users here, it might be best to remove that section. The services flagged aren't a natural flow for the user in terms of being highly relevant to the service they've just applied to.

[2017-06-13 15:53] irinapencheva commented on #204
@lizziebruce - Just spotted that changing 'white' to 'light coloured' was the issue that was not implemented in the prototype when we tested :)

[2017-06-13 15:56] irinapencheva opened #573 "User needed to input the date in the format shown as the example in the age eligibility check, but couldn't do so"
Some were confused that the eligibility month field only accepted numbers

The example here shows the month abbreviated as ‘Oct’.

Users who tried to enter ‘Apr’ found that this field would only accept numbers.

![screen shot 2017-06-13 at 16 55 29](https://user-images.githubusercontent.com/24913176/27091808-278c6662-5059-11e7-80e9-be43f47bcc41.png)

[2017-06-13 15:59] EUzkuraityte commented on #569
@lizziebruce @sanjaypoyzer let's see tomorrow if/what users find confusing and take it from there!

[2017-06-13 16:01] irinapencheva opened #574 "User needs to check if they're eligible for a bus pass using the checker but couldn't do so so"
![screen shot 2017-06-13 at 16 55 29](https://user-images.githubusercontent.com/24913176/27091991-bfbf96c0-5059-11e7-8f99-ba621513df8b.png)

Age checker doesn't actually work (maybe it's not supposed to in the prototype so happy to close the issue if that's the case) and always says you're eligible even when you're born after 1952

[2017-06-13 16:08] irinapencheva opened #575 "User won't be able to apply by phone but it says they would be able to do so"
On the 'Other ways to apply' there is an option to apply by phone, which councils don't usually have as an option so should be removed
![screen shot 2017-06-13 at 17 05 45](https://user-images.githubusercontent.com/24913176/27092305-b7c66394-505a-11e7-946a-66bb29687549.png)

[2017-06-13 16:11] irinapencheva opened #576 "Users will be able to prove their identity with not just utility bills but currently says they have to upload ' a recent utility bill'"
![screen shot 2017-06-13 at 17 11 50](https://user-images.githubusercontent.com/24913176/27092479-6cfc7014-505b-11e7-816a-a58db2fbdb3c.png)

[2017-06-13 16:15] irinapencheva opened #577 "BUG: On Application Complete page it always says user will receive a confirmation email even if their notification preference is different"
![screen shot 2017-06-13 at 17 13 19](https://user-images.githubusercontent.com/24913176/27092564-b1067b9c-505b-11e7-91d3-f91cecaa646d.png)

[2017-06-13 16:18] irinapencheva opened #578 "User will not receive a confirmation email within a minute but it says so"
If we are enabling the functionality of the user to have the ability to change their address within 5 minutes of the application completion page, we should wait with sending the confirmation email until that time has lapsed

![screen shot 2017-06-13 at 17 21 06](https://user-images.githubusercontent.com/24913176/27092867-bae581d4-505c-11e7-80fd-c642b2e8897f.png)

[2017-06-13 16:21] #577 closed, assigned to suryanaga

[2017-06-13 16:22] irinapencheva commented on #577
Apologies, it previously didn't look like it's working but now tests fine

[2017-06-13 16:30] irinapencheva opened #579 "User will be able to tap their pass when using it but currently doesn't say so on the instructions for using the pass"
![screen shot 2017-06-13 at 17 26 40](https://user-images.githubusercontent.com/24913176/27093155-8d1ca038-505d-11e7-86b1-6a2a05c392da.png)

On the first bullet it says the user has to show the pass to the driver but in many councils the user just needs to tap the pass on the machine and only show it to inspectors if necessary

Also on that bullet - would it make sense to remove the 'bus' of 'bus

[2017-06-13 16:35] irinapencheva opened #580 "Users need to know what other related services / bus routes they could use as part of having the pass"
![screen shot 2017-06-13 at 17 26 40](https://user-images.githubusercontent.com/24913176/27093442-9c289234-505e-11e7-9fbb-2d03d04524fe.png)

As discussed at the workshop and UR analysis sessions, it would be great to add a link to other related council services (e.g. metro ticket) and bus routes that ConTravel entitles you to

[2017-06-13 16:42] irinapencheva opened #581 "BUG - bullet on renew your pass always says user has signed up for both text and email, not reflecting the selected confirmation methods"
![screen shot 2017-06-13 at 17 26 40](https://user-images.githubusercontent.com/24913176/27093703-a59952b2-505f-11e7-960c-74dec8f38efe.png)

[2017-06-13 16:45] lizziebruce commented on #4
@EUzkuraityte @sanjaypoyzer @ingasiler I've put all the confirmation & reminder emails / texts in here: https://drive.google.com/drive/folders/0B_rqDnauwjr8RFd5eURIS0tJa1k Outstanding: Letter sent by post.

[2017-06-14 13:42] irinapencheva opened #582 "Users needed to find out if they are eligible to apply but were confused by the statement"
Some users thought the first sentence implied eligibility if over 60.

Two of those we spoke two read “If you’re over 60 you could get a free bus pass” and then proceeded to start confident that they would be eligible.
![screen shot 2017-06-14 at 14 42 20](https://user-images.githubusercontent.com/24913176/27135158-b4481766-510f-11e7-81ef-fe44d8030f18.png)

Both of these users were 63 years old.

[2017-06-14 13:47] irinapencheva commented on #483
![screen shot 2017-06-14 at 14 46 46](https://user-images.githubusercontent.com/24913176/27135421-591b127a-5110-11e7-8c6c-a0c9d49b4166.png)

Finding from ConTravel  user research

[2017-06-14 13:50] irinapencheva commented on #179
![screen shot 2017-06-14 at 14 48 43](https://user-images.githubusercontent.com/24913176/27135526-99d1082e-5110-11e7-80c9-1e7227fa66db.png)

Findings from latest round of user research suggests that this need is met for desktop users but there is a small improvement required for iPad users due to the issue below

![screen shot 2017-06-14 at 14 50 00](https://user-images.githubusercontent.com/24913

[2017-06-14 13:55] irinapencheva commented on #310
Evidence form latest round of user research on Concessionary travel:
![screen shot 2017-06-14 at 14 54 22](https://user-images.githubusercontent.com/24913176/27135802-71cdaf70-5111-11e7-87c3-fc4747337169.png)

[2017-06-14 13:58] irinapencheva commented on #204
@lizziebruce - moved this issue to 'CT issues ready to do' so when it's done feel free to move to closed :)

[2017-06-14 15:07] irinapencheva commented on #474
![screen shot 2017-06-14 at 16 05 55](https://user-images.githubusercontent.com/24913176/27139622-6755a3ea-511b-11e7-9fc3-905ced08301d.png)
This issue can be closed as found in UR.

It only requires a minor content fix to address the below issue
![screen shot 2017-06-14 at 16 06 41](https://user-images.githubusercontent.com/24913176/27139689-96a1199a-511b-11e7-982d-6b40979c78ac.png)

[2017-06-14 15:10] irinapencheva commented on #200
Still a minor issue observed in latest round of UR that requires implementing the suggested changes above

![screen shot 2017-06-14 at 16 10 15](https://user-images.githubusercontent.com/24913176/27139861-ff922ba6-511b-11e7-8d0f-5ef2dc8e10a8.png)

[2017-06-14 15:15] irinapencheva commented on #390
Latest round of user research suggests iPad users can largely use the service without assistance. The following minor issues were encountered, which can be addressed in Beta

![screen shot 2017-06-14 at 16 13 23](https://user-images.githubusercontent.com/24913176/27140080-8f7c6768-511c-11e7-97e7-94e227485638.png)

![screen shot 2017-06-14 at 16 14 53](https://user-images.githubusercontent.com/2491

[2017-06-14 15:18] irinapencheva commented on #347
Results from latest user research
![screen shot 2017-06-14 at 16 17 15](https://user-images.githubusercontent.com/24913176/27140242-f99e4efe-511c-11e7-8b68-d85fb041afc5.png)

@lizziebruce - do you think a small content fix can address this?

[2017-06-14 15:21] irinapencheva commented on #469
![screen shot 2017-06-14 at 16 20 34](https://user-images.githubusercontent.com/24913176/27140437-6fc52ecc-511d-11e7-9ac4-60500a2de3ab.png)
Still seen in user research but will close it as it is not in scope for Alpha and should be fed back to the wider Verify improvement team

[2017-06-14 15:21] #469 closed, assigned to suryanaga

[2017-06-14 15:23] irinapencheva commented on #580
Here's the finding from the user research to support this:
![screen shot 2017-06-14 at 16 22 40](https://user-images.githubusercontent.com/24913176/27140568-c6419a38-511d-11e7-97b4-a96d6ca8f61e.png)

[2017-06-14 15:24] irinapencheva commented on #470
Following latest round of user research this came out as a need, so bringing back to the priorities column
![screen shot 2017-06-14 at 16 23 32](https://user-images.githubusercontent.com/24913176/27140646-f85a4bbe-511d-11e7-81bf-48a7abc535c6.png)

[2017-06-15 07:58] AbiBarkerOxfordshire commented on #552
@EUzkuraityte I have just re-checked and it's fine now!! So sorry - happy for this to be closed. Thanks, Abi

[2017-06-15 07:58] #552 closed, assigned to nobody

[2017-06-15 08:06] AbiBarkerOxfordshire commented on #553
@EUzkuraityte No - we don't get any contacts of this kind (aside from people who have actually changed address which will be a different form for them). Our Parking Permit team would never send a permit elsewhere.

[2017-06-15 13:11] suryanaga commented on #568
I'm talking about payment providers passing the email onto the council, not the payment provider asking for the email.

I'm closing this issue as it doesn't express a user need.

[2017-06-15 13:11] #568 closed, assigned to suryanaga, lizziebruce

[2017-06-15 13:12] EUzkuraityte opened #583 "User need a way to claim that they are eligible for a free permit (HMO or BB) and provide evidence"
Users need to be able to claim that they live in a HMO and / or are a Blue Badge holder and provide the evidence for it. Councils should be able to customise this (i.e. select to display a combination of HMO and Bb and other items) based on their local rules.

This would result in the user not seeing the payment pages but seeing an additional page that will ask to provide evidence for the qualifyi

[2017-06-15 13:13] suryanaga commented on #399
^ That evidence is related to a prototype bug, not how to solve this user need

[2017-06-15 13:18] EUzkuraityte commented on #399
@sanjaypoyzer Thank you for confirming that the bug's fixed and the focus of this issue is fixing the user journey.

[2017-06-15 13:18] suryanaga commented on #574
@irinapencheva Yeah, we don't need this page to actually work in the prototype

[2017-06-15 13:22] EUzkuraityte commented on #205
@sanjaypoyzer as discussed with you and Stephen, please include GOV.UK Pay in the prototype for next round of user testing or later.

[2017-06-15 13:31] irinapencheva commented on #574
@sanjaypoyzer - cool stuff

[2017-06-15 13:51] GWSunderland commented on #583
@EUzkuraityte @sanjaypoyzer @lizziebruce  In Sunderland we check the Council Tax register to confirm that the property the user lives in is designated HMO.  There isn't really any evidence I can think that a user would have that confirmed they lived in a HMO property.  The number of users who apply for parking permits in Sunderland is very low.

[2017-06-15 14:17] #366 closed, assigned to petegale, EUzkuraityte

[2017-06-15 14:43] suryanaga opened #584 "Accuracy error: "Work in the area" should be "Own a business in the area""
![image](https://user-images.githubusercontent.com/4106955/27186800-4eceb354-51e1-11e7-8fbe-3305b16688a6.png)

[2017-06-15 15:47] lizziebruce commented on #399
@EUzkuraityte @sanjaypoyzer new content solution:

For free permit users (HMO), payment page doesn't have intro line or cost row and is titled "Your permit" instead of "Paying for your permit"

For 1st permit free users, payment page intro line says "Your first permit is free" and cost row has price set to £0.00, unless they are buying more than one permit.

For 1st permit free users buying more t

[2017-06-15 15:51] lizziebruce commented on #583
@sanjaypoyzer @EUzkuraityte @GWSunderland I guess it is proof of address + manual checks by council then? Similar to checking the photo on CT in a way.

[2017-06-15 15:52] lizziebruce commented on #584
@sanjaypoyzer is this a specific thing for Sunderland? Because you can get a business / trade permit without working in the area. Have commented on this in another issue (will link to when find).

[2017-06-15 18:23] suryanaga commented on #583
Sounds like an automatic check to me?

On Thu, 15 Jun 2017, 17:11 Lizzie Bruce, <notifications@github.com> wrote:

--
Sanjay Poyzer

Twitter: @sanjaypoyzer

Tel: +44 7895 123 673

[2017-06-16 07:42] EUzkuraityte commented on #515
linking to #584 #294

[2017-06-16 07:46] EUzkuraityte commented on #583
hey @lizziebruce @sanjaypoyzer could be a manual check, could be automatic, all depends on the level of integration between the systems. Could also be that the council ask the user to enter their council tax reference number as this makes matching way easier.

[2017-06-16 08:21] lizziebruce commented on #583
@EUzkuraityte @sanjaypoyzer shall I do a page with an Enter your council tax reference number field and we can take it from there?

[2017-06-16 09:12] lizziebruce commented on #583
This is the new page:

![screen shot 2017-06-16 at 10 11 07](https://user-images.githubusercontent.com/27814324/27220199-3a7fbb82-527c-11e7-8d95-1358ce57dc1e.png)

I haven't linked it to any other page. Its url is https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/HMO

[2017-06-16 09:21] lizziebruce commented on #262
Following UR we'll be iterating on the boundary map and also looking at alternatives like http://umap.fluv.io/ and possibly https://carto.com/ which is free to use for public data.

[2017-06-16 09:34] lizziebruce commented on #313
Following UR in Newcastle I've amended the HMO copy from "house of multiple occupancy" to "house in multiple occupation". This is the term used by GOV.UK. Might slightly reduce incidence of users wondering if they live in an HMO when they don't, as "in multiple occupation" may sound more like a particular type of housing than "of multiple occupancy". Screenshot to showing this, and the BB sentence

[2017-06-16 09:35] suryanaga opened #585 "Accuracy error: Users can't park 24 hours a day (at least in Sunderland)"
![image](https://user-images.githubusercontent.com/4106955/27221133-71b270ce-527f-11e7-8b88-968b285a7a8c.png)

[2017-06-16 09:37] suryanaga opened #586 "Make the "scan and upload" option realistic to what councils will actually offer"
![image](https://user-images.githubusercontent.com/4106955/27221241-c7c6f818-527f-11e7-8f35-7019bc315a0a.png)

[2017-06-16 09:39] suryanaga opened #587 "Council option for expiry dates based on seasons (Sunderland)"
Should test the worst case scenario - i.e Permit expires in 5 weeks and will need to renew.

Is this Sunderland only?

[2017-06-16 09:40] sanjaypoyzer commented on #586
![image](https://user-images.githubusercontent.com/4106955/27221367-43794e48-5280-11e7-9970-c487e411eb53.png)

[2017-06-16 09:41] suryanaga commented on #585
![image](https://user-images.githubusercontent.com/4106955/27221378-4b7071ee-5280-11e7-9aeb-52018ca456c7.png)

[2017-06-16 09:53] lizziebruce commented on #259
Following UR we'll be iterating on the boundary map and also looking at alternatives like http://umap.fluv.io/ and possibly https://carto.com/ which is free to use for public data.

[2017-06-16 09:58] lizziebruce commented on #587
@EUzkuraityte do you know if it's only Sunderland who issue permits seasonally or do other councils also do this?

[2017-06-16 10:12] GWSunderland commented on #584
@lizziebruce It Katie, Sunderland do no offer a business permit if you work in the PMS.

Businesses can apply for 1 permit (registration specific) at the cost of £50, If any additional permits are required then they will only be issued for a vehicle essential to the operation of a business during the operational hours of the scheme, and an operational requirement will need to be provided.

Permits

[2017-06-16 10:17] lizziebruce commented on #584
@GWSunderland thanks for this explanation Katie

[2017-06-16 10:42] EUzkuraityte commented on #587
I think Oxfordshire do this as well.. @AbiBarkerOxfordshire am I right in saying so?

[2017-06-16 10:48] AbiBarkerOxfordshire commented on #587
We used to have an anniversary for each zone and all permits within that zone ran for that period but now permits run for 12 months from the date of issue irrespective of the zone or area. Hope this helps @EUzkuraityte but let me know if you need anything else! Thanks, Abi

[2017-06-16 10:56] EUzkuraityte opened #588 "Users need to not have to choose unless necessary"
@sanjaypoyzer @lizziebruce @petegale
I know that we observed only one user who commented 'Why do I have to choose?' on the check your ID page, but it's obvious that users in general do not like having to make the choice. If we can take away this burden from them,then I think we should do this as much as possible.

Is there a reason why we could not keep the Verify route as the most prominent optio

[2017-06-16 11:02] lizziebruce commented on #584
This has been fixed for Sunderland:

![screen shot 2017-06-16 at 11 59 37](https://user-images.githubusercontent.com/27814324/27224175-9cbbbd5a-528b-11e7-853c-c896b686bcc6.png)

[2017-06-16 11:14] lizziebruce commented on #585
@sanjaypoyzer I'm not sure about if these changes should be made. By having the permit you are unrestricted by the restricted hours, therefore you can park 24 hours a day 7 days a week. I.e. you can park there all the time, not just in the restricted hours.

[2017-06-16 11:47] lizziebruce commented on #587
Thanks Egle and Abi.
@EUzkuraityte @sanjaypoyzer Suggested localised content, starting with Sunderland:

Before:
![screen shot 2017-06-16 at 12 44 58](https://user-images.githubusercontent.com/27814324/27225355-a6dbe2dc-5291-11e7-9e35-fdef1ed47733.png)

After:
![screen shot 2017-06-16 at 12 37 15](https://user-images.githubusercontent.com/27814324/27225098-96a5ace6-5290-11e7-89a3-ca1c5e4b629a.png)

[2017-06-16 12:25] EUzkuraityte commented on #259
Adding findings from UR
![screen shot 2017-06-16 at 15 43 26](https://user-images.githubusercontent.com/20285115/27231452-9138fb7c-52aa-11e7-9d3d-c53c330a971c.png)

![screen shot 2017-06-16 at 13 24 00](https://user-images.githubusercontent.com/20285115/27226496-3ffcdc8c-5297-11e7-806c-8c4a7d8ec9d6.png)

[2017-06-16 12:26] EUzkuraityte commented on #262
Adding findings from UR
![screen shot 2017-06-16 at 13 24 00](https://user-images.githubusercontent.com/20285115/27226522-665ba278-5297-11e7-8b1d-2e3d1ea6db7e.png)

[2017-06-16 12:28] EUzkuraityte commented on #300
link to #294

[2017-06-16 12:29] EUzkuraityte commented on #300
Adding evidence from UR
![screen shot 2017-06-16 at 13 29 14](https://user-images.githubusercontent.com/20285115/27226615-d138c09e-5297-11e7-8ee9-a3eed71d5fd9.png)
![screen shot 2017-06-16 at 13 51 37](https://user-images.githubusercontent.com/20285115/27227317-f13f4c7a-529a-11e7-92f2-d6427e6048d1.png)

[2017-06-16 12:32] EUzkuraityte commented on #225
Reopening this issue in light of new findings
![screen shot 2017-06-16 at 13 32 32](https://user-images.githubusercontent.com/20285115/27226725-46bb60d8-5298-11e7-87de-dafe8f5184a6.png)

[2017-06-16 12:34] lizziebruce commented on #587
I've updated the prototype to localise for Sunderland with first suggestion above, so that it's in place for their upcoming user testing.

[2017-06-16 12:40] EUzkuraityte opened #589 "Government Gateways account users need to be able to differentiate between GG and Verify"
Adding user research findings
![screen shot 2017-06-16 at 13 40 12](https://user-images.githubusercontent.com/20285115/27226980-5cc8d77e-5299-11e7-9b32-516e3c20dab3.png)
![screen shot 2017-06-16 at 13 40 18](https://user-images.githubusercontent.com/20285115/27226981-5ccfc890-5299-11e7-8df5-65dc69f69e5c.png)

[2017-06-16 12:42] EUzkuraityte commented on #478
adding evidence from recent UR
![screen shot 2017-06-16 at 13 42 13](https://user-images.githubusercontent.com/20285115/27227045-a194d420-5299-11e7-8440-b08f7d02d5d0.png)

[2017-06-16 12:43] lizziebruce commented on #225
@sanjaypoyzer what do you think about having an expandable section "Prices for 3 or more permits" after the first para in the Costs sub-section?

[2017-06-16 12:46] EUzkuraityte opened #590 "Users need to be able to register for a LOA1 account"
Adding evidence from recent UR
![screen shot 2017-06-16 at 13 45 32](https://user-images.githubusercontent.com/20285115/27227138-1c8a234c-529a-11e7-9aea-7b057b884314.png)
![screen shot 2017-06-16 at 13 45 27](https://user-images.githubusercontent.com/20285115/27227137-1c881b4c-529a-11e7-9fe3-b3de40ff671f.png)
![screen shot 2017-06-16 at 13 45 21](https://user-images.githubusercontent.com/20285115/

[2017-06-16 12:50] EUzkuraityte opened #591 "Users need to understand why they're not given a full permit"
Evidence form latest round of user research on Parking Permits (case when LA receives an unverified Address and chooses to issue the user with a 3 month permit)
![screen shot 2017-06-16 at 13 48 01](https://user-images.githubusercontent.com/20285115/27227236-8e8af7f0-529a-11e7-9b54-2a99cd3c29be.png)

[2017-06-16 12:54] EUzkuraityte opened #592 "Users need to know that their vehicle details are correct"
![screen shot 2017-06-16 at 13 53 32](https://user-images.githubusercontent.com/20285115/27227422-50d9248a-529b-11e7-8587-a5b38cbb7be8.png)

[2017-06-16 12:56] EUzkuraityte commented on #592
link to #145

[2017-06-16 12:59] EUzkuraityte opened #593 "Users need to be able to make use of a temporary permit"
link to #477
![screen shot 2017-06-16 at 13 56 41](https://user-images.githubusercontent.com/20285115/27227603-087d93be-529c-11e7-88d0-c3379d6d85be.png)

[2017-06-16 13:23] lizziebruce commented on #586
Content fix applied for Sunderland.

"Provide documentary evidence" seemed ambiguous, so I've labelled the second radio button "Provide proof of identity". It still seems a little unclear. How will they provide evidence, and what are the evidence options? Could you let me know @GWSunderland @EUzkuraityte , as we should include that info in a bullet point.

![screen shot 2017-06-16 at 14 15 55](htt

[2017-06-16 14:46] EUzkuraityte opened #594 "Users need to know when to renew a 3 month permit"
![screen shot 2017-06-16 at 15 44 05](https://user-images.githubusercontent.com/20285115/27231594-ff736802-52aa-11e7-9e2b-3a7e1ed103e8.png)

[2017-06-16 14:51] EUzkuraityte commented on #323
@sanjaypoyzer I assign this to you in case anything can be done to at least have the cursor located in the 1st box of the page by default.
![screen shot 2017-06-16 at 15 51 12](https://user-images.githubusercontent.com/20285115/27231773-a697d6e0-52ab-11e7-9571-c13c0077ae0e.png)

[2017-06-16 14:53] EUzkuraityte commented on #320
![screen shot 2017-06-16 at 15 52 59](https://user-images.githubusercontent.com/20285115/27231860-ef2f3be6-52ab-11e7-847d-39047c04fe88.png)

Evidence from Cambridgeshire

[2017-06-16 15:35] EUzkuraityte opened #595 "Users need to print and keep the information on completion page"
UR evidence from Cambridgeshire
link to #470
![screen shot 2017-06-16 at 16 34 56](https://user-images.githubusercontent.com/20285115/27233562-c3051490-52b1-11e7-9345-e522caa92325.png)

[2017-06-16 15:35] lizziebruce commented on #569
Egle's suggested maybe just a link to https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#government-services-you-can-use-with-govuk-verify since the Verify links section isn't being looked at (users saying they thought they could reuse on Ebay so they are just guessing). We could make this just one button, saying something like "Use GOV.UK Verify on other

[2017-06-16 15:46] lizziebruce commented on #588
thanks @EUzkuraityte. It looks like from the iteration slides there isn't a service standard reason why we couldn't put the doc upload into other ways to apply and as almost every single user we've tested with has veered away from scanning it we would be supporting users to make it easier to do what they want to do. I'll do a version with this change but will wait for Sanjay to get back before add

[2017-06-16 16:21] lizziebruce commented on #593
Yes, it seems obvious now, we should make the print temporary permit link a lot more prominent! Maybe a button. Perhaps even replace the ref number banner with it. I can come up with some options next week.

[2017-06-16 16:42] lizziebruce commented on #593
@EUzkuraityte I wanted to move this into Doing but can't find it on the board!

[2017-06-19 07:15] EUzkuraityte commented on #593
@lizziebruce I moved it to 'Doing' :)

[2017-06-19 08:18] EUzkuraityte opened #596 "BUG: direct debit route broken / incomplete"
Hi @sanjaypoyzer

We received feedback from Cambridgeshire that the DD route doe snot show the user confirmation and notification pages.

When I tried to follow the route, I got an error message. Please see below.
![screen shot 2017-06-19 at 09 15 06](https://user-images.githubusercontent.com/20285115/27275645-3ac8a846-54d0-11e7-9de6-94510439e5c2.png)
![screen shot 2017-06-19 at 09 18 26](https://

[2017-06-19 08:22] EUzkuraityte commented on #567
Just adding additional evidence to this from Cambridgeshire's user research

![screen shot 2017-06-19 at 09 20 30](https://user-images.githubusercontent.com/20285115/27275745-c1578d96-54d0-11e7-8564-1f3f94867561.png)

[2017-06-19 08:26] EUzkuraityte opened #597 "Users need to be able to make an informed choice when making a decision on how they want to pay"
![screen shot 2017-06-19 at 09 23 58](https://user-images.githubusercontent.com/20285115/27275876-30cb2994-54d1-11e7-800b-f5841b3d7a23.png)

[2017-06-19 08:46] EUzkuraityte opened #598 "Users need the title of the pre-payment page to reflect the content"
![screen shot 2017-06-19 at 09 46 41](https://user-images.githubusercontent.com/20285115/27276799-392d33b8-54d4-11e7-8822-c487fbfac224.png)

Assigning this to Sanjay and Lizzie to advice on the service design and content copy.

[2017-06-19 08:59] EUzkuraityte opened #599 "Users need to know how long a permit they can get before they are presented with the available option"
Assigning this to Lizzie and Sanjay to advice how we can make it clearer to the user about the length of the permits available to them.

Issues are:
1. From Newcastle Verify UR - users were surprised to see the 3 month permit (when address does not get verified) presented to them when they expected 6 or 12. (see: #591)
2. From Cambridgeshire UR - users were unaware of the 6 vs 12 month option
![sc

[2017-06-19 09:04] EUzkuraityte commented on #497
Assigning this to @Lizzie to advice on how we could improve the content of this page
This is still an issue, as evidenced by Cambridgeshire's UR:
![screen shot 2017-06-19 at 10 01 22](https://user-images.githubusercontent.com/20285115/27277627-be35610a-54d6-11e7-8983-c473f725260e.png)

[2017-06-19 09:25] EUzkuraityte commented on #452
@lizziebruce are you able to mock up a link to page that would explain to the user hoe the council will use the vehicle data and include it in this page and any others you think might be relevant (i.e. once we have the pages where a user could enter the further vehicle details like make, colour see: #145)?
![screen shot 2017-06-19 at 10 08 29](https://user-images.githubusercontent.com/20285115/272

[2017-06-19 09:32] EUzkuraityte commented on #225
Adding further evidence from Cambridgeshire
![screen shot 2017-06-19 at 10 28 59](https://user-images.githubusercontent.com/20285115/27278864-8e970cd8-54da-11e7-9ced-bb068b56be04.png)
![screen shot 2017-06-19 at 10 53 06](https://user-images.githubusercontent.com/20285115/27279759-8c58db38-54dd-11e7-8621-990b6a0f6a32.png)

[2017-06-19 09:34] EUzkuraityte opened #600 "BUG: need better wording for councils that offer unlimited number of permits"
See evidence from user research
![screen shot 2017-06-19 at 10 32 51](https://user-images.githubusercontent.com/20285115/27278974-ee4a72dc-54da-11e7-90ba-e54605b1af45.png)

[2017-06-19 09:44] EUzkuraityte opened #601 "Users need to know how their personal information will be stored and shared"
See evidence from Cambridgeshire UR:
![screen shot 2017-06-19 at 10 41 22](https://user-images.githubusercontent.com/20285115/27279312-2cc3d502-54dc-11e7-9f0b-2bb8d1711d78.png)

Linking to #452 as this is a similar issue

[2017-06-19 09:49] EUzkuraityte opened #602 "Users need to know what Verify is and what the Verify journey entails"
Including evidence from Cambridgeshire. The same was observed in the user lab in Newcastle. @lizziebruce @sanjaypoyzer could we prepare the users better to the journey, like giving more explanation about Verify -> IDP -> council journey and involvement?
![screen shot 2017-06-19 at 10 40 23](https://user-images.githubusercontent.com/20285115/27279567-f2c614a4-54dc-11e7-8232-96daba3ec3fa.png)
![scre

[2017-06-19 10:19] EUzkuraityte commented on #296
I'm reopening this issue, because:
1. people are complaining that the application is long winded, therefore, we meet the criteria for needing a progress indicator
![screen shot 2017-06-19 at 11 12 31](https://user-images.githubusercontent.com/20285115/27280648-953d54c4-54e0-11e7-8ecf-8bf76486388c.png)
2. People were observed asking for a 'back' button
![screen shot 2017-06-19 at 11 01 09](https://

[2017-06-19 11:05] GWSunderland commented on #583
Sorry that I haven't commented on this thread sooner but residents of HMO properties wouldn't have a Council Tax number as the landlord of the property is responsible for payment of the Council Tax

[2017-06-19 11:37] EUzkuraityte commented on #583
ah, thanks for letting us know @GWSunderland!

As HMOs have to be licensed, is there a way to interrogate the list of HMOs you have and match it by address? this way the user would not have to enter anything extra, we could just match them up with the address provided.

[2017-06-19 15:19] GWSunderland commented on #583
The most up to date records we have of this is the Council Tax register and we have thought about matching but there are very few HMO residents who apply for permits (we only had 16 last year) and I'm not sure we could justify the work (and cost) of integrating with the council tax system (which is Civica) for such low numbers.

[2017-06-20 08:18] lizziebruce commented on #583
@EUzkuraityte Hi Egle, I've assigned you and added the needs more info label as I'll need to know how HMO residents prove they live in a HMO. Could you ask our pilot councils how they check this on their HMO parking permit applications please?

[2017-06-20 08:25] EUzkuraityte commented on #583
Hi @lizziebruce yup, will make sure this gets asked ASAP!

[2017-06-20 08:45] lizziebruce commented on #296
Hi, let's talk about this with @sanjaypoyzer and @petegale.
From a content POV the wording wouldn't be difficult but the content design but would have some issues:
**1. Progress bar**
This would disappear on the Verify hub/IDP part of the journey. Application step 1 of 10, Application step 2 of 10 could be helpful, with obviously no step labels in the Hub.
But as the others mention above, if diffe

[2017-06-20 09:51] lizziebruce commented on #602
@EUzkuraityte The IDP page/comments related to it is really a Verify Hub issue. Explanatory info should be as contextually close as possible to the thing being explained, the evidence even refers to "previous screens" and the last 3 before the IDP list are all Verify hub. Tagging @anthonylord for his info. Please see above Ant.

However, we could try to enhance the overall journey via user expecta

[2017-06-20 09:58] CTSunderland commented on #586
Hi Lizzie,  sorry for this being vague.  We do not currently ask applicants to provide evidence and are speaking to the service to determine if/how we will be doing this moving forward.  We are happy to use what this has been changed to in our local user research which may help us to shape what we intend to do moving forward.

[2017-06-20 09:59] lizziebruce commented on #601
@EUzkuraityte see #41 - we recommend councils include a link to their privacy policy in the footer of every page, many may already be doing this. The GitHub issue gives more details.

Re additional comment, this looks like a one user only comment. We need to ask the question for data protection reasons. As the other part ^^ is a duplicate I'll close this issue.

[2017-06-20 09:59] #601 closed, assigned to lizziebruce

[2017-06-20 10:02] lizziebruce commented on #600
Solution: remove "up to" when unlimited number.

[2017-06-20 10:08] EUzkuraityte commented on #602
Many thanks for looking into this issue @lizziebruce I like option 2 most, but I'm happy to hear from Ant and Sanjay as well on how we could enhance user's understanding regarding the Verify journey.

[2017-06-20 10:18] lizziebruce commented on #225
Changes have been made to the prototype since this testing was carried out. The only outstanding issues I can see are:

- [ ] costs for additional permits i.e. more than 2 (this also came up elsewhere)
- [x] remove words "up to" when council gives unlimited permits

Plus possible localisation for Cambridgeshire if they accept only very specific docs. Copy is as is because it represents a range of

[2017-06-20 10:31] lizziebruce commented on #602
Agree Option 2 is good, here's how it would present in situ, with Option 1 for comparison. Not including Option 3 as it's too open ended.

Option 1
![screen shot 2017-06-20 at 11 23 42](https://user-images.githubusercontent.com/27814324/27328760-27864e38-55ab-11e7-9c5d-d612f1af5260.png)

Option 2
![screen shot 2017-06-20 at 11 22 20](https://user-images.githubusercontent.com/27814324/27328750-2144

[2017-06-20 10:41] lizziebruce commented on #586
@CTSunderland thanks, I see, that makes sense.

[2017-06-20 11:05] lizziebruce commented on #452
Re reg number storage: Is the user a) concerned about who will be storing it and where or b) concerned that Cambridgeshire County Council are storing it? It would be helpful to know whether or not the user saw and read the copy just below the enter reg number field:

Re privacy policy please see #41 this should be a link in the council website footer and so would appear on every page

[2017-06-20 11:24] lizziebruce commented on #497
Re: "as soon as possible" how many users found this unclear? (And why?)
"Immediately" and "Straightaway" are alternative wording but are technically incorrect, especially for any councils that don't wish to offer temporary permits. If it's only 1 or 2 users who've found "as soon as possible" unclear I suggest we close this issue.

Re: different start dates for different vehicles, the prototype has

[2017-06-20 12:55] lizziebruce commented on #599
I'm not sure this is a real user need. 1. Only one user has commented. 2. The 6 and 12 months options are already flagged earlier in the journey, on resident's start page.

Radio buttons - discarding this comment. They are large for a bigger click area therefore better accessibility. See GOV.UK design for radio buttons http://govuk-elements.herokuapp.com/form-elements/#form-radio-buttons

[2017-06-20 12:55] #599 closed, assigned to suryanaga, lizziebruce

[2017-06-20 13:10] lizziebruce commented on #598
1. Suggest the page title is reworded:

This would also work as a title for the summary page for free HMO permits. I don't think the "You're about the pay" line should change. It's preparing them for the next page (payment). The page title change should solve the issue. We could possibly add:

2. This isn't the right place to mention the temporary permit. The focus of this page is what you're payi

[2017-06-20 13:53] lizziebruce commented on #598
hey @EUzkuraityte - full disclosure - just to let you know I edited my comment quite significantly since you thumbs upped it, just in case you want to retract the thumbs up! :-D

[2017-06-20 14:05] lizziebruce commented on #497
Content solution linked to #598 - clarifying "as soon as possible" and preparing user expectations of permit start date in advance of permit summary page

**Verify route**
![screen shot 2017-06-20 at 14 57 51](https://user-images.githubusercontent.com/27814324/27337217-ae712120-55c9-11e7-8e90-07fbdceb894c.png)

**Non-Verify route / councils that don't issue temporary permits**
![screen shot 2017-0

[2017-06-20 14:08] EUzkuraityte commented on #598
@lizziebruce :D I'm going to keep the thumbs up and yes, usually there is a hologram printed on the parking permit

[2017-06-20 14:44] lizziebruce commented on #597
**Charges info**
Content fix: bring the copy re charges above the radio buttons & consider rewording, as it's only credit cards that are associated with incurring charges:

![screen shot 2017-06-20 at 15 17 08](https://user-images.githubusercontent.com/27814324/27337971-d4d1f7d4-55cb-11e7-8a38-ad6a7c5435e9.png)

With rewording:
![screen shot 2017-06-20 at 15 18 43](https://user-images.githubuserco

[2017-06-20 14:47] lizziebruce commented on #598
@EUzkuraityte :-D Thanks and oh that's a shame. Also on 2. I've put the "as soon as poss" copy in 497 (referenced above).

[2017-06-20 14:54] lizziebruce commented on #567
@EUzkuraityte unassigning myself as it's a functionality/service design thing.
One contenty comment though, the card security code field could be shorter, to auto-suggest to the user that a short number is required (3 digits). This could circumvent any confusion with sort code/other number.

[2017-06-20 15:07] lizziebruce commented on #591
I'll do some thinking on new content for this when it comes up in the priority in the ready to do list. I think this is a duplicate of another issue re current address unverified but I can't find that issue so can't close this one or reference the other one.

[2017-06-21 07:22] EUzkuraityte commented on #567
Hi @lizziebruce yup, sounds good!

[2017-06-21 08:36] lizziebruce commented on #593
This is solved by pull request #603 (screenshots there)

[2017-06-21 08:59] AbiBarkerOxfordshire opened #604 "Oxfordshire: Apply for a residents parking permit - HMO's not free"
Sorry, I thought I had logged this but can't see the issue in either open or closed so am logging it again. The Apply for a residents parking permit page says that Houses in multiple occupation do not need to pay - in Oxfordshire they do. The only people who do not need permits in CPZ's are blue badge holders displaying a valid blue badge (they don't get a free one, they just don't need one) - no-

[2017-06-21 09:01] AbiBarkerOxfordshire opened #605 "Oxfordshire: Apply for a residents parking permit - Other ways to apply"
This section shows phone and post as an option - we have no paper forms for parking permits so the only other option would be to call us to apply over the phone.

[2017-06-21 09:08] EUzkuraityte commented on #604
Hi @AbiBarkerOxfordshire it's perfectly fine to do this. I'm putting together Prototype element guidance that will highlight the bits that can be amended based on your local policy and where the prototype already reflects the customisable options. This should provide some clarity on things.

As far as this issue is concerned, please make sure to reflect the change in your local prototype and submi

[2017-06-21 09:16] EUzkuraityte commented on #605
yup, that's fine! Please make changes to your local version

[2017-06-21 11:06] lizziebruce commented on #588
Ok, so here's an idea of what the above could look like. See screenshots below.

PROS - I think it's a robust way to prepare users for the Verify hub element of the journey. Adding @anthonylord and @irinapencheva for info.

CONS - 1. The CTA for scanning is buried in the expandable section. Might not be a problem in itself. 2. But presenting the scan CTA on the same page w/o making clear it's a jo

[2017-06-21 13:35] lizziebruce commented on #262
@EUzkuraityte @sanjaypoyzer to make this work councils would need a dataset of postcodes per parking boundary to shade in the parking zones effectively. The service would also need a postcode picker to work intelligently with the shaded maps, to display the right part for user's postcode...

Without any shading applied, here's how the map zoomed to postcode areas displays on Google, Umap and Carto

[2017-06-21 13:41] EUzkuraityte commented on #583
linking to #604 which states that Oxford don't provide free permits to HMO residents

[2017-06-21 14:44] lizziebruce commented on #588
Great call by newest content designer @EUzkuraityte to put the 'Other ways to apply' link below the Continue button (as on Resident start page) :-)

![screen shot 2017-06-21 at 15 38 56](https://user-images.githubusercontent.com/27814324/27389937-d1979c3c-5697-11e7-845b-3e848af4b07c.png)

I've also tweaked the copy a little more:

![screen shot 2017-06-21 at 15 42 47](https://user-images.githubuse

[2017-06-21 16:20] lizziebruce commented on #41
This is fixed for Argleton and other councils that didn't have privacy link in footer yet i.e. Sunderland, Oxfordshire & Northumberland. Also added examples of other links they might want to include in footer based on quick look at what Bucks, Oxford and Sunderland had.

![screen shot 2017-06-21 at 17 06 31](https://user-images.githubusercontent.com/27814324/27394687-fb21af90-56a4-11e7-9831-1d326a

[2017-06-21 16:37] lizziebruce commented on #452
@EUzkuraityte closing this issue as the content asked for is already all there on the page. Only one user has missed the information about how the data will be stored and used.
For Privacy policy see #41.

[2017-06-21 16:37] #452 closed, assigned to EUzkuraityte, lizziebruce

[2017-06-21 16:41] lizziebruce commented on #592
This duplicates #145 so closing this one. This one's referenced on 145.

[2017-06-21 16:41] #592 closed, assigned to suryanaga

[2017-06-22 15:44] joanneSouthern commented on #583
We don't have any HMO applicants in Northumberlandand if we did they wouldn't get free permits, they would still have to pay :)

However for a blue badge holder we would just require a copy of the valid blue badge to get a FOC permit

Hope that helps

[2017-06-23 09:44] lizziebruce commented on #588
Feedback from @irinapencheva this may not be right for CT as the preceding page has numbered steps, and she's hesitant to change CT user journey when it's tested well as is. To clarify, this solution was drafted for PP and hasn't been adapted for CT – it's also a just a possible alternative approach to the prove ID page, which is still to be discussed with service designer.

[2017-06-23 10:46] lizziebruce commented on #591
Content fix

(See above for before)

After:

![screen shot 2017-06-23 at 11 40 35](https://user-images.githubusercontent.com/27814324/27478801-1df2a6f4-5809-11e7-8ffb-c7d1bfa61e58.png)

After – hidden text showing:

![screen shot 2017-06-23 at 11 43 33](https://user-images.githubusercontent.com/27814324/27478830-3da46c30-5809-11e7-857e-4caea4110263.png)

[2017-06-23 10:53] anthonylord commented on #602
@lizziebruce @EUzkuraityte Apologies for the delay in responding.
We've done a lot of research on how to make the company picker better for users, examples include ranking the companies based on conversion rate, highlighting just one, and providing stats to help users make a choice like average time taken and even customer ratings and reviews. Ranking the companies worked best, but unfortunately i

[2017-06-23 11:48] lizziebruce commented on #588
2 more drafts, reducing the copy:

![screen shot 2017-06-23 at 12 06 33](https://user-images.githubusercontent.com/27814324/27480860-d5511ad0-5811-11e7-8972-bb8cff68b277.png)

![screen shot 2017-06-23 at 12 44 01](https://user-images.githubusercontent.com/27814324/27480864-da98e432-5811-11e7-8804-d6fe5f036a8b.png)

[2017-06-23 13:18] lizziebruce commented on #600
Fixed with localisation for Cambridgeshire

![screen shot 2017-06-23 at 14 15 37](https://user-images.githubusercontent.com/27814324/27483759-96c29f34-581e-11e7-8bb3-f680c3eaf805.png)

<img width="818" alt="screen shot 2017-06-23 at 14 17 10" src="https://user-images.githubusercontent.com/27814324/27483798-b02b7dc4-581e-11e7-8057-cbe1a3c4aa85.png">

[2017-06-23 13:18] #600 closed, assigned to lizziebruce

[2017-06-23 13:43] lizziebruce commented on #594
1.Re: vagueness of "before your 3 month permit expires" I suggest:

Gives sufficient time for 5 working days if there's a weekend in the middle of them i.e. 7 days plus 3 days leeway. There is a risk users will leave it too late anyway though and have a gap between 3 month end date and full permit start date. So best thing for user would be to let them write on the 3 month permit "Full permit appl

[2017-06-23 14:41] lizziebruce commented on #598
See also PR #607

[2017-06-23 14:58] lizziebruce commented on #598
Update. I don't think this page should change title any more. It already has an alternative title for free permits: "Confirm your permit details."

I've added the line of copy "Check details and costs:" though.

After:

![screen shot 2017-06-23 at 15 58 32](https://user-images.githubusercontent.com/27814324/27487846-d71a1fe0-582c-11e7-8b53-8d90cf6ffe57.png)

[2017-06-23 14:58] #598 closed, assigned to suryanaga, lizziebruce

[2017-06-23 15:04] lizziebruce commented on #595
Is this a real need? Most users have said they would take a screenshot or print the page themselves. The email notification says confirmation coming in the next minute or prompts user to sign up for email notifications if they haven't.

If it is a real need, suggest we add a save as PDF / print as PDF. But wouldn't most users know how to do that?

[2017-06-23 15:27] lizziebruce commented on #602
Thanks @anthonylord. It sounds like it's worth researching in LA land as going to GOV.UK pages is already a disconnect from users council site and lots of users balk at the company list i.e. are surprised/horrified to see it. We've observed a lot of users simply clicking through the introductory progressive disclosure screens, as they have already had to absorb a lot on the preceding council servi

[2017-06-23 15:29] #585 closed, assigned to suryanaga, lizziebruce

[2017-06-23 15:45] lizziebruce commented on #225
Moving to Is this a real need? I know a couple of users asked about costs for over 2 permits, but is this a need or a nice to have??

[2017-06-23 15:56] lizziebruce commented on #571
This is a basic online journey need that we're aware of as service and content designers and we attempt to solve within the constraints of the multi-stage multi-organisation user journey. I don't think we can "solve" it as an "issue" as such so am closing.

[2017-06-23 15:56] #571 closed, assigned to nobody

[2017-06-23 16:17] lizziebruce commented on #566
In my opinion, this is beyond the scope of this prototype.

[2017-06-23 16:17] #566 closed, assigned to suryanaga, lizziebruce

[2017-06-23 16:20] lizziebruce commented on #570
See also pull request #603

[2017-06-26 09:18] lizziebruce commented on #551
@EUzkuraityte Am I right in understanding that users can't pay online in Oxfordshire? They would pay by phone or get an email invoice?

[2017-06-26 09:30] EUzkuraityte commented on #551
@lizziebruce Yes, that'scorrect

[2017-06-26 09:49] lizziebruce commented on #557
@EUzkuraityte @sanjaypoyzer

Error messages – these are for all the pages where users type things in. They would show when invalid data entered in the relevant field. May need some dev time to implement these?

**Enter card details page**

**Enter card details – payment failed**

**Pay by Direct Debit**

**Pay by Direct Debit – payment failed**

**Check boundary**

**Enter vehicle reg**

**Contact

[2017-06-26 09:50] EUzkuraityte commented on #597
@lizziebruce I think  the DD route is about making recurring payments easier, though I can't remember anyone choosing this route anyway to be honest..

[2017-06-26 10:02] EUzkuraityte commented on #557
@lizziebruce many thanks for putting this together, looks good! I'll wait for @sanjaypoyzer to let us know if dev time is needed.. Though chances of getting any are slim anyway. We can still pass this on to LAs and tell them that when they build the product these are the messages that should be shown. Additionally, are you able to put together a couple of sentences to make it into guidance to the

[2017-06-26 10:49] EUzkuraityte commented on #594
@lizziebruce the suggested copy looks great, but I don't think we can be more specific re part 2: what the users should do in order to increase their chances in getting verified in 3 months time.. If we suggest this, it will set the expectation that by changing their utility bill address, etc. they'll get verified. In reality, the process is v complex and each piece of evidence would get scored an

[2017-06-26 10:49] suryanaga commented on #588
Interested to see how this tests -- In general we know that many people will just click the green button and not read the text, so I'd be worried that might happen in this case. Hopefully the content on that last option is concise enough that they skim through it a bit at least.

Especially interested to see if people click the GOV.UK Verify link, and whether they do so to find out more info or to

[2017-06-26 10:52] EUzkuraityte commented on #602
I agree with @lizziebruce users get information fatigue and just click through the hub pages, mostly skimming over the content or not reading at all. I think the  proposed new copy in #588 works and I'd like to see how this in UR and how this affects the user journey.

It will also be interesting to see what the Hub Improvement Team come up with as they are currently trying to resolve the issue of

[2017-06-26 10:57] EUzkuraityte commented on #225
@lizziebruce I think this is a real need as the 1st person we observed during the last session in newcastle mentioned having 5 cars.. So whilst he may not need to apply for 5 permits on one go, he needs to know how much it's going to cost him to get a permit for a 5th car, 6th car etc. We don't necessarily have to resolve this in the prototype but we should at least link to a LA page (we don't nee

[2017-06-26 11:05] suryanaga commented on #313
@lizziebruce Is there a way to more easily answer the question "Do I live in a HMO?" The GOV.UK page says the requirements are:

I'm not actually sure from that content whether the place I live counts towards this, mainly down the the household bit. What is a household? 🤔

I'm wondering whether or not the GOV.UK link is helpful in this case, and whether or not we could put something here that woul

[2017-06-26 11:09] lizziebruce commented on #225
@EUzkuraityte the LA page would be part of the PP user journey as they wouldn't have separate info about PPs on their website. So we could make it a loop page, like the DOB checker on CT. I'd suggest making 'cost of additional permits' the link text.

[2017-06-26 11:22] EUzkuraityte commented on #313
@sanjaypoyzer see #583 for this discussion. We also requested this info from LAs as part of sprint task (to be logged under #583)

[2017-06-26 11:36] lizziebruce commented on #313
@EUzkuraityte 583 is just discussion about proof. I think Sanjay's made a really good point here which I've done some research on now.

@sanjaypoyzer Good question.
Legally for purpose of the housing act it looks like you’re not a household unless you’re related to each other, married etc:
http://www.legislation.gov.uk/ukpga/2004/34/section/258
http://nationalhmonetwork.com/what-is-an-hmo/what-is-

[2017-06-26 11:41] EUzkuraityte commented on #313
@lizziebruce @sanjaypoyzer sorry! my previous answer related to the only bit I was tagged in which is 'How does the council know someone lives in a HMO?'

Just to add a bit more info to the explanation - LAs have HMO property lists and households *have to have a HMO licence* to be classed as an HMO.

[2017-06-26 11:54] suryanaga commented on #587
@lizziebruce Is there content about this on other pages too? For example the success page?

[2017-06-26 12:14] suryanaga commented on #320
@EUzkuraityte That page is from a different part of the journey then the one this issue talks about

[2017-06-26 12:15] suryanaga commented on #569
Having a link to a page like that is more future-proof too, which is good. (i.e It will be updated as other services use Verify)

[2017-06-26 12:24] suryanaga commented on #296
Absolutely agree with Lizzie that the fact that we wouldn't be able to make this visible all the way through could make this really tricky and work very well. As far as I understand, the only place people get tired of the process is during the IDP journey and then whizz through the rest of the process after that.

That being said, it seems that some users do have a need to know how far through the

[2017-06-26 12:28] EUzkuraityte commented on #296
moving this to 'ready to do'. See previous comment re: amending the start page to include a numbered summary list of journey  steps

[2017-06-26 12:30] EUzkuraityte commented on #320
Nicely spotted @sanjaypoyzer ! I'm keen to keep this as closed anyway as we've not seen this to cause issues to any users in terms of getting through the application. Let me know if you'd prefer to open it

[2017-06-26 12:42] suryanaga commented on #586
@CTSunderland Just to clarify, you don't _have_ to offer an online alternative to Verify. If you're _not_ planning to build an online alternative to Verify, this part of your prototype may look more like what's documented in issue #588.

[2017-06-26 12:46] CTSunderland commented on #586
We are offering an online alternative to Verify, we're just not certain how/if we are going to request users to supply proof of their identity.

[2017-06-26 12:46] EUzkuraityte commented on #595
Hi @lizziebruce yup, definitely sounds good! Sanjay just [showed me a page](https://www.gov.uk/social-security-child-support-tribunal) that has similar functionality on GOV.UK, maybe we can make it similar to this?
![screen shot 2017-06-26 at 13 44 59](https://user-images.githubusercontent.com/20285115/27539818-db64f0b6-5a75-11e7-9765-3eb1523ca36f.png)

[2017-06-26 12:53] AbiBarkerOxfordshire commented on #551
Sorry - just to add to this - as we have no integration we'd say:

'Once your application has been approved we will email you an invoice for payment or call you to request this.'

[2017-06-26 13:00] lizziebruce commented on #557
@EUzkuraityte @ingasiler

Guidance or error messages

Does the above sound okay in relation to the prototype design @sanjaypoyzer ?

[2017-06-26 13:03] lizziebruce commented on #587
@sanjaypoyzer um, no. I'll do that now. Will need to change the permit start page too..

[2017-06-26 13:04] suryanaga commented on #597
DD is not for recurring, it's for people who don't have a card

[2017-06-26 13:07] suryanaga commented on #594
Yeah, agree that we can't really be very specific on this so let's just give them a time to come back.              For now at least, this seems the best course of action -- The success of this is something to particularly monitor in private beta (which probably needs to last for at least 4 months to make sure we get these users all the through to getting their full permit).

[2017-06-26 13:09] lizziebruce commented on #296
@sanjaypoyzer @EUzkuraityte hey both, the alternative prove identity page drafted in #588 could help with this. It flags the steps left from that point. I took out numbers as Irina pointed out that for CT this would be a screen with a list of numbered steps immediately after a screen with a list of numbered steps. But we could do different versions for PP and CT?

[2017-06-26 13:09] EUzkuraityte commented on #597
hm... we'd need to clarify that in the description!

[2017-06-26 13:10] suryanaga commented on #591
@lizziebruce I'm not sure that hiding the addresses in the box will change user's dissatisfaction about this. I feel like this issue is much more around setting expectations at the beginning of the process.

[2017-06-26 13:13] lizziebruce commented on #595
Yeah exactly, but with the link saying 'Print this page' right? We'll just have to make sure it's not confusable with the 'Print temporary permit' link...

[2017-06-26 13:15] suryanaga commented on #602
Yeah, really interested to see how telling users they'll have to choose a company here tests. Just preparing them early on might make a lot of difference.

[2017-06-26 13:18] lizziebruce commented on #597
This brings it back to my point above, is there a reason why we can't put:

This sounds like a bank transfer rather than a DD, which is for recurring payments no?

[2017-06-26 13:18] suryanaga commented on #225
I'd say this is definitely a real need. If they have more than 2 cars, they need to know much it's going to cost. Anyway we can hide this info from users that don't need to see it, whilst showing it to users who do though, is a plus.

[2017-06-26 13:18] suryanaga commented on #225
I don't think it needs to be a whole page, the expandable section sounds sensible.

[2017-06-26 13:20] EUzkuraityte commented on #296
@sanjaypoyzer @lizziebruce yup, the new version should def help.

I'm keen to keep the start page as short as possible, so maybe we could amend the

section  instead. And yes, we can definitely have different versions for PP & CT

[2017-06-26 13:25] lizziebruce commented on #591
@sanjaypoyzer this content fix is addressing the cause of the dissatisfaction as outlined on the UR card attached to this issue, which says users thought the council was saying they were ineligible rather than GOV.UK Verify. So the new content references GOV.UK Verify a lot more. We could also add 'by GOV.UK Verify' to the end of the page title.

The UR card says that specifically "those interpret

[2017-06-26 13:25] EUzkuraityte commented on #597
Hm, I assume DD can  be used in a recurring way or a one off. The new copy looks good, but probs would want to clarify that it's a one off payment, if you think it's needed

[2017-06-26 13:32] lizziebruce commented on #597
DDs may be for one-off payments as well as reoccurring but I think like me most of the public associate DD with recurring. New copy here is a bit of a halfway house but could mitigate confusion as we can't get into a long explanation on radio buttons.. I can enter some more explanation that it's one off on the DD payment page.

[2017-06-26 13:48] suryanaga commented on #313
@EUzkuraityte Does the _user_ need a HMO license, or does the _user's landlord_ need the license? If it's the user, how do they obtain one? If it's the landlord, do they just need to ask their landlord if they have one? I would the guess the latter is the case, and so we need to:

 - tell them that they won't need to pay because of those circumstances
 - make them aware somehow that the council wi

[2017-06-26 13:50] suryanaga commented on #586
@CTSunderland Ah ok, understood. In that case the issue is more around the content of this page, specifically the header, as the other route would be more for proving the user's address as opposed to their identity.

[2017-06-26 13:56] EUzkuraityte commented on #313
@sanjaypoyzer it's the landlord that needs the licence. The user would not need to ask the landlord this info, because councils have HMO lists and if a user lives in a household that meets all the HMO criteria but is unlicensed, it's fraud, and this would help councils spot it and take appropriate action.

It would be perfect to have the integration, but I'd rather focus on the blue badge version,

[2017-06-26 14:05] suryanaga commented on #551
I'd love to see this tested, would be interesting to see how it affects people's perception of the whole process, and their perception of Verify.

[2017-06-26 14:08] suryanaga commented on #557
Yep, the error messages look fine -- Me or a front end dev also needs to have a think about what the actual validation rules for each form field are. Probably more a thing for beta than alpha though.

[2017-06-26 14:46] suryanaga commented on #591
Yeah, I think the prove identity page is where to flag it, although it's more about saying that we'll (probably) give you a 3 month permit if you've just moved in.

[2017-06-26 14:53] suryanaga commented on #313
Whether or not we have the integration in the online version, if people are eligible for a free permit, we need to let them know how they can apply for one on this page. This might just be adding some content that says something like "if you live in a rented property with shared facilities with at least 2 other people that aren't related or married to each other, you may be eligible for a free per

[2017-06-27 08:36] lizziebruce commented on #587
Done, screenshots:

![screen shot 2017-06-26 at 15 11 09](https://user-images.githubusercontent.com/27814324/27578356-c5cca63a-5b1b-11e7-850c-b24e35efa619.png)

![screen shot 2017-06-26 at 15 58 18](https://user-images.githubusercontent.com/27814324/27578427-f494279a-5b1b-11e7-806e-49fa02c2899f.png)

![screen shot 2017-06-26 at 15 55 09](https://user-images.githubusercontent.com/27814324/27578437-

[2017-06-27 10:04] anthonylord commented on #602
If users get information fatigue, surely the answer isn't to provide even more information?

[2017-06-27 10:18] anthonylord commented on #588
Yeah, this is great, it's more like a GOV.UK start page now :)
I see that one of your cons @lizziebruce is that the scanning option is under the expander. Does it need to be an expander? Can't all the other ways be listed under the start button for everyone to see, like this: https://www.gov.uk/check-state-pension. That may help decrease anxiety in those users that tried using Verify in the past b

[2017-06-27 13:57] lizziebruce commented on #591
Content fix to flag up possibility of 3 month permit at choose Verify stage - but we might be changing this page for #588

![screen shot 2017-06-27 at 14 52 53](https://user-images.githubusercontent.com/27814324/27591177-d2080a02-5b48-11e7-8f05-60d2a3a625f7.png)

[2017-06-27 15:29] lizziebruce commented on #313
Content fix - rewording of copy that highlights an HMO and a find out more link which links to an in-application page, not GOV.UK page as previously.

![screen shot 2017-06-27 at 16 26 56](https://user-images.githubusercontent.com/27814324/27595774-80a37b8a-5b55-11e7-8f2a-a3a6d43ec4bf.png)

Online integration - find out more links to:
![screen shot 2017-06-27 at 16 25 56](https://user-images.githu

[2017-06-27 15:47] lizziebruce commented on #602
@anthonylord hi Ant, what we've observed is that local users click through the first 3 blue Hub screens. So this content solution is to pre-empt them doing that and give them a heads up in advance to manage their expectations, as we've been finding users going click click click through the blue screens and then rearing up when they reach the list of IDPs.
Another answer may be to modify what's on

[2017-06-27 15:57] BeckiBorastonBucks opened #609 "Get help uploading your photo - Concessionary - example screenshot"
When selecting 'Get help uploading a photo from your computer', the user is shown an example of the file window from a Mac(?). Do we have any research on how many Mac users there are over Windows PC users?

[2017-06-27 16:56] lizziebruce commented on #296
Content fix (done):
6 or 12 months
![screen shot 2017-06-27 at 17 45 07](https://user-images.githubusercontent.com/27814324/27599726-99c5988a-5b61-11e7-9c85-f96426634473.png)

12 months only
![screen shot 2017-06-27 at 17 40 15](https://user-images.githubusercontent.com/27814324/27599742-a05073dc-5b61-11e7-9079-f8f0d4144a36.png)

[2017-06-28 09:23] lizziebruce commented on #588
@anthonylord that sounds interesting. With the Other ways to apply link now below the main CTA it's not so much of a con anymore that scanning is in the expander, as my main worry previously was that people may accidentally end up on the scan route but this shouldn't happen now.
I think the Check your State Pension page works well but worry that on the council pages which have colour in their bran

[2017-06-28 10:01] lizziebruce commented on #262
We've gone with Carto. Clear and simple, no distracting side panel and zoom controls more obvious in top left than Google's bottom right. Can also choose shading colour, allowing council branding to be incorporated.

![screen shot 2017-06-28 at 10 54 14](https://user-images.githubusercontent.com/27814324/27631379-2fef1b5e-5bf0-11e7-8775-a84642e01ee3.png)

NB to make this work in practice, councils

[2017-06-28 11:05] lizziebruce commented on #594
I've changed the application complete page to say "10 days before" instead of "shortly before":
![screen shot 2017-06-28 at 11 51 11](https://user-images.githubusercontent.com/27814324/27633695-270175fc-5bf8-11e7-9d5f-df1ff83fbbb2.png)
Changed same copy on unverified address page:
![screen shot 2017-06-28 at 11 55 00](https://user-images.githubusercontent.com/27814324/27633823-b31d0506-5bf8-11e7-9

[2017-06-28 11:12] lizziebruce commented on #597
Let's see how this tests?

![screen shot 2017-06-28 at 12 12 29](https://user-images.githubusercontent.com/27814324/27634425-1246c8f8-5bfb-11e7-9afb-5a4fcb7f8746.png)

[2017-06-28 11:15] lizziebruce commented on #602
Please see PR #610 and also issue #588 for current solution

[2017-06-28 11:29] lizziebruce commented on #586
@CTSunderland Yes – this may be superceded by #588. For this current screen I can change header "Provide proof of identity" to "Provide proof of address"?

[2017-06-28 11:48] lizziebruce commented on #602
@anthonylord @sanjaypoyzer  btw I think there's a bug in the first blue Verify screen when coming from the local service?
![screen shot 2017-06-28 at 12 31 58](https://user-images.githubusercontent.com/27814324/27635213-0c61b22e-5bfe-11e7-942b-72ded8c16a54.png)
Not sure if this is a Verify Central thing or something VL've produced, the url is https://govuk-verify-loa1.herokuapp.com/about?requestId

[2017-06-28 12:20] lizziebruce commented on #145
What I'm creating, as I understand it from above discussion...

https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/enter-reg
1. Field label copy for:
Vehicle make
Vehicle colour
2. Instructions for the user to go to DVLA site and check this information if they don't have it ready

https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/e

[2017-06-28 15:01] lizziebruce commented on #145
So...

**Enter reg page**

For councils who want extra enforcement details:

![screen shot 2017-06-28 at 15 26 33](https://user-images.githubusercontent.com/27814324/27642283-34c8e90e-5c16-11e7-859a-1b5033136254.png)

[Not done the drop down functionality. Need @sanjaypoyzer / dev help with this!
Car make – is this drop down / free text / autotext?
Car colours: Beige, black, blue, bronze, brown, b

[2017-06-28 15:13] lizziebruce commented on #583
See issue #313 and PR #608 for HMO solution. Believe for integrated council services there'd be an automatic check for the landlord HMO licence.

Blue Badge – this service routes user to Blue badge service from 2 places on the resident's start page. That page also states that BB holders don't need a resident's parking permit.

![screen shot 2017-06-28 at 16 12 26](https://user-images.githubusercon

[2017-06-28 15:13] #583 closed, assigned to suryanaga, EUzkuraityte, lizziebruce

[2017-06-28 15:40] lizziebruce commented on #551
For Oxfordshire:

1.'Paying for your permit' page needs replacement title 'Check permit details' and "you're about to pay...." copy line removed.

'Next' button will take user to a page telling them:

2.(New page)
"Once your application has been approved we will email you an invoice for payment or call you to request this."

3.Application complete page will need a copy revisit. 2. could be incorpo

[2017-06-28 17:03] lizziebruce commented on #602
Some initial thoughts on how the Verify Hub intro blue screens could work for arrivals from local services...

https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1FvUf8sT9BbfEe1PsgdBuCWsqs6xMbKs0JDlcDf0JX-A/edit?usp=sharing

[2017-06-28 17:05] lizziebruce commented on #559
See front-loaded explanation of Verify & companies content solution in #588 and #602

[2017-06-28 17:05] lizziebruce commented on #508
See #602 #588

[2017-06-28 17:05] lizziebruce commented on #482
See also #602 #588

[2017-06-28 17:06] lizziebruce commented on #481
See also #602 #588

[2017-06-28 17:06] lizziebruce commented on #478
See content solution of front-loading explanation about companies #588 #602

[2017-06-28 17:07] lizziebruce commented on #447
See #588 which outlines upcoming parts of journey
See also #602

[2017-06-28 17:08] lizziebruce commented on #445
See also #602 #588

[2017-06-28 17:08] lizziebruce commented on #443
See also #602 #588

[2017-06-28 17:09] lizziebruce commented on #437
See also front-loading of explanation about certified companies in #602 #588

[2017-06-28 17:10] lizziebruce commented on #436
See front-loading of explanation about companies in #602 #588

[2017-06-28 17:10] lizziebruce commented on #433
See front-loading of explanation about companies in #588 #602

[2017-06-28 17:10] lizziebruce commented on #432
See also #602 #588

[2017-06-28 17:11] lizziebruce commented on #421
See front-loading of explanation about companies in #588 #602

[2017-06-28 17:11] lizziebruce commented on #417
See front-loading of explanation about companies in #588 #602

[2017-06-28 17:12] lizziebruce commented on #413
See front-loading of explanation in #588 #602

[2017-06-28 17:12] lizziebruce commented on #406
See front-loading of explanation about companies in #588 #602

[2017-06-28 17:12] lizziebruce commented on #410
See front-loading of explanation about companies in #588 #602

[2017-06-28 17:13] lizziebruce commented on #199
See also #588 #602

[2017-06-28 17:14] lizziebruce commented on #198
When it's live we can add it...?

[2017-06-29 08:14] EUzkuraityte commented on #145
@lizziebruce amazing work! The only bit that I'd change is not showing the confirm vehicle details page for councils that don't ask additional details as the user would not have entered anything prior ..

[2017-06-29 09:04] lizziebruce commented on #145
@EUzkuraityte thanks! Should this screen simply say confirm registration number then, or alternatively there be functionality for the reg number they input to appear on the previous screen for them to check, i.e. in case of typos etc?

[2017-06-29 09:56] EUzkuraityte commented on #145
@lizziebruce I think we probs don't need an entire page just to confirm what they've just entered. Would go with your latter proposition or just adding the reg number to the 'check before you pay' page.

[2017-06-29 10:22] lizziebruce commented on #580
Research on "local bus services in England" and local council variations/additional travel concessions.

**Northumberland:**
"Local buses may include some tour buses and any long-distance coach service registered as a local bus service. If in doubt, check with the bus operator."
"Residents of Northumberland with a valid concessionary bus pass can purchase a Nexus Gold Card, which allows free off-p

[2017-06-29 11:11] lizziebruce commented on #580
More research
http://bususers.org/publications#general
http://bususers.org/pages/download/czo0NzoiL2Fzc2V0cy9Db25jZXNzaW9uYXJ5X0J1c19UcmF2ZWxfaW5fRW5nbGFuZC5wZGYiOw__
**9. What is the definition of a ‘local’ bus?**
The concession entitles pass holders to free travel on off-peak local bus services in England. Qualifying
services will be self-evident in most cases. They don’t usually include sightse

[2017-06-29 12:08] lizziebruce commented on #145
@EUzkuraityte thanks, let's get @sanjaypoyzer involved for councils that don't need additional details. Just to doublecheck, are there 2 options or 3? My content fix was for scenarios 1. and 2. below but it from your comments it sounds like either there could be 1. 2. and 3. or that it's only 1. and 3.
1. Council asks for make and colour from user
2. Council looks up make and colour from DVLA and

[2017-06-29 12:31] joanneSouthern commented on #145
Northumberland, at the moment we just ask for the reg, however we like the fact the DVLA brings back make and colour, it provides a extra check to the users that they have entered the correct reg

[2017-06-29 13:11] lizziebruce commented on #474
@irinapencheva I don't think there's anything we can do to add any further clarity. The UR note above says the screenshot attached (which is the current live prototype) show the updated version of the page "that addresses this issue". I think this is already solved!

Users with a webcam not attached to the computer will need to either attach the webcam to their computer or if it's inaccessible in

[2017-06-29 13:11] #474 closed, assigned to lizziebruce

[2017-06-29 13:41] lizziebruce commented on #579
Fixed:

<img width="366" alt="screen shot 2017-06-29 at 14 40 02" src="https://user-images.githubusercontent.com/27814324/27690339-ffc9a568-5cd8-11e7-8cbe-4c3ef1e0e8d7.png">

[2017-06-29 13:41] #579 closed, assigned to lizziebruce

[2017-06-29 13:47] lizziebruce commented on #460
@irinapencheva not sure why you've moved this back to ready to do? has been fixed by PR #545 as far as I know.

<img width="565" alt="screen shot 2017-06-29 at 14 44 14" src="https://user-images.githubusercontent.com/27814324/27690608-b4f9314c-5cd9-11e7-90f4-68e7f489c384.png">

[2017-06-29 14:08] lizziebruce commented on #204
Done! Changed in common content and 5 other places :-)

[2017-06-29 14:08] #204 closed, assigned to lizziebruce

[2017-06-29 14:15] lizziebruce commented on #578
@irinapencheva Changed to "within the next 10 minutes". Let me know if you think it should be "w/in the next 6 mins" @sanjaypoyzer

<img width="554" alt="screen shot 2017-06-29 at 15 13 42" src="https://user-images.githubusercontent.com/27814324/27692070-afffcfe4-5cdd-11e7-8538-85c6b0e621b1.png">

[2017-06-29 14:22] lizziebruce commented on #200
@irinapencheva @sanjaypoyzer suggest we use a smiling photo... this will instantly communicate that it's not the same rules as for passport photo and help users focus on the important things e.g. showing shoulders and having a plain, light-coloured background.

how do we achieve this... ?

[2017-06-29 14:47] lizziebruce commented on #519
This is currently in the calendar for Monday 3rd, 4-5pm. @petegale wasn't on the invite list so I've invited him as per @irinapencheva comment above!
https://calendar.google.com/calendar/render?tab=mc#eventpage_6%7Ceid-NTZtdDJmcjR1ajVlc3UzczJzbGlmZW5jZzRfMjAxNzA3MDNUMTUwMDAwWiBsaXp6aWUuYnJ1Y2VAZGlnaXRhbC5jYWJpbmV0LW9mZmljZS5nb3YudWs-0-0-

[2017-06-29 16:10] irinapencheva commented on #200
@lizziebruce - agreed.

Let's have a chat tomorrow on what we could do

[2017-06-29 16:12] lizziebruce commented on #347
@irinapencheva @petegale I'm not sure how much more we can help users with this. It's more an issue of lack of digital competence. We could spell it out more in the bullets:

<img width="501" alt="screen shot 2017-06-29 at 16 40 25" src="https://user-images.githubusercontent.com/27814324/27696516-b95f68ae-5ce9-11e7-8c91-27642c29a32d.png">

However, it seems like
a. users were all focusing on the e

[2017-06-29 16:14] lizziebruce commented on #200
@irinapencheva I'm not here tomorrow - Monday?

[2017-06-29 16:17] irinapencheva commented on #200
@lizziebruce - sure! :)

[2017-06-29 16:30] irinapencheva commented on #578
@lizziebruce - cool - I'd keep it 'within 10 mins' to give enough time.

[2017-06-29 16:31] irinapencheva commented on #460
@lizziebruce - don't remember why that has happened, my bad.

[2017-06-29 16:33] lizziebruce commented on #582
Fixed on live prototype:

<img width="814" alt="screen shot 2017-06-29 at 17 32 20" src="https://user-images.githubusercontent.com/27814324/27699069-f9f7533e-5cf0-11e7-9545-96473c3e1c47.png">

[2017-06-29 16:37] lizziebruce commented on #576
@irinapencheva what are the other options please? Would like to say what the actual needed things are rather than "proof of address", as then users can know whether they have the right thing early on

[2017-06-29 16:38] irinapencheva commented on #582
@lizziebruce - I reread it 3 times until I spotted the difference in the text :D Do you think this will make the difference because it still says '60 or over', which is what drives user to proceed further without checking. Isn't it better if we change the text to '65 or over'?

[2017-06-29 16:43] irinapencheva commented on #576
@lizziebruce - is this screen still changing as per the PP discussion? I just had a chat with Egle and if both versions are tested in the PP user research I'm happy to go with the one that tests and reads better

Actual evidence that could be used to prove address includes: bank statements, council letters, tenancy agreement, property documentation, other official document from the council or gove

[2017-06-30 07:12] joanneSouthern commented on #582
@irinapencheva all the government and LA sites say 60 and over
https://www.gov.uk/apply-for-elderly-person-bus-pass

[2017-06-30 08:09] irinapencheva commented on #582
@joanneSouthern - agreed, but if this prototype is for the English scheme for which eligibility is the state pension age, why not change it and make it less confusing for the user (as was observed in the last round of UR)?

[2017-06-30 14:11] anthonylord commented on #602
@lizziebruce I've always thought it might be better to have a different hub for LA services, the Verify hub was designed for central gov services and may not make sense in local land. It is something we can do, but we'd have to have specific research findings that points to the present hub being problamatic for users of LA services. Do we have that? Users clicking through the hub screens is common

[2017-06-30 14:22] anthonylord commented on #602
@lizziebruce Was that bug sorted?

[2017-07-03 09:26] #578 closed, assigned to lizziebruce

[2017-07-03 09:27] lizziebruce commented on #460
Cool! No worries

[2017-07-03 09:52] EUzkuraityte commented on #595
Tagging both @lizziebruce and @sanjaypoyzer as Lizzie advised on the proposed copy in the previous comment and it's to be implemented by whoever can do it first..

[2017-07-03 10:01] lizziebruce commented on #576
@irinapencheva sounds good. Since there are so many variables, i.e.

"a letter or document with your address from your bank, council, mortgage lender or landlord or the  NHS, or a utility bill."

I think we'll have to say "proof of address" in the bullet and list them out as soon after in the journey as possible.

[2017-07-03 10:07] irinapencheva commented on #576
@lizziebruce - yep, agree with the above approach

[2017-07-03 10:09] irinapencheva commented on #347
@lizziebruce - this approach seems good. @petegale - do you think we saw enough users to assume email is preferred as the primary route for file transfer to implement this change?

[2017-07-03 10:57] lizziebruce commented on #576
Done

![screen shot 2017-07-03 at 11 53 37](https://user-images.githubusercontent.com/27814324/27789943-48f297c6-5fe6-11e7-9b3e-e01c9d2dd68c.png)

[2017-07-03 10:57] #576 closed, assigned to irinapencheva, lizziebruce

[2017-07-03 11:00] EUzkuraityte commented on #570
Closing this issue as per UR findings

[2017-07-03 11:00] #570 closed, assigned to nobody

[2017-07-03 11:16] lizziebruce commented on #602
@anthonylord re alternative Hub, I've referenced all the user issues that arose from the central Hub part of the journey, this should be good user research evidence? @petegale would be able to feed in further on this. Interesting, I didn't realise having a different hub for LA services was an option. I'd certainly like to try that.
Re bug, the copy is displaying correctly now, but the presentation

[2017-07-03 11:26] EUzkuraityte commented on #484
I'm closing this issue as our pattern and prototype recommend not using any type of doc upload, including V5C

[2017-07-03 11:26] #484 closed, assigned to nobody

[2017-07-03 11:48] suryanaga commented on #588
Yeah, let's test it and see what happens

[2017-07-03 12:02] suryanaga commented on #594
@lizziebruce Come grab me when you're looking at this next and we'll work out what the bug is.

[2017-07-03 12:19] suryanaga commented on #145
@joanneSouthern The DVLA API won't be available in the timescales of this project.

In response to Lizzie's 3 options, the option 2 will not be available - So there will only be option 1 and 3.

[2017-07-03 12:48] EUzkuraityte commented on #274
Closing this as observed in UR that people understand what to do with their permits

[2017-07-03 12:48] #274 closed, assigned to nobody

[2017-07-03 13:04] EUzkuraityte commented on #126
closing as issue is looked into via #557

[2017-07-03 13:04] #126 closed, assigned to suryanaga

[2017-07-03 13:07] #36 closed, assigned to kaydale

[2017-07-03 13:13] suryanaga commented on #200
Can't remember why but there was a reason we didn't do this for the last round. @petegale ?

[2017-07-03 14:05] irinapencheva commented on #200
@sanjaypoyzer - wasn't it that the quality of the smiling picture wasn't good?

[2017-07-03 14:42] lizziebruce commented on #145
@sanjaypoyzer hey, this issue wasn't showing up on the Project Board. @Egle couldn't find it either. Then we moved a different card and it suddenly showed up! Something similar happened with a CT issue this morning. Does Github have weevils?

[2017-07-04 12:11] lizziebruce commented on #145
Fixed but need Sanjay's help with the Next button coding.

**Council requires make and colour**
![screen shot 2017-07-04 at 13 08 52](https://user-images.githubusercontent.com/27814324/27829553-08ddfa52-60ba-11e7-85e8-6f4234b8335b.png)
Next screen is
![screen shot 2017-07-04 at 13 08 20](https://user-images.githubusercontent.com/27814324/27829559-0daf2740-60ba-11e7-8283-b3ad5b85da40.png)

**Counci

[2017-07-04 12:59] CTSunderland opened #612 "user would like to apply for both a resident and visitor permit at the same time"
![user would like to apply for both a resident and visitor permit at the same time](https://user-images.githubusercontent.com/27339521/27831074-f3bb36f6-60c0-11e7-8ff1-9761a07d9e32.PNG)

[2017-07-04 12:59] CTSunderland opened #613 "user mistaking verify with government gateway"
![user mistaking verify with government gateway](https://user-images.githubusercontent.com/27339521/27831086-06be407c-60c1-11e7-936b-1e778c96b579.PNG)

[2017-07-04 13:00] CTSunderland opened #614 "user trying to sign in to onine experian account"
![user trying to sign in to onine experian account](https://user-images.githubusercontent.com/27339521/27831097-16537e80-60c1-11e7-8b41-12d9140c89b7.PNG)

[2017-07-04 13:00] CTSunderland opened #615 "user not having phone to retrieve security code"
![user not having phone to retrieve security code](https://user-images.githubusercontent.com/27339521/27831113-269eadbe-60c1-11e7-9a73-7b1919822cca.PNG)

[2017-07-04 13:01] CTSunderland opened #616 "user unhappy only getting 3 month permit"
![user unhappy only getting 3 month permit](https://user-images.githubusercontent.com/27339521/27831131-34061988-60c1-11e7-97aa-d92a7ebe09e4.PNG)

[2017-07-04 13:01] CTSunderland opened #617 "user having to retrieve reference from bank statement"
![user having to retrieve reference from bank statement](https://user-images.githubusercontent.com/27339521/27831145-48a22ca6-60c1-11e7-8d61-4676c02d6a4c.PNG)

[2017-07-04 13:01] CTSunderland opened #618 "user wanting more information about one off payment"
![user wanting more information about one off payment](https://user-images.githubusercontent.com/27339521/27831154-51f5044a-60c1-11e7-8312-dc2496cabdf9.PNG)

[2017-07-04 13:02] CTSunderland opened #619 "user uncertain have completed application"
![user uncertain have completed application](https://user-images.githubusercontent.com/27339521/27831159-5cb83cee-60c1-11e7-8d2e-7fa75c18d8be.PNG)

[2017-07-04 14:01] lizziebruce commented on #582
@irinapencheva I don't think 65 and over is correct. People can get an older person's bus pass from age 60 depending on when they were born. The female state pension age remember, which changed a few times.
The UR issue was that the word "could" made people think it was a likelihood rather than a possibility. Changing to "may be able to" though less concise is more clear.

[2017-07-04 14:23] suryanaga commented on #145
@lizziebruce Come grab me to work on this if you want, or put in a pull request and I'll take a look.

[2017-07-04 15:17] irinapencheva commented on #582
@lizziebruce - OK, thanks for pointing out. Agree to changing to 'may be able to'

[2017-07-04 15:18] irinapencheva commented on #248
removing from public board as it's not material for the service design

[2017-07-04 15:20] irinapencheva commented on #581
Removing from public board as it's not essential for the service design

[2017-07-04 15:31] petegale opened #621 "When no permits are available, users should be put on a waiting list"
The current service design asks users in this situation if they want to apply for another parking zone. However, these users will not be able to apply for a zone they are not a resident in, and should be put on a waiting list instead.

[2017-07-05 08:41] #582 closed, assigned to lizziebruce

[2017-07-05 08:50] lizziebruce commented on #586
This has been superceded by #588

Screenshot with expandable link open:

![screen shot 2017-07-05 at 09 48 55](https://user-images.githubusercontent.com/27814324/27856830-46f2f150-6167-11e7-8e40-d7cfeb831346.png)

[2017-07-05 08:50] #586 closed, assigned to EUzkuraityte, lizziebruce

[2017-07-05 08:59] lizziebruce commented on #399
@sanjaypoyzer would you be able to implement the above content solution? Or shall I tag this with dev help required?

[2017-07-05 10:05] lizziebruce commented on #551
Content fix:

![screen shot 2017-07-05 at 11 02 03](https://user-images.githubusercontent.com/27814324/27859770-c503e54a-6171-11e7-81f2-2972da6f4275.png)

Next screen
![screen shot 2017-07-05 at 11 02 19](https://user-images.githubusercontent.com/27814324/27859785-cd5c5402-6171-11e7-9e1b-08e799ab99c8.png)

[2017-07-05 10:31] EUzkuraityte commented on #237
reopening this issue, as new evidence submitted from Sunderland indicate that users are still confused.

![image](https://user-images.githubusercontent.com/20285115/27860660-6b597a24-6175-11e7-83dc-4505030cb55c.png)

[2017-07-05 10:32] EUzkuraityte commented on #619
closing this issue and reopening #237

[2017-07-05 10:32] #619 closed, assigned to nobody

[2017-07-05 10:34] EUzkuraityte commented on #597
![image](https://user-images.githubusercontent.com/20285115/27860763-e524e19a-6175-11e7-96a6-b00a99ae121b.png)
@lizziebruce evidence from Sunderland user testing indicates that this could be explained further, as there seems to be some confusion about the available options

[2017-07-05 10:36] joanneSouthern commented on #237
This was apparent in user research last week at Northumberland also, users seemed to want a 'thankyou'

[2017-07-05 10:36] EUzkuraityte commented on #618
closing , as the issue is explored in #597 (evidence copied over)

[2017-07-05 10:36] #618 closed, assigned to nobody

[2017-07-05 10:38] joanneSouthern commented on #597
This was apparent in user testing last week at Northumberland also, users didnt understand why there were two options

[2017-07-05 10:41] lizziebruce commented on #237
This could be a result of Sunderland/Northumberland styling being different from that recommended by the prototype e.g. a block of colour behind the reference number, as we haven't had this issue continue to occur when testing with Argleton:

Argleton
![screen shot 2017-07-05 at 11 39 55](https://user-images.githubusercontent.com/27814324/27860951-b125bd0a-6176-11e7-92a7-9d367f737c9c.png)

Sunderl

[2017-07-05 10:43] EUzkuraityte commented on #591
Additional evidence from Sunderland re: user dissatisfaction for getting a 3 month permit only

![image](https://user-images.githubusercontent.com/20285115/27861082-345b6ca6-6177-11e7-91eb-028d7e3e0736.png)

[2017-07-05 10:44] EUzkuraityte commented on #616
closing as this issue is explored further in #591 (UR evidence is copied over)

[2017-07-05 10:44] #616 closed, assigned to nobody

[2017-07-05 10:46] EUzkuraityte commented on #615
@lizziebruce do you think we could include upfront information stating that the user will need a phone to complete the application?

[2017-07-05 10:48] lizziebruce commented on #237
@EUzkuraityte just to check, do Northumberland residents always not receive physical permits? If so, we need to re-do the Application complete page for Northumberland.

[2017-07-05 10:50] EUzkuraityte commented on #237
Hi @joanneSouthern any chance you could answer Lizzie's query 'do Northumberland residents always not receive physical permits?'

[2017-07-05 10:53] EUzkuraityte commented on #589
Similar evidence from Sunderland

![image](https://user-images.githubusercontent.com/20285115/27861355-77548820-6178-11e7-854a-9bcb3f17bd48.png)

@lizziebruce @sanjaypoyzer do you think it would be worth explaining to users upfront that GG is not the save as Verify?

[2017-07-05 10:54] EUzkuraityte commented on #613
Evidence copied over to #589

[2017-07-05 10:54] #613 closed, assigned to nobody

[2017-07-05 10:55] EUzkuraityte commented on #612
copied evidence to #300

[2017-07-05 10:55] #612 closed, assigned to nobody

[2017-07-05 10:55] EUzkuraityte commented on #300
Further evidence from Sunderland
![image](https://user-images.githubusercontent.com/20285115/27861444-d43021c6-6178-11e7-8271-dd0de9789d1e.png)

[2017-07-05 10:57] joanneSouthern commented on #237
Northumberland always get a physical permit through the post

[2017-07-05 10:58] joanneSouthern commented on #300
agree with Sunderland, Northumberland residents asked at UR last week why cant we apply for both in one go - visitor and residential

[2017-07-05 10:59] EUzkuraityte commented on #237
@joanneSouthern Thank you for clarifying! In the screenshot above it says 'you won't receive a physical permit' - I presume this is an error in the prototype?

[2017-07-05 11:02] joanneSouthern commented on #237
@EUzkuraityte yes the text is confusing, it says you wont get a permit and then further down says you have to display a permit in your car, its never updated from when GDS changed the original prototype, i did message Sanjay and ask him if we had to do something to update the content in our prototype, not heard anything back yet.  We are also concentrating on trying to get the tech infrastructure

[2017-07-05 11:12] ghost opened #622 "Contact-notifications page for CT has the wrong content"
The renewal notification page in the CT journey is wrong, and has parking permit details.

We also need to remove the postal option, as councils don't want to send out letters for renewals 5 years later.

![image](https://user-images.githubusercontent.com/24895693/27862040-3ac4766a-617b-11e7-935f-daabef733340.png)

[2017-07-05 14:06] lizziebruce commented on #551
@AbiBarkerOxfordshire @EUzkuraityte please see above update to prototype for Oxfordshire

[2017-07-05 14:13] lizziebruce commented on #237
@joanneSouthern @EUzkuraityte
The prototype has now been updated to reflect physical permits for Northumberland:
![screen shot 2017-07-05 at 15 11 52](https://user-images.githubusercontent.com/27814324/27868365-69d782b2-6194-11e7-89e7-c288f1353dd9.png)

[2017-07-05 14:19] EUzkuraityte commented on #551
@lizziebruce looks great! The only thing I spotted that needs changing is a small typo - says 'by pay phone' instead of 'pay by phone'

[2017-07-05 14:20] lizziebruce commented on #237
And for everyone (including Northumberland) have just added a sub-header to make it very clear the application is now complete....
![screen shot 2017-07-05 at 15 17 15](https://user-images.githubusercontent.com/27814324/27868714-7fb672d6-6195-11e7-9169-d396110481f8.png)

[2017-07-05 15:35] lizziebruce commented on #551
thanks @EUzkuraityte that's fixed now

![screen shot 2017-07-05 at 16 34 54](https://user-images.githubusercontent.com/27814324/27872220-f7f23bae-619f-11e7-9c39-8199282b70f6.png)

[2017-07-05 15:56] lizziebruce commented on #621
Content fix:

![screen shot 2017-07-05 at 16 56 23](https://user-images.githubusercontent.com/27814324/27873139-e71d1da0-61a2-11e7-9617-854b86e438d2.png)

[2017-07-05 16:04] #460 closed, assigned to suryanaga, lizziebruce

[2017-07-05 16:08] #360 closed, assigned to nobody

[2017-07-05 16:16] #294 closed, assigned to lizziebruce

[2017-07-05 16:16] #301 closed, assigned to nobody

[2017-07-05 16:18] #467 closed, assigned to nobody

[2017-07-05 16:22] #202 closed, assigned to nobody

[2017-07-05 16:23] #305 closed, assigned to nobody

[2017-07-05 16:24] #226 closed, assigned to lizziebruce

[2017-07-06 08:38] lizziebruce commented on #589
@EUzkuraityte the recent changes in #588 could help with this.. We could add the word "new" before the word "secure" to underline that it's the, er, new way to do things.

[2017-07-06 08:41] lizziebruce commented on #615
@EUzkuraityte this is in the IDP part of the user journey right? We can't say you'll need your phone in the council app as not all users will, it will depend on a) which route they choose and b) which IDP they choose.

[2017-07-06 08:55] lizziebruce commented on #597
@EUzkuraityte @sanjaypoyzer can we just call the second option a bank transfer? E.g.

"Transfer payment amount directly from your bank  account"

Or

"Bank transfer"

[2017-07-06 09:25] suryanaga commented on #399
There's some stuff in there already about free permits as a council option and we can add to that pretty easily, the HMO stuff is a bit more involved -- We probably need to add council options for looking the HMP register in the digital channel and HMO people having to use a non-digital channel.

[2017-07-06 09:33] lizziebruce commented on #591
@EUzkuraityte @sanjaypoyzer don't think there's a lot we can do about this. It's the actuality that they are objecting to not, the user journey. SOme councils won't even be giving them a 3 month permit.

[2017-07-06 10:24] lizziebruce commented on #399
Yeah there's a page I've created for the HMO register look up:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/HMO
![screen shot 2017-07-06 at 11 23 07](https://user-images.githubusercontent.com/27814324/27906963-81d6e30e-623d-11e7-933d-c752595cb4ed.png)

which would show if the council does online intergration:
https://verify-local-patterns.herokuapp.co

[2017-07-06 10:31] suryanaga commented on #621
@lizziebruce It would be good to be allow users to join the waiting list online. Being able to just put in your address (to match against, avoiding touting wait spots) and method of contact should be all that's needed to join the waiting list.

[2017-07-06 10:36] suryanaga commented on #591
Well the user need stated on this issue is that people need to understand _why_. How happy they are about it doesn't really tell us much about user needs.

[2017-07-06 11:01] lizziebruce commented on #621
Sure. Will go create this.

[2017-07-06 11:25] lizziebruce commented on #621
![screen shot 2017-07-06 at 12 23 59](https://user-images.githubusercontent.com/27814324/27908905-0d08168e-6246-11e7-90d9-5f8a32a6c875.png)

[2017-07-06 12:35] EUzkuraityte commented on #615
@lizziebruce could we not add it to verify your identity page? This way, we would explain that users would need to have their phone ready if they proceed with the Verify route. LOA1 IDPs use mobile phone authentication so in this sense all IDPs ask for it. plus, all IDPs have 2 factor authentication, so if it's a returning Verify user, they'd need to have the phone ready anyhow..

[2017-07-06 12:52] lizziebruce commented on #615
@EUzkuraityte do **all** LOA1 IDPs use mobile phone authentication? How many users have had this issue? I think this is the first time it's been observed. Would rather not add more copy to the prove-identity page if this is just a minor issue experienced by 1 user.

[2017-07-06 12:56] EUzkuraityte commented on #615
@lizziebruce here are my suggested answers. I agree on not adding more text unless necessary, so can definitely look out for it in user research next week!

1 - Do all LOA1 IDPs use mobile phone authentication? Yes
2 - How many users have had this issue? @CTSunderland can you advise?

[2017-07-06 12:57] CTSunderland commented on #615
It was only 1 user.

[2017-07-06 14:21] petegale commented on #472
Closing this as not seen in Northumberland research, adding to evidence above

[2017-07-06 14:21] #472 closed, assigned to lizziebruce

[2017-07-07 06:14] EUzkuraityte opened #625 "Users need to receive appropriate information when they don't actually need a parking permit"
@lizziebruce spotted that we might not have a screen to display for when the user does not need a permit (after using the 'check if you need a permit tool'

[2017-07-07 09:29] lizziebruce commented on #625
How about this? When it's functioning, the user's postcode will appear after "in". @sanjaypoyzer could you add Next page rules to reflect this page showing when a user enters a postcode that's not within a parking zone boundary?

<img width="1019" alt="screen shot 2017-07-07 at 10 23 01" src="https://user-images.githubusercontent.com/27814324/27951926-74fd96de-62fe-11e7-8a4f-9fdb402ce455.png">

[2017-07-07 09:49] lizziebruce commented on #588
These edits to the Hub blue screen pages are likely to also be in place for the next round of testing:

https://docs.google.com/document/d/1FvUf8sT9BbfEe1PsgdBuCWsqs6xMbKs0JDlcDf0JX-A/edit

[2017-07-07 10:40] lizziebruce commented on #625
Updated to reflect this being before the user has identified permit type need, i.e. at this stage the need could be for a trade parking permit.

<img width="1038" alt="screen shot 2017-07-07 at 11 38 59" src="https://user-images.githubusercontent.com/27814324/27954701-0c8c3686-6309-11e7-9f8c-e1b59d5902b2.png">

[2017-07-07 10:46] lizziebruce commented on #262
Hey @sanjaypoyzer the map's still disappeared. Will we be able to get this back for Tuesday's testing? Maybe just put a jpeg in for the testing?

<img width="514" alt="screen shot 2017-07-07 at 11 44 25" src="https://user-images.githubusercontent.com/27814324/27954882-e1132388-6309-11e7-8f2d-a98705f652fa.png">

[2017-07-07 11:07] suryanaga commented on #262
Yep, I've been working on this, will get it live this afternoon.

On Fri, 7 Jul 2017, 11:46 Lizzie Bruce, <notifications@github.com> wrote:

--
Sanjay Poyzer

Twitter: @sanjaypoyzer

Tel: +44 7895 123 673

[2017-07-07 14:45] lizziebruce commented on #145
@sanjaypoyzer I've added this on the prototype now (sorry was editing master so no PR). The Next button goes to the next screen as per below.

Ask for make colour
<img width="519" alt="screen shot 2017-07-07 at 15 42 51" src="https://user-images.githubusercontent.com/27814324/27962826-fa12f518-632a-11e7-839d-a695ff11c010.png">
<img width="538" alt="screen shot 2017-07-07 at 15 42 57" src="https://

[2017-07-07 14:45] suryanaga commented on #621
Looks good, just needs name and contact detail as well. Contact could be a page copied from the end of the journey.

[2017-07-07 14:47] suryanaga commented on #625
Might need to change that to "you're not eligible for a resident's parking permit" and have a map that shows where the user _can_ park without a permit.

[2017-07-07 14:48] lizziebruce commented on #145
@EUzkuraityte FYI here's the vehicle makes & colours dropdown functionality that Sanjay has added:

<img width="719" alt="screen shot 2017-07-07 at 15 21 40" src="https://user-images.githubusercontent.com/27814324/27962996-81f64278-632b-11e7-99c8-4ce771116d5e.png">
<img width="618" alt="screen shot 2017-07-07 at 15 22 14" src="https://user-images.githubusercontent.com/27814324/27962988-7af07822-63

[2017-07-07 14:49] suryanaga commented on #145
Ok for larger things like this, we really need to have a review process with PRs.

I don't think there's any need for a confirm vehicle details in either instance here.

[2017-07-07 14:52] lizziebruce commented on #145
@sanjaypoyzer But it's all screenshotted out in the issue above with you tagged on it... You should have commented then that you didn't think it was the right approach.

[2017-07-07 14:59] lizziebruce commented on #625
@sanjaypoyzer I think you've misunderstood the purpose of this page? This is if a user enters a postcode where there's no need to have a permit in order to park. I.e. they don't need a permit to park near their house.

[2017-07-07 15:18] lizziebruce commented on #588
@sanjaypoyzer @EUzkuraityte @petegale

Screenshots of edits to the Hub blue screens below. Michael Thomas will be switching these on Tuesday morning for the duration of our PP UR day.

NB: DVLA will update to the council name on Tuesday
![screen shot 2017-07-07 at 15 38 55](https://user-images.githubusercontent.com/27814324/27964232-7b6a5fc6-632f-11e7-9068-03f7690a7f2e.png)

![screen shot 2017-07-

[2017-07-07 15:33] lizziebruce commented on #621
@sanjaypoyzer I've added those fields and subheader copy for the contact choice, but can't get the design right. You're probably better placed to sort that out! Have sent you details by DM.

[2017-07-11 16:02] irinapencheva commented on #347
@petegale - any guidance or views as per above?

[2017-07-11 16:02] irinapencheva commented on #200
@sanjaypoyzer - gentle prod re above :)

[2017-07-11 16:05] irinapencheva opened #627 "Users with screen readers need to hear the title of the page first"
Comments from accessibility review: The title elements aren't front loaded e.g. "Argleton County Council: Apply for an older person's bus pass" would be better if it was "Apply for an older person's bus pass: Argleton County Council" - this helps visually in browsers that display the title in the tab field, but more importantly helps screen reader users understand they are on the page they expecte

[2017-07-12 09:55] lizziebruce commented on #538
This is still happening...

[2017-07-12 10:12] lizziebruce commented on #621
@sanjaypoyzer DM from Slack as I know it doesn't store messages for long:

<img width="633" alt="screen shot 2017-07-12 at 10 33 47" src="https://user-images.githubusercontent.com/27814324/28112379-b4aa9138-66f0-11e7-99c4-5ad0aad0eb16.png">

[2017-07-12 10:16] lizziebruce commented on #627
Removing myself, as believe this is about the Search engine title tag not the H1, which is already "Apply for an older person's bus pass". (The content in the banner page header shouldn't be being read out by a screenreader, it should go straight to the H1.)

[2017-07-13 09:32] lizziebruce commented on #597
@EUzkuraityte @sanjaypoyzer I didn't get both of your thumbs up for this before I went on leave so this didn't make it on to the prototype for Tuesday's user testing.

Not sure why it's in 'recent changes have been made' as it went back to being an issue after the last changes didn't test well.

[2017-07-13 09:43] EUzkuraityte commented on #597
@lizziebruce thanks for pointing this out, will move this back to doing!

[2017-07-17 11:29] petegale commented on #602
@anthonylord @lizziebruce Regarding evidence for a local specific hub - having observed user research for both local and central gov interactions, I can't point to any specific findings that say that users of local authority services experience a different set of issues than those of central government. That's not to say that these users would not benefit from greater customisation of the hub to t

[2017-07-17 11:59] petegale commented on #347
From what I've seen in our testing, and heard from the work done on this for passports, I think it's safe to say that email is the most likely option.

However, I'm not sure we need to go so far with the explanation. What they found on 'passports' was that once someone gets the concept of emailing it to themselves, most can do so.

I think the simplest option above is probably the best, just say "

[2017-07-17 13:02] petegale commented on #615
If users don't have a mobile, they can register with Experian, which can provide 2-factor codes via landline (and this is in context of 93% mobile phone penetration amongst adults, as of Q1 2016)

[2017-07-17 16:16] ingasiler commented on #259
Findings from UR in Newcastle 11 July 2017 ![screen shot 2017-07-17 at 17 15 33](https://user-images.githubusercontent.com/19390851/28278044-a823d0ba-6b13-11e7-9d74-a0bf7912388d.png)

[2017-07-17 16:45] ingasiler commented on #259
Findings from UR in Newcastle 11 July 2017 ![screen shot 2017-07-17 at 17 41 46](https://user-images.githubusercontent.com/19390851/28279207-a3645c9e-6b17-11e7-875c-58ddd1b597b6.png)

[2017-07-17 16:50] ingasiler commented on #259
Findings from UR in Newcastle 11 July 2017
![screen shot 2017-07-17 at 17 51 03](https://user-images.githubusercontent.com/19390851/28279492-89705620-6b18-11e7-8715-54117cd1e45a.png)

[2017-07-17 16:55] ingasiler commented on #313
UR lab day on July 11 2017
![screen shot 2017-07-17 at 17 55 22](https://user-images.githubusercontent.com/19390851/28279679-22f0107e-6b19-11e7-9314-aff0a6f8bed5.png)

[2017-07-17 17:09] ingasiler opened #628 "Users need to know they are applying for the right permit"
UR lab day finding on 11 July

![screen shot 2017-07-17 at 18 06 33](https://user-images.githubusercontent.com/19390851/28280149-b0bccbda-6b1a-11e7-936b-7d99e13c5a90.png)

[2017-07-17 17:15] ingasiler commented on #591
Findings from UR lab day on 11 July

![screen shot 2017-07-17 at 18 15 12](https://user-images.githubusercontent.com/19390851/28280526-e769b35e-6b1b-11e7-95c6-23eef8e86cb6.png)

[2017-07-17 17:21] ingasiler commented on #628
UR lab day finding on 11 July
![screen shot 2017-07-17 at 18 18 59](https://user-images.githubusercontent.com/19390851/28280769-b74ac888-6b1c-11e7-98f0-d0285e085449.png)

[2017-07-17 17:24] ingasiler commented on #313
UR lab day on July 11 2017
![screen shot 2017-07-17 at 18 23 49](https://user-images.githubusercontent.com/19390851/28280879-1f58c8e4-6b1d-11e7-97ca-f7ecefa4e77c.png)

[2017-07-17 17:24] ingasiler commented on #313
UR lab day on July 11 2017
![screen shot 2017-07-17 at 18 24 18](https://user-images.githubusercontent.com/19390851/28280896-2ecb9b8a-6b1d-11e7-91da-ffaa945c986d.png)

[2017-07-17 17:30] ingasiler commented on #399
30 June UR lab day in Northumberland
![screen shot 2017-07-17 at 18 29 41](https://user-images.githubusercontent.com/19390851/28281123-f51f7a0e-6b1d-11e7-8be3-fa7fd3821004.png)

[2017-07-18 11:39] ingasiler opened #629 "Users need to know who they can claim a permit for"
UR finding from 11 July
![screen shot 2017-07-18 at 17 57 12](https://user-images.githubusercontent.com/19390851/28329684-94879b7a-6be2-11e7-8e72-db1677c986a5.png)

[2017-07-18 13:31] lizziebruce commented on #347
Thanks @petegale . So, keep the explanation of emailing to self in the expandable section, and changing the title and green button copy. @sanjaypoyzer just to loop you in on this.

[2017-07-18 13:38] lizziebruce commented on #259
Ideas: label location marker with "Centre of postcode", make marker contrasting colour e.g. red, give map a key, make map 2/3s page width. @petegale has suggested losing the map from the main user journey flow and just linking to it.

[2017-07-18 13:45] lizziebruce commented on #591
Issue is that last blue screen of the Hub, after IDP and before service, says your **identity** has been verified (but this doesn't necessarily mean their address has).

Copy change suggestion for service page:

"Your identity has been verified, but your new address is not yet verified. This means you can get a 12 month..."

[2017-07-18 13:47] lizziebruce commented on #313
Will need coding logic

[2017-07-18 14:29] AbiBarkerOxfordshire opened #630 "Oxfordshire: Parking Permit: Where does a user who is not using Verify enter their address?"
I have been reviewing our pages with our web team and have noticed that we do not appear to ask non-verified customers for their address details (only their postcode at the start when they check whether they need a permit). We will be building this into our local version but others may need to do the same.

[2017-07-18 14:38] ingasiler commented on #313
UR lab day on July 11 2017
![screen shot 2017-07-18 at 15 37 06](https://user-images.githubusercontent.com/19390851/28322848-178615d8-6bcf-11e7-9b5d-d3a0ce1fb26f.png)

[2017-07-18 14:43] ingasiler commented on #602
UR findings from 11 July
![screen shot 2017-07-18 at 15 43 34](https://user-images.githubusercontent.com/19390851/28323147-e4431b7a-6bcf-11e7-9646-328b99a0cdd8.png)

[2017-07-18 14:44] ingasiler commented on #602
UR findings from 11 July
![screen shot 2017-07-18 at 15 44 11](https://user-images.githubusercontent.com/19390851/28323179-f9aa2f26-6bcf-11e7-8908-53a143ff82cd.png)

[2017-07-18 14:45] ingasiler commented on #602
UR findings from 11 July
![screen shot 2017-07-18 at 15 45 00](https://user-images.githubusercontent.com/19390851/28323232-15edd804-6bd0-11e7-96fd-bdb95a6f6fc3.png)

[2017-07-18 14:48] ingasiler commented on #597
Findings from UR done on 11 July
![screen shot 2017-07-18 at 15 47 10](https://user-images.githubusercontent.com/19390851/28323359-746828bc-6bd0-11e7-9e21-267643e00ded.png)

[2017-07-18 14:48] ingasiler commented on #597
Findings from UR done on 11 July
![screen shot 2017-07-18 at 15 48 04](https://user-images.githubusercontent.com/19390851/28323393-90599cd6-6bd0-11e7-9924-1707d718a109.png)

[2017-07-18 14:50] ingasiler commented on #237
UR finding from 11 July
![screen shot 2017-07-18 at 15 49 57](https://user-images.githubusercontent.com/19390851/28323464-ce871f1a-6bd0-11e7-87cf-977670bd9ebd.png)

[2017-07-18 14:52] ingasiler commented on #593
UR finding from 11 July
![screen shot 2017-07-18 at 15 52 12](https://user-images.githubusercontent.com/19390851/28323555-1fccee72-6bd1-11e7-9129-d7a95a2e6099.png)

[2017-07-19 08:39] petegale commented on #347
@lizziebruce that seems to make sense, if we can come up with something better for the title and button.

[2017-07-19 08:41] petegale commented on #259
@lizziebruce - might it be clearer to just label the pin with the postcode the user entered? Certainly more conventional.

[2017-07-19 11:48] suryanaga commented on #200
Ah ok yeah then we could try with a smiling photo if we think that will change things.

[2017-07-19 12:02] #627 closed, assigned to suryanaga

[2017-07-19 15:06] irinapencheva commented on #195
Closed as it's addressed by existing service change to start page

[2017-07-19 16:30] lizziebruce commented on #347
Content solution – updated on prototype:

![screen shot 2017-07-19 at 17 25 45](https://user-images.githubusercontent.com/27814324/28378370-d6109e78-6ca7-11e7-9df7-97f6a1e46a36.png)

![screen shot 2017-07-19 at 17 22 16](https://user-images.githubusercontent.com/27814324/28378375-dd14251e-6ca7-11e7-9585-3bfcfc425e1b.png)

[2017-07-19 16:32] irinapencheva commented on #347
That is very clear to me! Thanks for the super quick action Lizzie

[2017-07-19 16:33] #347 closed, assigned to petegale

[2017-07-20 09:30] lizziebruce commented on #195
@irinapencheva @petegale the copy was at the top of this issue! I've adapted it to fit the iterated CT start page as follows.

London councils variation:

1. throughout user journey change “bus pass” to

2. add bullet at top of list under using your pass sub-heading:

3. copy for ‘Additional discounted travel for pass holders in Council Name’ free text area:

@sanjaypoyzer can you help with is the

[2017-07-20 09:38] lizziebruce commented on #569
This has been implemented. Issue appears not to have come up again in user research.

![screen shot 2017-07-20 at 10 37 24](https://user-images.githubusercontent.com/27814324/28411036-7d152ccc-6d37-11e7-93e5-cbc9bdc98f45.png)

[2017-07-20 09:45] lizziebruce commented on #497
@sanjaypoyzer might be a bug but the "different dates for different vehicles" radio button isn't showing when you chose more than one permit... the code for it is on the page:
<img width="673" alt="screen shot 2017-07-20 at 10 44 25" src="https://user-images.githubusercontent.com/27814324/28411354-76bccc30-6d38-11e7-835d-6ff2aa34a2b3.png">

[2017-07-20 10:27] lizziebruce commented on #195
Content fix for Camden (**but still needs** coding fix to change bus pass to Freedom pass throughout Camden journey):

![screen shot 2017-07-20 at 11 25 35](https://user-images.githubusercontent.com/27814324/28413103-50c51efa-6d3e-11e7-9a8d-22c984d6a39b.png)

[2017-07-20 10:29] ingasiler commented on #630
We do have a service page for asking the user for his new address after this address haven't been verified. Please use the below examples for building your pages:

'confirm-address': https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/confirm-address

'add-new-address': https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-servi

[2017-07-20 11:22] lizziebruce commented on #588
Following UR we're changing the prove-identity copy back to how it was previously, as the element of choice helps users read and focus. However, scan and upload may not be the best alternative online way to apply. We will look into this further in Beta.

[2017-07-20 11:39] lizziebruce commented on #597
Content fix:

![screen shot 2017-07-20 at 12 38 14](https://user-images.githubusercontent.com/27814324/28415609-6311bb5e-6d48-11e7-90a7-6dab510100dc.png)

![screen shot 2017-07-20 at 12 38 34](https://user-images.githubusercontent.com/27814324/28415612-695bced2-6d48-11e7-9f66-ad7aefe2cf04.png)

[2017-07-20 11:54] lizziebruce commented on #259
@petegale @sanjaypoyzer "SR2 7LE" for example sounds good, yes. However I wonder if any users would get confused IRL if the pin for their postcode wasn't on their house. A key could clarify that the pin goes to the centre of the postcode perhaps, and could also present the explanation of the shaded area in a more engaging way. In any case, we know the current solution needs more attention. Thought

[2017-07-20 11:57] lizziebruce commented on #200
@irinapencheva @samuelculley for this we'll need a copyright-free, disclaimer-signed photo of someone who looks over 60 years old smiling. may need a photoshoot? can we ask a user who comes in for local user research?

[2017-07-20 12:26] irinapencheva commented on #200
@lizziebruce - we can ask the councils if that's something they'd be OK to do if it's legally allowed

[2017-07-20 14:07] AbiBarkerOxfordshire commented on #630
Ok, maybe I’m a bit confused then? I couldn’t see an ‘enter your address’ page if the customer chooses ‘Scan and upload docs’ as an option, I thought the add new address screen was only displayed if you said the returned Verify address was not your current one but I may be wrong?

I have just tried to run through it again to be sure but the prove-address page is not working?

Thanks,

Abi

From: i

[2017-07-20 14:43] ingasiler commented on #630
The link seem to be broken. I've tagging @sanjaypoyzer to look at this.

[2017-07-21 13:01] #588 closed, assigned to petegale, suryanaga

[2017-07-21 13:20] lizziebruce commented on #625
But adding a map, or a link to a map, to show the free parking areas is a good idea.

[2017-07-21 13:24] lizziebruce commented on #629
Content fix:

![screen shot 2017-07-21 at 14 23 30](https://user-images.githubusercontent.com/27814324/28465341-48d326a0-6e20-11e7-9fe1-7d37ef9999b0.png)

[2017-07-21 13:49] lizziebruce commented on #591
Have applied this:

![screen shot 2017-07-21 at 14 47 19](https://user-images.githubusercontent.com/27814324/28466235-b0f1b6ea-6e23-11e7-988d-d08ed2c8e201.png)

[2017-07-21 15:09] lizziebruce commented on #588
Mentioned all of these in the Hub scrutiny meeting today.. They've been recorded for analysis.

[2017-07-25 08:19] petegale commented on #259
I think this could be something that we look at in private beta, once we start testing with real users. I also think to some extent, the fact that they haven't entered their house number will help with the issue of the pin pointing to the postcode and not their house.

[2017-07-25 08:21] petegale commented on #200
@lizziebruce we're only ever supposed to use video and photos from research for improving the site. Though it's possible to get them to sign a disclaimer to allow this, it goes against industry codes of practice - I'd definitely rather not do this.

[2017-07-25 10:08] lizziebruce commented on #200
@petegale thanks for sharing your knowledge on this. @irinapencheva we'll need to source a suitable photo in another way.

[2017-07-25 10:16] irinapencheva commented on #200
OK, let's revisit in the coming sprints in beta

[2017-07-25 10:53] suryanaga commented on #569
@petegale to confirm close?

[2017-07-25 10:54] suryanaga commented on #497
@lizziebruce Can you create a different issue for that bug please as it doesn't relate to the user need on this card

[2017-07-25 11:18] suryanaga commented on #630
Those two links appear to be working to me.

[2017-07-26 08:42] #310 closed, assigned to nobody

[2017-07-26 08:43] #337 closed, assigned to nobody

[2017-07-26 08:43] #390 closed, assigned to nobody

[2017-07-26 08:44] #348 closed, assigned to nobody

[2017-07-26 08:45] #396 closed, assigned to nobody

[2017-07-26 08:47] #179 closed, assigned to nobody

[2017-07-26 08:49] petegale commented on #244
This is not a user research question

[2017-07-26 08:51] petegale commented on #510
Final PP iterations during alpha suggest that users understood that costs were per household and not per individual.

[2017-07-26 08:51] #510 closed, assigned to nobody

[2017-07-26 09:02] petegale commented on #569
Didn't see this in the most recent rounds, can reopen if it emerges again. Before we do so, @lizziebruce  @anthonylord : Is it right to talk about " your GOV.UK Verify account" when the account is with the IDP?
I know in the past we avoided saying this, not sure how that thinking has evolved

[2017-07-26 09:13] lizziebruce opened #634 "Bug on multi-permits journey"
@sanjaypoyzer "different dates for different vehicles" radio button isn't showing when you chose more than one permit... the code for it is on the page:
<img width="673" alt="screen shot 2017-07-20 at 10 44 25" src="https://user-images.githubusercontent.com/27814324/28411354-76bccc30-6d38-11e7-835d-6ff2aa34a2b3.png">

[2017-07-26 09:45] lizziebruce commented on #569
@petegale my understanding is it's ok to call it GOV.UK Verify account. have just asked Ant & will feed back his reply.

[2017-07-26 11:08] lizziebruce commented on #569
Spoke to Ant and he confirmed your understanding Pete. I'd come up with this workaround which he's happy with:

![screen shot 2017-07-26 at 12 05 31](https://user-images.githubusercontent.com/27814324/28618084-fa672550-71fa-11e7-9625-1f558456f0b0.png)

[2017-07-26 11:08] #569 closed, assigned to suryanaga, lizziebruce

[2017-07-26 11:56] #244 closed, assigned to nobody

[2017-07-26 12:03] ghost opened #635 "Users aren't noticing the 'other ways to apply'"
Users aren't seeing the other ways to apply section, and aren't able to find out what alternatives there are.

[2017-07-26 12:03] ghost opened #636 "Users aren't realising that they've reached the final page"
Users not realising they had reached the final page. Northumberland suggests adding “Thank you” to the copy. @Pete feels the prior page order may be affecting this. Need to think of solution and test in Beta.

[2017-07-26 16:27] pete commented on #636
I fear I may have been misunderstood, so I would like to clarify:  although I appreciate that my opinion merits consideration, I have no opinion on whether prior page order is affecting this.

[2017-07-31 13:51] lizziebruce commented on #635
@samuelculley do you know which user research session did this come from & if the users noticed the 'other ways to apply' on the next page, the Verify choice page?

[2017-07-31 14:05] lizziebruce commented on #227
A link to 'Other ways to apply' has now been added to the page following the start page, making offline routes more obvious for users who may have missed the link on the start page:

<img width="706" alt="screen shot 2017-07-31 at 15 03 31" src="https://user-images.githubusercontent.com/27814324/28781289-83b67c48-7601-11e7-93c1-fefafd87596a.png">

[2017-07-31 14:06] lizziebruce commented on #635
This is covered and partly resolved in #227

[2017-07-31 14:06] #635 closed, assigned to nobody

[2017-07-31 14:19] lizziebruce commented on #338
Users would only need an email address for the Verify part as far as I know, as they can get confirmation & renewal reminder by text and the pass comes by post. Maybe Verify hub could include a link to setting up an email address? Or we could include a link to something like https://computing.which.co.uk/hc/en-gb/articles/207851705-Set-up-an-email-address-for-the-first-time

[2017-07-31 14:27] lizziebruce commented on #288
If we're all agreed, we can update this on prototype on start page. However the negative impact is that it pushes the 'Other ways to apply link' further down page - see also #227. Let's discuss in Beta.

[2017-07-31 15:45] lizziebruce commented on #195
This solution also allows localised variations for other councils.

[2017-07-31 15:56] lizziebruce commented on #195
Copy tweak

<img width="960" alt="screen shot 2017-07-31 at 16 56 12" src="https://user-images.githubusercontent.com/27814324/28786465-36e55078-7611-11e7-917f-8b7972d05ea6.png">

[2017-08-02 09:04] lizziebruce commented on #575
@irinapencheva hadn't heard of this before... shall we discuss?

[2017-08-02 15:22] irinapencheva commented on #575
@lizziebruce - In hindsight, let's keep it on the common prototype as some councils might have phone applications and the common prototype should reflect examples of all other possible ways to apply.

[2017-08-02 16:00] #575 closed, assigned to nobody

[2017-08-03 08:17] EUzkuraityte commented on #596
closing this as issue is no longer present in the prototype

[2017-08-03 08:17] #596 closed, assigned to suryanaga

[2017-08-03 08:24] EUzkuraityte commented on #621
@lizziebruce @sanjaypoyzer I'm closing this issue as this journey has been created. Let me know if you disagree.

[2017-08-03 08:24] #621 closed, assigned to suryanaga

[2017-08-07 11:05] EUzkuraityte opened #637 "Review of CT journey recording from Northumberland"

[2017-08-07 11:05] EUzkuraityte opened #638 "Review of PP journey recording from Sunderland"
Action all outstanding items in this doc where Sanjay is tagged in
https://docs.google.com/document/d/1a1uJhAVOa_Ri3IG7YS5ps7agz3EPyfaLGKsQl5IzG54/edit

[2017-08-07 11:05] EUzkuraityte opened #639 "Review of PP journey recording from Oxfordshire"
Action all outstanding items in this doc where Sanjay is tagged in https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1Gdsj_I8FnOnNIrVjz9wdYSFJvvzgaaWihTa7OW0qdHI/edit?usp=sharing

[2017-08-07 11:25] EUzkuraityte opened #641 "PP Patterns text review"
See a list in this document:

https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/14kCKn2hc7_9rY5wz-9Djx9S47qWuga1LaIcQw8OXj5s/edit?usp=sharing

[2017-08-07 11:26] EUzkuraityte opened #642 "CT Patterns review"
Completion of all changes requested in review doc attached
https://docs.google.com/document/d/1dmiUSx1pPqMWnzodeegcXCLKXUqh9nrKCXFEb7BU_HA/edit?ts=5984999c

[2017-08-07 11:26] EUzkuraityte opened #643 "Performance dashboard review LA-280-"

[2017-08-07 11:27] EUzkuraityte opened #644 "Review performance dashboard content"

[2017-08-07 11:28] EUzkuraityte opened #645 "Finalise Notify messages"

[2017-08-10 10:31] BeckiBorastonBucks opened #646 "Print button missing on Journey map"
When you view the image on https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/overview/design and click the Print icon, there is no print button in the options you are presented with. (using Chrome)
![noprintbutton](https://user-images.githubusercontent.com/29145984/29166694-658cb42e-7dbf-11e7-96a4-060941d8fc8f.png)

[2017-08-10 12:47] EUzkuraityte opened #647 "Users need to be able to prove their vehicle address via drivers licence or V5 attribute exchange or API with DVLA"

[2017-08-14 08:59] suryanaga commented on #209
Pretty sure this got fixed ages ago.

[2017-08-14 08:59] #209 closed, assigned to nobody

[2017-08-15 15:14] BeckiBorastonBucks opened #648 "Add a photo page (mobile) - "I don't have a camera" link goes nowhere"
If the user doesn't have a camera, where should the process take them?

[2017-08-22 15:29] EUzkuraityte opened #649 "Add in a new user journey map and a explanatory note to the parking pattern"

[2017-08-22 15:31] EUzkuraityte opened #650 "Take off calls to action from both prototype page titles"
EU  - our prototype currently states to 'Enter vehicle registration number' - should we remove the word 'enter' as all other calls to action from the page titles as well?

Anthony Lord
13:28 Yesterday
Yes, we probably should.
The guidance here says we must be consistent: https://www.gov.uk/service-manual/design/form-structure#structure-your-form-to-help-users
So if we stick with 'enter' where we h

[2017-08-22 15:33] EUzkuraityte opened #651 "Create a V3 user journey map for CT"

[2017-08-22 15:42] EUzkuraityte opened #652 "Finalise the toolkit workshop write up and next iteration for next meeting"

[2017-08-22 15:44] EUzkuraityte opened #653 "Look into what would be required to take off username and password from patterns and for patterns to be put on GOV.UK"

[2017-08-22 16:00] EUzkuraityte opened #654 "Replace Sunderland's logo with Argleton's on the PP pattern for 'download temporary permit'"

[2017-08-23 08:23] EUzkuraityte opened #655 "Review User Research sections in both patterns"

[2017-08-29 11:07] lizziebruce commented on #650
Just to note this will have quite a lot of implications, it's not simply a case of taking the verb off the titles. As this is an online transaction rather than a form (where users expect to write a thing in a box to in response to its label), the sub-headers and in some cases the page titles will need to be more active e.g. phrased as questions, Register to vote being an exemplar https://www.gov.u

[2017-08-30 14:06] EUzkuraityte commented on #145
closing this as we no longer recommend asking users for the additional info

[2017-08-30 14:06] #145 closed, assigned to suryanaga

[2017-09-07 08:47] suryanaga opened #658 "Oxfordshire localisation: Paying offline / outside of transaction"
![image](https://user-images.githubusercontent.com/4106955/30165310-803ddfc2-93d7-11e7-8ac8-dfde2801cdf9.png)

This page is not consistent with how Oxfordshire will be delivering their service.

 1. The council will not be contacting users for payment, they will be emailing an invoice and a link to pay online. (This is because of technical constraints and will be changed in the future.)
 2. The co

[2017-09-07 08:48] suryanaga opened #659 "Oxfordshire localisation – Prove vehicle ownership"
1. Add an extra page for company cars

 Page asks - "Do you own the vehicle or is it a company car?"

Page URL - /vehicle-ownership
Page before - /confirm-address
Page after if yes - /v5c-upload (existing page)
Page after if no - /company-car-upload (new page)

2. Make more clear on start page you will need this document

[2017-09-07 08:49] suryanaga opened #660 "Oxfordshire localisation: Sign in with My Account"
Add 2 versions, one that mentions Oxfordshire account and one that doesn't

[2017-09-07 09:08] suryanaga opened #661 "Oxfordshire localisation: Address lookup for Check if you need a permit"
- @abibarkeroxfordshire to find out what's possible regarding data accessibility

 1. Need to add an address lookup on the postcode lookup page. (`/check-boundary`)
 2. If this looks like it won't be likely, add another way for users to lookup their address. (@abibarkeroxfordshire & @sanjaypoyzer to work out what's possible.

[2017-09-07 09:12] suryanaga opened #662 "Oxfordshire localisation: Choice for renewals and confirmation notifications channels"
When `councilString == 'oxfordshire`, content on the following two pages should be revised to reflect:

 1. `/choose-payment-contact` – Checkboxes should be hidden, should only display field for email as that's the only option available.

 2. `/renewal-reminder` – Remove options for post and text, add content to say a reminder will be sent by post, and user can request an additional reminder by em

[2017-09-07 09:21] suryanaga opened #663 "Oxfordshire localisation: Vehicle make, model, colour"
Current flow is `/confirm-address` -> `/enter-reg` and `/enter-reg` includes the model and colour fields when `council.makeColour` is `true`.

1. Create new page `/vehicle-details`, asking for Vehicle, make, model, colour, and registration number. Page should tell users they can find this information on their registration document. (@lizziebruce to provide content for this page in comment below)
2

[2017-09-07 09:24] suryanaga opened #664 "Adding all the details to the "Paying for your permit" page"
Add make, model, colour and zone

[2017-09-07 09:27] suryanaga opened #665 "More realistic styling"
- first line of text being grey
 - green boxes
 - radio buttons as links

[2017-09-07 10:42] suryanaga commented on #659
@abibarkeroxfordshire Could you add your policy regarding vehicle ownership to this issue?

[2017-09-07 10:43] AbiBarkerOxfordshire commented on #659
Here you go @sanjaypoyzer : (it's not exactly snappy....)

Full time employees may obtain a permit for a vehicle provided by their employers. To obtain a
permit a letter must be produced on company headed paper in the following format. This to
confirm that “applicant’s name” is a full time employee of “company name” and is supplied with
“vehicle make/model/registration number” for his/her sole bus

[2017-09-07 10:49] suryanaga commented on #659
Thanks!

[2017-09-07 10:58] suryanaga commented on #659
@abibarkeroxfordshire Hi, can you clarify, it seems to me from that that people using company cars have to provide a V5C ("registration document") as well as a letter from the company authorising usage?

[2017-09-07 11:00] AbiBarkerOxfordshire commented on #659
@sanjaypoyzer Yep - they need to provide the company letter plus EITHER the V5C or lease agreement to confirm the company owns or leases the vehicle.

[2017-09-07 11:09] suryanaga commented on #659
Ok cool.

@abibarkeroxfordshire - One more question, can users who aren't using a company car also provide a lease agreement if they are renting a car?

@lizziebruce - We're adding new pages for vehicle ownership, can you suggest some content?

So after the user is verified, they are asked something like:

If it's their car, they are routed to upload V5C. We already have a page for this.

If it's

[2017-09-07 11:16] AbiBarkerOxfordshire commented on #659
@sanjaypoyzer Yes they can - the other rules for leases and new cars are:

Vehicles rented through a reputable firm for a minimum of one year will qualify for a parking
permit however borrowed vehicles will not.

For residents who have purchased a vehicle from a dealer within the last month can produce a
sales invoice showing their name to qualify for a permit.

[2017-09-07 11:44] lizziebruce commented on #659
How about:

Yes - continue as usual to VC5 page
No goes to

**Vehicle ownership**

If they choose employer, next page is a) below.

If they choose a rental firm that I've hired it from, next page is b) below.

If they choose myself but it's not yet registered, next page is c) below.

a)

b)

c)

[2017-09-07 11:51] suryanaga commented on #659
@lizziebruce Sounds good to me!

@AbiBarkerOxfordshire What do you think?

[2017-09-07 14:19] lizziebruce commented on #658
Question: will the emailed invoice also include option to pay by phone/post?

@AbiBarkerOxfordshire @sanjaypoyzer

[2017-09-07 14:23] suryanaga commented on #658
No, it won't (I don't think). @abibarkeroxfordshire can confirm.

[2017-09-07 14:25] suryanaga commented on #658
@artgov ^^ Above content should display on `/pre-payment` if `councilString == 'oxfordshire'`.

[2017-09-07 14:29] AbiBarkerOxfordshire commented on #658
@sanjaypoyzer @lizziebruce Hi - thanks for this it all sounds good. Customers can pay by phone but we don't advertise it as an option - if a customer has an email address we email an invoice, if they don't provide one they we will call them (very few customers do not have an email address).

[2017-09-07 14:39] suryanaga commented on #658
@abibarkeroxfordshire – Ok sure, there may be accessibility reasons why paying over the phone might be needed by some users, but that's something we should find out when we take a closer look at the payment solution in testing.

[2017-09-07 14:44] lizziebruce commented on #663
@AbiBarkerOxfordshire @sanjaypoyzer

[2017-09-07 14:45] lizziebruce commented on #663
I've put "the" not "your" registration doc, as it could be employer's or hire firm's.

[2017-09-07 15:01] lizziebruce commented on #662
I've got content (re)design suggestions for both the pages:

1. /choose-payment-contact

2. /renewal-reminder

The email address field in Renewal reminder would be a checkbox with dropdown content showing if box is checked by user.

@AbiBarkerOxfordshire @sanjaypoyzer

[2017-09-07 15:04] suryanaga commented on #665
@artgov and @abibarkeroxfordshire to add any other ways the prototype styling differs from production environment styling.

[2017-09-07 15:22] suryanaga commented on #662
@lizziebruce Shouldn't say "clicking Next" as not all users will be _clicking_.

[2017-09-07 15:24] suryanaga commented on #653
Going to have another chat with Stephen about this, after the talk with Tim.

[2017-09-07 15:28] lizziebruce commented on #662
@sanjaypoyzer updated in original comment from

Before

to

After

[2017-09-07 15:32] AbiBarkerOxfordshire commented on #662
@lizziebruce Perfect!

[2017-09-08 09:37] lizziebruce commented on #641
Removed myself and added @EUzkuraityte as there's only one 1 discussion point left re who are the end users of the pattern guidance. Other issues have all been actioned where appropriate.

Issue remaining:

"There is a need to explain a little bit further who is the intended user of this pattern, i.e. the parking permit service delivery teams and/ or service improvement teams responsible for trans

[2017-09-08 09:38] lizziebruce commented on #538
Removing myself from this as bug not content fix

[2017-09-08 09:55] lizziebruce commented on #237
I've changed the copy in preceding payment screens which should help users realise they have applied for and paid for their permit.

Specifically:
"Payment summary" (was "Paying for your permits")
<img width="731" alt="screen shot 2017-09-08 at 10 45 44" src="https://user-images.githubusercontent.com/27814324/30206121-fd266148-9482-11e7-9248-40c70e873961.png">

No change
<img width="719" alt="scre

[2017-09-11 09:19] suryanaga opened #669 "Verify choice page: Radio buttons should be headers"
![image](https://user-images.githubusercontent.com/4106955/30267539-c9f27ec4-96da-11e7-9b22-aa72256c73f4.png)

[2017-09-11 09:25] suryanaga opened #670 "Extra page to be deleted – "Add a photo...""
This page needs to be deleted – 
![image](https://user-images.githubusercontent.com/4106955/30267810-a00b08c8-96db-11e7-8d3e-5988b3c1501e.png)

[2017-09-11 09:29] suryanaga opened #671 "Take a photo – Not built yet?"
Seems like this page isn't built yet, but it shouldn't be a form with radio buttons.

![image](https://user-images.githubusercontent.com/4106955/30267944-0ee35020-96dc-11e7-942f-b79851701c23.png)

[2017-09-11 09:30] suryanaga opened #672 "Cancel, Previous, & Next buttons"
![image](https://user-images.githubusercontent.com/4106955/30268035-49ea86f2-96dc-11e7-9644-97b98b7608bf.png)

[2017-09-11 09:33] suryanaga opened #673 "Continue button on Application complete page"
This Continue button is not needed

![image](https://user-images.githubusercontent.com/4106955/30268141-b280e580-96dc-11e7-8e4d-13db5a0aac3e.png)

[2017-09-11 09:36] suryanaga opened #674 "Application complete page missing title"
![image](https://user-images.githubusercontent.com/4106955/30268260-12442522-96dd-11e7-8f52-c1e8d2614a7e.png)

[2017-09-12 09:03] EUzkuraityte commented on #641
Hi @lizziebruce ,

I think what we've found in Pete's research and our engagement with local gov is that it's difficult to define the users or people interested in this pattern by their work titles. Could we define our users by the job that they aim to do, which is transforming the service? How about a sentence that would capture a message similar to this:

 This pattern is for anyone looking to t

[2017-09-12 09:45] lizziebruce commented on #641
@EUzkuraityte this confirms what @sanjaypoyzer and I realised when we were updating the pattern guidance text... It's why we're not using first person, as audience is a variety of role-holders who'd be looking at it from different angles and functions (inform policy, instruct supplier, build the service etc).

Currently we have this sentence on the [Apply for a resident's parking permit pattern](h

[2017-09-12 10:42] lizziebruce commented on #674
Title missing, need an H1: “Application complete”

Prototype
![screen shot 2017-09-12 at 10 55 18](https://user-images.githubusercontent.com/27814324/30321812-4f8637cc-97af-11e7-8a87-f5fc88af1d74.png)

Buckinghamshire
![screen shot 2017-09-12 at 10 56 46](https://user-images.githubusercontent.com/27814324/30321814-5198a784-97af-11e7-92e8-04156e891aff.png)

[2017-09-12 11:04] lizziebruce opened #675 "Application complete page needs to show message if notifications not selected"
If user hasn’t opted in for a confirmation message or renewal reminder this message should display above the horizontal line:

![screen shot 2017-09-12 at 10 55 18](https://user-images.githubusercontent.com/27814324/30322795-96914bea-97b2-11e7-83a4-2bb708700af4.png)

[2017-09-12 11:08] lizziebruce opened #676 "Current address form labelling edit needed"
/current-address
[Bucks prototype page](https://buckinghamshire-self.sandbox.achieveservice.com/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-60ca255d-fc7a-4c4d-a2c3-b022b27de442/AF-Stage-80582df7-cde3-4b58-a51a-3d219a6b75a3/definition.json&redirectlink=%2F&cancelRedirectLink=%2F&category=AF-Category-5f3d517a-d10d-454a-9fce-812c98646009)

I suggest “My address isn’t listed” copy should re

[2017-09-12 11:15] lizziebruce commented on #669
The choices (Verify or Scan and upload) need to be laid out like the prototype. If technical constraints stop the radio buttons being in line with heading style text, the radio button with text needs at least to be above each appropriate bullet list.

![screen shot 2017-09-12 at 12 14 44](https://user-images.githubusercontent.com/27814324/30323153-00430550-97b4-11e7-8e04-6aba609dd0a9.png)

[2017-09-12 11:20] lizziebruce opened #677 "Prove-identity page title needs changing"
Currently the page title on Bucks build is the service name, 'Apply for an older person's bus pass'. As shown by the Argleton prototype, it needs to reflect the current page the user is on. So the title copy should be:

Prototype (latest design update):

![screen shot 2017-09-12 at 12 22 00](https://user-images.githubusercontent.com/27814324/30323413-093624c0-97b5-11e7-8a3b-e4fae867a4a0.png)

Buck

[2017-09-12 11:30] lizziebruce opened #678 "Start page missing line of copy re: out of council area copy"
Copy line with find your local council link missing: “If you don’t live in Buckinghamshire, find your local council as you’ll need to apply on their website.”

[2017-09-12 11:30] lizziebruce opened #679 "Start page missing additional discounted travel progressive disclosure text"
Additional discounted travel progressive disclosure missing, but this could be because Buckinghamshire has no additional discounted travel.

[2017-09-12 11:30] lizziebruce opened #680 "Start page typo"
Line 2: change “- Y” to “– y”

[2017-09-12 11:31] lizziebruce opened #681 "Start page missing Other ways to apply progressive disclosure text"
Other ways to apply progressive disclosure missing.

[2017-09-12 15:04] colin2678 commented on #681
We are aware of this and awaiting a technical solution from PCG provide this functionality.

[2017-09-12 15:11] colin2678 commented on #678
Added to trello board https://trello.com/c/TMaHUMOv/1-start-page

[2017-09-12 15:14] colin2678 commented on #680
added to https://trello.com/c/TMaHUMOv/1-start-page

[2017-09-12 15:30] colin2678 commented on #677
This is inconsistent with other forms on our site and causes confusion as there is no there context on the page to tell you what form you are filling in as we do not have breadcrumbs.

We are investigating a bespoke solution which would hide the H1 and then manually add a breadcrumb to each page (see below). But this may result in more complexity and a greater chance for errors.

https://buckingha

[2017-09-12 15:33] colin2678 commented on #676
This is a standard subform across the whole of the council. we will investigate the impact of making this change.

[2017-09-12 15:33] EUzkuraityte commented on #641
Hi @lizziebruce @sanjaypoyzer , I think the new suggestion is great! The only bit I'd like added is a reference to suppliers (or take off reference to 'teams in councils', whichever works better). As we've seen, LAs are seldom the ones changing the product themselves, usually there's a supplier involved. And if there are suppliers willing to change their standard product to reflect our pattern , t

[2017-09-12 15:37] colin2678 commented on #675
We cannot see how this can be achieved.
Once we have issued a confirmation number the form will have been submitted to Unicard. We would need to reopen the application in order to update these records, which would require a new reference number.

[2017-09-12 15:42] colin2678 commented on #674
added to https://trello.com/c/ez88aGnf/13-application-complete

[2017-09-12 15:44] colin2678 commented on #673
I don't believe that we can remove this.
added to https://trello.com/c/ez88aGnf/13-application-complete

[2017-09-12 15:48] colin2678 commented on #671
This is awaiting a technical solution from Firmstep.

[2017-09-12 15:53] colin2678 commented on #672
These are needed to progress to the next page

[2017-09-12 15:58] colin2678 commented on #669
We are still investigating the best layout for this page. Firmstep are to provide a technical option to follow the service pattern.

[2017-09-13 15:32] AbiBarkerOxfordshire commented on #663
@sanjaypoyzer I think you mentioned a list of make and model that you may be able to share with us, do you have one? Cheers, Abi

[2017-09-14 13:43] AbiBarkerOxfordshire commented on #665
@sanjaypoyzer Afternoon - I have just had a discussion with Arty about this. He is currently working on the redesign of our public website -a s part of this styling changes will be applied - however at present the styling does reflect both our Goss and Drupal content so any changes made to the prototype would be 'undone' when it is migrated to Live. In light of these we feel it best to leave the s

[2017-09-14 13:57] AbiBarkerOxfordshire commented on #661
@sanjaypoyzer We have worked out a way of converting the exclusion list into a pdf so that when customers search for their area - it will return both the zone and a link to the excluded properties. Could you review this? And if it is ok can I ask that @artgov starts to build it?
![capture1](https://user-images.githubusercontent.com/27951011/30433629-e4554c36-995c-11e7-9051-6aeab9098254.JPG)
![capt

[2017-09-15 09:48] suryanaga commented on #663
@AbiBarkerOxfordshire Here you go – https://github.com/alphagov/verify-local-patterns/blob/master/app/assets/javascripts/vehicle-makes.js

Are you planning to do validation on the form field now? Would be good to use the autocomplete if so.

[2017-09-15 09:58] suryanaga opened #685 "Radio buttons"
Would be good to do a little bit more work on these radio buttons to make them line up properly and also make the text clickable. (It looks like they are clickable in some places and not in others.)

You can make use of the GOV.UK code by having a look here – http://govuk-elements.herokuapp.com/form-elements/#form-radio-buttons

[2017-09-15 10:03] lizziebruce commented on #675
@colin2678 Hi Colin, I went through the Bucks journey without selecting confirmation or renewals notifications. When a user does that, ideally this copy should show up on the application complete page:

It should show above the horizontal line above the What happens next section – please compare with Argleton screenshot in first comment above. Thanks.

![30321814-5198a784-97af-11e7-92e8-04156e891a

[2017-09-15 10:30] colin2678 commented on #675
Hi Lizzie. You misunderstand I know where the text is. I just don't see how we can do this. Once a reference number has been issued, the form will have been submitted and the data added to Unicard. In order to change these details we would need to submit a new form to do so. I'm happy to talk this through with you if you would prefer.

[2017-09-15 10:51] lizziebruce commented on #641
@EUzkuraityte @sanjaypoyzer Hi Egle, I had thought about that myself (of course ;-) ) but my rationale for not explicitly citing "suppliers" is that when they are working on a council contract they're working for that council and in that way are part of the council team. Whenever I've contracted anywhere I've always been referred to as part of the team that's working on something and in this insta

[2017-09-15 11:01] lizziebruce commented on #675
@colin2678 Hi Colin, I just wanted to make sure my comment had been expressed clearly as I couldn't see how your comment related to it. It sounds like this is a service design issue so I need to pass that on to @sanjaypoyzer Thanks both

[2017-09-15 11:02] lizziebruce commented on #676
Thanks Colin.

[2017-09-15 11:04] lizziebruce commented on #677
Thanks for the explanation. I'll refer this to @sanjaypoyzer also as it's become a service design issue.

[2017-09-15 11:04] colin2678 commented on #675
I agree this is a service pattern issue, and I think not something we are likely able to achieve using our forms system.

[2017-09-15 11:05] lizziebruce commented on #678
Thanks Colin.

[2017-09-15 11:06] lizziebruce commented on #681
Thanks for explaining this.

[2017-09-15 11:07] EUzkuraityte commented on #641
It sounds good to me

On Friday, 15 September 2017, Lizzie Bruce <notifications@github.com> wrote:

--
All the best,
Egle

[image: Cabinet Office - Government Digital Service]

*Egle Uzkuraityte*
#VerifyLocal Engagement Lead

M: +44 (0) 7795 603 929
Twitter: @egle_a_ieva <https://twitter.com/egle_a_ieva>

6th Floor, The White Chapel Building, 10 Whitechapel High Street, London,
E1 8QS

GOV.UK Veri

[2017-09-15 12:23] lizziebruce opened #686 "Missing first two pages"

[2017-09-15 12:23] lizziebruce opened #687 "Completion page for pay by cash route"

[2017-09-15 12:27] lizziebruce opened #688 "Resident's start page - Other ways to apply"
The "Other ways to apply progressive" disclosure section is missing. Please see note no. 8 of [the pattern design guidance](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/start/design) and [the prototype page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start)

![otherwaysapply](https://user-images.githubusercont

[2017-09-15 12:28] lizziebruce opened #689 "Resident's start page - How to apply section"
Please change "What you’ll need" section heading to "How to apply"

[2017-09-15 12:28] lizziebruce opened #690 "Resident's start page - Licensed house in multiple occupation"
Add the word “licensed” to the “house in multiple occupation” link. The link destination should be an extra page in the council journey https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/hmo-info rather than linking to GOV.UK. This was updated to meet needs found in user testing.

[2017-09-15 12:36] suryanaga commented on #687
The pay for cash route needs to have clearer instructions on how to do this.

Would be good to get someone from Sunderland to explain what happens here, and @lizziebruce to help write soe content for it.

[2017-09-15 12:55] suryanaga opened #691 "Can't get through payment page validation"
How can I get through the pay by card page?

[2017-09-15 13:25] lizziebruce opened #692 "Confirm address page - prototype has been updated, title and first two sentences."

[2017-09-15 13:25] lizziebruce opened #693 "Prove identity page - prototype has been updated, title and first sentence"

[2017-09-15 13:25] lizziebruce opened #694 "Prove identity page - typo on OR capitalisation"
/prove-identity page needs "Or" between the two options (not "OR"). This is per the GOV.UK style guide,  users can't read capitalisation well.

[2017-09-15 13:34] lizziebruce opened #695 "Prove identity page - Scan and upload section"
The copy (radio button label and bullets) doesn't match the prototype. Is there a reason for this?

Please see [design guidance](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/eligibility/design)

[2017-09-15 14:33] lizziebruce opened #696 "How many permits page - copy missing"
Copy missing:

"These can only be used by:

- people who live with you at the same address
- you – for example if you have more than one car"

[2017-09-15 14:35] lizziebruce opened #697 "Enter reg page - prototype has been updated, title"
New title for this page to replace previous title:

"What is the vehicle registration number?"

[2017-09-15 14:37] lizziebruce opened #698 "Enter reg page - confirmation copy"
Suggested copy change:

"I confirm the vehicle is registered to my address"

[2017-09-15 14:39] lizziebruce opened #699 "Pre-payment page - prototype has been updated, title"
New title: "Payment summary"
Copy to be removed: "Check details and costs"

[2017-09-15 14:42] lizziebruce opened #700 "Pre-payment page - no change links"
There are no change links on the /pre-payment page. Please see note no. 2 of the [design guidance](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/payment/design).

[2017-09-15 14:50] lizziebruce opened #701 "Confirmation messages page - doesn't match prototype"
1. The prototype has been updated for this page, new title is "How should we send your confirmation messages?"

2. Field labels should be "Email address" and "Mobile phone number" (not "Please enter your email address"). This reflects GDS user research.

[2017-09-15 14:51] lizziebruce opened #702 "Renewal reminder page - doesn't match prototype"
1. The prototype has been updated for this page, new title is "How should we send your renewal reminder?"

2. Field labels should be "Email address" and "Mobile phone number" (not "Please enter your email address"). This reflects GDS user research.

[2017-09-15 14:56] lizziebruce opened #703 "Choose payment - page doesn't reflect prototype"
1. Title should be "How do you want to pay?"

2. The long freeform text should be deleted. If user selects "Cash payment", the next page should give details about how to do this.

3. Change options copy to:

"Credit or debit card"
"Cash payment"

[2017-09-15 15:03] lizziebruce opened #704 "Application complete page - copy edit"
Change header "You can park" to "Before your permit arrives"

Change line underneath to "Display your reference number in your car window, until your permit arrives."

Typo - repetition of "your car" in first line under "Using your permit", delete first instance and replace with "the".

[2017-09-15 15:03] lizziebruce opened #705 "Application complete page - copy missing"
"Your 12 month permit will usually arrive within 5 working days" copy is missing.

[2017-09-15 15:05] lizziebruce opened #706 "Application complete page - notifications copy missing"
Please see prototype for variations of copy that display dependent on whether user has opted in for text/email notifications or not, if they have not they are given another chance to opt in.

[2017-09-18 13:17] lizziebruce commented on #687
@EUzkuraityte please could you ask someone from Sunderland to explain what happens?

[2017-09-18 13:23] EUzkuraityte commented on #687
Sure, @GWSunderland please could you provide @lizziebruce and @sanjaypoyzer with information relating to what happens if a user chooses to pay by cash?

[2017-09-18 14:28] GWSunderland commented on #687
For customers who want to pay for their parking permit by cash, we ask them to visit our main customer service centre.  We ask them to take their reference with them (but we can still search for the record if they forget the reference).  Once the payment is made, the cashier updates the service request and this sends the permit request to the bulk print queue and this is printed and posted to the

[2017-09-18 14:37] EUzkuraityte commented on #687
Thanks, Gary! @lizziebruce let us know if this is enough for you to get started or if you need anything further

[2017-09-19 10:00] lizziebruce commented on #637
@EUzkuraityte @samuelculley do we have the Northumberland prototype journey to view? Or is it just the [screenshots on Google doc](https://docs.google.com/document/d/1dJX1oap3bN5dP86ztYuiJV4MbyQECw5ZuZz3hOClUT4/edit?disco=AAAABOhtdQw&ts=5978629c) so far?

[2017-09-19 10:04] lizziebruce opened #707 "Review of CT journey Bucks"

[2017-09-19 16:18] lizziebruce commented on #687
@EUzkuraityte @GWSunderland @sanjaypoyzer Here's my suggestion. The first 2 sections from the prototype [application complete page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/success) would be replaced with:

[2017-09-19 16:44] lizziebruce commented on #288
@sanjaypoyzer shall I update this??

[2017-09-20 09:59] lizziebruce commented on #399
@EUzkuraityte @sanjaypoyzer Copy for councils where Blue Badge holders need to apply for a parking permit:

Do you know if there's there someone from Northumberland I can tag on this issue? I've guessed that there's a "blue badge number" – is this true? What type of evidence would blue badge holders be asked to upload? (and why) We've observed that users have difficulties taking and uploading phot

[2017-09-20 10:17] joanneSouthern commented on #399
Hi lizzie

We will get them to enter their blue badge number which we can then check

thanks
joanne

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 20 September 2017 at 10:59, Lizzie Bruce <not

[2017-09-20 14:30] lizziebruce commented on #399
Thanks very much @joanneSouthern ! In that case, I'd like to recommend using this content to replace the Argleton Blue Badge example copy on the start page:

@sanjaypoyzer At some point the service will need to ask "Are you a Blue Bade holder?" and have a content screen similar to [/enter-reg](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/enter-reg) fo

[2017-09-20 14:53] lizziebruce commented on #361
We now have 'Other ways to apply' content on both the [/resident-start](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start) and the [/prove-identity](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/prove-identity) pages.

@joanneSouthern did the users who didn't realise they'd need an email address

[2017-09-20 15:42] lizziebruce commented on #593
@EUzkuraityte @sanjaypoyzer @petegale Possibly we could move the copy about temporary permits, which is now very brief, into the section at the top about progress alerts:

[2017-09-21 07:20] EUzkuraityte commented on #593
Looks good to me, though I'm not sure if it's worth doing the change, as the only council allowing temporary permits is Sunderland and they ask people to write it down on a piece of paper and display in the car window.

[2017-09-21 08:50] lizziebruce commented on #593
@EUzkuraityte Oh right. I think the prototype is to show best practice though and we understood from user research that a temp permit was something users needed. @sanjaypoyzer fyi

[2017-09-21 08:56] EUzkuraityte commented on #593
Yes, definitely! the Sunderland's ask to write down the reference is a version of a temporary permit. What they're doing is the best practise as we saw in UR users struggling with having to print.. we should work Sunderland's process into the prototype to show best practise it seems

[2017-09-21 09:15] lizziebruce commented on #593
How many users had a problem with printing? Wouldn't it be best to offer both options? I'd imagine some users who have a printer ready-connected would find it easier to print than get a pen and paper and copy the number accurately. Would be good to know wider results for this.

[2017-09-21 09:33] EUzkuraityte commented on #593
I'm sure can can dig up the UR findings docs that document it.. I'll have a look and drop them here once I find it. Allowing the user to choose the option they prefer definitely sounds good

This is what I could find from three different rounds of UR
<img width="2006" alt="screen shot 2017-09-21 at 10 52 07" src="https://user-images.githubusercontent.com/20285115/30690097-fa931a60-9eba-11e7-91e4-9

[2017-09-21 10:20] lizziebruce commented on #593
...I'm sure at one point there was a snippet of copy that said "If you don't have a printer, write the reference number on a piece of paper." It would be good to promote both options as best practice and councils could use the copy for both or just piece of paper dependent on their own local UR findings.

[2017-09-21 10:29] suryanaga commented on #593
Based on what I've seen on this project and previous regarding printing,
I'd say writing down a reference number is a much more accessible task for
most users. The main reason we were considering printed permits was if
councils felt a written permit wouldn't be legible enough or look legit
enough for a warden to check. These are all reckons though so it would be
good to see what happens with writt

[2017-09-21 13:13] joanneSouthern commented on #361
Hi Lizzie

3 out 6 interviews we did in discovery looking at journey maps for travel
said they don't have an e-mail address. In beta 1 lady said she didn't have
an e-mail address so wouldn't be able to go through the verify process

thanks
joanne

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mo

[2017-09-21 13:44] lizziebruce commented on #361
@joanneSouthern Thanks very much. It sounds as though Concessionary Travel should have an extra bullet point to say "you'll need an email address". Did you find any Parking Permit users who expressed this?

[2017-09-21 14:13] joanneSouthern commented on #361
It was just the older CT people who either didn't have one or shared one
with their husband/wife

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 21 September 2017 at 14:44, Lizzie Bruce <notifi

[2017-09-21 15:04] joanneSouthern commented on #637
you have the Northumberland CT to view, its been available for a few weeks

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 19 September 2017 at 11:00, Lizzie Bruce <notifications@github.com>
wr

[2017-09-22 09:00] lizziebruce commented on #361
@joanneSouthern thanks very much, that's useful to know. I'll add "you'll need an email address" to CT only.

[2017-09-22 10:52] lizziebruce commented on #637
@joanneSouthern thanks, I was on leave at that time and a colleague gave initial feedback. I now have the link https://form.northumberland.gov.uk/form/launch/concessionary_travel

[2017-09-22 10:55] joanneSouthern commented on #637
no bother :)

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 22 September 2017 at 11:52, Lizzie Bruce <notifications@github.com>
wrote:

--
 <http://family.northumberland.gov.uk>

*Save Time Do

[2017-09-22 14:01] lizziebruce opened #709 "Start page – eligibility copy"
GDS feedback on the initial screenshots was:
"The first sentence does not follow the prototype – please replace with the prototype copy.
We've conducted user testing which found women's pensionable age to be confusing. The line 60 or over encompasses users over 60 years old.
Have you found the prototype line to be an issue for users in your user research? This is the user testing summary about to

[2017-09-22 14:24] lizziebruce opened #710 "Start page – "Check if you can apply" sub-header"
Northumberland:
![screen shot 2017-09-25 at 12 20 49](https://user-images.githubusercontent.com/27814324/30806030-0c03379c-a1ec-11e7-9450-5461cdafa2dd.png)

Example council:
<img width="604" alt="screen shot 2017-09-25 at 12 20 41" src="https://user-images.githubusercontent.com/27814324/30806027-0a218118-a1ec-11e7-9a35-644c5a2c5572.png">

Comments:

- We recommend removing the "Check if you can ap

[2017-09-22 14:27] lizziebruce opened #711 "Start page – Check if you're eligible link"
1. This should be an inline link rather than a button link, i.e. the style you use for find your local council lower on the page.
2.  The dash afterwards should be an n-dash not a hyphen ( – not - ) if your CMS allows this.

[2017-09-22 14:28] lizziebruce opened #712 "Start page – Additional discounted travel link typo"
![screen shot 2017-09-25 at 12 25 15](https://user-images.githubusercontent.com/27814324/30806192-addbc0de-a1ec-11e7-958a-196dc3c6d552.png)

Comments:

- The word holder needs an "s" on the end, i.e. it should be plural.

[2017-09-22 14:44] lizziebruce opened #713 "Start page – Additional discount travel copy"
Suggested rewrite of the copy about additional discounted travel, to make more concise and readable.

[2017-09-25 07:53] EUzkuraityte commented on #712
Hi @lizziebruce I think discounted travel means CT, so I'm going to assign this to Sam and remove myself. Though it sounds good to me, I don't see why this change shouldn't be made.

[2017-09-25 07:57] EUzkuraityte commented on #710
Hi @lizziebruce could you provide a URL for the page that has this? I can't find it...

[2017-09-25 07:58] EUzkuraityte commented on #711
Hi @lizziebruce could you provide a URL for the page? Is this the CT or PP pilot?

[2017-09-25 07:59] EUzkuraityte commented on #709
Hi @lizziebruce I'm going to tag Sam and Irina as they are better placed to provide feedback on CT.

[2017-09-25 08:12] irinapencheva commented on #709
@EUzkuraityte - thanks for passing over

I agree with @lizziebruce and would recommend to Northumberland to follow our suggested copy text as it has been developed following a number of user research rounds and based on best practices for Content Design. Ultimately, it says the same thing as Northumberland's suggestions (you might be eligible from 60 onwards based on various reqs & schemes) withou

[2017-09-25 10:08] joanneSouthern commented on #709
I know it doesn't but our business lead doesn't agree with the opening
statement supplied by GDS, as discussed with Sanjay and Pete we have used
the guidance from the governments website as our opening statement

we have done user research on this and no one has had an issue with this

thanks
joanne

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall

[2017-09-25 10:56] lizziebruce commented on #709
@joanneSouthern @EUzkuraityte
I'm not able to sign this off from a content design best practice perspective (Sanjay represents service design and Pete represents user research).
If Northumberland wishes to deviate as indicated above, please use plain English copy:

to replace:

[2017-09-25 10:58] lizziebruce commented on #711
This is for Northumberland's concessionary travel prototype, https://form.northumberland.gov.uk/form/launch/concessionary_travel

[2017-09-25 11:00] lizziebruce commented on #710
This is for Northumberland's concessionary travel prototype, https://form.northumberland.gov.uk/form/launch/concessionary_travel

[2017-09-25 11:03] joanneSouthern commented on #709
happy with that

thanks
joanne

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 25 September 2017 at 11:56, Lizzie Bruce <notifications@github.com>
wrote:

--
 <http://family.northumberland.gov.

[2017-09-25 11:03] lizziebruce commented on #712
This is for Northumberland's concessionary travel prototype, https://form.northumberland.gov.uk/form/launch/concessionary_travel

[2017-09-25 11:09] #711 closed, assigned to nobody

[2017-09-25 11:10] lizziebruce opened #714 "CT – start page – 'check if you're eligible' link style"
Northumberland:
![screen shot 2017-09-25 at 12 12 03](https://user-images.githubusercontent.com/27814324/30805764-ca8e8736-a1ea-11e7-8363-f3be2afb8c59.png)

Example council:
<img width="498" alt="screen shot 2017-09-25 at 12 14 07" src="https://user-images.githubusercontent.com/27814324/30805812-0e231f34-a1eb-11e7-994f-0f1da8fb18a5.png">

Comments:
- 'Check if you're eligible' should be an inline

[2017-09-25 11:20] joanneSouthern commented on #714
This is a button,  but looks like a link.  Has to be a button to display
the next page

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 25 September 2017 at 12:10, Lizzie Bruce <notifications@gi

[2017-09-25 13:22] lizziebruce opened #716 "Prove identity page – design"
The design doesn't follow the prototype – this may be for technical constraint reasons? @joannesouthern would you be able to explain why this is happening please?

Northumberland
![screen shot 2017-09-25 at 14 06 12](https://user-images.githubusercontent.com/27814324/30810475-2afadb62-a1fd-11e7-97bc-c1b1814980e3.png)

[With further details link expanded]

![screen shot 2017-09-25 at 14 06 19](http

[2017-09-27 09:08] suryanaga commented on #714
@joanneSouthern Marking up links as buttons is an accessibility issue.

[More info from MDN:](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role)

[2017-09-27 09:10] #637 closed, assigned to suryanaga

[2017-09-27 09:25] suryanaga opened #717 "Users who are eligible for a free permit because of their Blue Badge need to be able to prove they have a Blue Badge"
Ideally this should happen with matching, but in the case where matching is not happening, users should enter their blue badge number to confirm they have one.

[2017-09-27 09:25] suryanaga commented on #717
So far only Northumberland will need this. Would be good to confirm if any other councils will be doing this @samuelculley

[2017-09-27 09:28] suryanaga commented on #641
@lizziebruce Transforming sounds a bit odd to me, I'd say something like "redesigning".

[2017-09-27 09:34] suryanaga commented on #675
@colin2678 Hi Colin, if someone wanted to get in touch with the council about their application, what information would they need?

[2017-09-27 09:47] colin2678 commented on #675
We could identify the application using the reference number or the date and time of the application.

[2017-09-27 10:20] suryanaga commented on #677
Thanks Colin! Would be great to see those breadcrumbs on there :)

[2017-09-27 10:33] suryanaga commented on #675
Ah sorry, I misunderstood what was being talked about here – This issue isn't anything to do with reference numbers, but the message that confirms to the user whether or not they have signed up to notifications.

[2017-09-27 10:38] colin2678 commented on #675
We can certainly add a message, but not the ability to change the users preferences

[2017-09-27 10:45] suryanaga commented on #675
Ah ok, let's add the message then for confirmation and not have the link in this instance.

[2017-09-27 10:47] suryanaga commented on #661
@AbiBarkerOxfordshire Sorry, only just saw this! Yes, sounds good. I'd suggest building it into the prototype and testing :)

[2017-09-27 10:47] suryanaga commented on #661
(Build a mockup into the prototype, good enough to test with users, not neccesarily a real working example)

[2017-09-27 10:55] suryanaga commented on #672
Sorry I didn't make that clear – What's the user need for the Cancel button? It's not something I've seen before.

[2017-09-27 10:57] suryanaga commented on #237
From what I can see, every version that has resulted in people not feeling like the application was complete doesn't follow the pattern for that page

[2017-09-27 11:01] colin2678 commented on #672
Cancel closes the form and returns the user to the launch page. We can see if it is possible to hide this.

[2017-09-28 15:14] AbiBarkerOxfordshire opened #718 "Returned to Argleton from Oxfordshire after Verify"
I am not sure if this is an issue we should be resolving or not but we have merged all the branches (I think) however when we are passed back after we have gone through Verify it reverts back to Argleton and not Oxfordshire? Can you help?

[2017-09-28 15:15] AbiBarkerOxfordshire opened #719 "Oxfordshire - Upload function not working"
When we choose the non-verify route we cannot upload a document - it allows us to choose a document but does not upload or proceed to the next screen. I am not sure if this is an issue we should be resolving or not?

[2017-09-28 15:16] lizziebruce commented on #714
@joanneSouthern the style Northumberland uses for 'find your local council' lower down on the page works for opening a different (external) page? Is it possible to introduce that style for internal links as there are several through the CT and PP journeys. The Start page has several:

<img width="592" alt="screen shot 2017-09-28 at 16 15 14" src="https://user-images.githubusercontent.com/27814324/

[2017-09-28 15:38] lizziebruce commented on #641
@sanjaypoyzer @EUzkuraityte
How about:

[2017-10-03 09:16] #665 closed, assigned to nobody

[2017-10-03 10:40] AbiBarkerOxfordshire commented on #549
@lizziebruce Hi Lizzie - our page currently says:

'As a resident of Oxfordshire you can buy a permit to park near your home 24 hours a day, 7 days a week.

You can apply for a maximum 1 permit per household' - we have a rule that it is 1 permit per person, per household,  but the maximum per household caries depending on the area and CPZ in place -
the applicant should already have checked any re

[2017-10-06 09:41] suryanaga commented on #719
Hey Abigail, which browser are you using? Thanks

[2017-10-06 09:41] suryanaga commented on #718
This might have happened whilst a new version was deploying. Could you check again to see if this is still happening?

[2017-10-09 09:41] lizziebruce commented on #549
@AbiBarkerOxfordshire Hi Abi, I'm a little unclear from the copy if "1 per person, per household" means each person in the household can get one permit each, or only one permit can be issued to a household?

If it's 1 per person, I'd suggest:
"You can apply for a maximum of 1 permit per person."

If it's 1 per household, I'd suggest:
"You can apply for a maximum of 1 permit per household."

[2017-10-09 11:06] lizziebruce commented on #654
@sanjaypoyzer I've updated the temp permit pdf with Argleton details and branding but can't get it to load... so have put Sunderland back live. Argleton one's in the GitHub asset folder in the same place as the Sunderland one & shows on my local view...... can you sort it out please?

[Temp-Parking-Permit-Argleton.pdf](https://github.com/alphagov/verify-local-patterns/files/1368232/Temp-Parking-Pe

[2017-10-09 12:47] Artgov commented on #719
Hi @sanjaypoyzer  I tried Chrome, Safari, IE11 browsers and it still doesn't work. Here is the link -  https://oxford-parkingpermit.herokuapp.com/service-patterns/parking-permit/example-service/start-non-verify

[2017-10-09 13:07] catherinewoodoxfordshire commented on #718
Hi Sanjay, as Abi is on leave I have just run through this and it is still happening I am afraid.

[2017-10-09 13:40] lizziebruce commented on #288
Updated...

![screen shot 2017-10-09 at 14 40 03](https://user-images.githubusercontent.com/27814324/31340966-ceff4088-acff-11e7-8222-930fa473a7cf.png)

[2017-10-09 14:08] lizziebruce commented on #717
See also #399

[2017-10-09 14:21] lizziebruce commented on #470
@sanjaypoyzer @EUzkuraityte
We could add "and details about using your pass." to the copy about receiving an email/text confirmation with ref number.

I.e. so that it says:

[2017-10-09 14:34] lizziebruce commented on #636
Closing as duplicate of #425

[2017-10-09 14:34] #636 closed, assigned to nobody

[2017-10-10 15:00] GWSunderland commented on #686
http://www.sunderland.gov.uk/index.aspx?articleid=11963
Please see link above for initial web page.  We will be going live with a new website in early November so this page will look very different.  We'll update you when this is available

[2017-10-10 15:04] GWSunderland commented on #685
@kenmaddison-scc  - Ken, can you have a look at the recommendations that are being made for the alignment of the  radio buttons and the text on the page please

[2017-10-10 15:05] GWSunderland commented on #687
This is outstanding but we are going to create this page

[2017-10-10 15:07] GWSunderland commented on #690
This is outstanding but we are currently looking at building it

[2017-10-10 15:08] GWSunderland commented on #689
Updated from 'What you'll need to 'How to Apply'

[2017-10-10 15:14] GWSunderland commented on #688
We don't accept paper or telephone applications.  We offer digital assisted support for users in our customer service centres and there is some text on the page asking users to contact us for this support

![capture](https://user-images.githubusercontent.com/27288208/31394362-05272fe6-add6-11e7-9fc7-b2b7b33ef355.PNG)

[2017-10-10 15:15] GWSunderland commented on #695
We don't accept documentary evidence by post or allow customers to upload evidence so we didn't need this for Sunderland's application process

[2017-10-10 15:17] GWSunderland commented on #694
We'll pick this up and change it

[2017-10-10 15:21] GWSunderland commented on #691
You can use the test debit card details
Card Number:  4444 3333 2222 1111
Expiry date:  any future date
CSV:  123

[2017-10-10 15:24] GWSunderland commented on #692
This has been updated

[2017-10-10 15:26] GWSunderland commented on #696
We'll update this page

[2017-10-10 15:27] GWSunderland commented on #697
We'll update this

[2017-10-10 15:32] GWSunderland commented on #698
We would need to confirm with our colleagues in our legal team if we could change this wording.  Can we leave this as is for now and we will update once we have confirmation

[2017-10-10 15:33] GWSunderland commented on #699
This has been updated

[2017-10-10 15:34] GWSunderland commented on #700
This is outstanding - our developers are not sure if this is possible in our forms but we are investigating

[2017-10-10 15:35] GWSunderland commented on #701
1. - updated
2. to be updated

[2017-10-10 15:36] GWSunderland commented on #702
1.   Already updated
2. To be updated

[2017-10-13 09:30] lizziebruce commented on #686
@GWSunderland @EUzkuraityte Sounds good, thanks.

[2017-10-13 09:32] lizziebruce commented on #702
@GWSunderland @EUzkuraityte Thanks for the update, sounds perfect.

[2017-10-13 09:38] lizziebruce commented on #701
@GWSunderland @EUzkuraityte Perfect, thank you for the update.

[2017-10-13 09:39] lizziebruce commented on #700
@GWSunderland @EUzkuraityte OK, sure. Thank you for the update.

[2017-10-13 10:11] lizziebruce opened #722 "Resident choice page - tweaks to content and design"
@GWSunderland @EUzkuraityte

1. We realise you're getting a new website in November – do you know if the radio button design will be bigger then?

2. Ideally, the postcode entered on the previous screen should show on this page as per Argleton prototype, if this is technically possible.

3. Would you also be able to remove 'Select your permit type' as the page title and content design update we ma

[2017-10-13 10:18] lizziebruce commented on #698
@GWSunderland @EUzkuraityte Thanks for the update. Sounds good. Below is a secondary suggestion if the first is rejected by Legal!

Current

Suggestion 1

Suggestion 2

[2017-10-13 10:36] lizziebruce commented on #697
@GWSunderland @EUzkuraityte In Sunderland's case, as you also ask for other details, the page title can simply be

The new recommendation is to take away calls to action from page titles so that's why we're encouraging removal of 'Enter' here.

Also, could I suggest a copy edit for the intro line, as follows:

[2017-10-13 10:58] lizziebruce commented on #695
@GWSunderland @EUzkuraityte Thanks. I can't get to that page on [your prototype](https://idverifyuat.sunderland.gov.uk/Forms/Apply_For_parking_Permit) at the moment as there's a glitch after the resident's choice (screenshot below). Could you send me a screenshot of the Prove identity page please, or let me know when prototype is working again, so that I can review the Sunderand local deviation co

[2017-10-13 11:05] lizziebruce commented on #688
@GWSunderland @EUzkuraityte Thanks for the explanation. Do users need to book an appointment to come in for this support? Tagging @sanjaypoyzer for a service design POV on this (maybe we could expand on the copy above by describing what assistance users can expect i.e. say that they can get digital assistance in person in the customer service centre and if they need to book an appointment etc).

[2017-10-13 12:44] lizziebruce commented on #689
@GWSunderland @EUzkuraityte Perfect, thanks for the update.

[2017-10-13 12:45] lizziebruce commented on #690
@GWSunderland @EUzkuraityte Thanks for the update.

[2017-10-13 12:48] lizziebruce commented on #687
@GWSunderland @EUzkuraityte Thanks. @sanjaypoyzer Please could you take a quick look at ^^^ to check you're happy from service design POV.

[2017-10-13 13:01] suryanaga commented on #688
This should be fine for those people who are able to come in to get the assistance they need – The main concern would be about what documents they need to bring in, but as long as you're using Verify at LOA1, the users shouldn't really need any documents.

Getting to the council to get the assistance they need could be an accessibility barrier for some, but I'd imagine you'll find out about that p

[2017-10-13 13:02] suryanaga commented on #687
LGTM!

[2017-10-13 13:33] EUzkuraityte commented on #695
Hi @lizziebruce when entering the postcode on the 1st page just use one that is in Sunderland's parking zone, like SR2 7NB and choose an address from the drop down like 10 Ashwood Terrace, that way you'll be able to get through to subsequent pages.

Hi @GWSunderland it would be good to lock the form at some point so that users can't get through to subsequent pages without entering a postcode.

[2017-10-19 12:28] EUzkuraityte opened #723 "Start page - copy edits"
Does the 'check if you need a permit' functionality only allow checking of entitlement for residents and visitors permits? Would be good to understand constrains for why other types of permits cannot be checked for.

[2017-10-19 12:28] EUzkuraityte commented on #723
![screen shot 2017-10-19 at 13 27 39](https://user-images.githubusercontent.com/20285115/31770809-6f313cfe-b4d1-11e7-9301-b73576bb0994.png)

[2017-10-19 12:35] EUzkuraityte opened #724 "Check if you need a permit page - can we amend the copy?"
1 -Can we remove 'Postcode?'
2 - Change from 'Address' to 'address'

[2017-10-19 12:35] EUzkuraityte opened #725 "Check if you need a permit page - can we move 'For example..' underneath 'Enter a postcode'"
![screen shot 2017-10-19 at 13 34 41](https://user-images.githubusercontent.com/20285115/31771029-6d462c3c-b4d2-11e7-849d-16d54e17b800.png)

[2017-10-19 12:35] EUzkuraityte commented on #724
![screen shot 2017-10-19 at 13 34 41](https://user-images.githubusercontent.com/20285115/31771021-6033202c-b4d2-11e7-9f62-2e312ae14e0f.png)

[2017-10-19 12:43] EUzkuraityte opened #726 "Check if you need a permit - what's the advice we can offer for full address search?"
@lizziebruce @sanjaypoyzer we did not provide example pages for full address search. Please have a look at the attached and advice:
*Address lookup*
![screen shot 2017-10-19 at 13 42 46](https://user-images.githubusercontent.com/20285115/31771463-1db1b8a6-b4d4-11e7-8abe-57356bfdeaed.png)
![screen shot 2017-10-19 at 13 48 19](https://user-images.githubusercontent.com/20285115/31771490-3b7c6ade-b4d4

[2017-10-19 12:53] joanneSouthern commented on #723
not sure what you mean here ?

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07813637141
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 19 October 2017 at 13:28, EUzkuraityte <notifications@github.com> wrote:

--
 <http://family.northumberland.gov.uk>

[2017-10-19 12:56] EUzkuraityte opened #727 "Check if you need a permit - what is the need for an additional page, asking user to Verify the postcode?"
*Address eligible*
![screen shot 2017-10-19 at 13 49 16](https://user-images.githubusercontent.com/20285115/31771511-51bf29b2-b4d4-11e7-8c69-4028384911e8.png)

[2017-10-19 12:59] EUzkuraityte opened #728 "Check if you need a permit - what is the reason for a different page for when the parking permit is not needed?"
*Address not eligible*
![screen shot 2017-10-19 at 13 54 14](https://user-images.githubusercontent.com/20285115/31771930-c3ddfc48-b4d5-11e7-9676-7003f07fa826.png)

what the prototype page looks like:
![screen shot 2017-10-19 at 13 54 24](https://user-images.githubusercontent.com/20285115/31771946-cee9b6fe-b4d5-11e7-90aa-f93f836a6428.png)

[2017-10-19 13:02] EUzkuraityte opened #729 "Why do you need to park? - is it possible to make the text more similar to the prototype?"
1. Presumably changes to the Radio button text is due to reason as specified in  #723 .
@lizziebruce @sanjaypoyzer - can you advice? - can we make it more relevant to the section question 'Why do you need to park?'

2. Could we take off 'Select your permit type'

2. Is it possible to make the text look more like the prototype, i.e. 'You need a permit to park here because [the address pull ed from

[2017-10-19 13:04] joanneSouthern commented on #727
have you changed the prototype, im sure it used to have  page then that said you were eligible or not eligible before asking you to continue

[2017-10-19 13:10] joanneSouthern commented on #729
We reviewed with the business lead and she asked us to change it

[2017-10-19 13:18] EUzkuraityte commented on #723
Hi @joanneSouthern it's to do with checking that the user's entered address can be checked against eligible addresses for resident's and visitors permits as opposed to residents, visitors and trade and business.

[2017-10-19 13:22] EUzkuraityte opened #730 "Visitor permit journeys are broken"
Choosing 'I need a resident and a visitor permit' returns this error message:
![screen shot 2017-10-19 at 14 23 14](https://user-images.githubusercontent.com/20285115/31772951-120ec39a-b4d9-11e7-9d30-54edb3eb20ce.png)

Choosing 'Visitor permit' directs users to Resident parking permit GOV.UK Verify pages

[2017-10-19 13:28] EUzkuraityte opened #731 "Apply for a resident's parking permit - some copy and formatting changes"
Page: https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

1 - 'How to apply' should have a heading style
2 - Is it possible to add 'If you need assistance using the online service, contact Northumberland County Council [including a hyperlink to contact email or e-form].'
3 - Costs section needs to reflect the fact that the user in most cases

[2017-10-19 13:31] joanneSouthern commented on #723
@EUzkuraityte
we don't off a trade or business permits
we check the address is in a parking zone in Northumberland
we only allow the permit to be used in the permit zone that they applied for, it might not 24 hours 7 days a week, the zones have their own restrictions depending on what was agreed at consultation when the zone was created, most are around schools so the restrictions are school drop

[2017-10-19 13:37] joanneSouthern commented on #731
is this the address - little a
a before postcode
put example underneath

anything else

[2017-10-20 10:28] AbiBarkerOxfordshire commented on #718
@sanjaypoyzer Has there been any update on this? It is still happening.

[2017-10-20 10:29] AbiBarkerOxfordshire commented on #719
@sanjaypoyzer Has there been any update on this issue? Thanks, Abi

[2017-10-20 11:29] EUzkuraityte commented on #718
@AbiBarkerOxfordshire I've had a look and could click through ok.

[2017-10-20 11:48] AbiBarkerOxfordshire commented on #718
Hi @EUzkuraityte Thanks for your quick reply - I am using Chrome and whether I choose I have used Verify before or This is my first time I am still returned to Argleton and not Oxfordshire after Verify?

[2017-10-20 12:00] EUzkuraityte commented on #718
Hi @AbiBarkerOxfordshire , I'm on chrome as well.. I've just tried it on my personal phone, and it all checks out ok too. Could you try this as well?

I'm thinking maybe clearing cache / cookies on your machine could help too.

[2017-10-20 12:04] AbiBarkerOxfordshire commented on #718
@EUzkuraityte I have cleared my cache and retried and still no joy :-( Do you have any other ideas? Thanks, Abi

[2017-10-20 12:10] EUzkuraityte commented on #718
@AbiBarkerOxfordshire could you try emailing yourself the link and trying on your phone/tablet? just trying to figure out if there's something getting blocked on your council's network..

[2017-10-20 12:20] AbiBarkerOxfordshire commented on #718
I just forwarded it to my iPhone on my personal email and it still reverts to Argleton....sorry! @EUzkuraityte

[2017-10-20 12:27] EUzkuraityte commented on #718
Hiya @AbiBarkerOxfordshire  I'm honestly clutching at straws here, but are you on your council's wifi or using your own connection?

Lizzie just tried on her machine as well and it seems ok..

[2017-10-20 12:28] AbiBarkerOxfordshire commented on #718
I am at home and using my WiFi on my personal iPhone so no council network connections - weird?

[2017-10-20 12:31] EUzkuraityte commented on #724
![screen shot 2017-10-20 at 13 31 10](https://user-images.githubusercontent.com/20285115/31820846-f7bb81be-b59a-11e7-995b-5ce0ee7fea0e.png)

[2017-10-20 12:32] EUzkuraityte commented on #725
Closing as not relevant due to #724

[2017-10-20 12:32] #725 closed, assigned to nobody

[2017-10-20 12:34] EUzkuraityte commented on #727
I don't remember doing any changes to this bit of the journey for the last few months... @sanjaypoyzer was this changed?

[2017-10-20 12:41] EUzkuraityte commented on #718
really weird.. would it be possible to get Catherine and maybe a few other poeple to try it out?

@sanjaypoyzer do you have any ideas?

[2017-10-20 12:50] AbiBarkerOxfordshire commented on #718
@catherinewoodoxfordshire is in one of our offices at the moment but is working from home later this afternoon so she will also try it when she gets back - if you manually amend the URL on the Argleton page it works so it just doesn't seem to pass the Oxfordshire parameter across when leaving Verify.

[2017-10-20 13:43] AbiBarkerOxfordshire commented on #718
I have also spoken to someone else in our office to test it just now, and they also get pushed back to Argleton....

[2017-10-20 16:12] lizziebruce commented on #726
1. "Address" should be lower case on the CTA buttons copy. Only the first word of any CTA should be capitalised.
2. Colon not ellipsis please e.g. "We found the following addresses:" not "We found the following addresses..."
3. Shouldn't put "Verify postcode", it's not plain English. This whole screen however is unnecessary. Please see my separate feedback notes.

[2017-10-20 16:44] lizziebruce commented on #729
@EUzkuraityte @joanneSouthern please see my feedback note on this too.

[2017-10-23 09:21] EUzkuraityte opened #732 "/success - stylistic edit"
Lizzie's note: - Using your permit should be in header style (h2) not body copy style.

[2017-10-23 09:27] EUzkuraityte opened #733 "/success copy missing"
Missing copy Lizzie's comments:
"Your permit will usually arrive within 5 working days"
"Renew your permit when it expires in 12 months – [you've signed up to receive a reminder by email] / [sign up for a renewal reminder]."

![screen shot 2017-10-23 at 10 29 08](https://user-images.githubusercontent.com/20285115/31881933-22a83932-b7dd-11e7-8b53-5f47a7aa7580.png)

[2017-10-23 09:29] EUzkuraityte commented on #732
![screen shot 2017-10-23 at 10 29 08](https://user-images.githubusercontent.com/20285115/31881921-0dcb1dc2-b7dd-11e7-82c1-1abbc889ce70.png)

[2017-10-23 09:32] EUzkuraityte opened #734 "Making email fields wider"

[2017-10-23 09:32] EUzkuraityte opened #735 "/pre-payment page - design and functionality."
Please try to display this more like the Argleton prototype. Tables can cause accessibility issues.

If possible, introduce the functionality for users to change the vehicle reg number and start date. I assume the permit will not be issued for 12 months due to the timings when the scheme runs, is that correct? In that case, we would need to provide appropriate advice in the 'Permit length' row and

[2017-10-23 09:41] EUzkuraityte opened #736 "/pre-payment page typos in intro line and on 'expiry date'"
![screen shot 2017-10-23 at 10 43 10](https://user-images.githubusercontent.com/20285115/31882552-0fbf4566-b7df-11e7-85b7-69564ce632d5.png)

Should say:
'You're about to pay £130.00 for 1 parking permit:'
and
'Expiry date'

[2017-10-23 09:49] EUzkuraityte opened #737 "Vehicle ownership doc upload - copy"
Lizzie's comments

1. Remove 'Upload' from page title.
2. Intro sentence suggested rewrite
"To prove ownership upload one of these:"
3. Why is the copy in bold included? This repeats the information above.

[2017-10-23 09:51] EUzkuraityte opened #738 "/enter-reg stylistic edit - please take off the bold formatting on the body copy."
Lizzie's comment

![screen shot 2017-10-23 at 10 51 05](https://user-images.githubusercontent.com/20285115/31882918-37b4f3a8-b7e0-11e7-8977-e3134bd2cd7a.png)

[2017-10-23 09:52] EUzkuraityte opened #739 "/confirm-address typo - please add a question mark after 'Is this your current address?'"
![screen shot 2017-10-23 at 12 00 01](https://user-images.githubusercontent.com/20285115/31885815-b85ed8da-b7e9-11e7-9bf4-89769bbbfb83.png)

[2017-10-23 11:00] EUzkuraityte opened #740 "/prove-identity - copy edits required"
Lizzie's comments:
1. Remove the bold copy line "How do you want us to check your identity?"
2. Please follow the prototype which includes bulleted explanations of the 2 options. If this isn't technically possible please advise up and we can come up with a best practice and relevant solution together.

![screen shot 2017-10-23 at 12 30 33](https://user-images.githubusercontent.com/20285115/3188687

[2017-10-23 12:10] EUzkuraityte opened #741 "/resident-start Blue Badge holders copy"
Lizzie's comments: This shouldn't all be a link. Link text should be short. "Click here" is not good practice.
Suggested replacement copy:

"Blue Badge holders also need a resident's parking permit, but it's free. You'll be asked to enter your badge number during this application."

Suggest the Blue Badge qualifier comes later in the service, as until payment the journeys are identical. Either tha

[2017-10-23 12:20] EUzkuraityte opened #742 "/resident-start - copy edits"
Lizzie's comments - Copy for service deviation around number of permits: suggested copy "If you need more contact us."

[2017-10-23 12:21] EUzkuraityte commented on #742
![screen shot 2017-10-23 at 13 20 17](https://user-images.githubusercontent.com/20285115/31888706-00d57438-b7f5-11e7-9a2b-8c5b4d95bba6.png)

[2017-10-23 12:22] EUzkuraityte opened #743 "Is it possible to have larger radio buttons?"
/resident-choice and other pages throughout

[2017-10-23 12:24] EUzkuraityte opened #744 "/resident-choice - parking scheme copy edits"
please remove copy relating to the months the scheme operates in from this page. Include this information on the /resident-start page instead. Sunderland has the same situation and the copy we've agreed with them is:

"Parking permits in your area are issued on 1 August every year and are valid until 31 July the following year. If you apply before 4 July, your permit will expire on 31 July."
Sugge

[2017-10-23 12:25] EUzkuraityte commented on #742
also see #744 for suggested copy additions

[2017-10-23 12:29] EUzkuraityte commented on #729
Here are lizzie's comments:
/resident-choice Please edit the content so that it reflects the prototype https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-choice
'Morpeth parking zone' should be the link so there's no need for 'Check the permit area map'. Also no need to introduce the choices with Select your permit type.

Linking to #744 for parkin

[2017-10-23 12:34] EUzkuraityte commented on #728
Lizzie's comments:

/check-boundary page - after Verify postcode screen there is a screen, 'postcode check complete'
If ineligible:
The copy explanation is a) all in the button - this is not usability best practice b) includes several terms that should be avoided when writing for web - sorry, please, click here. 'you feel' is also not needed. Suggest this body copy:
"You're not eligible for a perm

[2017-10-23 12:37] EUzkuraityte commented on #727
Lizzie's comments:

If eligible:
As per Argleton prototype, suggest replace this screen with:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-choice

linking to #728

[2017-10-23 12:40] EUzkuraityte commented on #726
Lizzie's notes:

/check-boundary page - after address picker, goes to unneeded screen "Verify Postcode"

[2017-10-23 12:43] EUzkuraityte commented on #723
Lizzie's comments:
Start page - general copy differs from prototype

Start page - Costs deviation - ok to show here if all permits cost the same but could be worded more concisely and clearly.

@lizziebruce are you able to recommend how this could be worded?

[2017-10-23 12:48] EUzkuraityte opened #745 "Check if you need a permit (/check-boundary) page - copy edits"
Lizzie's comments:
some unneeded copy: 'Postcode' label, 'my Address' on button

![screen shot 2017-10-23 at 13 46 41](https://user-images.githubusercontent.com/20285115/31889769-dc471d48-b7f8-11e7-9b9c-c38a8f77a95b.png)

[2017-10-23 13:23] BeckiBorastonBucks opened #746 "What automatic checks are done when uploading a photo?"
"Your photo has passed our automatic checks." What automatic checks were done? What do we need to build to include the same checks?

https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/example-service/webcam-photo-accepted

https://verify-local-patterns.herokuapp.com/public/images/ctscreenshot/photo-received.png

[2017-10-23 13:36] EUzkuraityte commented on #724
Tagging @joannesouthern to the issue

[2017-10-23 13:38] EUzkuraityte commented on #726
Tagging @joannesouthern to the issue

[2017-10-23 13:40] EUzkuraityte commented on #727
Tagging @joannesouthern to the issue

[2017-10-23 13:42] EUzkuraityte commented on #728
Tagging @joannesouthern to the issue

[2017-10-23 14:01] EUzkuraityte commented on #730
Hi, @joannesouthern, please give me a shout one this error is fixed.

[2017-10-23 14:03] EUzkuraityte commented on #745
tagging @joannesouthern to this