[2017-04-19 08:01] EUzkuraityte opened #407 "Users need to be able to enter their name in one input box"
![image](https://cloud.githubusercontent.com/assets/20285115/25169363/aa7578d0-24de-11e7-8641-ee4d3c7332d1.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169369/ae2e74ae-24de-11e7-8dac-22185c8dc6c6.png)

[2017-04-19 08:02] EUzkuraityte opened #408 "Users expecting auto tab for entering dates"
![image](https://cloud.githubusercontent.com/assets/20285115/25169410/d69083c4-24de-11e7-816a-d31a203522dc.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169412/d927e6c2-24de-11e7-8c7e-071328272e7c.png)

![image](https://cloud.githubusercontent.com/assets/20285115/25169457/0636cc50-24df-11e7-9895-05e70446d4c5.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25

[2017-04-19 08:05] EUzkuraityte opened #409 "Users need to be asked for dates in a consistent format so that they don't enter wrong information"
Users struggling to enter dates due to different date formats being used throughout.
![image](https://cloud.githubusercontent.com/assets/20285115/25169534/4aaf9272-24df-11e7-9e64-9f20ed0c902f.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169540/4f9f7284-24df-11e7-8414-9a7f01219645.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169551/55e9adbc-24df-11e7-85

[2017-04-19 08:10] EUzkuraityte opened #410 "Users need to know why they need to prove their identity to get a permit"
![image](https://cloud.githubusercontent.com/assets/20285115/25169707/e722e050-24df-11e7-8e30-03c3d79f6575.png)

![image](https://cloud.githubusercontent.com/assets/20285115/25169722/f23ef636-24df-11e7-96ac-0f5d804529a0.png)

[2017-04-19 08:13] EUzkuraityte opened #411 "Payment page requires rekeying of address"
Users are having to rekey their address twice:
![image](https://cloud.githubusercontent.com/assets/20285115/25169818/5947a49a-24e0-11e7-958b-edcf284e6d5e.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169840/637a8eaa-24e0-11e7-981d-6e076e1f807b.png)

[2017-04-19 08:18] EUzkuraityte opened #412 "Users need payment input box lengths to be relative to how much information they need to enter in them"
![image](https://cloud.githubusercontent.com/assets/20285115/25170054/17a5fdd8-24e1-11e7-8392-9bddf03bd6bd.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25170055/19e2dcc4-24e1-11e7-92c3-49e98782788d.png)

[2017-04-19 12:51] irinapencheva opened #413 "Users need to use GOV.UK Verify but did not understand what GOV.UK Verify is or what it means to sign up with it"
Quote “why am I going to the GOV.UK website, I wanted to apply with Buckinghamshire”
Quote “no idea what these companies are”
Quote “I am not happy about it going to another place”
Quote “why is the Council asking someone else to verify me?”
Quote “of course I am over 20 it is an old person badge”

[2017-04-19 12:54] irinapencheva opened #414 "User didn't understand why Verify was needed, would have preferred to phone the council"
'Are they doing this so less people apply and it is cheaper for the Council?'

[2017-04-19 12:55] irinapencheva opened #415 "User didn't realise that they'd still need to upload a photograph at the start of the Verify journey"
'Why didn’t it tell me about the photo at the beginning then I wouldn’t have had to do all that'

[2017-04-19 12:58] irinapencheva opened #416 "User doesn't read first page"
User skim read information, missing some elements

[2017-04-19 12:58] irinapencheva commented on #414
User stated that she did not expect all of this effort to apply for a bus pass

[2017-04-19 12:59] irinapencheva opened #417 "User did not understand choosing a company, stating that she thought it was pointless and wanted to know why she did not have an option not to pick a company."

[2017-04-20 07:56] EUzkuraityte commented on #292
Link to #264

[2017-04-20 07:57] EUzkuraityte commented on #292
**Additional document upload - accepted proof**

Cambridgeshire County Council:
- Insurance documents

Northumberland County Council:
- V5C
- Insurance documents
- Company letter for company cars
- Car lease or rent agreement for rented or leased cars

   Oxfordshire County Council:
- V5C
- Company letter for company cars
- Car lease or rent agreement for rented or leased cars
- Sales invoice for

[2017-04-20 14:06] suryanaga commented on #303
@irinapencheva Could you explain what the issue here is?

The reason those links are high up is so that people who need renewals or replacements don't click Apply.

[2017-04-20 14:14] irinapencheva commented on #303
As seen in UR, users don't read what the service will include (i.e. any of the bullets below the green button), and therefore get surprised when they have to upload a photograph.

[2017-04-20 14:22] suryanaga commented on #321
@samuelculley I'm not sure what you mean by "the application has been submitted and all the internal messaging has been sent off". As this a prototype, we haven't specified yet what the back end will do, but when we do, we can say when the data gets sent.

[2017-04-20 14:23] suryanaga commented on #321
Also, just to say this is important functionality as users may need to get their pass sent to their work or another address they can more easily retrieve it from.

[2017-04-20 14:26] suryanaga commented on #344
This is a duplicate of #190.

[2017-04-20 14:26] #344 closed, assigned to nobody

[2017-04-20 14:34] suryanaga commented on #353
Closing this as a duplicate of #190.

[2017-04-20 14:34] #353 closed, assigned to nobody

[2017-04-20 14:34] suryanaga commented on #197
Closing this as a duplicate of #190.

[2017-04-20 14:34] #197 closed, assigned to nobody

[2017-04-20 14:36] suryanaga commented on #341
@joanneSouthern Could you say which pages people were looking at when they didn't know what to do next?

[2017-04-20 14:39] suryanaga commented on #199
@petegale Could you say more about what people said they would do at this point?

[2017-04-20 14:42] suryanaga commented on #198
Note: As far as I know only 1 person has said this so far.

[2017-04-20 14:44] suryanaga commented on #369
People can still verify without downloading an app, so this isn't a very big issue.

[2017-04-20 14:45] petegale commented on #199
A couple of users thought (when they saw Barclays and Post Office) that they would have to take identity documents to their local branch in person. They interpreted this as meaning that the Verify route could not be completed entirely online. Worth noting - only a couple of users, so low priority issue

[2017-04-20 14:46] petegale commented on #198
Yes, only one reported incidence of this so far

[2017-04-20 16:03] lizziebruce commented on #195
@sanjaypoyzer

To solve Freedom Pass issue, I edited Camden's content to replace "bus pass" with "Freedom Pass" throughout.
As the Freedom Pass is for all public transport in London – as well as local buses across England – I added this copy: "It's also valid on London overground and underground trains and on trams."

To solve Over 60 oyster card issue, I added this copy: "Until you qualify for a

[2017-04-20 16:11] lizziebruce commented on #195
@sanjaypoyzer
Thinking about it some more, with the Freedom Pass it's more logical to mention London transport first i.e. further copy edit:

"The Freedom Pass is valid on London overground and underground trains and trams. It's also valid on all local bus services in England at any time on a Saturday, Sunday or bank holiday, and from 9.30am to 11pm on any other day."

[2017-04-21 08:42] suryanaga commented on #195
@lizziebruce Great, thanks Lizze.

One thing - Shouldn't the link start from the word "apply", so that it reads

Also I think it's worth bearing in mind that if we do #94, we'll be able to route users who are too young for a Freedom Pass, but old enough for the 60+ Oyster to the right place a bit easier. But if this content addition should hopefully help until then.

[2017-04-21 09:01] irinapencheva commented on #349
@joanneSouthern - issue #301  and new UR issues, which Pete is adding will also address some of the content design issues. So I'll close that one and address in the other issues

[2017-04-21 09:01] #349 closed, assigned to nobody

[2017-04-21 09:03] irinapencheva commented on #337
@joanneSouthern - are you happy with the above suggestion from Sanjay?

[2017-04-21 09:05] irinapencheva commented on #312
![screen shot 2017-04-21 at 10 04 25](https://cloud.githubusercontent.com/assets/24913176/25270861/fa46325e-2679-11e7-8637-662330b1cb53.png)
@sanjaypoyzer - this refers to the screen above

[2017-04-21 09:12] irinapencheva commented on #307
@lizziebruce - would be great if you can take a look when you're working again on the ConTravel pattern

Happy to discuss as well to clarify what I mean.

[2017-04-21 09:14] suryanaga commented on #312
Ah ok cool.

[2017-04-21 09:15] suryanaga commented on #307
@irinapencheva This issue still needs evidence that it's a problem.

[2017-04-21 09:17] irinapencheva commented on #319
On the "Application complete' page it always says "you will receive an email and text" (see below), irregardless of what options you've selected for your confirmation messages

![screen shot 2017-04-21 at 10 15 50](https://cloud.githubusercontent.com/assets/24913176/25271327/afda2f48-267b-11e7-9c8d-e75d63b48684.png)

[2017-04-21 09:22] irinapencheva commented on #307
@sanjaypoyzer - I don't think the question is factually fully accurate because it's about verifying your identity, but I'm happy to close/ icebox this issue as it will be covered by another one coming from UR for the "Verifying your identity" page

[2017-04-21 09:23] irinapencheva commented on #319
@sanjaypoyzer - can we remove the 'needs clarification' label as well or is it still unclear?

[2017-04-21 09:25] EUzkuraityte commented on #145
@sanjaypoyzer here are the responses we got. Councils want to be using none or a combination of the listed items for enforcement purposes (4.2). The prototype should allow councils to localise this functionality and request this information from the user via VES API or manually.

4.2 What vehicle details do you need to ask the user via a VES API or manually for enforcement purposes?
- Vehicle make

[2017-04-21 09:26] irinapencheva commented on #317
@samuelculley - could you clarify what you mean?

[2017-04-21 09:33] irinapencheva commented on #321
@sanjaypoyzer - I think this would depend on the individual council service risk appetite and also needs to be confirmed by Julian that it's OK from a risk & assurance perspective. If a user can change the address of their pass delivery once the application is complete, there is no physical assurance that the pass will actually be delivered to an address in the council (i.e. potential fraud vector

[2017-04-21 09:37] irinapencheva commented on #351
@joanneSouthern - I'll remove from this board as we didn't observe it with other councils and in the common UR

[2017-04-21 09:45] EUzkuraityte commented on #287
@sanjaypoyzer the answer to this question is 'no'. You can read more here if needed:

- First permit is free of charge, second £20, third £40, Fourth £60, fifth £80.  In HMO properties all permits are free of charge.  Permits are issued for a maximum period of 12 months.  In each parking management zone all permits expire on the same date - for example, in the Hospital Parking management zone perm

[2017-04-21 09:45] #287 closed, assigned to nobody

[2017-04-21 09:46] lizziebruce commented on #195
@sanjaypoyzer agree it's a good idea to include 'apply' in the link but links shouldn't be too long so perhaps just [apply for a 60+ London Oyster photocard] as the link.

#94 sounds a good thing to do if it's possible.

[2017-04-21 09:54] irinapencheva commented on #414
Also linked to #413 so will close this issue

[2017-04-21 09:54] EUzkuraityte commented on #313
@sanjaypoyzer here are the responses we got. Councils want to be using none or a combination of the listed items to calculate the permit price (4.1). The prototype should allow councils to localise this functionality and request this information from the user via VES API or manually.

4.1 What vehicle details do you need to ask the user via a VES API or manually to calculate the permit price?

- V

[2017-04-21 09:55] irinapencheva opened #418 "User did not like providing 2 security questions for the post office"
User felt frustrated

[2017-04-21 09:56] irinapencheva opened #419 "When asked if she had changed her name, the user was unclear about whether to include her name change at marriage and stated this was really lengthening the process"

[2017-04-21 09:58] irinapencheva opened #420 "User stated she had no idea where she was in the process of applying for/obtaining a bus pass"
User did not understand why she’s using a third party, or even if it was now BCC, a third party or Gov.uk she was dealing with. User stated again that this was a far longer process

[2017-04-21 09:58] irinapencheva opened #421 "Users needed to provide passport/driving licence details to third party but did not like that and stated she just wanted to give it to the council"

[2017-04-21 10:00] irinapencheva opened #422 "User did not understand their GOV.UK Verify account can be reused for other services and thought they had spent too much time just for a bus pass"
User asked why she had been to BCC then Gov.uk then Verify, then Gov.uk and then BCC
Quote – “is this an April fool’s joke?”

[2017-04-21 10:01] EUzkuraityte commented on #141
Closing this as it is a duplicate of #313

[2017-04-21 10:01] #141 closed, assigned to nobody

[2017-04-21 10:06] irinapencheva opened #423 "Users felt they needed to "get their photo done properly" ie From a shop"
User quoted passport regulations for the photograph
Quote – “you have to get your photo done properly”

[2017-04-21 10:12] EUzkuraityte commented on #297
Similar to #313

[2017-04-21 10:14] #389 closed, assigned to suryanaga

[2017-04-21 10:16] EUzkuraityte opened #424 "Styling does not display application reference number"
@GWSunderland

The last page where application reference number is displayed is white letters on white background and unless highlighted with a cursor is not visible to the user

![screen shot 2017-04-21 at 11 09 21](https://cloud.githubusercontent.com/assets/20285115/25273502/ea4f94e4-2683-11e7-85ac-905c303fa3c4.png)
![screen shot 2017-04-21 at 11 17 05](https://cloud.githubusercontent.com/assets

[2017-04-21 10:18] irinapencheva opened #425 "User need to know their application had been completed"
'Users didn't understand that as they failed to read the “application successful” message in the header of the page' - Northumberland

This is linked to Northumberland's issue #352

[2017-04-21 10:20] irinapencheva commented on #348
@joanneSouthern - could you provide a little bit more detail on what exactly happened?

[2017-04-21 10:23] irinapencheva opened #426 "User did not understand what the Verify identity is and that it can be reused"
User did not understand the Verify account or what it was for
User felt more vulnerable
User repeatedly asked why this process was being introduced and why this information was needed

[2017-04-21 10:24] irinapencheva commented on #426
Also linked to #413

[2017-04-21 10:26] lizziebruce commented on #294
@EUzkuraityte @sanjaypoyzer

A suggested quick fix is the below.

![camden check permit screenshot](https://cloud.githubusercontent.com/assets/27814324/25273743/17bb3bb2-2685-11e7-97f6-be5f1542054b.png)

However I would like to know more context for this. It sounds like a resident's parking permit but we don't currently mention that. The breadcrumb trail suggests the user journey is from Park your

[2017-04-21 10:26] irinapencheva commented on #303
This is also related to issues:  #415 & #416 from Bucks and #338 from Northumberland

[2017-04-21 10:29] irinapencheva commented on #352
@sanjaypoyzer - this is also an issue for Bucks #425

[2017-04-21 10:32] #414 closed, assigned to nobody

[2017-04-21 10:35] irinapencheva commented on #420
Linked to #341 issue by Northumberland so closing this one

[2017-04-21 10:35] #420 closed, assigned to nobody

[2017-04-21 10:43] irinapencheva commented on #337
also this is linked to #347 so if you're happy we'll close this issue

[2017-04-21 10:50] lizziebruce commented on #298
@sanjaypoyzer @EUzkuraityte With the decision around 'claim'/ 'apply for' it's worth considering the entitlement psychology that @petegale was finding in UR, i.e. that people are more inclined to spend time verifying themselves if they feel grateful for the benefit they'll get from the end result and less inclined when they feel entitled to the thing.
For (residential) parking permits this would v

[2017-04-21 11:25] GWSunderland commented on #424
@kenmaddison-scc Can we look at this please Ken and change either the font colour or background colour?

[2017-04-21 11:57] suryanaga commented on #307
@irinapencheva Not sure how it's factually inaccurate - The user is choosing how they claim their thing.

[2017-04-21 12:02] suryanaga commented on #321
@irinapencheva Well it's quite easy for the service to be checking that the new address entered at this point is also within the council boundaries. If that's the only reason a council wouldn't want to accept a new address at this point, I don't think that's a real issue.

[2017-04-21 12:07] irinapencheva commented on #307
@sanjaypoyzer - means that most people don't understand what the purpose of Verify in the whole transaction is

As said before, happy to close this issue if this will be covered by a wider issue, but as it stands now, this question doesn't help to understand why people go through Verify

[2017-04-21 12:09] irinapencheva commented on #321
@sanjaypoyzer I'll check with councils what they accept and will also confirm with Julian

[2017-04-21 12:13] irinapencheva commented on #321
Also then the wording on the below screen would need amend, so let's confirm first what's should be logic from Risk & Assurance point
![screen shot 2017-04-21 at 13 12 03](https://cloud.githubusercontent.com/assets/24913176/25276908/533095ca-2694-11e7-8b5f-089c495c6234.png)

[2017-04-21 12:18] colin2678 commented on #338
I can't see how the issue of needing a photograph for either path has been resolved yet. Has this been addressed elsewhere?

[2017-04-21 12:25] lizziebruce commented on #307
@irinapencheva @sanjaypoyzer
Several things on this page need revisiting. It needs to be decided whether this step is about verifying ID or seeing if the person is eligible.

It would seem that it is about verifying ID, as the user should have "self-checked" on the previous page – which gives links to 'check your state pension age' and 'find your local council'. If we have doubt that the user is p

[2017-04-21 12:44] #316 closed, assigned to nobody

[2017-04-21 12:53] colin2678 commented on #409
what format was this information presented in during the research? This would impact how a user would fill in this information.

[2017-04-21 13:00] colin2678 commented on #375
This was due to Bucks not currently offering a refund for customers if they change house/cars. We plan  to do this in the future.

[2017-04-21 13:03] colin2678 commented on #402
This is linked to issue #400. Users are unsure of what Verify does.

[2017-04-21 13:04] colin2678 commented on #403
This is linked to issue #400. Users are unsure of what Verify does.

[2017-04-21 13:05] colin2678 commented on #410
This is linked to issue #400. Users are unsure of what Verify does.

[2017-04-21 13:07] colin2678 commented on #413
This is linked to issue #400. Users are unsure of what Verify does.

[2017-04-21 13:09] irinapencheva commented on #413
Thanks @colin2678 - we'll keep an issue in the CT section as well :)

[2017-04-21 14:08] EUzkuraityte commented on #411
this is a duplicate of #235

[2017-04-21 14:09] #411 closed, assigned to nobody

[2017-04-21 14:09] EUzkuraityte commented on #235
Users are having to rekey their address twice:
![image](https://cloud.githubusercontent.com/assets/20285115/25169818/5947a49a-24e0-11e7-958b-edcf284e6d5e.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169840/637a8eaa-24e0-11e7-981d-6e076e1f807b.png)

[2017-04-21 14:12] EUzkuraityte commented on #381
This is a duplicate of #234

[2017-04-21 14:12] #381 closed, assigned to nobody

[2017-04-21 14:14] EUzkuraityte commented on #377
This is a duplicate of #232

[2017-04-21 14:14] #377 closed, assigned to nobody

[2017-04-21 14:15] EUzkuraityte commented on #323
Evidence from Bucks user research:

![image](https://cloud.githubusercontent.com/assets/20285115/25169410/d69083c4-24de-11e7-816a-d31a203522dc.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169412/d927e6c2-24de-11e7-8c7e-071328272e7c.png)

![image](https://cloud.githubusercontent.com/assets/20285115/25169457/0636cc50-24df-11e7-9895-05e70446d4c5.png)
![image](https://cloud.gith

[2017-04-21 14:17] EUzkuraityte commented on #408
This is a duplicate of #323

[2017-04-21 14:17] #408 closed, assigned to nobody

[2017-04-21 14:30] EUzkuraityte commented on #367
This is a duplicate of #230

[2017-04-21 14:30] #367 closed, assigned to nobody

[2017-04-21 14:56] suryanaga commented on #145
Let's dig in further to why councils need this information so that we can explain to users why it's being used.

[2017-04-21 15:05] EUzkuraityte commented on #145
@joanneSouthern @GWSunderland @OxfordshireCountyCouncil @danblundell

would you be able to provide a bit more info / reasoning on why we're asking users to give vehicle information for enforcement purposes? What's the underpinning need here?

[2017-04-21 15:21] irinapencheva commented on #303
@sanjaypoyzer will reword the issue as per above comments

[2017-04-21 15:25] EUzkuraityte commented on #320
@sanjaypoyzer  there's new evidence from Northumberland see #355

something like 6 or 6b in [your doc](https://docs.google.com/presentation/d/1xL9vh3SoXQ5LoAheqdSlYQDB_wNgCvCrsHUnzFQzlAo/edit#slide=id.g21153d824a_0_122) would make sure user's journey is a little shorter..

Can we test with two versions? i.e. the current one and 6 or 6b

One of the issues that came out of user research is that peop

[2017-04-21 15:26] EUzkuraityte commented on #355
duplicate of #320

[2017-04-21 15:26] #355 closed, assigned to nobody

[2017-04-21 15:27] suryanaga commented on #313
@EUzkuraityte I'd like to understand more the "Housing of Multiple Occupation". I think it's just Sunderland who've talked about this? What does it mean? How do we find it out?

[2017-04-21 15:29] suryanaga commented on #313
@EUzkuraityte Can we also just confirm that only the councils who have said so offer free permits to Blue Badge holders and offer medical permits? Seems a bit odd.

[2017-04-21 15:33] EUzkuraityte commented on #313
@sanjaypoyzer

**HMO:**
https://www.gov.uk/house-in-multiple-occupation-licence
A house in multiple occupation is a property rented out by at least 3 people who are not from 1 ‘household’ (eg a family) but share facilities like the bathroom and kitchen. It’s sometimes called a ‘house share’.

You must have a licence if you’re renting out a large HMO. Your property is defined as a large HMO if all

[2017-04-21 15:39] EUzkuraityte commented on #357
Hi @joanneSouthern is this a local issue or the common prototype?

Hi @sanjaypoyzer I assume that LAs should be able to display the permit price set by their council in their prototype. Is that correct?

[2017-04-21 15:41] EUzkuraityte commented on #358
I think this is duplicate of:
#300 and #294 for visitors permit issue and #332 for car reg issue so closing it. Please reopen if incorrect.

[2017-04-21 15:45] EUzkuraityte commented on #360
Bucks found that:

Users do not read below the 'Apply' button on this page: https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

[2017-04-21 15:45] EUzkuraityte commented on #393
This is a duplicate of #360

[2017-04-21 15:45] #393 closed, assigned to nobody

[2017-04-21 16:00] GWSunderland commented on #145
I believe we collect this to help enforcement officers determine whether a permit is genuine.  The make, model and colour is not displayed on our permit but enforcement officers can access this information to verify the authenticity of a permit if they suspect one has been tampered with.

[2017-04-24 08:06] irinapencheva commented on #303
@sanjaypoyzer - is this issue clearer or does it still require discussion?

[2017-04-24 08:54] AbiBarkerOxfordshire opened #427 "Check if you need a permit: The language used 'the area where you'd like to park' is unclear"
Impact: Users may not enter the correct postcode at this point.

Evidence: User questioned whether they should enter their home postcode or somewhere else where they would like to park.

[2017-04-24 09:03] suryanaga opened #428 "Ability to upload picture/scan of V5C & enter V5C number"

[2017-04-24 09:06] AbiBarkerOxfordshire commented on #427
Apologies!!! Not used to using GitHub so inadvertently closed this!

[2017-04-24 09:10] AbiBarkerOxfordshire opened #429 "Apply for a permit: The cost of the permit is not clear"
Impact: Users may leave the application to try to find more information about the cost of permits.

Evidence: “Don’t see how long it lasts, so not clear on cost.”
I’d want to know the cost so that I could be sure I can cover the cost.”

[2017-04-24 09:11] AbiBarkerOxfordshire opened #430 "Apply for a permit: Users don't read the information under the apply button"
Impact: Users may miss the information telling them what they will need in order to make the application.
Evidence: “Wouldn’t read the rest, I already know what I want. Might just scan it.”
“Unlikely to read the rest of is, would probably just click to apply.”
Users said later in the application that they wish they’d been told what they would need in advance of starting the application.
“No warnin

[2017-04-24 09:12] AbiBarkerOxfordshire opened #431 "Users need to understand why they are being asked about sharing their personal data"
Impact: Users may abandon Verify at this point.

Evidence: “Will only check name and address – doesn’t address the issues so what’s the point?”
This user did abandon Verify and went back to the upload documents option.

[2017-04-24 09:12] AbiBarkerOxfordshire opened #432 "Sign in with Verify: Users are put off by having to remember another password"
Impact: Users may abandon Verify at this point.

Evidence: “Don’t tend to remember passwords.”
“Makes me think ‘oh no, not another password’.
“Might have a go if I could remember my password – I’d hope it had a reminder.”

[2017-04-24 09:13] AbiBarkerOxfordshire opened #433 "Certified companies: Users don't understand why private companies would be able to verify their identity and are not comfortable with the idea"
Impact: Users may abandon Verify at this point.

Evidence: “Search by companies – why isn’t the government doing it?”
“Would feel more comfortable if it was the government.”
“Don’t feel comfortable.”
“How do I know what documents they want and how they have the info?”

[2017-04-24 09:14] AbiBarkerOxfordshire opened #434 "Start Verify: Users are put off by the amount of time it would take compared to the alternative"
Impact: Users may abandon Verify at this point.

Evidence: “15 minutes may be frustrating.”
“Would go and scan if quicker as 15 minutes is too long.”
“Might take 15 minutes but once is has been done that’s it.”
“Would have been nice to put that information straight away.”

[2017-04-24 09:16] AbiBarkerOxfordshire opened #435 "Install apps: Some users say they can install apps on their devices but don't want to"
Impact: Users are confused and unsure how to answer the question – causes anxiety.

Evidence: “Annoys me to have an app that is only used once, taking up space.”
“I can install apps but I don’t want to. Would answer ‘yes’ but only because I haven’t given permission.”
“Why is the app relevant?”
“Text numbers – don’t need app for that.”
“Do I need to (say I will install an app)?”

[2017-04-24 09:17] AbiBarkerOxfordshire opened #436 "Choose a company: Some users did not trust private companies to verify their identity"
Impact: Users may abandon Verify at this point.
Evidence: “Some companies not secure anymore – would choose Experian”
“Not comfortable with any of those, it should be a government service.”
“Feels like it is Barclay’s sending this info over.”
“Why would the post office know about me?”
“Dead nervous.”

[2017-04-24 09:18] AbiBarkerOxfordshire opened #437 "Continue to company: User was not happy about being taken to another company"
Impact: Users may abandon Verify at this point.

Evidence: “Seems to suggest you have to start over – I just want a parking permit!”
“It’s an online identity card, outsourced to other people and I don’t like that.”

[2017-04-24 09:20] AbiBarkerOxfordshire opened #438 "Account recovery: User finds the questions used unrepresentative of the UK."
Impact: Some users may not be able to find two questions they can answer.

Evidence: “Some of them are quite UK-centric – culturally insensitive.”
“What would someone who wasn’t born in the UK say?”
"My answers would change based on the day you asked it"

[2017-04-24 09:21] AbiBarkerOxfordshire opened #439 "Create the account: Date of birth format - the switch into the company pages means there are a number of format/styling changes"
Impact: Users might make mistakes when entering the data.

Evidence: “Change of birth date format.”
“Change of format for date, had to stop and check.”
Observed a number of mistakes made by users who had to go back and edit information.

[2017-04-24 09:22] AbiBarkerOxfordshire opened #440 "Create the account: Full name - the switch to the company pages means there are a number of format/styling changes"
Impact: Users might make mistakes when entering the data.

Evidence: “Why is it first, middle, last names and not ‘given name’ and ‘family name’?”
Observed a number of mistakes made by users who had to go back and edit information.

[2017-04-24 09:22] AbiBarkerOxfordshire opened #441 "Create the account: Address - users had questions about how they entered their address"
Impact: Users become frustrated at having to enter so much information for their address.
Evidence: “County? Why bother, it’s not needed for post?”
“Would be handy to have postcode lookup.”
“Why does it matter when you moved there?”

[2017-04-24 09:25] AbiBarkerOxfordshire opened #442 "Create the account: Passport/Driving Licence info - Users found the type of information they had to enter a bit difficult (not always sure which numbers to enter where)"
Impact: Users might make mistakes when entering the data.
Evidence: “Might be good to have a picture showing where the numbers are on a passport.”
“Numbers on passport are ambiguous, could be confusing.”
User struggles with the driving licence having two separate boxes for item 5 – ‘won’t let me type in a space and then 12’ ‘not obvious’.

[2017-04-24 09:26] AbiBarkerOxfordshire opened #443 "Bank account verification: Users were very uncomfortable with being asked to enter this information. They didn't understand why they needed to give the information for a parking permit."
Impact: Users may abandon Verify at this point.
Evidence: “Don’t see why my bank details are needed for a parking permit.”
“Go back to Verify to check options as not clear on bank account.”
“Better explanation needed – transitory information.”
“Haven’t been asked about bank account – maybe I missed it – would open a new window to check.”
“Don’t need to give you bank account, what I’ve given you is

[2017-04-24 09:27] AbiBarkerOxfordshire opened #444 "Identity test: Users had difficulty answering some of the questions"
Impact: Users are anxious that they will get questions wrong and will fail the test.
Evidence: “Don’t think I know the answer to that (personal mortgage).”
“Would probably go and have a look if at home – would worry that I’d get it wrong.”
“Causes me some anxiety (mobile phone contract).”
“What if I get it wrong? Would it kick me out?”
“Thinking quite hard about the mobile phone contract – in my n

[2017-04-24 09:28] AbiBarkerOxfordshire opened #445 "Identity test: Users were uncomfortable about the credit check aspect or were unclear as to why they were being asked the questions"
Impact: Users are might abandon Verify at this stage.
Evidence: “Increasingly uncomfortable.”
“Don’t feel comfortable about third-party credit check – have done credit checks myself before though.”
“When I apply for ID (passport) fine. Home Office should be doing this, not Barclay’s.”
“Makes me uncomfortable.”
“If a person was overdrawn, might be awkward.”
“Can’t see the relevance of when my accou

[2017-04-24 09:29] AbiBarkerOxfordshire opened #446 "Your identity has been verified: Users are unclear about what this means"
Impact: Users might be confused as to what they are going to do next.
Evidence: “I don’t understand what that’s for.”
“What is my Barclay’s identity account? Doesn’t give me anything.”
“It could say that I have registered perhaps?”

[2017-04-24 09:29] AbiBarkerOxfordshire opened #447 "Redirect back to LA: users are unclear about what is happening here"
Impact: Users might be confused as to what they are going to do next.
Evidence: “Not clear in my head the distinction.”
“One piece to me but it seems to be a handover.”
“Not immediately clear I was being redirected.”
“Should tell you that you will be redirected.”
“Not sure I understand from the bit before that’s what it was for (verify).”
“Do I need to verify my identity again?”
“‘Verified my iden

[2017-04-24 09:30] AbiBarkerOxfordshire opened #448 "Enter card details: Billing address - users are frustrated by having to repeatedly enter information"
Impact: Users might make mistakes as they become increasingly frustrated.
Evidence: “You know my address already, why do I have to enter a separate billing address?”
“You know my email address already.”
“Annoying I have to enter my address / email again.”
“Now it wants my account again!”

[2017-04-24 09:32] AbiBarkerOxfordshire opened #449 "Notifications: Users were frustrated at having to enter their email or telephone number again"
Impact: Users might make mistakes as they become increasingly frustrated.
Evidence: “You know my email address and telephone number, why do I have to type it again?”

[2017-04-24 09:33] AbiBarkerOxfordshire opened #450 "Users need to receive the renewal notification long before the permit expires"
Impact: Users might forget to renew their permit before is expires and then get a ticket.
Evidence: “Would like a reminder well in advance. Need enough time to renew.”
“Don’t remind in 12 months, that’s too late!”

[2017-04-24 09:33] AbiBarkerOxfordshire opened #451 "Application complete: Users were unclear that they had finished or what the reference number means"
Impact: Users are left feeling unsure they have successfully completed the process.
Evidence: “No payment successful screen.”
“Why do I want a reference number?”
“Payment confirmation – other online service end with this.”
“Want a payment receipt – would rather get this automatically than have to sign up for it.”

[2017-04-24 12:58] irinapencheva commented on #321
@sanjaypoyzer - just confirmed with Julian and this functionality should not be allowed at the end because it enables a huge risk vector. This applies for both concessionary travel and parking permits

[2017-04-24 15:21] suryanaga commented on #338
Yep, this is issue #303 and is still being worked on.

[2017-04-24 15:22] suryanaga commented on #321
@irinapencheva How is this a risk? I'm going to need more information than that as it's clearly a valid user need that we should meet.

[2017-04-24 15:34] suryanaga commented on #294
@lizziebruce Firstly, just a note that Camden aren't currently one of the Parking Permits service, but that's not a big issue.

So yeah, the idea behind the page is that it routes users to the right page no matter what their postcode is. However, there are more permits available to users as you mention that are not resident's parking permits, so the page should accommodate for that. I'll do a pull

[2017-04-24 15:46] lizziebruce commented on #332
@EUzkuraityte I suggest things that users will need to complete applications/transactions are listed out on first page of user journey. Similar issues #348 #356

[2017-04-24 15:48] lizziebruce commented on #360
Same issue addressed in #397 (despite different service)

[2017-04-24 16:16] lizziebruce commented on #356
@EUzkuraityte I suggest things that users will need to complete applications/transactions are listed out on first page of user journey. Similar issues #348 #332

[2017-04-24 16:17] lizziebruce commented on #348
@irinapencheva I suggest things that users will need to complete applications/transactions are listed out on first page of user journey. Similar issues #332 #356

[2017-04-24 16:18] irinapencheva commented on #321
@sanjaypoyzer - if a user can change their address after the application has been effectively processed, then there is no assurance for the service that they actually live at the address - i.e. I can apply for a permit to an address that fits the councils's eligibility criteria and then change it to anything and ultimately allow quite a lot of fraud.
@EUzkuraityte - is there anything you want to a

[2017-04-24 16:30] irinapencheva commented on #348
@lizziebruce - yes, sounds good! The only thing I'd be cautious is not listing too many things that users ultimately don't need to know (e.g. I'm not sure there needs to be a max. upload size specified prominently because for that demographic it could be more confusing; the size validation should happen in the back-end, and that should support high quality photographs as well)

@joanneSouthern - c

[2017-04-24 16:36] lizziebruce commented on #294
@sanjaypoyzer Oh sure. I'll use Argleton as the one to edit going forward.

In this case, it could be better for the content to say:

Before
"Check if you need a permit and if you are eligible to get one. ..."

After
"Check if you need a permit and if you're able to get one. ..."

The reason being that a) for some of the licences it isn't necessarily about eligibility, or it's a little odd to rela

[2017-04-24 16:40] lizziebruce commented on #348
@irinapencheva @petegale perhaps worth keeping in mind as a raised issue and record whether there are any more instances of users asking about size in UR?

[2017-04-24 16:45] lizziebruce opened #452 "Users need to know how the council will be storing their vehicle registration data"
*Sorry if I've assigned the wrong people! My first 'new issue' creation..*

Orvokki Lohikoski advised @sanjaypoyzer and @lizziebruce on 24/04 that there's a need to flag how councils are storing vehicle registration data. Particularly as this is also attribute exchange.

[2017-04-24 16:50] lizziebruce opened #453 "Privacy requirements – full details"
Orvokki Lohikoski advised @sanjaypoyzer and @lizziebruce on 24/04 that there's a need to flag how personal data is stored. Key information that the user may be concerned about should be contextualised in the on-page copy. Full details of all data storage should be accessible throughout the user journey, but it is ok to do this in a tradional way for example a footer link.

[2017-04-25 07:37] EUzkuraityte commented on #452
hI @lizziebruce I've changed the labels as this is a parking permit related item, also, this information is stored in the parking back office system together with the rest parking permit information.

Strictly speaking this isn't attribute exchange, as there isn't going to be a central hub. However, it doesn't mean we shouldn't connect to the personal data exchange team about user consent driven d

[2017-04-25 07:43] EUzkuraityte commented on #321
@irinapencheva @sanjaypoyzer agree with Irina's point. Julian and Alasdair also requested to review the prototypes so might be more issues they pick up on.

[2017-04-25 07:49] irinapencheva commented on #348
@lizziebruce - agreed, let's do that!

[2017-04-25 08:16] lizziebruce commented on #452
@EUzkuraityte thanks, of course, a parking issue (it was a long day!). That's all I would need to know re storage for the copy.

[2017-04-25 09:15] EUzkuraityte commented on #453
I think it's a duplicate of #41 so closing this one and copying this comment to the original issue

[2017-04-25 09:15] #453 closed, assigned to nobody

[2017-04-25 09:15] EUzkuraityte commented on #41
Further advice from Lizzie:
Orvokki Lohikoski advised @sanjaypoyzer and @lizziebruce on 24/04 that there's a need to flag how personal data is stored. Key information that the user may be concerned about should be contextualised in the on-page copy. Full details of all data storage should be accessible throughout the user journey, but it is ok to do this in a tradional way for example a footer lin

[2017-04-25 10:09] EUzkuraityte commented on #451
Duplicate of #237

[2017-04-25 10:09] #451 closed, assigned to nobody

[2017-04-25 10:10] EUzkuraityte commented on #237
UR evidence from Oxfordshire:
Impact: Users are left feeling unsure they have successfully completed the process.
Evidence: “No payment successful screen.”
“Why do I want a reference number?”
“Payment confirmation – other online service end with this.”
“Want a payment receipt – would rather get this automatically than have to sign up for it.”

[2017-04-25 10:11] suryanaga commented on #321
@irinapencheva But we still know who the user is. What is actually the fraud scenario we are protecting against here? I still haven't heard a convincing scenario.

[2017-04-25 10:17] suryanaga commented on #307
Closing this issue as covered in #395.

[2017-04-25 10:17] irinapencheva commented on #321
@sanjaypoyzer - yes, you might know who I am but then I can: 1. get verified with an address outside of the council 2. change to an address w/in council boundary 3. get confirmation that the pass is processed 4. change my address again at the confirmation page to my 'office address'
(and it really doesn't matter what kind of legal checkbox I've clicked)

Then I can order bus passes cards from +20

[2017-04-25 10:20] irinapencheva commented on #307
@sanjaypoyzer - I thought we have to close the issue that's latest if they're related. In this case issue #395 would be that.

Can you confirm what's the process and why we're not following it here?

[2017-04-25 10:20] EUzkuraityte commented on #450
Same issue as #331

[2017-04-25 10:21] EUzkuraityte commented on #331
Evidence from Oxfordshire:
Impact: Users might forget to renew their permit before is expires and then get a ticket.
Evidence: “Would like a reminder well in advance. Need enough time to renew.”
“Don’t remind in 12 months, that’s too late!”

[2017-04-25 10:43] suryanaga commented on #307
#395 is a pull request, not an issue (and it is merged)

[2017-04-25 10:43] #307 closed, assigned to nobody

[2017-04-25 13:08] petegale commented on #310
User research (concessionary travel r2) shows that **most** people notice this, but also that they object to re-keying address data.

[2017-04-25 13:17] petegale commented on #185
No longer seeing this issue in research. All users are now opting to be sent confirmation emails before the success page.

[2017-04-25 13:17] #185 closed, assigned to nobody

[2017-04-25 13:21] petegale commented on #346
None of the users thought they would have to have a photo professionally taken (CT R2)
Some were later told that they would need to go to a photo shop and objected to this.
Closing this issue for now.

[2017-04-25 13:21] #346 closed, assigned to nobody

[2017-04-25 13:22] #186 closed, assigned to nobody

[2017-04-25 13:23] #187 closed, assigned to nobody

[2017-04-25 13:23] #188 closed, assigned to nobody

[2017-04-25 13:24] #236 closed, assigned to nobody

[2017-04-25 13:25] irinapencheva commented on #310
@petegale do you think the latter part of this finding should be transformed into a new issue?

[2017-04-25 13:25] #194 closed, assigned to nobody

[2017-04-25 13:26] #196 closed, assigned to nobody

[2017-04-25 13:26] #193 closed, assigned to nobody

[2017-04-25 13:26] #192 closed, assigned to nobody

[2017-04-25 13:27] petegale commented on #310
Yes

[2017-04-26 09:20] lizziebruce opened #456 "Content changes"
Please see https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1b9rLsp0rQF199U4JLsZtNezuQR9kCI_U-hkHl6E3N6w/edit?usp=sharing for a holistic set of content fix recommendations to encourage less drop off through the user journey.

Multiple related content fix issues, including:
#454 #360 #356 #298 #332

[2017-04-26 10:16] irinapencheva commented on #415
Closing as this is covered by #303

[2017-04-26 10:16] #415 closed, assigned to nobody

[2017-04-26 10:16] irinapencheva commented on #303
As per issue #415 'User didn't realise that they'd still need to upload a photograph at the start of the Verify journey'

[2017-04-26 10:19] irinapencheva commented on #413
#426

[2017-04-26 10:21] irinapencheva commented on #426
Closing based on linked comment above

[2017-04-26 10:21] #426 closed, assigned to nobody

[2017-04-26 10:27] irinapencheva opened #457 "Users don't read service start page"
Most simply scan-read this page.

Users had little understanding of the validity of the pass at this point in the process.

Several also mentioned this as an information need at the end of the transaction.

[2017-04-26 10:27] irinapencheva commented on #457
Linked to #303 so closing

[2017-04-26 10:27] #457 closed, assigned to nobody

[2017-04-26 10:29] irinapencheva opened #458 "Users need to upload a photograph but were discouraged from the start and weren't sure they'd be able to do so"
Those that were aware of the need to upload a photo were discouraged by it.

Users did not think this would be something they would be able to do unassisted and may seek another channel to complete the transaction.

[2017-04-26 10:29] irinapencheva opened #459 "Users did not read below the green button."
Impact: Most users were poorly prepared for what would be required later in the process.

Evidence: Users were observed clicking the green button without reading any of the content below. Several users reported at later stages in the journey that they would rather have known what would be required at the beginning.

[2017-04-26 10:30] irinapencheva commented on #459
Closing as it's covered by #303

[2017-04-26 10:30] #459 closed, assigned to nobody

[2017-04-26 10:30] irinapencheva opened #460 "Users needed to find out if they're eligible but couldn't do so easily as they found the eligibility statement confusing"
Impact: Some were unsure if they could apply, and found the ‘Check pension age’ service confusing.

Evidence: Several users queried the statement referring to ‘female state pension age’ and those that used this link to check their eligibility were confused by the complexity of this service, and its focus on checking your pension.

[2017-04-26 10:33] irinapencheva opened #461 "Users wanted to choose the Verify route but thought they needed a Verify account in order to choose that route"
Requires a rework on the Verifying your identity page

[2017-04-26 10:33] irinapencheva opened #462 "Users do not understand the purpose of Verify as part of the transaction"
None of those we spoke to had a clear understanding of Verify and therefore the choice they were making at this point.

Some guessed from the name of ‘Verify’, but were still unsure.

[2017-04-26 10:35] irinapencheva opened #463 "Users didn't seem to care about how much faster they will receive their pass with the verified route"
None of those we spoke to mentioned the time difference as a factor in their choice.

It is worth noting that our recruitment criteria meant that none of those we spoke to thought of their bus pass as critical to their day-to-day life, as was seen with some users in discovery.

[2017-04-26 10:36] irinapencheva opened #464 "Users need to know what is meant by ‘identity questions’"
Impact: This caused some uncertainty in choosing Verify.

Evidence: Several users questioned the meaning of ‘identity questions’ at this point, yet still chose the ‘Verify’ option, primarily to avoid having to scan and upload documents.

[2017-04-26 10:37] irinapencheva opened #465 "Users did not understand the role of Verify in this context"
Impact: Without a clear understanding of the role of Verify, users struggled to see the value of this part of the interaction.

Evidence: Some users repeatedly questioned both the inclusion of identity providers and the questions they asked.

[2017-04-26 10:37] irinapencheva commented on #465
Some users found identity questions discouraging as they did not understand why they were being asked.

These users tended to try to match the questions with their expectations of the concessionary travel application, this caused uncertainty and reduced confidence.

For example, some questioned why they must provide bank details for a free pass.

[2017-04-26 10:41] irinapencheva opened #466 "Most users said they did have a (physical) photo, but never got a chance to use it."
This user journey confused users, as they were asked about a photo that seemed relevant, yet never given an opportunity to use it.

Some who were told to do to a photo store would abandon the process at that point.

Some tried to click back and find an alternate route.

[2017-04-26 10:42] irinapencheva opened #467 "Users need to be given the option to take a photo with a smartphone / tablet"
Some returned to this page and answered ‘yes’ hoping they might then be able to use the picture on their smartphone.

[2017-04-26 10:44] irinapencheva commented on #152
Evidence from latest round of UR still suggests users don't read the start page #459 and #457

[2017-04-26 10:46] irinapencheva commented on #167
Most have a clear understanding of what is acceptable. Users tend to scan the photo criteria and then assume that these are the same as those for a passport.

As a result, some additional criteria are assumed:
“No smiling”

![screen shot 2017-04-26 at 11 48 05](https://cloud.githubusercontent.com/assets/24913176/25430872/40d9e968-2a76-11e7-869f-7c911991150b.png)

[2017-04-26 10:50] irinapencheva opened #468 "Users need support with uploading photos"
Some users were unsure how to transfer a photo from the device used to their computer and sought help here through the link provided, or from a family member.

Some less experienced users were unsure how to select files from their computer for upload.
![screen shot 2017-04-26 at 11 50 19](https://cloud.githubusercontent.com/assets/24913176/25430965/8dd16188-2a76-11e7-9530-9637ee6fa3fc.png)

[2017-04-26 10:53] lizziebruce commented on #297
@EUzkuraityte should this maybe be labelled as a localised content issue as the content be different for each council?

[2017-04-26 10:53] irinapencheva opened #469 "Users needed to receive notifications but were frustrated at having to re-enter their contact details from Verify"
![screen shot 2017-04-26 at 11 53 12](https://cloud.githubusercontent.com/assets/24913176/25431074/f7b3d194-2a76-11e7-9f13-d8d7095babbd.png)
Though the fact that details were remembered on the second page improved this, it was still an issue for some.

[2017-04-26 10:55] irinapencheva opened #470 "Users wanted to print and keep the information on completion page but couldn't do so easily"
![screen shot 2017-04-26 at 11 55 09](https://cloud.githubusercontent.com/assets/24913176/25431139/3ede5aee-2a77-11e7-8f26-77f95519b758.png)
Some tried to find a print button on the page to allow them to do so.

[2017-04-26 10:55] lizziebruce commented on #313
@EUzkuraityte should this maybe be labelled as a localised content issue as the content will be different for each council?

[2017-04-26 10:57] irinapencheva commented on #179
#463 - findings from latest round of UR

[2017-04-26 10:59] irinapencheva opened #471 "Users need to understand that they can reuse their Verify account for other services, but couldn't at the end of the transaction. They thought they had spent too much time to just apply for a bus pass"
Those users had a more negative perception of the interaction, believing the effort required to be inconsistent with reward offered by the transaction.

Though users understood that this provided a high level of security, they did not understand the need for this security in the context of this transaction.
![screen shot 2017-04-26 at 11 58 59](https://cloud.githubusercontent.com/assets/24913176/2

[2017-04-26 11:01] irinapencheva opened #472 "At the end of the transaction, users still wanted to know more about exactly when and where they could use their passes but couldn't"
There was little or no recall of the information provided on the start page.

![screen shot 2017-04-26 at 11 58 59](https://cloud.githubusercontent.com/assets/24913176/25431334/09a3ea3c-2a78-11e7-9436-6540200ff8a8.png)

[2017-04-26 11:05] irinapencheva commented on #413
#465

[2017-04-26 11:05] irinapencheva commented on #465
Referenced as part of #413

[2017-04-26 11:05] #465 closed, assigned to nobody

[2017-04-26 11:09] irinapencheva commented on #347
#468

[2017-04-26 11:10] irinapencheva commented on #468
Closing as it's covered in #347

[2017-04-26 11:10] #468 closed, assigned to nobody

[2017-04-26 11:14] irinapencheva commented on #422
Linked to #413 which is main issue now so closing

[2017-04-26 11:18] irinapencheva commented on #413
Also linked to #462

[2017-04-26 11:18] irinapencheva commented on #462
Linked to #413 so closing this one

[2017-04-26 11:18] #462 closed, assigned to nobody

[2017-04-26 13:44] sanjaypoyzer commented on #471
![](https://github.trello.services/images/mini-trello-icon.png) [do users understand x?](https://trello.com/c/n1r2tf74/1-do-users-understand-x)

[2017-04-26 14:09] sanjaypoyzer commented on #337
![](https://github.trello.services/images/mini-trello-icon.png) [Can iPad / non-mouse users use the service without assistance?](https://trello.com/c/xTlU7rN1/3-can-ipad-non-mouse-users-use-the-service-without-assistance)

[2017-04-26 14:10] sanjaypoyzer commented on #320
![](https://github.trello.services/images/mini-trello-icon.png) [Can iPad / non-mouse users use the service without assistance?](https://trello.com/c/xTlU7rN1/3-can-ipad-non-mouse-users-use-the-service-without-assistance)

[2017-04-26 14:10] sanjaypoyzer commented on #320
![](https://github.trello.services/images/mini-trello-icon.png) [Can iPad / non-mouse users use the service without assistance?](https://trello.com/c/xTlU7rN1/3-can-ipad-non-mouse-users-use-the-service-without-assistance)

[2017-04-26 14:11] suryanaga commented on #335
![](https://github.trello.services/images/mini-trello-icon.png) [Confirm your address - do users read and choose correct address?](https://trello.com/c/CFzLP9Dt/4-confirm-your-address-do-users-read-and-choose-correct-address)

[2017-04-26 14:11] suryanaga commented on #335
![](https://github.trello.services/images/mini-trello-icon.png) [Confirm your address - do users read and choose correct address?](https://trello.com/c/CFzLP9Dt/4-confirm-your-address-do-users-read-and-choose-correct-address)

[2017-04-26 14:14] sanjaypoyzer commented on #264
![](https://github.trello.services/images/mini-trello-icon.png) [How do users respond to adding V5C information](https://trello.com/c/hH2ePH4t/6-how-do-users-respond-to-adding-v5c-information)

[2017-04-26 14:20] suryanaga commented on #306
![](https://github.trello.services/images/mini-trello-icon.png) [Is putting Verify in front of the application process going to cause higher dropout?](https://trello.com/c/kCO0ohKk/14-is-putting-verify-in-front-of-the-application-process-going-to-cause-higher-dropout)

[2017-04-26 15:43] lizziebruce commented on #237
@EUzkuraityte

This seems like 2 issues, 1. unsure if payment made and 2. wanting a receipt automatically. 2. would be technical functionality but for 1. suggest copy changes:

For the reference number query, a copy edit could help. I'll revisit this page!

[2017-04-26 16:18] suryanaga commented on #456
## Start page
 - [x] "support" -> "help"

## Check boundary page
 - [x] Remove "To check if you need a permit,"

## Resident's start page
 - [x] "Resident's parking permits cost" -> "A resident's parking permit costs"
 - [x]  "These permits allow" -> "This permit allows"
 - [x]  Remove link to postcode checker

### About your application
 - [x] "Each household..." -> "maximum 4 resident’s permits

[2017-04-28 09:06] ghost commented on #317
Issue is no longer valid!

[2017-04-28 09:06] #317 closed, assigned to nobody

[2017-04-28 09:10] irinapencheva commented on #147
Will close this issue as it's covered by #314 and other issues around photoupload including #458, #347

[2017-04-28 09:10] #147 closed, assigned to nobody

[2017-04-28 09:20] #279 closed, assigned to suryanaga

[2017-04-28 09:20] #428 closed, assigned to suryanaga

[2017-04-28 09:20] suryanaga commented on #428
Fixed by PR #454

[2017-04-28 09:37] suryanaga commented on #458
@irinapencheva @petegale

I'd like to get clarity on where in the journey we think this drop off happens for most users.

Do people need more reassurance on the start page that we'll help them uploading the photo?

Or do they not realise they'll need a photo until the start of the upload process, and then effectively drop off there?

Note: Let's continue to be clear that this issue is about the us

[2017-04-28 10:50] lizziebruce commented on #461
@irinapencheva is this from before the recent changes to Verifying your identity page (now retitled Checking your identity)? Screenshot here:

<img width="555" alt="ct 2" src="https://cloud.githubusercontent.com/assets/27814324/25525812/8d9280d8-2c08-11e7-90f6-f57046483174.png">

[2017-04-28 10:59] irinapencheva commented on #461
@lizziebruce - yes, that was just before the above change was implemented, so this is hopefully not as strong of an issue now. :)

You're probably on it, but this page should still be customised a bit for Con travel -changing from 'permits' to 'bus passes', adding the photo upload stuff, etc.

Do you think it's worth discussing whether it should be about 'checking your identity' or 'checking/provi

[2017-04-28 11:00] lizziebruce commented on #413
@irinapencheva Screenshot I've just added to #461 may also resolve almost all of the user quote issues listed at top... it's already been changed in the prototype. The only one it wouldn't is “of course I am over 20 it is an old person badge” which relates to Verify hub pages. I'm not directly involved with that but am feeding local issues with Verify hub through to @anthonylord regularly. The dev

[2017-04-28 11:04] irinapencheva commented on #413
@lizziebruce - yep, sounds great. Thanks for feeding into main Verify issues as well.

On this specific issue there is probably something about how the start page works as well and what's presented there about Verify  - at the moment almost nothing. This is linked to #303

[2017-04-28 11:19] lizziebruce commented on #461
@irinapencheva yes "permit" should've been changed to "bus pass" as per this screenshot below from just before we changed "identity" to "security". Not sure which issue I had uploaded that to!
Re photo upload, that is to do with the bus pass application, asked for when user comes back to council site, so I would put that on the first page rather than in Verify radio button content. Am looking into

[2017-04-28 11:32] lizziebruce commented on #413
@irinapencheva I will also add a line for the Start page to flag up that the Verify process could be a part of the application and identification docs may be needed... important to attempt to keep [Verify] separate from [Application] in people's minds though, in order to address the 'why do I need all this for a bus pass?' issue which came up a lot in UR. In actual fact they don't acutally need to

[2017-04-28 11:34] irinapencheva commented on #461
Great, sounds like a plan!

[2017-04-28 11:37] irinapencheva commented on #413
@lizziebruce - yep, fitting in with clearly creating that mental picture in people's mind of what will happen! And on service start page might be worth saying what GOV.UK Verify is. I've seen it other services as 'the new way to prove who you are online' or sth along those lines. Ant will have a good insight on that

[2017-04-28 11:50] lizziebruce commented on #461
@irinapencheva In fact this has already been addressed – shall we see if there is a positive improvement from this change to About the service? Also relevant for #413

<img width="246" alt="screen shot 2017-04-28 at 12 44 52" src="https://cloud.githubusercontent.com/assets/27814324/25527559/241d4fee-2c11-11e7-8697-b457246b785f.png">

[2017-04-28 11:54] lizziebruce commented on #413
@irinapencheva "prove who you are online" is good. I'm not sure we can say "the new way" anymore. Ant described Verify to me as 'a kind of online passport' which really clicked for me but unfortunately is too metaphorical to use in service copy.

[2017-04-28 12:17] irinapencheva commented on #413
@lizziebruce - agreed.. not new anymore, so happy with any wording you'd think would work

[2017-04-28 12:28] suryanaga commented on #466
I've ammended PR #334 so that the word 'digital' is included on the "You need a photo page" in the first sentence and in the question:

![screenshot-localhost-3000 2017-04-28 13-26-31](https://cloud.githubusercontent.com/assets/4106955/25528607/98249a14-2c16-11e7-922b-ee3638cb1988.png)

[2017-04-28 12:41] joanneSouthern commented on #375
we only offer a 12 month option

[2017-04-28 12:43] lizziebruce commented on #461
NB I also recommended changing 'About this service' to 'About your application' to test if this makes people more likely to read it.

[2017-04-28 12:54] lizziebruce commented on #413
@irinapencheva
Content redesign for Start page. Complements content redesign of pre-Verify page to embed the idea of needing to choose either Verify or docs scan from the very first page. Also flags need to upload a photo. This content has been moved above the Apply button to increase the liklihood of it getting noticed.

[2017-04-28 13:12] lizziebruce commented on #303
Content redesign of Start page. Content about the service/application has been moved above the Apply button to increase the liklihood of it getting noticed. Also made more concise and re-subtitled as 'About your application' for better engagement. Informs user they will need to upload photo.

[2017-04-28 13:32] suryanaga commented on #347
I'm going to find a place for some guidance which helps users through the process of uploading, kind of like the guidance for [connecting to GovWifi](https://www.gov.uk/government/collections/connect-to-govwifi). (ie With screenshots for the various operating systems a user could be using.)

[2017-04-28 14:05] irinapencheva opened #473 "Users need to be aware of the rules on the photograph retention but can't now"

[2017-04-28 14:11] suryanaga commented on #347
So I'm thinking something like this:

![screenshot-localhost-3000 2017-04-28 15-03-10](https://cloud.githubusercontent.com/assets/4106955/25532073/d99a68fe-2c23-11e7-8718-623390e84eb1.png)

It'll need a different image for Windows, ChromeOS, Android, and iOS users (and possibly slightly different text?), but we can fairly reliably use the browser's user agent to work out which image to display. We

[2017-04-28 15:52] lizziebruce commented on #461
#413 is a related issue with screenshot of content fix

[2017-04-28 16:23] lizziebruce commented on #460
Suggested content redesign of the Start page resolves this issue. It's based on the inclusion of a widget to check DOB/bus pass eligibility. This widget would mean there's no need to send the user to Check pension age GOV.UK page or refer to female state pension age.

[2017-04-28 16:25] lizziebruce commented on #464
"identity questions" has been replaced with "security questions" and tested well with PP users.

[2017-04-28 16:32] lizziebruce commented on #472
The content for the Application complete page has been revisited in the Content design review.

Specifically relevant here:

[2017-04-28 16:56] lizziebruce commented on #304
Coming to the content afresh, as a user I'd assume I needed to have one already.
As the photo has to meet set criteria it could cause frustration if a user went to the trouble of taking a new photo (and possibly also transferring to device) and then found out later in the journey it was unsuitable.

We could amend the 'About your application' section to the following – but it becomes a bit copy-he

[2017-04-28 16:57] lizziebruce commented on #348
Ice-boxing for now

[2017-04-28 17:26] lizziebruce commented on #360
Some changes made to copy for this page to make it more concise and therefore more engaging – but may need to move key info above the Apply button. As the copy is now more concise it wouldn't have to mean the Apply button is pushed too far down the page.

https://docs.google.com/document/d/1b9rLsp0rQF199U4JLsZtNezuQR9kCI_U-hkHl6E3N6w/edit#heading=h.r96wk8rljsr7

[2017-04-28 17:30] lizziebruce commented on #356
New copy with more detail:

https://docs.google.com/document/d/1b9rLsp0rQF199U4JLsZtNezuQR9kCI_U-hkHl6E3N6w/edit#heading=h.r96wk8rljsr7

[2017-04-28 17:52] lizziebruce commented on #332
We could add:

Might be worth considering a box in a consistent place on all local service applications Start pages, which would list out what you'll need. Something like:

<img width="298" alt="screen shot 2017-04-28 at 18 51 45" src="https://cloud.githubusercontent.com/assets/27814324/25540648/c6984436-2c43-11e7-8c03-5344af9ceec0.png">

[2017-05-02 09:06] irinapencheva commented on #458
@sanjaypoyzer - this  is about reassuring people from the start that we'll help and they'll probably be able to upload a photo

The issue about them not realising they'll need a photo until the start of the upload process is hopefully addressed now as part of the reworded "Verify your identity page"

[2017-05-02 09:08] suryanaga commented on #467
I think this is covered by #334

[2017-05-02 09:14] irinapencheva commented on #413
@lizziebruce - on the 1st point of 'About your application' do you think the issue about eligibility should also be mentioned?

Something along the lines of: "Identify yourself and prove your eligibility using ..."

[2017-05-02 09:21] irinapencheva commented on #464
@lizziebruce - happy to have this closed but do you / @petegale think there's benefit in keeping in mind for CT testing as well since it's different demographic who were a lot more concerned about privacy and security?

[2017-05-02 09:34] irinapencheva opened #474 "Users need to take selfie with a webcam but can't do so"
Build and test ability to test a photograph using in-built webcam on browser

[2017-05-02 09:34] irinapencheva commented on #474
#334

[2017-05-02 09:37] irinapencheva commented on #460
#94

[2017-05-02 09:40] irinapencheva commented on #348
@lizziebruce - I'll move as a ? to test in user research whether users have questions about the size of the photograph

[2017-05-02 09:42] #312 closed, assigned to nobody

[2017-05-02 09:47] suryanaga commented on #201
Closing this as a duplicate of #200

[2017-05-02 09:47] #201 closed, assigned to nobody

[2017-05-02 09:48] suryanaga commented on #346
This is a duplicate of #200

[2017-05-02 09:48] suryanaga commented on #423
Closing this as a duplicate of #200

[2017-05-02 09:48] #423 closed, assigned to nobody

[2017-05-02 09:52] irinapencheva commented on #304
Thanks @lizziebruce I'll close it now as it's linked to #303

[2017-05-02 09:52] #304 closed, assigned to nobody

[2017-05-02 11:58] suryanaga commented on #303
@lizziebruce @irinapencheva

We previously had the start button much lower on the page, and it didn't result in people reading the text more, they just got more confused about where they should click. For that reason I'm not sure we should move the button down there.

I also think this issue was created before the changes that were made in #397. The page is now a lot clearer overall, especially th

[2017-05-02 12:47] lizziebruce commented on #413
@irinapencheva is there a user need for adding "prove your eligibility"? Has anyone been asking why they have to identify themselves? If so "identify yourself and prove your eligibility" sounds good.

[2017-05-02 13:23] irinapencheva commented on #413
@lizziebruce - overall people don't seem to understand why they have to identify themselves and feel they're entitled to the pass (as seen in last round of UR), so thinking it might be worth testing overall comprehension of why they're going through Verify if the connection between proving identity and eligibility is more explicit

[2017-05-02 13:44] suryanaga commented on #460
For reference, here is the [state pension age table](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/310231/spa-timetable.pdf).

[2017-05-02 13:46] lizziebruce commented on #413
@irinapencheva sure, that makes sense. I edit the copy to reflect that. Also needs further adjusting as it is the first mention of Verify and there's no explanation of what Verify is. It may work better to just say answer security questions and not mention Verify here. (I showed people on the GDS design training this page and got some feedback re no explanation of Verify here too and it came up in

[2017-05-02 14:46] suryanaga commented on #413
I think taking the mention of Verify out of the start page could be a good idea because we don't have the space to properly explain it there.

Taking this back to the original issue of making sure users understand why Verify is being used, I agree with Lizzie that the changes made in #395 since this issue was created should hopefully solve the problems reported, so let's move this into "Recent cha

[2017-05-02 14:50] petegale commented on #413
@lizziebruce @sanjaypoyzer Just wanted to highlight a couple of things I've seen in the past that might be relevant.
1. In the past we've tried to avoid saying Verify is to let users prove who they are, as the inferred assumption is then that we don't actually trust our users. Instead we've tried to say things like 'Verify stops someone pretending to be you'
2. The other thing was about using the

[2017-05-02 14:52] petegale commented on #464
Happy to see this closed. If it's still a problem it will emerge in the next CT testing

[2017-05-02 15:35] irinapencheva commented on #413
@lizziebruce @sanjaypoyzer @petegale - could we take 5 mins tomorrow morning before the 9.30 standup to discuss this issue as it will be easier

[2017-05-02 15:43] lizziebruce commented on #413
@irinapencheva discussing sounds good!

[2017-05-02 16:09] #416 closed, assigned to nobody

[2017-05-02 16:09] suryanaga commented on #416
Way too general to be an issue - Can't be fixed

[2017-05-02 16:11] suryanaga commented on #463
This isn't a fixable issue, more of an insight

[2017-05-02 16:11] #463 closed, assigned to nobody

[2017-05-02 16:14] lizziebruce commented on #460
Here's the bus pass age calculator: https://www.gov.uk/state-pension-age/y/bus_pass You just enter your DOB, click Next step and the next screen tells you the date you can get a bus pass from. There are some conditions/localised variations, which could be covered in the service page copy. As it already exists perhaps the calculator code can be embedded?

[2017-05-02 16:49] #140 closed, assigned to nobody

[2017-05-03 11:17] EUzkuraityte opened #475 "Users need to know which permit they are applying for"
![screen shot 2017-05-03 at 12 16 19](https://cloud.githubusercontent.com/assets/20285115/25658387/83f6b044-2ffa-11e7-81e8-d35764b412f7.png)

[2017-05-03 11:22] EUzkuraityte commented on #475
similar to #294

[2017-05-03 11:23] EUzkuraityte commented on #300
![screen shot 2017-05-03 at 12 23 02](https://cloud.githubusercontent.com/assets/20285115/25658526/47e5323c-2ffb-11e7-9e74-e509a3eaa701.png)

[2017-05-03 11:46] EUzkuraityte opened #476 "Users need to know how long their permit will last"
![screen shot 2017-05-03 at 12 24 12](https://cloud.githubusercontent.com/assets/20285115/25659166/74938f4c-2ffe-11e7-8922-851c1785ef9e.png)

[2017-05-03 11:47] EUzkuraityte commented on #239
![screen shot 2017-05-03 at 12 47 35](https://cloud.githubusercontent.com/assets/20285115/25659231/b623f528-2ffe-11e7-8823-9ff03d42a617.png)

[2017-05-03 11:49] EUzkuraityte commented on #386
Duplicate of #239

[2017-05-03 11:49] #386 closed, assigned to nobody

[2017-05-03 11:50] EUzkuraityte commented on #293
Ok, happy to close it now

[2017-05-03 11:50] #293 closed, assigned to nobody

[2017-05-03 11:52] EUzkuraityte opened #477 "Users were unaware of temporary passes as a benefit to verified applications"
![screen shot 2017-05-03 at 12 51 13](https://cloud.githubusercontent.com/assets/20285115/25659349/4d48273a-2fff-11e7-81f1-0b6089551313.png)

[2017-05-03 11:53] EUzkuraityte commented on #45
![screen shot 2017-05-03 at 12 52 52](https://cloud.githubusercontent.com/assets/20285115/25659388/73329f02-2fff-11e7-803a-7fad329487e4.png)

[2017-05-03 11:56] EUzkuraityte opened #478 "The inclusion of certified companies increased uncertainty and reduced confidence"
![screen shot 2017-05-03 at 12 55 52](https://cloud.githubusercontent.com/assets/20285115/25659473/dd3df126-2fff-11e7-9760-24c13cdfed27.png)

[2017-05-03 11:57] EUzkuraityte opened #479 "One user interpreted the document list as being all the documents they would need."
![screen shot 2017-05-03 at 12 56 39](https://cloud.githubusercontent.com/assets/20285115/25659515/07de45fc-3000-11e7-9ad4-955127981b02.png)

[2017-05-03 13:29] EUzkuraityte opened #480 "For less digitally skilled users there was only one viable option to get verified with LOA1"
![screen shot 2017-05-03 at 14 28 22](https://cloud.githubusercontent.com/assets/20285115/25662555/dd8f8bc8-300c-11e7-98ca-f7184310932e.png)

[2017-05-03 13:30] EUzkuraityte opened #481 "Less digitally skilled users struggled to understand the relevance of LOA1 questions to a parking permit application."
![screen shot 2017-05-03 at 14 29 45](https://cloud.githubusercontent.com/assets/20285115/25662595/fdeea89a-300c-11e7-9a75-5e75501632d1.png)

[2017-05-03 13:31] EUzkuraityte opened #482 "Some questioned the security that could be provided by a single identity question"
![screen shot 2017-05-03 at 14 30 46](https://cloud.githubusercontent.com/assets/20285115/25662648/2bb1e2a6-300d-11e7-8609-472df6c4c8d9.png)

[2017-05-03 14:08] EUzkuraityte opened #483 "Research question: To what extent does Verify at LOA1 present a barrier to users?"
![screen shot 2017-05-03 at 15 08 18](https://cloud.githubusercontent.com/assets/20285115/25664386/5dc50c6e-3012-11e7-824a-0bc0f0d4b4ee.png)

[2017-05-03 14:10] EUzkuraityte commented on #292
![screen shot 2017-05-03 at 15 09 42](https://cloud.githubusercontent.com/assets/20285115/25664470/946bd770-3012-11e7-89a1-6d1af821d8b6.png)

[2017-05-03 14:11] EUzkuraityte opened #484 "Research question: Can tablet users complete the service without assistance?"
![screen shot 2017-05-03 at 15 10 38](https://cloud.githubusercontent.com/assets/20285115/25664527/c8ea297a-3012-11e7-93b2-16b4c0a62171.png)

[2017-05-03 14:12] EUzkuraityte commented on #292
![screen shot 2017-05-03 at 15 11 50](https://cloud.githubusercontent.com/assets/20285115/25664566/ea07d436-3012-11e7-8022-c4c93a05e7f4.png)

[2017-05-04 09:22] irinapencheva commented on #369
@lizziebruce - worth considering if there's anything we could mentioned on the pages before Verify

[2017-05-04 09:25] irinapencheva commented on #425
User expected a button at the bottom of the Application page to say it had been completed

[2017-05-04 09:34] irinapencheva commented on #421
@lizziebruce - also linked to #369 - is there anything in the journey before Verify that we can include to suggest users might need to provide details of their identity, download apps, etc?

[2017-05-04 09:46] irinapencheva commented on #473
This needs input from the privacy expert

[2017-05-04 09:49] irinapencheva commented on #94
Closing this issue as it's referenced in #460

[2017-05-04 09:49] #94 closed, assigned to nobody

[2017-05-04 10:04] irinapencheva commented on #464
In order to make sure we track this , I'll reopen this issue but move it to the column 'Recent changes have been made. Are we still seeing this in research?'

[2017-05-04 10:32] suryanaga commented on #321
@irinapencheva Suggest changing the title of this to "Users need to provide an address that's different from their verified address so that they can receive their permit/pass "

[2017-05-04 10:33] suryanaga commented on #471
@irinapencheva Suggest title change to "Users need to understand that they can reuse their Verify account for other services"

[2017-05-04 10:36] suryanaga commented on #469
@irinapencheva Considering the information gets passed between the two screens, I'm not sure what this has to do with users needing both confirmation and reminder messages?

[2017-05-04 11:25] irinapencheva commented on #469
This is literally what we observed in User Research so could discuss if we just deprioritise it as an issue, but I think it should be captured.

[2017-05-04 11:28] irinapencheva commented on #471
@sanjaypoyzer - ok, will change the first bit, but also think it's worth keeping the flag that they thought it takes too long for a ConTravel service. Unless you want to split that second part as a separate issue

[2017-05-04 11:33] irinapencheva commented on #321
@sanjaypoyzer - again I'm not sure we saw this as a user need from any previous user research at this stage of the transaction (i.e the end of the transaction). Let's discuss in person

I will discuss this with Julian in more detail and will share with you everything we capture around whether it's is a fraud risks

[2017-05-04 11:56] suryanaga commented on #471
@irinapencheva I think that's a separate, but related issue.

@petegale Would you agree?

[2017-05-04 11:57] suryanaga commented on #321
@irinapencheva Whether or not we've seen it in research, it's the assumed underlying user need that this issue is about

[2017-05-04 12:58] irinapencheva commented on #321
OK, will rephrase if that makes more sense although that's not an observed UR.
For the record the issue is currently:

'Users are allowed to provide a different address at the end of the application but this might present a significant fraud risk'

[2017-05-04 14:44] suryanaga commented on #474
Just for clarification, this feature is for desktop users who have a webcam in, or connected to, their computer to be able to take a photo without leaving their browser.

[2017-05-04 15:36] suryanaga commented on #300
This issue is currently blocked until #224 is done

[2017-05-04 15:48] suryanaga commented on #143
I'm going to close this issue as people are pretty consistently choosing Verify in research now.

[2017-05-04 15:48] #143 closed, assigned to nobody

[2017-05-04 15:56] #233 closed, assigned to nobody

[2017-05-04 15:59] suryanaga commented on #298
Closing this as it doesn't say "claim your permit" anymore

[2017-05-04 15:59] #298 closed, assigned to nobody

[2017-05-04 16:01] suryanaga commented on #235
Retitled this to be a lot more general, but we can link other issues to it if appropriate.

[2017-05-04 16:09] suryanaga commented on #280
Same as #280 but for parking permits

[2017-05-04 16:10] #208 closed, assigned to kaydale

[2017-05-04 16:16] suryanaga commented on #404
Closing this as it doesn't seem like an issue or explain what went wrong

[2017-05-04 16:16] #404 closed, assigned to nobody

[2017-05-04 16:16] suryanaga commented on #405
This isn't a problem, users don't need to install apps to go through Verify

[2017-05-04 16:16] #405 closed, assigned to nobody

[2017-05-04 16:21] suryanaga commented on #331
@EUzkuraityte This feels like it's specific to renewals which I think is currently out of scope

[2017-05-04 16:25] suryanaga commented on #329
Duplicate of #294

[2017-05-04 16:25] #329 closed, assigned to nobody

[2017-05-04 16:26] suryanaga commented on #394
Covered in #224

[2017-05-04 16:26] #394 closed, assigned to nobody

[2017-05-05 10:10] lizziebruce commented on #313
@EUzkuraityte Suggested copy to cover this:

Start page

[2017-05-05 10:29] lizziebruce commented on #297
@EUzkuraityte If it's a council that offers the first permit free, suggest this copy is included:

Could we do A/B variation user testing where if users didn't understand that they are given this longer copy?

[2017-05-05 10:54] ingasiler commented on #478
Similar to #230

[2017-05-05 11:13] ingasiler opened #485 "What issues do users encounter when adding a scanned V5C?"
![screen shot 2017-05-05 at 12 18 32](https://cloud.githubusercontent.com/assets/19390851/25743620/1d8fcf36-318d-11e7-8afb-778c9b23a53a.png)

[2017-05-05 11:21] #485 closed, assigned to nobody

[2017-05-05 11:31] ingasiler commented on #292
![image](https://cloud.githubusercontent.com/assets/19390851/25743882/b848acf4-318e-11e7-9087-c4090bc075a5.png)

[2017-05-05 12:01] ingasiler commented on #331
![image](https://cloud.githubusercontent.com/assets/19390851/25744633/e136f946-3192-11e7-8f7e-1fea5de4110d.png)

[2017-05-05 12:05] ingasiler commented on #205
![image](https://cloud.githubusercontent.com/assets/19390851/25744782/8a1ce340-3193-11e7-9ca5-797d5fc0b19d.png)

[2017-05-05 12:07] ingasiler commented on #148
![image](https://cloud.githubusercontent.com/assets/19390851/25744831/c348b428-3193-11e7-862b-7c0895ba17a5.png)

[2017-05-05 12:13] ingasiler opened #486 "Users chose the same settings for both confirmation and reminder emails"
![image](https://cloud.githubusercontent.com/assets/19390851/25744960/8e141814-3194-11e7-9754-98e7ccc330bf.png)

[2017-05-05 12:16] ingasiler commented on #486
Link to #449

[2017-05-05 12:33] ingasiler commented on #477
![image](https://cloud.githubusercontent.com/assets/19390851/25745579/7344c17a-3197-11e7-890c-5af2cbe25e2d.png)

[2017-05-05 12:35] ingasiler commented on #238
![image](https://cloud.githubusercontent.com/assets/19390851/25745611/a2388d36-3197-11e7-947e-72517d892d1c.png)

[2017-05-05 12:35] ingasiler commented on #477
related to #238

[2017-05-05 12:37] ingasiler commented on #239
![image](https://cloud.githubusercontent.com/assets/19390851/25745660/f5253aa8-3197-11e7-82f6-dbfd9a357e95.png)

[2017-05-05 12:39] ingasiler commented on #296
![image](https://cloud.githubusercontent.com/assets/19390851/25745717/32e18fc2-3198-11e7-9b49-ac0822ae6f6e.png)

[2017-05-05 14:03] ingasiler commented on #224
![image](https://cloud.githubusercontent.com/assets/19390851/25748735/0833d06c-31a4-11e7-9133-ba7781ddc994.png)

[2017-05-05 14:05] ingasiler commented on #300
![image](https://cloud.githubusercontent.com/assets/19390851/25748791/49e35302-31a4-11e7-9240-71bb25c2804b.png)

[2017-05-05 14:06] ingasiler commented on #224
Users need to get visitors (guests) permits in the same transaction as resident's permits #300

[2017-05-05 14:08] #358 closed, assigned to nobody

[2017-05-05 14:23] ingasiler commented on #483
For less digitally skilled users there was only one viable option to get verified with LOA1 #480

[2017-05-05 14:24] ingasiler commented on #292
![image](https://cloud.githubusercontent.com/assets/19390851/25749584/f15e0b20-31a6-11e7-9670-88d08524164a.png)

[2017-05-05 14:26] ingasiler commented on #239
![image](https://cloud.githubusercontent.com/assets/19390851/25749661/36cd3726-31a7-11e7-8018-a943572caa10.png)

[2017-05-05 14:29] ingasiler commented on #226
Users need to know where their permit would allow them to park #239

[2017-05-05 15:48] lizziebruce commented on #297
This issue is related to #313

[2017-05-05 16:09] ingasiler commented on #482
Link to #481

[2017-05-05 16:13] ingasiler commented on #400
Link to #410

[2017-05-05 16:16] ingasiler commented on #372
Link to #400

[2017-05-08 07:55] EUzkuraityte commented on #313
@lizziebruce

The cost of your permit will depend on:

number of permits already issued for your property
which parking zone you live ~~or work in~~
permit length
~~payment method (??)~~
~~number of people in your household~~ if this relates to HMO properties, I'd rather use the term HMO and link to an explanation, as it's not just the number of people in a household that determine if a property i

[2017-05-08 07:58] EUzkuraityte opened #487 "Which advice is better understood by users re: free 1st permit for household?"
A/B testing required to come up with a final version

Could we do A/B variation user testing where if users didn't understand that they are given this longer copy?

[2017-05-08 07:58] EUzkuraityte commented on #297
@lizziebruce sounds good to me! I've added a user research question #487 so we can test in during the next round of UR both versions and find out to which one users respond better.

[2017-05-08 09:14] lizziebruce commented on #288
@EUzkuraityte @sanjaypoyzer this would make the start page even busier... But more importantly, should this not be in a separate place e.g. My account? These are different tasks from Apply for a parking permit.

[2017-05-08 09:46] lizziebruce commented on #313
@EUzkuraityte

I want to leave 'your medical condition' in the list of things the cost depends on as to leave it out is inaccurate.

[2017-05-08 10:28] suryanaga commented on #288
@lizziebruce This is for people who have come to this page to change their permit details or cancel their permit. They should be separate services which are linked to from this page because people might end up on this page and then wonder where they need to go to do these things.

[2017-05-08 10:33] suryanaga commented on #239
We think that when #226 is closed, this one should be solved, so will close this issue as a duplicate and reopen if it's seen again.

[2017-05-08 10:33] #239 closed, assigned to lizziebruce

[2017-05-08 11:11] lizziebruce commented on #294
@EUzkuraityte copy for content fix below. I'll put this into a pull request if everyone's happy. @sanjaypoyzer

[2017-05-08 11:29] EUzkuraityte commented on #294
@lizziebruce looks good, though should it be 'types of permits'? - though maybe not.. I'm not sure and will accept your current version if you think it's correct!

[2017-05-08 11:34] lizziebruce commented on #41
@EUzkuraityte @sanjaypoyzer

2 things I can see here:

1. councils need to have a privacy policy to link to (council's own, following [Verify principles](https://identityassurance.blog.gov.uk/2015/09/11/gov-uk-verify-identity-assurance-principles/), possibly extra content around photo uploading/any retention for renewals if agreed on)
2. data use to be flagged contextually through journey

1 > cou

[2017-05-08 11:38] EUzkuraityte commented on #41
@lizziebruce @sanjaypoyzer yup, I think there isn't any content here that needs fixing, however, as Lizzie mentioned we need to add in those links throughout the journey as required

[2017-05-08 11:38] lizziebruce commented on #332
@EUzkuraityte @sanjaypoyzer if people are happy with the content suggestions above I'll make this a pull request. Sanjay, what do you think about the box idea?

[2017-05-08 11:42] EUzkuraityte commented on #332
@lizziebruce happy to try this out! the only thing would be is take off V5C reference, as the common prototype will not require users to prove their link to the car.

[2017-05-08 11:59] lizziebruce commented on #356
@EUzkuraityte @sanjaypoyzer will create a pull request with new copy above ^^^

[2017-05-08 12:03] EUzkuraityte commented on #313
@lizziebruce we can ignore the 'other' category, Cambridge just confirmed that 'medical permits' are actually visitors permits, not residential ones.
Screenshot:
![pasted image at 2017_05_08 02_05 pm](https://cloud.githubusercontent.com/assets/20285115/25807377/8866c602-33fe-11e7-98d1-378973e7a45d.png)

Added is a screenshot for LA answers re: free residential permits.

![screen shot 2017-05-08 at

[2017-05-08 12:13] lizziebruce commented on #262
@EUzkuraityte @sanjaypoyzer wouldn't this be determined by the postcode checker? We could add a line to the 'Check boundary' page to say the following IF prices differ per boundary for that council:

[2017-05-08 12:28] lizziebruce commented on #294
@EUzkuraityte thanks. Countable nouns can be singular or plural after 'types of'. The wording flows better with singular in this example.

[2017-05-08 12:31] lizziebruce commented on #332
@EUzkuraityte @sanjaypoyzer can we do the IF rule here? So that **if** the council **does** require V5C then this **will show** in the docs required list? As user need was to know everything they needed upfront.

[2017-05-08 12:36] lizziebruce commented on #41
@EUzkuraityte @sanjaypoyzer this would be in the council website footer which would automatically show at bottom of all their website pages. Councils should already have this in place. I think it's a legal requirement. So it's more an education piece to ensure council's existing privacy policy follows Verify principles. Perhaps we could add privacy policy as a link in the footer of the prototype t

[2017-05-08 13:46] suryanaga commented on #262
Ah yes, I should have said with this - Oxfordshire have said they can't lookup their boundaries. I think this needs to be looked into though, as having this as a manual lookup that the user needs to do would not be good at all. cc @EUzkuraityte

[2017-05-08 13:46] lizziebruce commented on #458
@irinapencheva @sanjaypoyzer

Content fix:

Below is the content fix in context of other fixes for the Start page from my [CD review](https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1e9XkmzaWnWnm9Xa21vovx7Tm-p7shateiultu78ZBBA/edit?usp=sharing)

But perhaps we should also consider putting About your application content on its own on the next page, so that people are more likely

[2017-05-08 13:51] suryanaga commented on #332
@lizziebruce Yes, we'll only show the reference to V5C if it's a council that requires it.

Re: The box - Things like that can get over-used really quickly, so best to keep them out if at all possible. In any case, this issue is about users need to know that they'll need their registration number. Let's add that to the list of things they need on the start page, and work out how to make sure users

[2017-05-08 13:53] lizziebruce commented on #262
@sanjaypoyzer @EUzkuraityte hmmm. do they not know their parking zone boundaries by postcode? how do they determine what to charge people? is it done visually e.g. with boundaries drawn on maps? if so can we provide high res jpegs of the maps (or is that what you mean by manual look up..) Agree not ideal. A list of postcodes and what boundaries they are in would be better.

[2017-05-08 13:55] lizziebruce commented on #332
@sanjaypoyzer so I'll put this in a pull request – and ask you to add the rule around shows IF... for V5C.

[2017-05-08 13:57] suryanaga commented on #458
@lizziebruce Yeah! I really like that line and I think it will help. I was trying to think of something like that but couldn't.

[2017-05-08 14:05] irinapencheva commented on #458
@lizziebruce - I also really like pt 2 (maybe just removing the word 'clear' as discussed).

I also would like to test splitting the page into 2 and see whether users read 'About your application' section if it's on a separate page.

[2017-05-08 14:50] EUzkuraityte commented on #262
@lizziebruce @sanjaypoyzer I know bucks are in a similar position, they don't know their boundaries but are looking into getting this information. I agree with Lizzie, post code lookup should be able to provide this information. I have a catch up with them on Wed, will try to figure out what exactly seems to be the issue here and what can be done

[2017-05-08 15:20] EUzkuraityte opened #490 "User needs to get multiple permits (with pre-existing permits in the household)"
Extension from #284

Add in logic that allows price calculation for multiple permits when there are existing permits associated with the users' household

[2017-05-09 10:01] irinapencheva opened #491 "Users wanted more information about the documents referred to on the start page [in the upload documents path], but were unable to find enough information about that"
“If I’m going to need any documents, I’d like to know what they are now, so I’m ready”

[2017-05-09 10:01] EUzkuraityte commented on #211
LA responses to unverified address Q (We previously shared with you the Changes of Address Guidance document. Please specify in the box below your service design approach to handling cases of an unverified address available and passed by the IDP):

- We intend to handle the new unverified address and advise the user that providing false information may result in court action. Also, we post the par

[2017-05-09 10:02] irinapencheva opened #492 "Users weren't familiar with Verify so chose it but didn't understand what it is"
None of the participants were familiar with GOV.UK Verify, though they all nevertheless proceeded with the Verify path [Medium]
“Never heard of Verify, don’t know what it is”
“You haven’t explained what Verify is to me”
“This says it’s quicker, so I’ll use it if I can”

[2017-05-09 10:06] irinapencheva opened #493 "Users didn't understand why they're going through Verify when they only wanted a bus pass"
“‘Fight the growing problem of identity theft’ – what kind of language is that? I just want a bus pass”

[2017-05-09 10:06] suryanaga commented on #211
So when grouped together, the options are:

 - Accept with disclaimer
 - Verify with V5
 - Issue 3 month permit

The first two things are already in the prototype, so I'll just add an option for the issuing 3 month permits.

[2017-05-09 10:08] irinapencheva opened #494 "User wasn't sure they could install apps and thought they'd be worse off but thought that with assistance they'd be able to"
One user was concerned that they would be worse off if they couldn’t install apps
“For ‘don’t know’ – could they include advice? Because maybe I could do it with assistance”

[2017-05-09 10:08] joanneSouthern commented on #211
#Northumberland, we wouldn't issue a 3 month permit

[2017-05-09 10:10] suryanaga commented on #211
@joanneSouthern - That list is a list of options that each council can turn on in the prototype individually.

[2017-05-09 10:10] irinapencheva opened #495 "Users choose identity providers because they had to but they didn't really understand how IDPs vary and what the choices mean"
“I’m going to choose a bank [Barclays], as they’re more secure”
“I picked that because it was the top result”
“I feel most comfortable with the Post Office”

[2017-05-09 10:21] EUzkuraityte commented on #225
link to #429

[2017-05-09 10:55] lizziebruce commented on #294
@EUzkuraityte @sanjaypoyzer
Understanding now that the [Journey start page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/start-page)  will route some users off to e.g. business and trade parking permits, I was about to open an issue with a similar title to this one.

Before
![screen shot 2017-05-09 at 11 38 18](https://cloud.githubusercontent.com/asse

[2017-05-09 10:59] EUzkuraityte commented on #331
@sanjaypoyzer this is for renewals (and you're right, this is currently out of scope)
I'm going to re-open #450 as this is part of the 1st application process

[2017-05-09 11:39] EUzkuraityte commented on #294
@lizziebruce @sanjaypoyzer your proposed copy looks good to me. I think Sanjay said it would take up  a lot of time and not really worth doing the sketch, but I'll give it a go at the end of the day! I think it would definitely help visualise the process

[2017-05-09 12:16] EUzkuraityte opened #497 "Users need to understand what "As soon as possible" means"
![image](https://cloud.githubusercontent.com/assets/20285115/25850283/a397323e-34b9-11e7-9841-d34809353a21.png)

[2017-05-09 12:27] EUzkuraityte commented on #264
Council responses for acceptable alternatives are here: https://docs.google.com/a/digital.cabinet-office.gov.uk/forms/d/1kWxmTCf9zXDHvYpTidcoMAajW-MhlS2gRAAz0Qk_4P0/edit#responses

We recommend in the prototype no doc upload and will issue guidance on acceptable doc upload alternatives.

[2017-05-09 12:53] EUzkuraityte commented on #427
resolved by #294

[2017-05-09 12:53] #427 closed, assigned to nobody

[2017-05-09 12:55] irinapencheva opened #498 "Users have to answer identity questions but they weren't sure they'd know the answers to those"
Users were concerned they might fail the identity test despite being legitimate users [Medium]
“I can’t remember when I moved in”.
“I wouldn’t know when I last took out a mobile phone contract. I’d just have to guess”

[2017-05-09 12:57] #449 closed, assigned to nobody

[2017-05-09 12:57] irinapencheva opened #499 "Users had to go through verify to get a bus pass but felt frustrated as they had to sacrifice a lot of privacy"
Users were concerned about the level of privacy they had to sacrifice for the bus pass
“I don’t like the sound of giving temporary access to my credit record to the Post Office”
“I’m getting a bit pissed off. All this talk of identity theft and I’m here entering a lot of my personal information on this website”

[2017-05-09 12:57] EUzkuraityte commented on #486
evidence form Oxford:

Impact: Users might make mistakes as they become increasingly frustrated.
Evidence: “You know my email address and telephone number, why do I have to type it again?”

[2017-05-09 12:59] irinapencheva opened #500 "Users had to upload a photo, but felt unable to proceed once they got to the photo upload section and sought assistance from the ‘help’ links"
“This gets me worried – I ain’t got a photo”.
“I’d have to abandon this and start again on my PC, where I have a scanner. I can’t get my photos on to the phone, as far as I’m aware.”
“Would have been good to know [that I’m going to need to upload a photo] in advance.”
“I wanted to see the steps for this”

[2017-05-09 13:01] irinapencheva opened #501 "Users had to take a digital photo and upload it on the device, but couldn't do so without support because they were unsure of definitions of ‘computer’, ‘device’ and ‘camera’"
“I’m not on my computer, I’m on my phone” [in response to ‘Is your photo on this computer?’]
“I don’t think of my phone as a ‘digital camera’. It’s a phone. A camera is a camera.” [in response to ‘Do you have a digital camera?’]

[2017-05-09 13:02] irinapencheva commented on #501
One user realised retrospectively that using their mobile device to upload a photograph was something they did on social media [Insight]
In the post-interview discussion one user ‘clicked’ that the process was analogous to how they use the image gallery on their phone to upload family pictures to Facebook – realising retrospectively that it might have been possible to continue with the bus pass ap

[2017-05-09 13:13] sanjaypoyzer commented on #450
@EUzkuraityte Not sure how this different to #331?

[2017-05-09 13:17] suryanaga commented on #450
Need to explore how much time is enough time to renew here. 30 days seems reasonable to me.

[2017-05-09 13:22] irinapencheva opened #502 "User wanted to an example photo to confirm their photo fits the criteria but couldn't do so because they didn’t realise that the example photo was on the confirmation page"
(as it comes after the ‘Next’ button and was below the fold on the laptop screen used for testing)
“Be handy to have the example here for comparison [to check that it’s a valid photo]”

[2017-05-09 13:24] irinapencheva opened #503 "Users wanted to be able to retain the content on the confirmation page about using their pass but couldn't"
“Will the ‘about your pass’ content be included in the email confirmation?”

[2017-05-09 13:24] EUzkuraityte commented on #448
duplicate of #148

[2017-05-09 13:24] #448 closed, assigned to nobody

[2017-05-09 13:25] irinapencheva commented on #499
All users considered the effort to have been disproportionate for the service [Major]
“I don’t see the necessity of doing all this just for a bus pass. Maybe if it was a passport.”
“They really want me to work for getting my ‘free’ pass”

[2017-05-09 13:25] EUzkuraityte commented on #148
Evidence from Oxfordshire:

Impact: Users might make mistakes as they become increasingly frustrated.
Evidence: “You know my address already, why do I have to enter a separate billing address?”
“You know my email address already.”
“Annoying I have to enter my address / email again.”
“Now it wants my account again!”

[2017-05-09 13:28] irinapencheva opened #504 "Users lacked a clear mental model of how GOV.UK Verify works"
“If Barclays verifies my identity to Camden, I don’t understand what part Verify plays in this.”
“I’m not sure who did what, or who I gave information to”

[2017-05-09 13:48] lizziebruce commented on #294
@EUzkuraityte re #427 I would keep the copy on Check if you need a permit page as it now is i.e. 'the postcode of the area you want to park in' as this is the routing page – if they put in a trade address they will be given the option of a business and trade permit – right?
Yes a sketch would be useful! I think you mentioned you would do it and ask Sanjay to check over it.

[2017-05-09 15:43] EUzkuraityte opened #507 "Bug in the success page telling users they have not signed up for notifications"
![screen shot 2017-05-09 at 16 40 45](https://cloud.githubusercontent.com/assets/20285115/25859473/8c985f46-34d6-11e7-9c12-866204fe157f.png)

[2017-05-09 17:10] lizziebruce commented on #313
@sanjaypoyzer @EUzkuraityte copy redesign of resident's start page to include all the things users wanted to see at the start. Some local variant copy would disappear depending on council.

![screen shot 2017-05-09 at 18 04 14](https://cloud.githubusercontent.com/assets/27814324/25863168/a8a9ad64-34e2-11e7-95be-e05645ca0e71.png)

[2017-05-10 08:06] EUzkuraityte commented on #313
Hi @lizziebruce many thanks for doing this, it looks alright, just needs a few things fixing. It's difficult for me to review this section as I don't know which bits would be displayed at once and which wouldn't so I'm making some assumptions here. Do let me know where they're correct / incorrect.

Suggested fixes:
1 - temporary permits are a benefit of using the GOV.UK Verify route, it's not some

[2017-05-10 08:13] EUzkuraityte commented on #313
'Other ways to apply' section fixes are listed in #311

[2017-05-10 08:21] lizziebruce commented on #313
@EUzkuraityte V5C reference, eco car and 6 month permit reference would disappear locally. However, as you have oversight of council differentiations shouldn't you know by sight which should disappear from your own knowledge?
1 I was not aware of that at all. Please include this on the user journey sketch I've requested.
2a Why do you suggest a content change and then say it is my call? I recommen

[2017-05-10 09:24] irinapencheva opened #508 "Users were told the process is secure but were unsure of how secure the Verify is"
“I’m concerned about whether it’s a legitimate website” [user with experience of a scam bank website in the past]
“I’m not sure about giving details for something I’ve never heard of. Since I was on the council site I think it’s okay to trust.”
“I would prefer to give the proof [by uploading scanned documents]. I don’t like giving my bank account details out”.

[2017-05-10 09:27] irinapencheva opened #509 "Users needed to create an identity account but weren’t sure of its value and didn't understand it had accelerated their current application processing time"
“Not sure how it would be useful in future. I don’t know what else I would use it for.”
“Maybe. I’d have to remember what it is.”
“Well, if I have to fill out another form, my bank can verify me, which is good.”

[2017-05-10 09:43] irinapencheva commented on #492
Linked to #413 so closing it but also should be noted that some users selected this route as it's quicker

[2017-05-10 09:43] #492 closed, assigned to nobody

[2017-05-10 09:45] irinapencheva commented on #493
Also linked to #413

[2017-05-10 09:48] EUzkuraityte commented on #313
Hi @lizziebruce

Many thanks for the explanation, I've opened a question for user research to confirm user understanding for 3 (see #510)

Don't worry about capturing all possible versions of pricing details. As long as we have a working version we can test with for one scenario (in this case is a single price for all parking zones in the council) - it's good enough; and a zoned parking version ca

[2017-05-10 09:49] irinapencheva commented on #494
Linked to #369 so closing this one

[2017-05-10 09:49] #494 closed, assigned to nobody

[2017-05-10 09:52] irinapencheva commented on #495
Linked to #417 so closing this one

[2017-05-10 09:52] #495 closed, assigned to nobody

[2017-05-10 09:54] irinapencheva commented on #499
Also linked to #421

[2017-05-10 09:55] irinapencheva commented on #499
Linked to #471 so closing this issue

[2017-05-10 09:55] #499 closed, assigned to nobody

[2017-05-10 09:57] irinapencheva commented on #500
Closing at it's linked to #347

[2017-05-10 09:57] #500 closed, assigned to nobody

[2017-05-10 09:58] irinapencheva commented on #501
Closing as this was covered by the recent fix #334

[2017-05-10 09:58] #501 closed, assigned to nobody

[2017-05-10 10:04] EUzkuraityte opened #510 "Do users need to understand that price is calculated per household"
Need to check if at this page users understand that the 1st permit for the household (not the user) is £51

![image](https://cloud.githubusercontent.com/assets/20285115/25893623/6a968ffe-3570-11e7-9d96-6a6ff440ad39.png)

[2017-05-10 10:04] irinapencheva commented on #504
Linked to #493 so closing this one

[2017-05-10 10:04] #504 closed, assigned to nobody

[2017-05-10 10:07] irinapencheva commented on #509
Linked to #493 so closing this one

[2017-05-10 10:07] #509 closed, assigned to nobody

[2017-05-10 11:54] lizziebruce commented on #313
@EUzkuraityte @sanjaypoyzer Copy edits to reflect feedback.

Suggestions:

- we add the application time for non-Verify e.g. 20 minutes, as need to find and scan docs
- we try out moving first bullet "maximum up to 4 permits per household" into the top copy section and change sub-header from "About this service" to "Applying using GOV.UK Verify" as all the rest of the bullet points are related to

[2017-05-10 11:58] suryanaga commented on #145
@EUzkuraityte So to confirm, DVLA's API response should include:

 - Vehicle make
 - Vehicle colour

As the below screenshot shows, the records do not include a "Vehicle model" entry.

Why do councils need "Vehicle status" for enforcement?

![image](https://cloud.githubusercontent.com/assets/4106955/25897568/4fef1698-3580-11e7-8df9-792205132b2d.png)

[2017-05-10 12:23] kaydale commented on #145
@sanjaypoyzer

I can confirm that my car is black ;)

[2017-05-10 13:40] lizziebruce commented on #313
Mock-up of alternative option described in second bullet of comment above. Note: with local variations like eco and parking zone copy switched off the page will be _slightly_ shorter for both mock-ups.

I've purposefully kept 'What you'll need' separate and can explain why if that decision's unclear.

OPTION 2

<img width="474" alt="screen shot 2017-05-10 at 14 26 15" src="https://cloud.githubuser

[2017-05-10 13:49] suryanaga commented on #313
@lizziebruce I prefer the second option, with the "About this service" section being renamed and rescoped to "Applying online". I never really liked that vague header.

I'm unsure about adding all that information about Verify on this page though. They aren't making the decision of whether or not to use Verify on this page, so what's the user need?

[2017-05-10 14:26] lizziebruce commented on #313
@sanjaypoyzer none of the Applying online section bullets in the mock up are new content for this page, except the one about the temporary permit. It's just laid out differently. Essentially, this is all information about the user's application.
I'd be happy for the Applying online section to be merged onto the second page, which is the Verify choice page, but was told users wanted to know all of

[2017-05-10 14:29] lizziebruce commented on #297
This issue is resolved in the copy re-scope screenshoted in #313

[2017-05-10 14:31] lizziebruce commented on #313
@EUzkuraityte could you review the two mock-ups above and give your feedback please?

[2017-05-10 14:35] suryanaga commented on #313
@lizziebruce I think the intention behind the current content about Verify on this page is to give people a rough answer to those questions, but actually I don't think that's very sound reasoning on my part.

Let's take that section off this page, and save any mention of Verify to the next page. I haven't seen any evidence of users actually needing to know information about wait time or applicatio

[2017-05-10 14:41] lizziebruce commented on #313
@sanjaypoyzer thanks, will wait for @EUzkuraityte to confirm users don't need to know 'how long will the application take' and 'how long will the permit take to arrive' on the Resident's start page and that it's ok to provide this on the next screen.

[2017-05-10 15:22] #24 closed, assigned to nobody

[2017-05-10 15:25] petegale commented on #487
We can test these to see what problems they generate / whether they are understood. It's not valid to test which people 'prefer'. Also worth noting A/B tests are typically quantitative tests with much larger sample. It's not clear what goal we would be testing against if we were to A/B test this in beta

[2017-05-10 15:45] lizziebruce commented on #452
@EUzkuraityte Copy for re vehicle reg data privacy for Enter your vehicle details page and Upload your V5C page:

Questions:
1. How long is data stored for?
2. Does it need to be stored beyond the time of the online application – will it make renewals easier? Should we give user option for opt out for those who want their data deleted after application or does the council have to keep it for their

[2017-05-10 15:47] lizziebruce commented on #239
@sanjaypoyzer hi, why is this still appearing in ready to do if it's closed? Can I move it to ice box?

[2017-05-10 15:54] lizziebruce commented on #347
@sanjaypoyzer @irinapencheva agree an image is useful in this context. Would advise the screenshot reflects generic folders a user would have i.e. shows just Downloads and Pictures under Documents (and no VerifyLocal folder).

[2017-05-10 16:05] EUzkuraityte commented on #313
@lizziebruce @sanjaypoyzer I too prefer the 2nd mock up and with Sanjay's comments (re:Let's take that section off this page, and save any mention of Verify to the next page. )

It's fair enough to take off  'how long will the application take' and 'how long will the permit take to arrive' from this page as well, because the page is getting a bit long and what users really like previously in testi

[2017-05-10 16:08] lizziebruce commented on #200
@irinapencheva @sanjaypoyzer
The prototype has changed since this was raised. Is the issue still happening?

If so suggest:

<img width="531" alt="screen shot 2017-05-10 at 16 57 18" src="https://cloud.githubusercontent.com/assets/27814324/25908327/d1b12fa6-35a1-11e7-9522-351932465a26.png">

[2017-05-10 16:09] EUzkuraityte commented on #487
@petegale agreed, changed the title to reflect your suggestion better.
@lizziebruce the A/B testing was requested by you in #297 . Please advice re: Pete's comments above.

[2017-05-10 16:14] lizziebruce commented on #313
@EUzkuraityte the only reason the page is this long is because I've included everything I was told users wanted to know up front. I am more than aware that concise uncluttered pages are what users want! I have already suggested and had approved moving the CT About your application section to a second page. @sanjaypoyzer I was pretty sure you told me yesterday that everything had to be on the first

[2017-05-10 16:15] lizziebruce commented on #313
@EUzkuraityte re the heads up, I believe Sanjay has already worked consideration for this into the back end coding rules.

[2017-05-10 16:17] EUzkuraityte commented on #452
@lizziebruce
1 - the information is checked and document copies received are destroyed after checking
2 - renewals are out of scope.. I'm not familiar enough with council processes to advice on this and I don't what their plans are going forwards. If we want scope to be extended to renewals, this would have to be proposed to Michael.

[2017-05-10 16:23] lizziebruce commented on #452
@EUzkuraityte
1. This doesn't answer my question. Let me make it clearer:
How long is the electronic data users provide stored?

2. This isn't about renewals. Please re-read without the clause about renewals i.e:
Does it (electronic data) need to be stored beyond the time of the online application? Should we give user option for opt out for those who want their data deleted after application or do

[2017-05-10 16:40] lizziebruce commented on #487
@petegale A/B may not be the correct term for it. I know it sometimes happens that URs start the day testing one version and if it's obvious people don't get it at all they change to another with added clarity – this was demo'd to us in the GDS Design training on user research.

So I'd suggest starting with:

and if it consistently confuses people show later users:

If this method isn't what you'd

[2017-05-10 16:42] lizziebruce commented on #487
@EUzkuraityte I created the second option as you believed the users would be confused by the first. I don't think the second option is necessary but as I said we can see what users think.

[2017-05-11 06:12] EUzkuraityte commented on #487
@lizziebruce ok, thanks

[2017-05-11 06:17] EUzkuraityte commented on #452
@lizziebruce I'm now confused.. I thought this was about v5 but if not, could you specify which electronic data you'd like to know about? We can then circulate this question to our pilot participants.

The council keeps a record of the application as they have a max number of permits allowed per household and therefore need to know who has a permit, also, for enforcement purposes knowing about a u

[2017-05-11 09:22] lizziebruce commented on #357
See #313

[2017-05-11 09:26] lizziebruce commented on #475
See #294
Prototype now outlines types of permit available from universal Start page. The specific permit type for each user won't be detailed til after they have input postcode.

[2017-05-11 09:27] lizziebruce commented on #429
See #313

[2017-05-11 09:28] lizziebruce commented on #262
See #313 Councils with parking zones will need to link to a page with a map image showing the zones and detailing prices per zone.

[2017-05-11 09:46] lizziebruce commented on #452
@EUzkuraityte the vehicle registration data, which could be vehicle registration number or vehicle registration number plus V5C, plus the applicant's personal data input during the application, which also links them to a particular vehicle or vehicles. Your explanation about keeping the data for records and enforcement answers my query. No need to circulate to pilot participants.

However the situ

[2017-05-11 09:51] lizziebruce commented on #239
Duplicate of #262? Also covered by #313 updates.

[2017-05-11 10:29] lizziebruce commented on #357
Believe this is a duplicate of 313 and should be closed – @sanjaypoyzer do you agree?

[2017-05-11 10:31] lizziebruce commented on #332
See also copy rescope for Start page in #313 with related PR #512

[2017-05-11 10:34] lizziebruce commented on #490
@EUzkuraityte @sanjaypoyzer shouldn't this be titled
"User needs to get multiple permits (with pre-existing permits in the household)"
and the solution ("add option for...") put in the issue description/comments?

[2017-05-11 10:36] lizziebruce commented on #226
See #313

[2017-05-11 10:51] #152 closed, assigned to nobody

[2017-05-11 12:26] suryanaga commented on #200
@lizziebruce's I'm not sure that it's still an issue - Let's look out for in research next week (cc @petegale), and if so implement your suggested changes.

[2017-05-11 13:05] suryanaga commented on #475
Let's see if this still comes up in research with the changes we've made recently before closing this.

[2017-05-11 13:07] suryanaga commented on #224
Reopening this until we've seen it in research.

[2017-05-11 13:28] suryanaga opened #514 "Councils need photos to be cropped to passport photo proportions"
We aim to meet this need with automatic software cropping in Beta.

[2017-05-11 13:28] #514 closed, assigned to nobody

[2017-05-11 13:30] suryanaga commented on #203
We think we'll meet this need in Beta with an automatic photo cropping component.

[2017-05-11 13:30] suryanaga commented on #514
Duplicate of #203

[2017-05-11 13:33] suryanaga commented on #189
We've reduced the impact of this by adding in notifications, which every user we've tested with has signed up for.

[2017-05-11 13:39] EUzkuraityte commented on #490
Hi @lizziebruce yup, made the changes

[2017-05-11 13:40] suryanaga commented on #190
Will see this in lab next week, hopefully should be addressed by changing the service to LOA1.

[2017-05-11 13:54] #232 closed, assigned to nobody

[2017-05-11 13:54] #231 closed, assigned to nobody

[2017-05-11 14:02] suryanaga commented on #464
Closing this as it's not coming up in research any more.

[2017-05-11 14:02] #464 closed, assigned to lizziebruce

[2017-05-11 14:03] EUzkuraityte commented on #452
@lizziebruce It's an intesting one, it is definitely worth communicating the information re: change of vehicle but I think it's up to you and @sanjaypoyzer to decide how this should be done. This information wouldn't be on the parking permit but could be included in the notification or confirmation emails. I'm not convinced we should take it upon ourselves to write this, because due to local varia

[2017-05-11 14:08] petegale commented on #294
Re-opening until we can say from research that this is no longer an issue

[2017-05-11 14:10] petegale commented on #301
Waiting for evidence from research before closing

[2017-05-11 14:12] petegale commented on #466
closed as a duplicate of #301

[2017-05-11 14:12] #466 closed, assigned to nobody

[2017-05-11 14:18] petegale opened #515 "BUG: Prototype doesn't show all permits available, as promised on first page"

[2017-05-11 14:38] #203 closed, assigned to nobody

[2017-05-11 14:41] lizziebruce commented on #452
@EUzkuraityte thanks for your explanation. That makes sense. I can create pattern copy / guidance for what the notification and confirmation emails should contain.

[2017-05-11 14:50] petegale opened #516 "As a user I need to be able to confirm that my details are correct as quickly as possible"
Given that most user's details are likely to be correct, we can probably optimise the experience for this group, so they do not have to confirm two separate bits of data, just 'confirm their details are correct'

[2017-05-11 14:53] petegale opened #517 "Users don't need to be reminded of their eligibility half way through the process"
In both processes, we confirm to users that they are elgible after the identity has been verified. Given that most users assume that they are eligible at this point, I'm suggesting that we only show an eligibility statement at this point to those who ARE NOT eligible. This shortens the journey for the majority.

[2017-05-11 14:59] EUzkuraityte commented on #145
@sanjaypoyzer Yes, i think this sounds correct. I assume that if a car is not taxed, then it's not legal to drive it, hence, need to know the status.

[2017-05-11 15:03] EUzkuraityte commented on #430
duplicate of #360

[2017-05-11 15:03] #430 closed, assigned to nobody

[2017-05-11 15:04] EUzkuraityte commented on #360
evidence from Oxfordshire:
Impact: Users may miss the information telling them what they will need in order to make the application.
Evidence: “Wouldn’t read the rest, I already know what I want. Might just scan it.”
“Unlikely to read the rest of is, would probably just click to apply.”
Users said later in the application that they wish they’d been told what they would need in advance of starting

[2017-05-11 15:10] EUzkuraityte commented on #361
@sanjaypoyzer @lizziebruce this is a fairly old issue that I think needs addressing, but I'm also keen to see if any users on Monday struggle with this.

[2017-05-11 15:11] lizziebruce commented on #360
Related to #313 - this page now has a What you'll need section above the Apply button. However, there is also more copy on the page due to the Costs section. Note that the Costs section will commonly be shorter as it currently shows some local variation.

Revised page content:

<img width="537" alt="screen shot 2017-05-10 at 18 05 47" src="https://cloud.githubusercontent.com/assets/27814324/259567

[2017-05-11 15:17] EUzkuraityte commented on #360
@lizziebruce sounds good, I've dragged this issue into ;Recent changes could affect this. Are we still seeing this need in research?' so we can close this after Monday sessions

[2017-05-11 15:20] lizziebruce commented on #347
@sanjaypoyzer also, if it's an issue for users, we could amend the second instruction copy to:

And perhaps lose the word digital from the first instruction copy as it would flow better. (If anything, digital could be added in front of photo on the non-drop down content.)

[2017-05-11 15:29] EUzkuraityte commented on #431
![screen shot 2017-05-11 at 16 28 56](https://cloud.githubusercontent.com/assets/20285115/25957796/06d2c4ea-3667-11e7-89fb-b224da9cb1bf.png)

[2017-05-11 15:30] lizziebruce commented on #413
@irinapencheva @petegale

Sorry I thought I'd progressed this further. Suggest the "About" copy is refined further to:

We spoke about perhaps moving this onto its own page to help users focus on reading it aka not skip it. What do you think @sanjaypoyzer @petegale?

[2017-05-11 15:31] EUzkuraityte commented on #431
@lizziebruce I believe the page has changed since the issue was raised so pulling this into the 'Recent changes could affect this. Are we still seeing this need in research?' column. Will observe on Monday and decide if this needs further action

[2017-05-11 15:49] irinapencheva commented on #203
@sanjaypoyzer - are we going to provide that?

[2017-05-11 15:55] irinapencheva commented on #472
@lizziebruce - I like the above without the link to the local council as discussed

[2017-05-11 15:56] TracyEaton commented on #413
@lizziebruce Hi Lizzie, just a thought, but could we try removing the word digital and just say upload a photo. The word digital seemed to cause confusion?

[2017-05-11 15:57] irinapencheva commented on #493
Linked to #471 so closing this one

[2017-05-11 15:59] #493 closed, assigned to nobody

[2017-05-11 16:00] EUzkuraityte opened #518 "Bug in permit expiry information display"
The word 'undefineds' appears in several places in the prototype. Does not seem to be affected by entering a start date or ASAP.

see examples:
![screen shot 2017-05-11 at 16 58 55](https://cloud.githubusercontent.com/assets/20285115/25959382/5c5384d2-366b-11e7-888c-0e233a1b80ba.png)
![screen shot 2017-05-11 at 16 55 06](https://cloud.githubusercontent.com/assets/20285115/25959387/5e087922-366b-11

[2017-05-11 16:01] irinapencheva commented on #503
linked to #470 so closing this one

[2017-05-11 16:01] #503 closed, assigned to nobody

[2017-05-11 16:05] EUzkuraityte commented on #497
I believe this should be resolved by #313

[2017-05-11 16:06] irinapencheva commented on #425
@lizziebruce @sanjaypoyzer  - do you think this needs further improvements or is it just  a local issue that 2 councils saw as a result of their localisation

[2017-05-11 16:10] irinapencheva commented on #418
this will be addressed by LOA1 so closing

[2017-05-11 16:10] #418 closed, assigned to nobody

[2017-05-11 16:10] suryanaga commented on #145
@EUzkuraityte So does that mean if the car is not taxed the council will not issue it with a permit? What about if it has a SORN?

[2017-05-11 16:11] suryanaga commented on #203
@irinapencheva We need to discuss this with a dev / tech arch. There's quite a few different ways it could be done.

[2017-05-11 16:12] EUzkuraityte commented on #327
@GWSunderland have you managed to look at styling at all? Is this still an issue?

[2017-05-11 16:12] irinapencheva opened #519 "Users irrespective of disabilities, situations and technologies need to be able to access and go through the service"
Accessibility review of the whole prototype

[2017-05-11 16:14] suryanaga commented on #413
@TracyEaton Hi Tracy, that issue is more related to #301 - I'll respond to your question there.

[2017-05-11 16:15] suryanaga commented on #301
@tracyeaton Hi Tracy, could you expand on what you've seen about users getting confused by the word 'digital'? We've added that word so that users know they can't use a paper photo. (cc @lizziebruce)

[2017-05-11 16:15] irinapencheva commented on #502
Closing this issue as it should be addressed by pull request 333 ' Fix photo route'

[2017-05-11 16:15] #502 closed, assigned to nobody

[2017-05-11 16:17] irinapencheva commented on #203
@sanjaypoyzer - so can we reopen and put in Icebox?

[2017-05-11 16:17] suryanaga commented on #425
@irinapencheva Duplicate of #237

[2017-05-11 16:17] suryanaga commented on #352
Duplicate of #237

[2017-05-11 16:17] #352 closed, assigned to nobody

[2017-05-11 16:18] EUzkuraityte commented on #145
@sanjaypoyzer we can ask Colin on Monday about what they do with SORNs, but I don't think we've observed any users having a car and wanting a parking permit for an off road car..

[2017-05-11 16:19] irinapencheva commented on #498
@lizziebruce - this issue was raised by Camden. Do you think there's anything in the content we can add to reassure them they're likely to know the answers? Or is that overkill/ should be covered by the Verify journey?

[2017-05-11 16:19] suryanaga commented on #203
@irinapencheva No, because we know it can technically be done, and fairly easily. From an Alpha perspective, I'm confident this isn't an issue.

[2017-05-11 16:20] suryanaga commented on #313
Reopening until we're confident it's fixed from research.

[2017-05-11 16:21] TracyEaton commented on #301
@sanjaypoyzer Hi Sanjay, it came up recently when we asked if they had a digital camera and the answer was no, but they did have a smart phone. I just thought that the word digital was confusing to some people, they may have a perfectly good photo on their phone they could use but do not consider it a digital picture.

[2017-05-11 16:23] irinapencheva commented on #195
@lizziebruce - just to confirm - can this be closed? Your suggestion above looks good to me especially once issue #460 is built.

[2017-05-11 16:24] #357 closed, assigned to nobody

[2017-05-11 16:24] lizziebruce commented on #189
@irinapencheva is this still happening after the notifications mentioned by Sanjay ^^ ?

Copy solution options:

or

or

[2017-05-11 16:25] suryanaga commented on #357
@EUzkuraityte Yes councils can set the costs by submitting a pull request.

[2017-05-11 16:27] lizziebruce commented on #413
@TracyEaton Hi Tracy, thanks. I think later in the journey users asked why they weren't told up front about what they would need, and so if we just put "photo" they might think they're all set when they're not.

The photo upload users-felt-discouraged-from-start has its own issue #458 and the guidance help flow is in 301, as Sanjay's mentioned too.

[2017-05-11 16:29] danblundell commented on #145
If it's SORN, it can't be on the road can it? So it wouldn't need a permit?

[2017-05-11 16:29] suryanaga commented on #429
Duplicate of #313.

[2017-05-11 16:29] #429 closed, assigned to nobody

[2017-05-11 16:31] EUzkuraityte commented on #424
duplicate of #327

[2017-05-11 16:31] #424 closed, assigned to nobody

[2017-05-11 16:32] EUzkuraityte commented on #384
Bug: duplicate of #507

[2017-05-11 16:32] #384 closed, assigned to nobody

[2017-05-11 16:33] EUzkuraityte commented on #383
@joanneSouthern if the issue still persists, could you provide a little bit more information about this? What exactly are the users comment about?

[2017-05-11 16:34] lizziebruce commented on #498
@irinapencheva Hmm. I think this is an issue for Verity hub to resolve. We can't assure them they're likely to know the answers as they might not (especially given the demographic). But I know what you mean. However, the issue shouldn't come up IRL as, as far as I know, the Verify hub questions will be tailored to recent activity that the user should find easy to recall. So here it is better to do

[2017-05-11 16:35] suryanaga commented on #301
Ah ok, in that case, that is more about issue #202 - Users need to know they can use a mobile phone.

We've addressed that issue recently in the changes made in Pull Request #245, and will be looking to see if it's fixed in the next round of testing.

[2017-05-11 16:36] EUzkuraityte commented on #382
duplicate of #148

[2017-05-11 16:36] #382 closed, assigned to nobody

[2017-05-11 16:37] lizziebruce commented on #195
@irinapencheva I think we have to keep it open until its passed user testing, i.e. doesn't come up in user research any more? @sanjaypoyzer @petegale

[2017-05-11 16:38] suryanaga commented on #189
@lizziebruce Yep, those options could work. @petegale's going to probe the impact of this issue next week.

[2017-05-11 16:40] EUzkuraityte commented on #375
@sanjaypoyzer can you let us know - can LAs choose whether to give a user the option between 6 and 12 months, or not?

I though this could be localised..

[2017-05-11 16:41] suryanaga commented on #145
Weird, I wrote that question, then had that same thought and thought I deleted it before submitting. Obviously I'm just going crazy.

Still, would be good to know what happens if the car isn't taxed. I assume they refuse the permit?

[2017-05-11 16:47] suryanaga commented on #204
@irinapencheva Can you confirm whether or not councils would accept photos with a non-plain white background?

[2017-05-11 16:49] EUzkuraityte commented on #379
@joanneSouthern could you add a screenshot of this issue please?

[2017-05-11 16:50] suryanaga commented on #338
@irinapencheva We've got a scoping issue here. If we need the service to be accessible to all people who are eligible, that could include people who don't have an email address. I think Micheal is of the view that we should only be aiming to meet the needs of people who are likely to choose the digital service, but me and Pete are a little unsure about this.

[2017-05-11 16:51] EUzkuraityte commented on #378
Duplicate of #231

[2017-05-11 16:51] #378 closed, assigned to nobody

[2017-05-11 16:55] EUzkuraityte commented on #376
@sanjaypoyzer please could you advise the reasoning behind boxes vs calendar and in our current date entry display and if the box sizes meet accessibility requirements.

[2017-05-11 16:58] EUzkuraityte commented on #374
I believe this is no longer exists

[2017-05-11 16:58] #374 closed, assigned to nobody

[2017-05-11 16:59] EUzkuraityte commented on #362
I believe this should be fixed by #313

[2017-05-11 16:59] #362 closed, assigned to nobody

[2017-05-11 17:04] EUzkuraityte opened #520 "BUG: on When should your permits start? page"
When a user choses to apply for 1 permit, on the When should your permits start? page they are still presented with a 'Different dates for different vehicles' option as well as 'Some other date' option. These two options are the same and 'Different dates for different vehicles' option is only required for  2+ permits.

![screen shot 2017-05-11 at 18 03 42](https://cloud.githubusercontent.com/asset

[2017-05-11 17:06] EUzkuraityte commented on #372
I think we've seen by subsequent user research that users we're trusting the GOV.UK symbol, where trust seems to decline is on the certified company page.

[2017-05-11 17:06] #372 closed, assigned to nobody

[2017-05-11 17:09] EUzkuraityte commented on #370
I believe content has been changed, see #313

[2017-05-11 17:09] #370 closed, assigned to nobody

[2017-05-11 17:14] EUzkuraityte commented on #364
Duplicate of #410

[2017-05-11 17:14] #364 closed, assigned to nobody

[2017-05-11 17:16] EUzkuraityte commented on #363
@joanneSouthern I believe this should be fixed by #313

[2017-05-11 17:16] #363 closed, assigned to nobody

[2017-05-11 17:30] EUzkuraityte commented on #322
I remember this not being an issue for LOA1 journeys

[2017-05-12 06:31] joanneSouthern commented on #379
its a style sheet issue, ive spoken with our developer about it, hes going to sort

[2017-05-12 06:32] joanneSouthern commented on #204
we would accept them

Joanne Southern
Digital Team Leader
Information Services
Northumberland County Council
County Hall
Morpeth
Northumberland
NE61 2EF

Tel: 01670 623246
Mobile: 07990 795187
Email: joanne.southern@northumberland.gov.uk
Website: www.northumberland.gov.uk

On 11 May 2017 at 17:47, Sanjay Poyzer <notifications@github.com> wrote:

--
 <http://family.northumberland.gov.uk>

*Save Tim

[2017-05-12 06:37] joanneSouthern commented on #383
it was our style sheet, the boxes are piled on top of each other, the picture of the back of the credit card is huge, ive spoken to our developer to sort

[2017-05-12 08:45] lizziebruce commented on #491
@EUzkuraityte Please let me know what documents these would be so that I can add copy referencing them.

[2017-05-12 09:18] irinapencheva commented on #425
Will reopen because #237 is parking only

[2017-05-12 09:22] irinapencheva commented on #498
@lizziebruce - cool, happy with it!

[2017-05-12 09:23] irinapencheva commented on #195
@lizziebruce - sounds good. I'll make sure I raise this with Camden specifically so they can cover it in their localised UR

[2017-05-12 09:28] irinapencheva commented on #189
@lizziebruce - as discussed, I like the 2nd option and change it to 2 WDs

@sanjaypoyzer - this came up in last round of UR so we need this minor change

[2017-05-12 09:28] lizziebruce commented on #361
@EUzkuraityte thanks if it's still an issue we can add:

to the What you'll need section

@petegale this is something we'd like to watch out for on Monday please

[2017-05-12 09:29] irinapencheva commented on #491
@lizziebruce - I'll take this with Camden as it's a ConTravel issue

[2017-05-12 09:32] irinapencheva commented on #204
Thanks a lot for confirming that @joanneSouthern
@sanjaypoyzer Previously WCC had also confirmed then don't mind non-white plain background although it does help for quality

[2017-05-12 09:35] suryanaga commented on #189
@irinapencheva Recent changes have been made that affect this need since the last round of UR.

[2017-05-12 09:36] suryanaga commented on #204
@irinapencheva Ok, so we need to make a decision on whether or not to include this as a photo requirement, or to just have it as a local option. (Although there probably isn't any good reason for it to be a local option.)

[2017-05-12 09:40] irinapencheva commented on #204
@sanjaypoyzer - I think it helps to suggest 'plain' background as it improves quality but wording it in such a way so it's not perceived as a required criteria but rather a recommendation. @lizziebruce would be able to suggest most appropriate wording

[2017-05-12 09:44] lizziebruce commented on #491
@irinapencheva thanks, this is the copy that shows on the page after the Start page at the moment:

![screen shot 2017-05-12 at 10 40 29](https://cloud.githubusercontent.com/assets/27814324/25992907/ffad8ea4-36ff-11e7-892c-2746262267b6.png)

[2017-05-12 09:49] irinapencheva commented on #491
Cool, thanks. I'll double-check what docs are accepted

[2017-05-12 09:49] suryanaga commented on #204
@irinapencheva What's the purpose of it being a recommendation rather than required criteria? I think that complicates matters more than necessary. Either people need to do something or they don't.

[2017-05-12 09:51] lizziebruce commented on #425
@irinapencheva @petegale @sanjaypoyzer
Suggest we use eye-tracking in Monday's user testing to see if people are reading the H1 page title. If not a content fix could be to add:

to the turquoise box or to the first line of body copy.

[2017-05-12 09:52] irinapencheva commented on #204
@sanjaypoyzer - it's not a requirement because councils don't technically need it but it does help with the quality of the picture

[2017-05-12 09:58] irinapencheva commented on #204
@sanjaypoyzer @lizziebruce - as discussed, let's keep it as a criteria to have 'plain background' but no need to be white

[2017-05-12 10:00] irinapencheva commented on #425
@petegale - can we use eye-tracking on Monday?

[2017-05-12 10:27] GWSunderland commented on #327
@EUzkuraityte We've now resolved this issue in our local prototype

[2017-05-12 10:49] lizziebruce commented on #189
@sanjaypoyzer I've discussed this with @irinapencheva and the phrasing on the Checking your identity page time to arrive bullet needs to change to this for Verify:

and this for non-Verify:

This is because the council can only say what they will do when i.e. send the pass not when it will arrive as that depends on 3rd party – postal service.

Could you update this as I am having problems viewing

[2017-05-12 10:57] lizziebruce commented on #458
@irinapencheva @sanjaypoyzer new copy suggestion for About your application section following discussion about how Verify checks aren't always questions.

## About your application

1. Complete some online security checks or scan documents to show you’re eligible.
2. Upload a digital photo – we'll give you guidance on doing this.
3. Submit your application online.
4. We'll send your bus pass to yo

[2017-05-12 11:11] suryanaga commented on #327
@GWSunderland Have you submitted your local prototype updates back as a pull request?

[2017-05-12 11:34] lizziebruce commented on #195
@sanjaypoyzer @irinapencheva is this in the prototype yet? I can't tell as it's localisation rule and I can't see it in the code.

[2017-05-12 11:56] lizziebruce commented on #458
@irinapencheva please see Pull Request #521

[2017-05-12 12:35] irinapencheva commented on #458
@lizziebruce - thanks, I've approved it in the pull request

[2017-05-12 13:38] ingasiler commented on #477
This sheet contains LAs responses on whether they are currently using temporary permits, and if they have examples of it: https://docs.google.com/a/digital.cabinet-office.gov.uk/spreadsheets/d/17nsMnjANk_-5T_rU0afb1CscPLshmvKyF_DXqRh_4kU/edit?usp=sharing

[2017-05-12 13:39] lizziebruce commented on #413
These changes to the prototype (screenshot below) should help the original issue "Users need to use GOV.UK Verify but did not understand what GOV.UK Verify is or what it means to sign up with it", but some of the UR comments relate directly to the Verify hub pages so have added that label too.

Before
![screen shot 2017-05-12 at 14 39 04](https://cloud.githubusercontent.com/assets/27814324/2600041

[2017-05-12 13:45] lizziebruce commented on #461
As with #413 changes to the prototype (screenshots on 413) should help, specifically the copy about creating an account.

[2017-05-12 13:56] suryanaga commented on #195
@lizziebruce No, it's not prioritised right now.

[2017-05-12 14:04] colin2678 commented on #413
Are we able to localise these screens? Our existing CT process does not usually require a utility bill,passport or driving licence and takes considerably less time than 20 minutes.

[2017-05-12 14:29] TracyEaton commented on #204
@irinapencheva Hi Irina, just received this from our CT Team regarding photo background

White or grey is ok:
DfT guidance on this states:

2.6 TCAs should inform applicants that photographs need to be taken against a solid grey or white background with facial features unobscured. Webcam photographs, used in an online application, are acceptable.

Link to full technical guidance:

https://www.gov.

[2017-05-12 14:32] lizziebruce commented on #195
@sanjaypoyzer ok!

[2017-05-12 14:33] lizziebruce commented on #413
@colin2678 could you tell us what documentation do you do require and how long your CT process is?

[2017-05-12 14:36] lizziebruce commented on #204
@irinapencheva @TracyEaton @sanjaypoyzer so

[2017-05-12 14:37] irinapencheva commented on #204
@TracyEaton - fantastic, thanks Tracy!

@lizziebruce - yep, sounds good

[2017-05-12 14:40] colin2678 commented on #413
We require a name, address, dob and a NI number to make an experian check. along with a photo upload or to take a photo using their webcam. This process usually takes around 4 minutes.

[2017-05-12 14:44] suryanaga commented on #413
@colin2678 Hi Colin, just to clarify, are you talking about the alternative to Verify, ie the "Scan and upload documents" route?

[2017-05-12 14:45] colin2678 commented on #413
If the check fails then customers must send in proof of identity document (a passport, driving license, birth certificate in the same name as your application) and a proof of address  (a utility bill, bank statement, or any other official letter).

[2017-05-12 14:46] colin2678 commented on #413
@sanjaypoyzer Yes this is our existing product: https://concessioncard.net/Register_input.action It has it's flaws, but speed is not one of them.

[2017-05-12 14:47] lizziebruce commented on #413
@colin2678 Hi Colin, I think yes that would need to be a localisation as most councils require document upload which can take users longer. We have put "up to" in front of 20 minutes to account for speedier / more digitally savvy users.

[2017-05-15 08:12] EUzkuraityte commented on #383
Thank you @joanneSouthern!

[2017-05-15 08:18] EUzkuraityte commented on #379
@joanneSouthern  thank you for clarifying this!

[2017-05-15 10:50] EUzkuraityte opened #525 "Broken link in service pattern: multiple permits"
There's a broken link in this section:
Is the user eligible for multiple permits?
If the user is eligible for multiple permits, for example visitors permits, the council should ask which type of permit the user would like to apply for.

See the example page asks the user to select which permit they wish to apply for.
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/examp

[2017-05-15 10:52] EUzkuraityte opened #526 "Broken link in service pattern: receive confirmation"
There's a broken link in this section:

Receive permit confirmation
After payment, the user needs to receive a confirmation of payment and an acknowledgement that their application has been successful. They should also receive information about how the permit will be enforced (See step 8). If the payment cannot be accepted or if the application fails for some reason (i.e. times out) the user shoul

[2017-05-15 11:00] EUzkuraityte opened #527 "Users need a clear explanation of what to do if they cannot park in their preferred area"
Hi @lizziebruce I realised that this page is not accessible via the main prototype as this is an eventuality when a user cannot park in their preferred area. This age is found via the service pattern. I'm not sure if you picked it up as part of the prototype review you did in the beginning, but please let me know if you have.

Link:
https://verify-local-patterns.herokuapp.com/service-patterns/park

[2017-05-15 12:52] EUzkuraityte commented on #486
closed via #449

[2017-05-15 12:52] #486 closed, assigned to nobody

[2017-05-15 16:29] EUzkuraityte commented on #237
@lizziebruce Your suggested copy looks good to me. We haven't seen this issue today, so it's up to your discretion of how you want to proceed with this - implement the changes and test or just close it.

[2017-05-16 11:21] irinapencheva commented on #321
@sanjaypoyzer - I have just spoken to Julian and this is a very clear fraud vector because I can apply based on other people's details and if the letter goes to another address, the genuine user who the application was on behalf of wouldn't even get notified/ know about it.

For parking the fraud vector is somewhat less strong, because the value is limited but it's still not great and needs to be

[2017-05-16 14:02] lizziebruce commented on #527
@EUzkuraityte no I haven't seen this page before. This is the sort of thing that drawing up the user journey will flush out. I'll refer to the service pattern to inform the drawing. It's also a useful tool for a visualisation and deeper understanding of the user journey.
Let me know if content review for this page is a high priority.

[2017-05-16 14:06] suryanaga commented on #321
@irinapencheva Can you set up a meeting with me and Julian to talk about this? I don't understand the fraud scenario from your description.

[2017-05-16 14:07] lizziebruce commented on #237
@EUzkuraityte I can also see from the screenshot on this issue ^^^ that the prototype changed between the UR issue note on 13 March and the one we tested yesterday. I'd put this into see if this still comes up in research unless @petegale thinks it can now be completely closed.

[2017-05-16 14:18] suryanaga commented on #515
So I think the place that should route people to business and trade permits is the page titled "Are you a resident?"

I don't know what the content for the radio button options should be though. What do you think @lizziebruce?

<img width="925" alt="screen shot 2017-05-16 at 15 16 51" src="https://cloud.githubusercontent.com/assets/4106955/26110637/d82e93fc-3a4a-11e7-9a9b-dc7efc5a4357.png">

[2017-05-16 15:01] #507 closed, assigned to tunylund

[2017-05-17 08:18] GWSunderland commented on #327
@sanjaypoyzer We'll get this sorted out

[2017-05-17 08:21] EUzkuraityte commented on #258
@sanjaypoyzer @lizziebruce Do you think that this is something we should be looking to address or should we leave it for LAs to resolve? I think those LAs that can't do a  lookup should have a text version that explains where CPZs are in operation. Something like 'Check if you need a permit' section that details this information either in a short paragraph or a separate page if there's a lot that

[2017-05-17 08:25] EUzkuraityte commented on #527
Hi @lizziebruce sounds good to me! It would be good to have this worked on this sprint, but it's not top priority. I've put it in the right priority order in the 'PP ready to do' column.

[2017-05-17 09:11] suryanaga commented on #258
@EUzkuraityte We need to talk to the councils that have this issue and find out what information they can give, and in what format. From a technical perspective, if the information exists then it should just be a matter of getting it into the right format to then do a lookup.

[2017-05-17 10:08] #518 closed, assigned to suryanaga

[2017-05-17 10:15] #520 closed, assigned to suryanaga

[2017-05-17 10:22] suryanaga commented on #361
Note: This is a difficult need to test for as we will only see it if we test with a user who doesn't have an email address.

We should also note here that this most people who don't already have an email address will not be regular internet users, and so will probably struggle to use the online service in general. So these users should probably be being routed to another channel, rather than just

[2017-05-17 10:39] suryanaga commented on #366
Living in the UK isn't an issue as it's for a resident's parking permit in the UK.

The Over 20 thing does not apply for LOA1 (it currently still shows in the LOA1 prototype, but that's an error), so this only applies for those councils which are using LOA2.

For those councils who need LOA2, users who are **unlikely to Verify** (doesn't mean they definitely can't) will be routed back to the counc

[2017-05-17 10:47] #311 closed, assigned to suryanaga

[2017-05-17 10:52] suryanaga commented on #258
Gonna close this as a duplicate / local issue on #259

[2017-05-17 10:52] #258 closed, assigned to nobody

[2017-05-17 10:58] suryanaga commented on #259
@EUzkuraityte to gather info about various parking boundary rules

[2017-05-17 11:22] EUzkuraityte commented on #259
@sanjaypoyzer
here's what I've got so far:
1. Northumberland's map - http://map.northumberland.gov.uk/ParkingRestrictions/
2. Oxfordshire's map - [see here](https://mymaps.oxfordshire.gov.uk/LocalViewPub/sites/localview/?utm_source=FURL-1&utm_medium=localview&utm_term=nil&utm_content=&utm_campaign=localview#) and use OX3 8AY and select "Map features" and "08 Controlled_Parking_Zones"
[another map]

[2017-05-18 08:59] irinapencheva commented on #319
@sanjaypoyzer - did you say this issue is now resolved?

[2017-05-18 09:28] suryanaga commented on #319
@irinapencheva nope, haven't worked on this yet

[2017-05-18 15:39] lizziebruce commented on #322
@EUzkuraityte can I unassign myself as the recent content changes will hopefully be sufficient to resolve this user need. If we still see it I can be re-assigned. thanks

[2017-05-18 15:45] lizziebruce commented on #527
@EUzkuraityte great thanks. I've added the None available page to the user journey map. Will review content once I get to it in PP ready to do!

![parking permits user journey map](https://cloud.githubusercontent.com/assets/27814324/26211064/72aecd58-3be9-11e7-915e-420af0904e36.jpg)

Updated!

https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1YvEJKqGvyOW0Lbth2P10nuMto4n5ylrhaJAy2

[2017-05-18 15:54] lizziebruce commented on #313
NB 18.05.17 No users in recent testing asked how permit price determined. A couple were distracted by the House of Multiple Occupancy copy, but it didn't stop them progressing.
The whole Applying online section has now been removed from this page as content is included on Verify choice page. New screenshot:

<img width="575" alt="screen shot 2017-05-18 at 16 51 27" src="https://cloud.githubusercon

[2017-05-18 16:09] EUzkuraityte commented on #322
@lizziebruce yes, of course!

[2017-05-18 16:22] lizziebruce commented on #515
@sanjaypoyzer @EUzkuraityte couple of questions

1. is it ever the case that a visitor (guest) would apply for their own parking permit? Doesn't the resident apply for a visitor permit for their guest? Is this something you think needs to change about the way the service is run @sanjaypoyzer?

2. are there any more types permits users can apply for via this service @EUzkuraityte? So far we have re

[2017-05-18 16:52] EUzkuraityte commented on #515
@lizziebruce

visitors would never apply for visitor permits, only residents can do it and then distribute to their visitors as they see fit. I believe the reason behind it is that these two types of permits allow to park in residential parking bays, whilst city visitors should not be using those and park in the designated bays or car parks.

Here is the info from Pete re: permit types offered by

[2017-05-19 08:34] lizziebruce commented on #515
@EUzkuraityte OK shall we use the 2nd copy suggestion (pasted below for clarity) in the prototype then with the assumption that individual councils can tailor the subsequent routing steps to reflect the full range of visitor/work permits available from that particular council, and leave the user to choose between live/work reasons as most appropriate, if it is for the same space (as I've understoo

[2017-05-19 10:51] lizziebruce commented on #361
@sanjaypoyzer @EUzkuraityte sounds like this isn't a content fix issue so unassigning myself for now.

We didn't have any users without an email address on Monday so perhaps this should be put in 'icebox' or 'are we still seeing this'. Any thoughts @petegale?

[2017-05-19 11:30] lizziebruce commented on #527
@EUzkuraityte I've made a copy rewrite for the No permits available page here, with tracked changes from the prototype copy: https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1_6jGK1pIJn-G_HNuxTRXvQCsnZ4Qs1Wkdr_7_OaQWgM/edit?usp=sharing
I think we should offer an option for if people don't want to apply elsewhere and would rather wait for a permit to come up in their preferred are

[2017-05-19 12:08] lizziebruce commented on #265
Not sure why I've been assigned, can't see where content fix is needed so unassigned myself for now.

[2017-05-19 12:11] lizziebruce commented on #326
@EUzkuraityte @sanjaypoyzer suggest we reduce the links to 3 or 4, as per my content review. How will we determine the most relevant?

[2017-05-19 12:24] lizziebruce commented on #288
@sanjaypoyzer @EUzkuraityte resolved by adding link to a separate service for this under the CTA, as with the other linked services:

Before:

After:

[2017-05-19 12:49] suryanaga commented on #265
I don't remember why I assigned you this, sorry. Let's leave it for now as it's a localisation issue.

[2017-05-19 13:37] suryanaga commented on #326
@lizziebruce Agreed on reducing.

The two life events associated with this service are Moving house and Buying a new car. I think we can use that to filter the list down. There aren't any services specifically related to moving, or really to *buying* a car, but there are a few relevant to driving:

- **renew your short-term medical driving licence**
- **report a medical condition that affects your

[2017-05-19 13:59] lizziebruce commented on #326
@sanjaypoyzer happy with that. since this is a simple coding edit I'll create a pull request for it.

[2017-05-22 09:14] petegale commented on #296
Round 3 showed no evidence of this need, so now closing

[2017-05-22 09:28] petegale commented on #458
Limited evidence (2 users) from Round 3 suggests this may have been resolved, however not conclusive yet so keeping open

[2017-05-22 09:29] petegale commented on #491
Users in round 3 were reading this page quite carefully and making informed decisions based on the information provided

[2017-05-22 09:29] #491 closed, assigned to irinapencheva, lizziebruce

[2017-05-22 09:30] petegale commented on #461
No evidence in round 3 that this issue remains

[2017-05-22 09:30] #461 closed, assigned to lizziebruce

[2017-05-22 09:32] petegale commented on #472
Limited evidence (2 users) from round 3 suggests this may be addressed, though not yet conclusive

[2017-05-22 09:35] petegale commented on #413
![screen shot 2017-05-22 at 10 34 46](https://cloud.githubusercontent.com/assets/2970019/26301846/4f5926e8-3eda-11e7-9a1e-c676e5d61acc.png)

[2017-05-22 09:37] petegale commented on #313
Round 3:
![screen shot 2017-05-22 at 10 37 09](https://cloud.githubusercontent.com/assets/2970019/26301964/a7e8add8-3eda-11e7-9388-3ac235487e16.png)
Also worth noting, that I'm not sure we are seeing users express the need as described in the title of the issue "Users need to know how their permit price is determined"

[2017-05-22 09:40] lizziebruce commented on #458
@irinapencheva @petegale based on the R3 research:

'The title of the skipped section does not contain task specific keywords so is more likely to be ignored.'

I would like to reword:

to

as

'Users may not be aware of the need to upload a photograph later in the application and may start without being able to complete this step.'

[2017-05-22 09:42] irinapencheva commented on #458
@lizziebruce - yes, agreed, go for it!

[2017-05-22 09:43] petegale commented on #226
Leaving this issue open for now. Round 3 showed little evidence of this issue, however, responses on this page were dominated by the HMO copy, which may have obscured this issue

[2017-05-22 09:46] petegale commented on #400
Round 3 suggests this problem has been addressed:
![screen shot 2017-05-22 at 10 46 03](https://cloud.githubusercontent.com/assets/2970019/26302370/e507f164-3edb-11e7-9f5c-5d6c19917255.png)

[2017-05-22 09:46] #400 closed, assigned to nobody

[2017-05-22 09:52] petegale commented on #477
Round 3 suggests that users are now aware of temporary permits as a benefit of Verified application
![screen shot 2017-05-22 at 10 49 08](https://cloud.githubusercontent.com/assets/2970019/26302633/c9a572b0-3edc-11e7-9f93-22164831a394.png)

[2017-05-22 09:52] #477 closed, assigned to lizziebruce

[2017-05-22 09:54] petegale commented on #401
Not seeing this issue in Round 3

[2017-05-22 09:54] #401 closed, assigned to nobody

[2017-05-22 09:55] petegale commented on #322
Round 3 suggests we've met this need:
![screen shot 2017-05-22 at 10 55 14](https://cloud.githubusercontent.com/assets/2970019/26302740/27a44ea4-3edd-11e7-9481-fb546afd7f62.png)

[2017-05-22 09:55] #322 closed, assigned to nobody

[2017-05-22 09:57] petegale commented on #332
No evidence of this issue in Round 3

[2017-05-22 09:57] #332 closed, assigned to lizziebruce

[2017-05-22 10:00] petegale commented on #297
Haven't tested with users who are eligible, so can't close this yet.
![screen shot 2017-05-22 at 10 49 08](https://cloud.githubusercontent.com/assets/2970019/26302951/bf66fa02-3edd-11e7-9bfc-3de00c345e23.png)

[2017-05-22 10:01] petegale commented on #356
No evidence of this issue in Round 3

[2017-05-22 10:01] #356 closed, assigned to nobody

[2017-05-22 10:02] petegale commented on #476
No evidence of this issue in Round 3

[2017-05-22 10:02] #476 closed, assigned to EUzkuraityte, lizziebruce

[2017-05-22 10:03] #224 closed, assigned to tunylund

[2017-05-22 10:03] irinapencheva commented on #413
@petegale - Thanks for closing this issue. I will reopen however #422 as the evidence for this being addressed is still inconclusive

[2017-05-22 10:04] #475 closed, assigned to lizziebruce

[2017-05-22 10:05] irinapencheva commented on #422
#493

[2017-05-22 10:09] irinapencheva commented on #422
Closinga s linked to #471

[2017-05-22 10:09] #422 closed, assigned to nobody

[2017-05-22 10:10] petegale commented on #387
Not seeing evidence of this need as expressed in Round 3. However, users do need to know when they will be able to start parking.

[2017-05-22 10:10] #387 closed, assigned to nobody

[2017-05-22 10:10] lizziebruce commented on #471
@irinapencheva we have this issue open – changes to the success page could already have had an impact as briefer copy higher up means users more likely to look at rest of page but this seems a good place to progress the content change we discussed just now: reduce the amount of resuse Verify on other services links. @sanjaypoyzer could you suggest which 3 or 4 to keep as you did for Parking Permit

[2017-05-22 10:11] petegale commented on #301
Limited evidence (2 users) in round 3 suggests that this may be addressed. Leaving open until we have more conclusive evidence

[2017-05-22 10:13] petegale commented on #305
Limited evidence from round 3 (2 users) suggests this need may have been met, but leaving open until we have better evidence of this.

[2017-05-22 10:16] petegale commented on #237
We didn't see evidence of this in round 3.

[2017-05-22 10:19] petegale commented on #190
This issue was only reported by a single user in Round 3 (and this user appeared to be an extreme edge case.) Going to say that this has been addressed by changing to LOA1

[2017-05-22 10:19] #190 closed, assigned to nobody

[2017-05-22 10:22] petegale commented on #227
No evidence from round 3 that users were aware that they could also apply offline

[2017-05-22 10:23] petegale commented on #229
![screen shot 2017-05-22 at 10 55 14](https://cloud.githubusercontent.com/assets/2970019/26303879/20ee6bb8-3ee1-11e7-917a-1db8e1bb561b.png)

[2017-05-22 10:23] #229 closed, assigned to nobody

[2017-05-22 10:24] #228 closed, assigned to nobody

[2017-05-22 10:25] petegale commented on #360
Round 3:
![screen shot 2017-05-22 at 11 24 52](https://cloud.githubusercontent.com/assets/2970019/26303930/530554e0-3ee1-11e7-954f-765a56053e2d.png)

[2017-05-22 10:29] petegale commented on #431
Not seeing evidence of this in Round 3

[2017-05-22 10:29] #431 closed, assigned to nobody

[2017-05-22 10:31] petegale commented on #483
![screen shot 2017-05-22 at 11 31 00](https://cloud.githubusercontent.com/assets/2970019/26304151/2b6b3b56-3ee2-11e7-97df-e67a70fb82ac.png)

[2017-05-22 10:31] #483 closed, assigned to nobody

[2017-05-22 10:32] petegale commented on #484
Tested again in R3 - appears that they can, provided they don't have to upload a V5C. Keeping this open until clear on status of V5C upload

[2017-05-22 10:33] petegale commented on #45
Closing this, as we have never tested any alternates to the basic service pattern of register before application

[2017-05-22 10:33] #45 closed, assigned to nobody

[2017-05-22 10:36] petegale commented on #205
When paying via the GOV.UK Pay prototype above, yes. Need to test with more realistic payment screens

[2017-05-22 10:37] petegale commented on #273
Closing this issue, as residents can't buy visitor permits with the prototype that we've built

[2017-05-22 10:37] #273 closed, assigned to nobody

[2017-05-22 10:40] petegale commented on #167
Users understand basics of what is required for the photo, but need help with uploading and cropping their photos

[2017-05-22 10:40] #167 closed, assigned to nobody

[2017-05-22 10:41] petegale commented on #179
Limited evidence from round 3 (2 users) suggests this need may have been met, but leaving open until we have better evidence of this.

[2017-05-22 10:41] petegale commented on #396
Limited evidence from round 3 (2 users) suggests this need may have been met, but leaving open until we have better evidence of this.

[2017-05-22 10:42] petegale commented on #148
In round 3 - users still frustrated by re-keying data, though this is reduced with shift to LOA1, and improved perceptions of the service overall

[2017-05-22 10:57] lizziebruce commented on #313
@petegale @sanjaypoyzer @EUzkuraityte content change proposals for "House of multiple occupancy" if deemed necessary:
a) rephrase HMO > not recommended – to fully explain the term on the page would take 3 paragraphs as per the GOV.UK definition
b) swop sentence order with Blue Badge as users not distracted by Blue Badge, this would take focus away from HMO

[2017-05-22 11:03] lizziebruce commented on #226
Adding a screenshot of how the prototype for this page now looks. Now has the words:

in the first paragraph, and this screen comes after the postcode look up.

![screen shot 2017-05-22 at 11 59 36](https://cloud.githubusercontent.com/assets/27814324/26305290/967f299e-3ee6-11e7-9a92-3b5fd970c5d6.png)

[2017-05-22 11:19] lizziebruce commented on #297
Adding updated prototype screen with copy relating to free permits. Note: for councils that give free permits for other reasons other than HMO, e.g. 'eco' low carbon emission vehicles, relevant copy detailing this would show.

![screen shot 2017-05-22 at 11 59 36](https://cloud.githubusercontent.com/assets/27814324/26305856/ea423088-3ee8-11e7-8f0a-ddebcd8f2919.png)

[2017-05-22 11:23] lizziebruce commented on #475
Adding screenshot to show the recent changes made to prototype which have supported this need:

![screen shot 2017-05-22 at 12 22 12](https://cloud.githubusercontent.com/assets/27814324/26305971/685188e8-3ee9-11e7-8df4-c903a874a451.png)

[2017-05-22 11:33] lizziebruce commented on #471
@irinapencheva also, as you asked me if this was included in the CD review, here is the relevant section from the CD review which recommends reducing the Verify reuse links to just 3 (but I'd recommend leaving it to Sanjay to recommend exactly which service links are kept, based on usage):

https://docs.google.com/document/d/1e9XkmzaWnWnm9Xa21vovx7Tm-p7shateiultu78ZBBA/edit?ts=59036274#heading=h.1

[2017-05-22 11:35] ghost opened #532 "BUG - option for user to change address on success page doesn't work"
Related to #321 the option for a user to change their stated address on the final page doesn't work. This needs to be configured so that a user can change their address.

![image](https://cloud.githubusercontent.com/assets/24895693/26306382/18c2ff1c-3eeb-11e7-8655-823528f87e5d.png)

[2017-05-22 11:53] suryanaga commented on #471
This demographic is like to be slightly less than average for self-assessment, but there'll still be quite a few self-assessing and the gap is so high, let's keep it in.

These are services that I think are unlikely to be used by the demographic because of their age:

 - check your State Pension (they already receive it, so would fail this journey)

These are related to being employed, so can get

[2017-05-22 15:00] lizziebruce commented on #471
@sanjaypoyzer thanks!
@irinapencheva this has been actioned in PR 533, prototype screenshot now:

![screen shot 2017-05-22 at 15 59 38](https://cloud.githubusercontent.com/assets/27814324/26315015/b3c09bde-3f07-11e7-8da7-54976cbe41bb.png)

[2017-05-22 15:36] irinapencheva commented on #471
@sanjaypoyzer @lizziebruce - thanks both, looks great!

[2017-05-22 16:20] lizziebruce commented on #189
@sanjaypoyzer @irinapencheva following our discussion of Verify receive in 5 working days, non-Verify receive in working 10 days it looks like the facts on this page are actually incorrect. Shouldn't it be:

Before

After

I'd actually recommend changing the content of the top section to:

[2017-05-22 16:31] colin2678 commented on #413
@petegale As discussed on the call I recognise that there was better take-up of the Verify option, but did not see evidence that most CT users understood what Verify would do. To me this is a fundamental issue that creates confusion in CT users later on in the Verify process. I do not believe we can close this issue on the back of on 2 UR sessions.

[2017-05-23 07:32] irinapencheva commented on #413
@colin2678 - We are happy to reopen this and test further at the next session

[2017-05-23 07:42] irinapencheva commented on #189
@lizziebruce - I like the 'What happens next' section. The only minor question I have is do we need to list the photo criteria again or could we say as above 'our manual checks', also given that many councils would pass the photo even without these criteria exactly matched? Either ways, I think it works well.

[2017-05-23 08:09] EUzkuraityte commented on #313
@lizziebruce I'm happy to go with your recommendation. Let's swap the HMO and Blue Badge sentences

[2017-05-24 09:35] lizziebruce commented on #189
@irinapencheva I've left off repeating the photo criteria, but this is something we could keep in mind for future suggestion: if councils find that in practice people question what manual checks means or get disgruntled when their photo fails. It hasn't come up in testing so agree, no requirement to include for now.

I'd like to have a think about an alternative verb for "passes" checks, as with i

[2017-05-24 10:00] lizziebruce commented on #425
We've made some content changes to this page which may change users reading behaviour on this page generally. I've asked Jonathan if we can switch on eye tracking next round of UR. Let's check if the issue still comes up.

[2017-05-24 10:11] lizziebruce commented on #473
@irinapencheva I'm contacting Orvokki Lohikoski for advice for this. Will include you on the email.

[2017-05-24 10:14] irinapencheva commented on #189
Agree on both points! Maybe for the 'pass manual checks' something around 'approvals'?

[2017-05-24 10:23] irinapencheva commented on #473
@lizziebruce - perfect, this also fits with the wider privacy review of the E2E design, which should be done quite soon

[2017-05-24 10:36] lizziebruce commented on #473
@irinapencheva sounds good, suggest we do that close to the end of alpha iterations

[2017-05-24 16:44] lizziebruce commented on #456
@EUzkuraityte these are now live!

[2017-05-25 07:58] EUzkuraityte commented on #456
Amazing! Many thanks @lizziebruce

[2017-05-25 12:21] lizziebruce commented on #473
@irinapencheva from Ed's walk through of passport photos, I noted the line that service uses about photo retention in case it's relevant for our service – we can change the duration of course:

[2017-05-25 17:14] lizziebruce commented on #460
@sanjaypoyzer and I explored ways to resculpt the DOB-dependent eligibility criteria this afternoon. Having the DOB checker embedded on the page isn't viable as user may click the Apply CTA instead of Return. So here are some new options.

1. and 2. return the user to the Start page once they've checked DOB, 3. is has a mandatory second (and third) screen of the the application.

**Option 1 - loop

[2017-05-26 08:50] irinapencheva commented on #460
@lizziebruce @sanjaypoyzer - great, thanks a lot for shaping those so quickly!

I like all the options but would suggest we test with Option 2 unless there are some major issues.

[2017-05-26 08:54] EUzkuraityte commented on #259
Assigning Sanjay as info's been gathered. Let me know if you need anything else!

[2017-05-26 08:57] EUzkuraityte commented on #527
Hi @lizziebruce the only council that has waiting lists as far as I know is Brighton (but they dropped off from the pilot..)

I will check with current pilot participants to confirm if they use waiting lists

[2017-05-26 09:16] EUzkuraityte commented on #41
@sanjaypoyzer can you add (as per Lizzie's suggestion we have privacy policy as a link in the footer of the prototypes).

[2017-05-26 09:23] EUzkuraityte commented on #450
@sanjaypoyzer Yup, sound reasonable to me. Can you can remove the code from the page below (that pulls user's choice re: permit length) and replace it with advice that the user knows they will receive renewals notification 30 days before the permit expires.
@lizziebruce please can have a look and let us know the best way to phrase this advice.

![screen shot 2017-05-26 at 10 20 23](https://cloud.g

[2017-05-26 09:25] lizziebruce commented on #527
@EUzkuraityte @sanjaypoyzer  FYI copy edits screenshot here:

<img width="567" alt="screen shot 2017-05-26 at 10 23 48" src="https://cloud.githubusercontent.com/assets/27814324/26489020/8c52128c-41fd-11e7-8c7d-8cb03d7f9632.png">

[2017-05-26 10:22] EUzkuraityte opened #537 "Users who qualify for free permits need to be shown and asked relevant information"
Hi @sanjaypoyzer the user journey where a user does not need to pay for a permit needs fixing. We need to demonstrate (as my basic diagram illustrates) that when a user qualifies for a free permit, he should be shown a suitable summary page (see #339) and not shown any payment pages.

![flow](https://cloud.githubusercontent.com/assets/20285115/26490974/7d239f30-4205-11e7-9cf1-7b67c4c51c4b.jpg)

th

[2017-05-26 10:25] EUzkuraityte commented on #399
Hi @sanjaypoyzer users get a confirmation of what they are applying for but it is not correct, as it tells them that they need to pay and then pushes them through payment pages. I've opened up a new issue #537 that details it. I'm tagging @lizziebruce here as I think we should have a summary page (which currently is a pre-payment page) that presents a user with the permit summary that works for fr

[2017-05-26 10:31] EUzkuraityte commented on #403
Closing this via #400. The issue is no longer observed in user research.

[2017-05-26 10:31] #403 closed, assigned to nobody

[2017-05-26 10:41] EUzkuraityte commented on #409
@sanjaypoyzer I assume the prototype complies with the guidelines set out in the [service manual](https://www.gov.uk/service-manual/design/dates) - please can you confirm this? and if so, close this issue.

[2017-05-26 10:43] EUzkuraityte opened #538 "BUG (?) Date format shown need to comply with service manual guidelines"
Dates shown on this screen do not comply with [service manual](https://www.gov.uk/service-manual/design/dates), @lizziebruce please can you confirm and if so, @sanjaypoyzer can you update code?

![screen shot 2017-05-26 at 11 33 17](https://cloud.githubusercontent.com/assets/20285115/26491669/71af4f66-4208-11e7-8e76-ea87af28d1fd.png)

[2017-05-26 10:51] EUzkuraityte commented on #280
I'm closing this issue as the new copy fixes it

![screen shot 2017-05-26 at 11 49 32](https://cloud.githubusercontent.com/assets/20285115/26491936/947aa47c-4209-11e7-93a0-068500be9353.png)

[2017-05-26 10:51] #280 closed, assigned to petegale

[2017-05-26 10:57] EUzkuraityte opened #539 "BUG: Bucks prototype wrong redirecting after Verify journey"
@sanjaypoyzer I've had a look at Bucks parking permit prototype and it seems to direct to concessionary travel pages after the Verify journey. @colin2678 can you confirm if you're seeing this issue as well?

[2017-05-26 11:22] EUzkuraityte commented on #238
I believe PR #529 addresses this issue, but councils might not be able to handle this (accepting that the user displays a reference number in their car window) so will require their feedback

[2017-05-26 11:27] EUzkuraityte commented on #262
@lizziebruce from what I've seen, council's don't have maps that display cost information (see #259  for some parking zone maps)

Our prototype assumes a single price across all parking zones. I'm happy to keep it as is and assume that where variations exist, post code lookup would inform the price displayed to the user in the subsequent pages. Would you agree that this is sufficient or do you thi

[2017-05-26 11:46] EUzkuraityte commented on #526
@sanjaypoyzer, I'm assigning this to you to fix the broken link in the service pattern

[2017-05-26 11:47] EUzkuraityte commented on #525
@sanjaypoyzer I'm assigning this to you to fix the broken link

[2017-05-26 11:48] EUzkuraityte commented on #376
Closing as this is a duplicate of #409

[2017-05-26 11:48] #376 closed, assigned to nobody

[2017-05-26 11:52] EUzkuraityte commented on #325
@lizziebruce please could you draft the copy to include postal renewal notifications, including the address it will have to be sent to.
@sanjay please can you add the option for postal notifications

This will be offered by GOV.UK Notify in the future which means those councils using it will be able to send letters. We should allow councils to choose whether they allow users to select letters for

[2017-05-26 11:55] EUzkuraityte commented on #380
link to #412
this will be informed by LAs payment solution and requirements

[2017-05-26 11:55] #380 closed, assigned to nobody

[2017-05-26 12:08] EUzkuraityte commented on #412
Assigning this to Sanjay to change box lengths.

For a real life example please see below
![screen shot 2017-05-26 at 12 59 16](https://cloud.githubusercontent.com/assets/20285115/26493961/5675fe00-4214-11e7-9e88-9bede9c731f9.png)

[2017-05-26 12:12] EUzkuraityte commented on #235
@sanjaypoyzer can you edit the prototype to pull the users address into these fields and ask the user if their previously provided address is the same as their billing address?

[2017-05-26 14:08] colin2678 commented on #539
@EUzkuraityte Yes it does. Very strange.

[2017-05-30 09:01] suryanaga commented on #460
I think option 2 is best as well, but I have a couple of ideas for us to discuss:
 - Is "Enter your date of birth" the best text for the link? Would it be better with "Check if you're eligible"?
 - Does the order of the 3 sections above the button make the most sense?

[2017-05-30 09:14] lizziebruce commented on #460
@sanjaypoyzer sure, let's discuss

[2017-05-30 09:18] EUzkuraityte commented on #145
@sanjaypoyzer I just got an email from DVLA re: use of VES API and they've been a little slow with shifting the service onto the new platform. Therefore, they're not able to take onto even one new RP. We'll have a catch up in a few month's time but it definitely does not align with our timescales and we won't be able to have this functionality in time.

In light of this, can we:
1 [change this pag

[2017-05-30 09:19] lizziebruce commented on #325
@EUzkuraityte

I think it's really great to offer an offline option to people. But will councils support this, should we check? What do they do at the moment?

[2017-05-30 09:30] EUzkuraityte commented on #325
Hi @lizziebruce looks good! I think our prototype can offer 'by post' as an option for users, but it will be down to councils if they can facilitate this or not. So they can either have this as part of their local version or choose not to display it. @sanjaypoyzer please can you incorporate this into the prototype when you get a chance

[2017-05-30 10:13] lizziebruce commented on #262
@EUzkuraityte if the postcode look up can inform the price of the permit that would be great. But we'd still need to supply a link to a map with different zones so people can see where the boundaries of where they can park with their permit are.
It doesn't matter if the map itself doesn't detail the price but we need to show the area and supply a link to the prices per zone boundary. Ideally embed

[2017-05-30 10:18] lizziebruce commented on #538
@EUzkuraityte @sanjaypoyzer yup should be 31 May 2017 and 1 December 2017. Well spotted.

[2017-05-30 11:14] lizziebruce commented on #399
@sanjaypoyzer can all users be routed to/shown this page and change cost to £0.00 for ones getting free permit?

[2017-05-30 13:04] EUzkuraityte commented on #262
@lizziebruce agreed, sounds good to me! I like what [Oxford have](https://www.oxfordshire.gov.uk/cms/content/controlled-parking-zones-cpzs#headingtonc), it shows parking zones on a map and at the bottom of the page there is an explanation for each of the parking zones. Maybe we could have something similar for residential parking zones only with the added pricing information?

Also, would you know

[2017-05-30 13:42] lizziebruce commented on #262
@EUzkuraityte @sanjaypoyzer that's a good point. I think we would need to make sure there's copy saying zone A permits cost £X, zone B permits cost £Y etc. PDF maps wouldn't work well on mobile or tablet but html versions would be fine? Perhaps Sanjay and I can look at this some more.

[2017-05-30 15:10] EUzkuraityte commented on #262
@lizziebruce sounds good to me, please let me know if you need anything further from me and let's have a catch up once you and Sanjay had a chance to discuss

[2017-06-01 09:23] lizziebruce commented on #473
Hey @irinapencheva the above is based on what you put in your email to Orvokki i.e.
"Most councils retain the photographs in their CT backend system so they can reuse them for automatic renewal of the pass. My understanding is that councils have data retention and privacy rules that they adhere to, so there is purpose limitation for the use of the photograph for other services."

I'm tagging this

[2017-06-01 12:08] AbiBarkerOxfordshire opened #542 "BUG (Oxfordshire)?: Verify questions are LOA2 not LOA1?"
Just checking through our prototype and it is asking LOA2 questions, not LOA1, not sure if this is a bug or not?

[2017-06-01 13:03] lizziebruce commented on #450
@EUzkuraityte @sanjaypoyzer

Should we also add in a postal option?

[2017-06-01 13:09] EUzkuraityte commented on #450
@lizziebruce yes, definitely - this looks great to me

[2017-06-01 13:11] EUzkuraityte commented on #325
link to #450

[2017-06-02 13:29] BeckiBorastonBucks opened #544 "What happens to the NI number captured by GOV.UK?"
After being verified successfully through a company, the customer is taken to a GOV.UK screen to input their NI number before they return to the council's form.

- Why does GOV.UK ask for this information when the customer has already been verified? (there is no explanation on the page)
- How can the council retrieve this information?
- If the council cannot retrieve this information when the cust

[2017-06-05 08:55] irinapencheva commented on #470
@petegale - could you confirm if we should treat this as a real user need

[2017-06-05 09:59] #527 closed, assigned to EUzkuraityte

[2017-06-05 10:06] suryanaga commented on #456
Closing this issue as the fixes are now done.

[2017-06-05 10:06] #456 closed, assigned to suryanaga, lizziebruce

[2017-06-05 10:16] suryanaga commented on #473
@lizziebruce Is this issue ready to be closed?

[2017-06-05 10:38] lizziebruce commented on #473
@sanjaypoyzer almost!

[2017-06-05 10:41] lizziebruce commented on #527
👍

[2017-06-05 11:10] #532 closed, assigned to nobody

[2017-06-05 11:14] #319 closed, assigned to suryanaga

[2017-06-05 11:17] BeckiBorastonBucks opened #547 "Transfer your photo to this computer - what if the user is on mobile/tablet?"
Should there be a different message if the user is on a different device?

[2017-06-05 11:18] suryanaga commented on #469
I don't think we're seeing this issue as much since moving to LOA1.

[2017-06-05 11:24] suryanaga commented on #519
@irinapencheva Do you want to arrange an accessibility review with the accessibility team at GDS? Richard Morton or Alistair Duggin are who you want to contact.

[2017-06-05 11:24] #517 closed, assigned to nobody

[2017-06-05 11:25] suryanaga commented on #369
Not relevant at Verify LOA1.

[2017-06-05 11:25] #369 closed, assigned to lizziebruce

[2017-06-05 11:27] #498 closed, assigned to lizziebruce

[2017-06-05 11:39] suryanaga commented on #547
They won't see this page in that case - The prototype detects the device and routes them to a different page.

[2017-06-05 11:39] #547 closed, assigned to nobody

[2017-06-05 12:11] lizziebruce commented on #204
@sanjaypoyzer @irinapencheva perhaps this should be something where we challenge the existing status quo for the photo guidelines and propose "plain background" instead of "plain white background"? As 2 councils already say they would accept this in reality...

[2017-06-05 12:57] BeckiBorastonBucks commented on #547
Do you have anywhere that lists all of the technical functionality of the forms that we need to be aware of in order to build it? This as an example of something that is not obvious when filling it in and something we need to investigate with our suppliers on how to build.

[2017-06-05 14:27] irinapencheva commented on #204
@lizziebruce - yes,  agreed. Happy to rephrase - what about 'plain light background'?

[2017-06-05 14:43] lizziebruce commented on #204
@sanjaypoyzer 'plain, light-coloured background'?

[2017-06-05 15:17] AbiBarkerOxfordshire opened #548 "You need a parking permit - Oxfordshire - visitors do no qualify"
The page asks if you are a resident or visitor and if you are a visitor asks you to apply for a visitors permit however the rules in Oxfordshire are that only residents qualify for a visitors permit. We would need either a third option 1) I am a resident with a vehicle (apply for a parking permit)  2) I am a resident without a vehicle (apply for visitors permits) or 3) I am a visitor (you can't ha

[2017-06-05 15:22] AbiBarkerOxfordshire opened #549 "Residents start page: Oxfordshire - variable maximum permits"
Oxfordshire either has no limits on the number of permits that can be issued or a maximum of 2 permits. As we are unable to check at the time whether someone is eligible due to our lack of API is it possible for any reference to the number of permits being removed and to be able to add something that says 'We will consider your application and let you know the outcome' or something similar?

We do

[2017-06-05 15:26] AbiBarkerOxfordshire opened #550 "Eligible page: Oxfordshire"
Sorry - I am not quite clear on whether we will be using this page or not so if not then this can be ignored. If it can't be ignored then could we change the wording to say you 'may' be eligible? We are unable to confirm eligibility due to our lack of API.

[2017-06-05 15:28] AbiBarkerOxfordshire opened #551 "Pay for your permit: Oxfordshire"
This screen refers to us calling for payment - if a customer provides an email address then we will send them an e-invoice instead of calling them. Can we have a field here to indicate this as an option?

[2017-06-05 15:30] AbiBarkerOxfordshire opened #552 "Confirmation messages: Oxfordshire - bug?"
This page appears to have no header or foot or styling? Not sure if this is a bug?

[2017-06-05 15:38] AbiBarkerOxfordshire opened #553 "Application complete: Oxfordshire"
This screen allows the customer to change their delivery address - we will only send permits to the application address, never elsewhere so we would like the option to remove this.

[2017-06-05 15:54] irinapencheva commented on #519
@sanjaypoyzer - thanks Sanjay. Let's have a chat tomorrow as @petegale is also planning to do a review of our UR findings related to accessibility, so best to align to it

[2017-06-06 10:49] EUzkuraityte commented on #542
@AbiBarkerOxfordshire yup, your users are definitely being pushed through an LOA2 journey. @sanjaypoyzer is this something you could help rectify?

[2017-06-06 10:55] EUzkuraityte commented on #548
@AbiBarkerOxfordshire this page is waiting to be updated, please see for new copy here #515 and advise if this would not work for your council.

[2017-06-06 10:55] #548 closed, assigned to nobody

[2017-06-06 11:02] EUzkuraityte commented on #549
@AbiBarkerOxfordshire yes, that sounds reasonable assuming that if such APIs would become available to you in the future, you would implement the functionality.

and yes, you can tailor the application to suit your business rules re: free permits, etc.

I only ask that once you settle on the copy you want to be displayed, could you tag in @lizziebruce so that if she has some free time she could ch

[2017-06-06 11:40] EUzkuraityte commented on #550
@AbiBarkerOxfordshire would it be possible to get the API integration working at all? If not then I think it would be best not to show [the 'eligible' page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/eligible), simply because telling the user they may be eligible does not add any value to the user journey. What are your thoughts on this @lizziebruce

[2017-06-06 11:44] EUzkuraityte commented on #544
@BeckiBorastonBucks many thanks for spotting this! I've not seen [this page](https://govuk-verify-loa1.herokuapp.com/third-cycle-matching?above_age_threshold=true&action=register&apps=true&bank_account=true&credit_card=true&debit_card=true&driving_licence=true&driving_licence_issuer=true&idp=barclays&mobileNumber=&mobile_phone=true&passport=true&requestId=parking-permit-sunderland&resident_last_12

[2017-06-07 12:33] lizziebruce commented on #550
@EUzkuraityte I agree best not to show the eligible page in that scenario, as long as in this case the line about when the permit is valid for i.e. "Parking permits allow you to park in Argleton city centre 24 hours a day." appears on the subsequent page. Suggest it's placed just above "Permits can be for 6 or 12 months."

[2017-06-07 14:39] ghost opened #554 "Users need to know what the confirmation emails and texts say, and what information they'll have after they leave the website"
@lizziebruce Users have the option to be sent an email/text on completion of the application, but we currently don't have any way to test the content for this in user research. It'd be great to have an email that has the key confirmation information, and an equivalent text message, that can be shown to users during research to see if it matches their needs.

[2017-06-07 14:46] suryanaga commented on #542
the testChangeAddress feature was turned on for Oxfordshire for some reason. Have turned it off now.

[2017-06-07 14:46] #542 closed, assigned to suryanaga

[2017-06-07 14:47] suryanaga commented on #544
Looks like this has now been taken off, I think it was something the LOA1 team were testing for the 'View driving license' service.

[2017-06-07 14:48] suryanaga commented on #550
We're removing this page.

[2017-06-07 14:48] #550 closed, assigned to nobody

[2017-06-08 08:35] EUzkuraityte commented on #553
Noted, thanks @AbiBarkerOxfordshire we're looking at this issue more widely as well - would you be able to advise if you get any calls or contacts from users telling you that they provided the incorrect address as part of the application and now want to change it?

[2017-06-08 08:50] EUzkuraityte opened #556 "Users need to be able to provide the address that the permit will be posted to them in a convenient way"
As discussed - we're looking to find out if there is a user need for being able to provide an alternative delivery address after the user completes the application.

Agreed actions:
@sanjaypoyzer to have a discussion with the pattern team and report the finding re: why the functionality as included in the 'application complete' page does not form part of the [change your answers service pattern](h

[2017-06-08 08:59] EUzkuraityte commented on #552
@AbiBarkerOxfordshire Hm, I'm not sure.. This is what I see on my machine and it looks alright!
![screen shot 2017-06-08 at 09 58 16](https://user-images.githubusercontent.com/20285115/26920505-2308f2e4-4c31-11e7-9cf0-8f89a5806980.png)
![screen shot 2017-06-08 at 09 58 02](https://user-images.githubusercontent.com/20285115/26920509-2528248c-4c31-11e7-9d11-754745e6c0de.png)

Are you able to provide

[2017-06-08 09:09] EUzkuraityte commented on #551
Hi @AbiBarkerOxfordshire yes, that sounds reasonable. Please allow the user to pay using your full range of accepted payment methods.
It would make sense to advice the user that they'll be able to pay using either an online link or telephone.
As you don't have payment pages, it would be wise to introduce a page that allows the user to choose the desired payment method and also provide the required

[2017-06-08 15:06] lizziebruce commented on #554
@samuelculley hi sam I've sent the email and and text copy to @sanjaypoyzer & we've formatted them up in GOV.UK Notify style

Email subject line:

Email body copy screenshot:

![screen shot 2017-06-08 at 16 08 10](https://user-images.githubusercontent.com/27814324/26935771-b8977988-4c64-11e7-88e3-21d8a7261903.png)

Text copy:

Text = 150 characters and will have Argelton County Council as sender n

[2017-06-12 07:52] EUzkuraityte commented on #262
Assigning @lizziebruce to this as She mentioned in this morning's updated she'll be working on 'the parking boundary maps for the where I can park issue' and this issue is related.

[2017-06-12 07:58] EUzkuraityte commented on #539
@sanjaypoyzer is there something we can help with?

[2017-06-12 08:02] EUzkuraityte commented on #544
@sanjaypoyzer I'm reopening this issue as we observed this during UR. Could you work with LOA1 team to ensure this does not show up during PP UR this week?

Let me know if there's anything I can do to help.

[2017-06-12 08:07] EUzkuraityte opened #557 "Users need to view good quality error messages so that they know what to enter in each field"
Hi @lizziebruce @sanjaypoyzer this is not urgent, but we'll need he error messages incorporated into our prototypes at some point.

This can be looked into at some point in the future and if you'd prefer to keep the prototype error message free, it'd still be good to issue some guidance to the councils to advice what a good error message looks like. Let me know your thoughts on this!

[2017-06-12 11:18] suryanaga commented on #539
fixed this just now

[2017-06-12 11:18] #539 closed, assigned to nobody

[2017-06-12 11:32] suryanaga commented on #544
This is being taken out of the prototype.

[2017-06-12 11:32] #544 closed, assigned to suryanaga

[2017-06-12 13:27] GWSunderland opened #559 "User unsure how any of the certified companies could verify their ID"
![issue 1](https://user-images.githubusercontent.com/27288208/27035986-465caf86-4f7b-11e7-8121-2226c4a4245c.PNG)

[2017-06-12 13:37] GWSunderland opened #560 "User expected cursor to auto-forward (already discussed on previous UR)"
![issue 2](https://user-images.githubusercontent.com/27288208/27036420-aae49062-4f7c-11e7-9168-994167d5f86b.PNG)

[2017-06-12 13:38] GWSunderland opened #561 "Users unsure what format is required to complete the “when did you move to this address”"
![issue 3](https://user-images.githubusercontent.com/27288208/27036466-c9bcb5c8-4f7c-11e7-9f1a-65c7ed084bc1.PNG)

[2017-06-12 13:39] GWSunderland opened #562 "user concern that the “post office” would have access to her credit record"
![issue 4](https://user-images.githubusercontent.com/27288208/27036484-e267e7f0-4f7c-11e7-8dad-ec42b9e945cd.PNG)

[2017-06-12 13:40] GWSunderland opened #563 "user chose get payment reference from you bank account but would have had to stop the application to get mini statement from ATM, as does not use online banking."
![issue 5](https://user-images.githubusercontent.com/27288208/27036559-1159f1fc-4f7d-11e7-8497-72d96185d694.PNG)

[2017-06-12 13:41] GWSunderland opened #564 "User didn’t know national insurance number or wouldn’t have their nation insurance numbers to hand"
![issue 6](https://user-images.githubusercontent.com/27288208/27036596-35104f10-4f7d-11e7-8be9-a4c4b4420e2c.PNG)

[2017-06-12 13:42] GWSunderland opened #565 "User choosing one permit are prompted to make a payment."
![issue 7](https://user-images.githubusercontent.com/27288208/27036618-541db80c-4f7d-11e7-8b83-80b31caed5a2.PNG)

[2017-06-12 13:43] GWSunderland opened #566 "User will not enter card details due to security concerns ."
![issue 8](https://user-images.githubusercontent.com/27288208/27036646-6f89a470-4f7d-11e7-9387-f7bf1173ace3.PNG)

[2017-06-12 13:43] GWSunderland opened #567 "User provided address information on a number of occasions."
![issue 9](https://user-images.githubusercontent.com/27288208/27036678-8e50ce60-4f7d-11e7-81e2-ed3cad15080b.PNG)

[2017-06-12 13:44] GWSunderland opened #568 "User provided email/ mobile number on a number of occasions."
![issue 10](https://user-images.githubusercontent.com/27288208/27036725-ac306cb0-4f7d-11e7-84c2-72c7289b0955.PNG)

[2017-06-12 13:46] GWSunderland opened #569 "Users do not understand the GOV.UK verify account links at the end of the application"
![issue 11](https://user-images.githubusercontent.com/27288208/27036790-e6393428-4f7d-11e7-8859-663bb2ce581b.PNG)

[2017-06-12 13:47] GWSunderland opened #570 "User unsure whether the application was complete"
![issue 12](https://user-images.githubusercontent.com/27288208/27036825-082e34ac-4f7e-11e7-93dc-db2c4c247064.PNG)

[2017-06-12 13:48] GWSunderland opened #571 "User needs the process to be quick and easy"
![issue 13](https://user-images.githubusercontent.com/27288208/27036879-2e4f0ae4-4f7e-11e7-951e-4d6d43bc5f8b.PNG)

[2017-06-12 14:14] EUzkuraityte commented on #570
@GWSunderland could it have something to do with the styling..
![screen shot 2017-06-12 at 15 04 30](https://user-images.githubusercontent.com/20285115/27038037-c0752388-4f81-11e7-83bf-762d05cbbf81.png)

As we're having UR on Wed, it will give us a good opportunity to observe this issue as well

[2017-06-12 14:24] EUzkuraityte commented on #568
@sanjaypoyzer @lizziebruce I feel like we had a discussion about this previously.. Is there a reason why we couldn't pull the email address from here

![screen shot 2017-06-12 at 15 20 48](https://user-images.githubusercontent.com/20285115/27038509-2f0de3a6-4f83-11e7-8b61-24b87572adf0.png)

to here
![screen shot 2017-06-12 at 15 21 03](https://user-images.githubusercontent.com/20285115/27038516-34

[2017-06-12 14:27] EUzkuraityte commented on #567
@lizziebruce @sanjaypoyzer similar Q to #568 . Are we able to take info entered in either of these pages
![screen shot 2017-06-12 at 15 19 49](https://user-images.githubusercontent.com/20285115/27038681-99536f4c-4f83-11e7-9480-662db4b57625.png)
![screen shot 2017-06-12 at 15 20 09](https://user-images.githubusercontent.com/20285115/27038680-99468886-4f83-11e7-973b-c0bf55fe7445.png)
And present it

[2017-06-12 14:31] EUzkuraityte commented on #537
Evidence from sunderland
![image](https://user-images.githubusercontent.com/20285115/27038881-2d26543c-4f84-11e7-94af-2c398dbe53a2.png)

[2017-06-12 14:31] EUzkuraityte commented on #565
Closing this as duplicate of #537

[2017-06-12 14:31] #565 closed, assigned to nobody

[2017-06-12 14:33] EUzkuraityte commented on #564
It's a bug in the prototype. Closing this as duplicate of #544

[2017-06-12 14:33] #564 closed, assigned to nobody

[2017-06-12 14:38] EUzkuraityte commented on #323
more evidence from Sunderland

![image](https://user-images.githubusercontent.com/20285115/27039227-3ac540f2-4f85-11e7-9ad5-6ed30c9133c4.png)

[2017-06-12 14:39] EUzkuraityte commented on #560
Closing as duplicate of #323

[2017-06-12 14:39] #560 closed, assigned to nobody

[2017-06-12 17:40] lizziebruce commented on #259
@sanjaypoyzer @EUzkuraityte screenshots for 3 options for displaying parking boundary area.
(I've also incorporated copy edits that I remembered from the last UR testing analysis that hadn't come through as issues for some reason. Sorry not to do that in a separate branch Sanjay - was on content fix autopilot.)

**Before**
![screen shot 2017-06-12 at 18 24 34](https://user-images.githubusercontent

[2017-06-12 17:48] lizziebruce commented on #568
@EUzkuraityte re whether it is technically possible, I can't comment. Re user journey flow agree would be a good idea in theory – we'd need to flag that we were storing the email for notifications on the billing page though, so would result in putting the notifications info on the billing page and then that's asking them to do more than one thing at once. Would be happy with that for this demograp

[2017-06-13 08:11] EUzkuraityte commented on #259
Hi @lizziebruce Thanks so much for doing this, it looks amazing! I'm a fan of the expandable street list version, but would love to test them all and see which ones the users respond to best.

[2017-06-13 08:40] lizziebruce commented on #259
Adding @petegale. If have time will also do http://umap.fluv.io/ version and parking permit streets represented by lines version.
For ref, this is the G-map url https://drive.google.com/open?id=1l5Gkx4H-I4aESpbEN2Nsa_fLlus&usp=sharing

[2017-06-13 08:56] EUzkuraityte commented on #568
@lizziebruce I completely agree, if this gets implemented we should incorporate the appropriate messaging
@sanjaypoyzer  please can you confirm if this can be done? also, do you have any concerns from the SD point of view?

[2017-06-13 09:02] EUzkuraityte commented on #569
I'm tagging in @lizziebruce @sanjay to advice on making this a bit clearer to the user.
Also, as we'll be doing user research tomorrow, we'll keep watch on how many users this issue affects.

[2017-06-13 09:06] EUzkuraityte commented on #566
@sanjaypoyzer @lizziebruce is there anything we could do to reassure the user of how safe it is to pay online?

[2017-06-13 09:09] suryanaga commented on #375
@EUzkuraityte Yes, this can be localised. Councils were supposed to submit pull requests with their local settings on the prototype, but I'll just do it now.

[2017-06-13 09:09] #375 closed, assigned to nobody

[2017-06-13 09:14] suryanaga commented on #409
Yeah, the dates in the Argleton bit of the prototype use the pattern in the service manual. The stuff in the IDP part can't really be controlled.

[2017-06-13 09:14] #409 closed, assigned to suryanaga

[2017-06-13 09:23] EUzkuraityte commented on #487
Closing this issue as it was not observed in UR

[2017-06-13 09:23] #487 closed, assigned to nobody

[2017-06-13 09:29] suryanaga commented on #567
Yeah, I'll do this

[2017-06-13 09:36] EUzkuraityte commented on #327
Closing this as I believe this particular error was fixed

[2017-06-13 09:36] #327 closed, assigned to nobody

[2017-06-13 09:43] EUzkuraityte commented on #292
Closing this as we recommend not asking users to upload proof of vehicle docs or provide V5C info

[2017-06-13 09:43] #292 closed, assigned to nobody

[2017-06-13 09:48] EUzkuraityte commented on #226
link to #259

[2017-06-13 09:49] EUzkuraityte commented on #205
link to #566

[2017-06-13 09:51] EUzkuraityte commented on #148
Link to #568 and #567

[2017-06-13 09:53] EUzkuraityte commented on #126
Link to #557

[2017-06-13 09:54] EUzkuraityte commented on #4
link to #452

[2017-06-13 09:54] EUzkuraityte commented on #4
I believe v1 of this has been done and is being tested

[2017-06-13 09:56] EUzkuraityte commented on #326
Link to #569

[2017-06-13 10:23] suryanaga commented on #568
Pulling email from the payment screens completely depends on the payment provider. My guess is it won't be possible.