[2017-01-03 10:45] suryanaga opened #1 "Both: Enter new address field if address is 'no' to current address"
If no, have you recently moved?

If recently moved, either:

 - Confirm in a legally binding way that the new address is real
 - Send pass/permit to address to confirm address (if physical)
 - Issue temporary permit (if digital)

[2017-01-03 11:00] suryanaga opened #2 "Add contact council to header"

[2017-01-03 11:06] suryanaga opened #3 "Both: Add checkbox about consenting to use data from Verify on start pages"

[2017-01-03 11:06] suryanaga opened #4 "Both: Example renewal notification letter / email / text"

[2017-01-03 11:06] suryanaga opened #5 "On payment screens, send card details / address through to confirmation page"

[2017-01-03 11:06] suryanaga opened #6 "ConTravel (photoguide): Change colour of white bits of images"

[2017-01-03 12:42] #2 closed, assigned to nobody

[2017-01-03 12:45] suryanaga opened #7 "Concessionary travel: Clarify description of service in relation to Eng/Scot/Wales"
The service pattern is specific to the England National Concessionary Travel Scheme - the schemes in operation in Wales, Scotland and Northern Ireland are significantly different to that in England and include different services and eligibility criteria. For clarity I think any GOV.UK Page should point Scottish Welsh and Northern Irish residents to the appropriate government website. Not sharing a

[2017-01-03 12:46] suryanaga opened #8 "Concessionary travel: User need paragraph says they are entitled to free public transport"
User need paragraph says they are entitled to free public transport

This may be true in London where they can use their pass on Tube and Tram, but it is not true across the rest of England. The only thing they are universally entitled to is free off-peak bus travel. Paragraph 1 also mentions trains and train travel which could be misleading

I think it would also be useful to mention the geograph

[2017-01-03 12:47] suryanaga opened #9 "Concessionary travel: Description of physical bus pass"
Paragraph 8 says

Bus passes are a physical plastic card that users can use on any bus in England. They show it to the driver on the way onto the bus.

In London, the pass is an Oyster card which the user scans on a reader.

What it should say is;

Bus passes are a smartcard in all parts of England which are all scanned on the ticket machine on the bus. However, In London, the pass is an Oyster ca

[2017-01-03 12:48] suryanaga opened #10 "Concessionary travel: Expiry date"
Paragraph 9 says "To minimise user's effort, these expiry dates should not be less than 5 years from the time of issue."

In actual fact, the expiry date cannot be more than 5 years from the date of issue.

Paragraph 6 of The Concessionary Bus Travel (Permits)(England) Regulations 2008 states
(6) The period for which any permit is issued shall be not more than a period of five years beginning with

[2017-01-03 12:52] suryanaga opened #11 "PP: Do we need to add some content about how to fine people?"

[2017-01-03 12:52] suryanaga opened #12 "PP: Do councils need to check if users have outstanding fines?"

[2017-01-03 13:01] suryanaga opened #13 "Concessionary travel: Add links to legislation in relevant places"
Add links to [legislation](http://www.legislation.gov.uk/all?title=concessionary%20travel)

[2017-01-03 15:11] suryanaga opened #14 "ConTravel: Confirm Date of Birth"
If DoB is correct and allowed:

User goes to next page

If DoB is correct and not allowed:

Go to not eligible page

If DoB is incorrect but user gives an allowed DoB:

User must prove their age some other way - Contact council?

If DoB is incorrect and then user gives a not allowed DoB:

Go to not eligible page

[2017-01-03 15:55] suryanaga opened #15 "Both: Technical components content"
Need to add some content to describe the technical components underpinning the connection with Verify.

[2017-01-03 16:02] suryanaga commented on #15
The 'service SAML' is the part of the Relying Party (council)'s service which sends SAML to Verify. There are many free and open source third party tools councils can utilise to serve this function.

1. Service SAML creates Auth request
2. Service SAML session store records auth request ID
3. Matching service receives matching request
4. Matching service responds 'no match'
(Here if we were matchi

[2017-01-03 16:03] suryanaga commented on #15
@gdsamit Is the above correct?

[2017-01-03 16:14] suryanaga opened #16 "Both: Add average wait time to receive permit/pass"
Irina & Egle to gather data on this.

[2017-01-03 17:55] suryanaga commented on #10
We should definitely mention this maximum expiry date, but I'd like to include a minimum to minimise user effort.

Can we do recommend a 3 year minimum perhaps?

[2017-01-04 14:32] suryanaga commented on #10
Fixed in commit 7a280ba

[2017-01-04 14:33] #10 closed, assigned to nobody

[2017-01-04 15:00] suryanaga commented on #3
Going to check with Ant Lord about this, but possibly we should be following the pattern used [here](https://claim.redundancy-payments.service.gov.uk/claims/choose-how-to-verify)

In particular, I'm unsure whether or not we should take out any mention of Verify from the start page as in the redundancy service.

[2017-01-05 13:16] irinapencheva commented on #3
Could we make sure that whatever we agree to is also replicated in the Blue Badge pattern?

[2017-01-05 13:20] irinapencheva commented on #9
Worth including a picture of a sample pass on the confirmation page

[2017-01-05 13:28] suryanaga commented on #3
@irinapencheva Yeah, that makes sense. We should talk about when/if we're going to include the Blue Badge pattern in this project.

[2017-01-05 13:39] #1 closed, assigned to nobody

[2017-01-05 14:15] gdsamit commented on #15
Service creates **Authn request** SAML

Service records authn request ID in its session store

Matching service receives matching request
Matching service responds 'no match'

(Here if we were matching, the service would interact with a data store, but for new applications this is not needed.)

Matching service receives unknown user account creation - responds 'success'

Service receives assertion

[2017-01-05 14:21] gdsamit commented on #15
(Sorry - missed your request in a sea of mail from github...)

[2017-01-05 14:44] #14 closed, assigned to nobody

[2017-01-05 15:48] #8 closed, assigned to nobody

[2017-01-06 10:04] irinapencheva opened #21 "Add alternative ways to access the service"
This is applicable for both services

[2017-01-06 18:07] suryanaga commented on #21
Thanks @irinapencheva. Can you say what the alternative ways to access the service are? (Do you mean non-verify or offline?)

[2017-01-06 18:16] suryanaga opened #22 "ConTravel: Add more ways users can find out about the service"
From Herts:

"From our user research, users also get this information from:

Libraries
District and borough councils
Word of mouth"

[2017-01-06 18:19] suryanaga commented on #21
Non-verify use case also mentioned by Herts

[2017-01-06 18:25] suryanaga opened #23 "ConTravel: Should we add libraries to photo options?"
From Herts:

"Within the example service, there’s an area where you upload your photo under the ‘I have a printed photo’ and then a link telling the user to ‘use a different service’.

Rather than default to paper, we could look into the possibility of libraries taking photos for users."

[2017-01-06 18:28] suryanaga opened #24 "Do users need email confirmation of their application and status updates while waiting?"
Thing to find out in research.

Comment from Herts:

"Could the user ask for an email confirmation?

Not essential if we get the confirmation screen message right but maybe something we could add. However, we would need to ask for their email address at this point (as we don’t ask it anywhere else in the application and we wouldn’t get it from the identity provider)"

[2017-01-06 18:32] suryanaga opened #25 "ConTravel: Add page asking for users email address/other contact detail so that they can receive a renewal notification"
This is needed for point 10 - Renewals. This is already in the permits service so can be copied over easily.

[2017-01-09 09:50] irinapencheva commented on #21
Hi @sanjaypoyzer - the alternative ways depend on the council - some have online process with scanning of documents, offline or post. So guessing we should have a placeholder example sentence for where the alternative ways to access the service should be.

[2017-01-09 10:50] suryanaga commented on #21
Right yeah, so I mean what are the needs for the alternatives?

I think there's:
 - I can't Verify myself (ie user has tried with a couple of IDPs and failed to Verify.)
 - I find it hard to use a computer without assistance

Any others?

[2017-01-09 11:27] irinapencheva commented on #21
Those are the 2 main scenarios - or if for some reason the online eligibility checking doesn't work.

[2017-01-09 14:36] suryanaga opened #26 "Replace 'council start page' with 'service start page'"
'council start page' is too open and can be confused with the main landing page for the site or parking page or any other page

[2017-01-09 14:44] suryanaga opened #27 "PP: Change 'enter license number' to 'enter vehicle details'"
'Enter licence number' to be replaced with 'enter vehicle details' and in this section we need to add something like : 'If the price of the permit varies depending on the vehicle type, emissions, make or any other condition, the council should present information or a tool that allows correct calculation of the permit price'

[2017-01-09 15:39] suryanaga opened #28 "Add 'including but not limited to' above list of awareness steps"

[2017-01-09 15:51] suryanaga opened #29 "PP: Add 'any other information the user needs to provide' to start page list to include"
But only if the service is differing from the pattern (not recommended)

[2017-01-09 16:06] suryanaga opened #30 "PP: Add 'permit eligibility requirements' to things needed on start page"
It's already on the actual start page, just need to add it to the bullet list

[2017-01-09 18:15] #30 closed, assigned to nobody

[2017-01-09 18:21] suryanaga commented on #30
Thanks @kateiw 🐐 💯  🙏

[2017-01-10 10:44] suryanaga commented on #29
<img width="745" alt="screen shot 2017-01-10 at 10 42 04" src="https://cloud.githubusercontent.com/assets/4106955/21803328/7ca74a7e-d721-11e6-9fd9-e38157a25842.png">

To clarify, this is adding the words 'if the service differs from this pattern, include any other information the user needs to provide' to that list.

@kaydale - Cool to assign this to you?

[2017-01-10 10:46] #28 closed, assigned to nobody

[2017-01-10 10:46] kaydale commented on #29
sounds good - as soon as I get my alpha gov account sorted :(

[2017-01-10 10:47] suryanaga commented on #27
@kateiw - Cool to assign this to you?

[2017-01-10 10:56] suryanaga opened #33 "Should the prototype/pattern include choice of permit?"
What are the choices of permit that different councils have?

[2017-01-10 10:57] suryanaga opened #34 "Check about usage of passport photos"

[2017-01-10 10:58] kaydale commented on #33
@sanjaypoyzer For Sunderland they have different permits for different areas of the town. Some are free permits some are chargeable.

The other scenario might be resident permit vs visitor permit.

[2017-01-10 10:59] suryanaga commented on #34
@irinapencheva Can I leave this with you to chase with the Passport people? Ed Horsford and John Waterworth at GDS worked with them so they may also info. (Although I've already asked Ed about it and he doesn't know, he might be able to give you a contact if you need one.)

[2017-01-10 11:00] suryanaga commented on #33
@kaydale Yep, area of permit should definitely be one.

Visitor permit is out of scope for the pilot, but we should add a fake link to a resident's permit service in there.

[2017-01-10 11:03] suryanaga opened #35 "PP: Should we add a 'Check before you start'?"
We should see in user research whether or not people read the text on the start page and work out whether we need to include a 'Check before you start' eligibility checker flow before making users Verify.

[2017-01-10 12:25] suryanaga opened #36 "PP: What should a user do if they lose their permit?"
Should probably add some content onto the start page (Section 3) and also the section about renewals (Section 8)

Also worth putting a thing in Section 3 when we talk about renewals that says something like "To read more about renewals, scroll down to Section 8"

[2017-01-10 12:54] suryanaga opened #37 "PP: Add requirement for expiry date on temporary permit"
When talking about temporary physical permits, we should mention that they need to clearly display the expiry date

[2017-01-11 10:48] irinapencheva opened #38 "ConTravel: Add to start page a comment that the service is for age-based concessionary travel and not disabled passes"

[2017-01-11 15:34] #26 closed, assigned to kaydale

[2017-01-11 15:34] #29 closed, assigned to kaydale

[2017-01-11 15:57] suryanaga commented on #6
Would actually be best to provide versions of the images which work on both light and dark backgrounds, so all councils can use them.

[2017-01-11 16:18] suryanaga commented on #21
@irinapencheva I've added pages (via PR #40) on both services after the start pages about verifying your identity. (Like [this one](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/prove-identity).)

The link on there for other ways to prove your identity doesn't go anywhere. I've also added a tiny bit of text on the pattern pages - "Councils should offer

[2017-01-11 16:28] irinapencheva commented on #21
@sanjaypoyzer suggestion on the rephrasing: 'Councils should offer an alternative to GOV.UK Verify as the service might not work for everyone. The alternative could be accessing through the existing offline or other partially online service.'

[2017-01-11 16:58] suryanaga commented on #21
What is a partially online service?

On Wed, 11 Jan 2017, 16:28 irinapencheva, <notifications@github.com> wrote:

--
Sanjay Poyzer

Twitter: @sanjaypoyzer

Tel: +44 7895 123 673

[2017-01-12 12:33] suryanaga opened #41 "Users need to know how their data will be used"
Services have a legal obligation to inform users how their data is going to be used.

The patterns need to follow our privacy principles. If they councils differ from the pattern in any way, they still must follow those principles. (There's a more public version of this list [here](https://identityassurance.blog.gov.uk/2015/09/11/gov-uk-verify-identity-assurance-principles/)).

Also worth looking

[2017-01-12 12:39] suryanaga commented on #41
Oh, also forgot to mention - There is already a link to a non-existent 'privacy policy' on the photo upload page (`/service-patterns/concessionary-travel/example-service/photo/upload`). Worth thinking about whether or not this should link to a general council privacy statement, or a photo specific one. This will differ based on what the councils will do with the data, but we should work out a reco

[2017-01-12 12:45] suryanaga opened #42 "Bug: Radio buttons style"
When I was playing with the styles for the checkbox, I broke the radio buttons style.
<img width="600" alt="screen shot 2017-01-12 at 12 44 33" src="https://cloud.githubusercontent.com/assets/4106955/21890280/e5c516fe-d8c4-11e6-8ef9-c4cd52911cd9.png">

[2017-01-12 12:47] suryanaga commented on #3
Reopening this issue as it's not done on both services.

[2017-01-12 12:59] kaydale commented on #33
Pete adds:
Some councils have parking zones (not sure if costs vary between zones), so we may well need to be able to support the idea that you might be applying for a permit for Argleton Zone X, or possibly for Imaginary Hill in Argleton
https://www.canterbury.gov.uk/parking-travel-roads/apply-for-a-parking-permit/
https://www.brighton-hove.gov.uk/content/parking-and-travel/parking/resident-parki

[2017-01-12 13:06] kaydale opened #43 "Prepopulate billing address field with current address"
From Pete: Billing address - Is there any opportunity to pre-populate? I know duplicate data entry is something people hate

[2017-01-12 13:09] kaydale opened #44 "PP: Do you only ever have one permit?"
From Pete:
You already have a permit - Are we confident that it is always a simple 1-to-1 relationship? Especially when considering zones.

[2017-01-12 13:12] kaydale opened #45 "Is putting Verify in front of the application process going to cause higher dropout?"
From Pete: Some councils that have a current My Account area had issues with users being unable to get through the account creation process, and so being put off the application process. Is putting Verify in front of the application process going to cause similar issues?

[2017-01-12 13:14] kaydale commented on #24
From Pete:

Confirmations and reminders - User expressed a need for being kept up to date with progress of their application. Is there any opportunity to support progress / update notifications?

@sanjaypoyzer is this a separate issue as it speaks to "status of application" rather than confirmation of application being received.

[2017-01-12 13:22] suryanaga commented on #43
Yep, that's a good spot.

I imagine lots of council's payment component will be difficult to hand data to, but definitely worth saying in the pattern they should do it if possible.

Definitely worth integrating into the prototype as well. At least for now, probably worth having it show a made up address to users to confirm as it's difficult to get prototype to store user-entered data.

You can bas

[2017-01-12 13:24] suryanaga commented on #45
Yep, something to find out in research.

[2017-01-12 13:32] suryanaga commented on #44
No, it's not always 1-1, different councils have different rules. Have tried to talk about this in the pattern page, but worth talking about more maybe.

Also worth mentioning here that I'm planning to build in a thing at the start of Alpha where councils can change these variables for their own versions of the prototype.

[2017-01-12 13:43] suryanaga commented on #24
@kaydale Let's leave it rolled up in here for now, and I'll edit the title to reflect that.

[2017-01-13 10:04] suryanaga opened #47 "Add loading message after user clicks GOV.UK Verify"
This is because the Verify stable prototype usually needs to be 'woken up'. The loading message shouldn't need to be in the actual service, it's just for the prototype, but worth putting in before we put this in front of real users.

[2017-01-13 10:23] suryanaga commented on #13
Closing this issue as it's too general and I'm not sure where we should specifically mention legislation right now.

[2017-01-13 10:23] #13 closed, assigned to nobody

[2017-01-13 10:48] kateiw commented on #6
In ConTravel there's a bit for upload passport style photograph. When you click through to the example it steps you through how to take a photo  - we need a light and a dark version of each image. Some are already done using code in SVG, but others need to be photoshopped to create a dark one. Match colours to those already done. Look in prototype for ones that need fixing.

[2017-01-13 10:57] kateiw commented on #38
@irinapencheva did this come from user research? I would avoid adding this comment unless we know people are confused by the information already provided. It's already very clear it's for older persons from the title.

[2017-01-13 12:05] irinapencheva commented on #38
@kateiw  I think a council had a comment, but you're right - it's clear from the title.

[2017-01-13 12:47] kateiw commented on #37
@sanjaypoyzer is this telling users to clearly display the expiry date? or telling councils the expiry date should be clearly visible so users can see and are reminded when it expires?

[2017-01-13 12:47] kateiw commented on #37
@sanjaypoyzer ie clearly visible to who?

[2017-01-13 12:51] kateiw commented on #9
@sanjaypoyzer @kaydale we need to get a content designer on this. That replacement paragraph is super confusing.

[2017-01-13 13:27] suryanaga commented on #37
@kateiw It concerns the design of the actual permit. In other words, the permit must clearly show the expiry date so that it is clearly visible to wardens who are checking it. Not 100% sure where this should go - Probably in Section 9: Checking permits.

[2017-01-13 13:29] suryanaga commented on #9
@kateiw Yeah, that was just copied from the actual feedback from councils, not a suggestion for actual content. Kay can pull in Ant Lord for help with this if needed.

[2017-01-13 13:48] suryanaga commented on #25
Also just noticed the link for section 8 was never done, so will do this as part of this issue.

[2017-01-13 14:19] kaydale commented on #3
@sanjaypoyzer this isn't done for con.travel... did you want me to do it, or was that the test?

[2017-01-13 14:26] suryanaga commented on #3
@kaydale Did you check out the right branch that PR #48 has?

[2017-01-13 14:30] joanneSouthern commented on #23
our contact centres take photos now for passes

[2017-01-13 14:32] joanneSouthern commented on #9
In Northumberland passes are scanned the bus driver doesnt really get shown them

[2017-01-13 14:41] joanneSouthern commented on #33
we issue a visitor permit and an allocated to a car permit per household, i wouldnt want to have to separate processes  for the pilot as they will run out at the same time and thus they apply for them both at the same time, we can probably handle this within the form

[2017-01-13 14:46] kaydale commented on #3
@sanjaypoyzer in sourcetree Im on branch "move-verify-stuff" and in local host I can not see that this
![Uploading Screen Shot 2017-01-13 at 14.45.52.png…]()

[2017-01-13 14:48] kaydale commented on #3
Im on sourcetree now and I checked out branch move-verify-stuff but I see this when I go to localhost.
![screen shot 2017-01-13 at 14 45 52](https://cloud.githubusercontent.com/assets/20561170/21933911/4459c342-d99f-11e6-887d-1194f19996c8.png)
which is why I am not sure whats going on

[2017-01-13 14:50] suryanaga commented on #3
Check the branch on #48 again ;)

[2017-01-13 15:03] kaydale commented on #3
So you made a new branch (move-verify-stuff-2) so I checked it out and now on local host I see
![screen shot 2017-01-13 at 15 02 09](https://cloud.githubusercontent.com/assets/20561170/21934463/63b25856-d9a1-11e6-9bed-028ac7655de9.png)

Meaning I think this issue is now fixed :)

[2017-01-13 15:03] #3 closed, assigned to suryanaga

[2017-01-13 15:11] kateiw commented on #23
@sanjaypoyzer The other options here are council specific - so perhaps they shouldn't be included in the pattern?

[2017-01-13 15:15] #27 closed, assigned to kateiw

[2017-01-13 15:24] #42 closed, assigned to suryanaga

[2017-01-13 15:29] kateiw commented on #23
We want to find out how many councils actually do this, and if it occurs commonly enough to be included into the pattern.

[2017-01-13 15:45] #38 closed, assigned to nobody

[2017-01-13 16:30] EUzkuraityte opened #52 "PP: Amend checking permits advice"
Section: What is the user journey? 9. Checking permits

1. 'where they can pick up their permit from to get it faster' change to 'if they can pick up their permit from a council office to get it faster and where from'

2. add to the list 'advice on how customers can park without their permit until they receive it'

[2017-01-13 17:29] #7 closed, assigned to nobody

[2017-01-13 17:29] #37 closed, assigned to nobody

[2017-01-13 17:29] #22 closed, assigned to kaydale

[2017-01-16 12:58] kaydale opened #54 "Contravels: Renewals notification add billing address on dropdown"
on this page:
/service-patterns/concessionary-travel/example-service/renewal-notification
If the user selects the "Letter (send to billing address)" option we should show the billing address in a dropdown.

[2017-01-16 15:54] kaydale opened #56 "ConTravel: Content rewrite for service pattern page"
Northumberland feedback: "I dont think we can make comments about their income or ability to drive, its a mandatory requirement that councils must fulfill in England"

In regards to "What is the user need?" content

[2017-01-16 15:58] kaydale opened #57 "ConTravel: Should we include in aware the bulletpoint about notifying citizens of eligbility?"
A few LA's expressed concern.

[2017-01-16 16:27] kaydale opened #58 "Both: Build out "other ways to apply" functionality"

[2017-01-16 16:27] kaydale opened #59 "Both: Build out "fail to verify" functionality"

[2017-01-16 16:37] kaydale opened #60 "Both: What happens when something goes wrong?"
At the moment the pattern doesn't collect the users contact number or email address. How would a LA contact the user when something wen't wrong?

[2017-01-16 16:41] kaydale opened #61 "ConTravel: Rewrite renewals section"
LAs:
We don't write out to residents in case they have past away, moved, to try and prevent fraudulent applications & to save money. Could be emailed rather then posted out, might be issue if people have passed on

[2017-01-16 16:43] kaydale commented on #61
Currently this is an "opt in" part of the service. This could something to explore through the use of notify in the future.

[2017-01-16 16:47] kaydale opened #62 "ConTravel: Add content about linking to replacements service"

[2017-01-17 12:24] kaydale opened #63 "ConTravel: Some LAs automatically renew bus passes. How many others do this?"
Feedback fro Herts

[2017-01-17 12:27] kaydale commented on #56
Warwickshire:
We felt that the user need section was not reflective of the real situation.
There are a number of reasons why a citizen may want a concessionary travel pass and either this statement should be greatly expanded to include other use cases or it should be replaced with a simple statement that:

Under the provisions of the Transport Act 2000, as amended, in England outside London the st

[2017-01-17 12:31] kaydale opened #64 "ConTravel: Remove the mention of welsh schemes in 2. Check you are the right age"

[2017-01-17 12:37] kaydale opened #65 "ConTravel: Do users question the role of Gov.UK verify on service start page?"
Warwickshire: The start page states:
When applying, you'll need to login or create an account with GOV.UK Verify.
We feel this needs further justification, perhaps:

Completing your application online using GOV.UK Verify will allow you to renew your pass without having to provide evidence of age or residency.
There is currently no option to proceed without registering with GOV.UK Verify, which wil

[2017-01-17 12:45] kaydale opened #66 "ConTravel: 9. Use bus pass content rewrite needed"
Bus passes are a physical plastic card that users can use on any bus in England. They show it to the driver on the way onto the bus.

This is incorrect. An ENCTS pass is a credit card sized smart card produced to the ITSO specification. This can be read electronically by modern ticket machines outside London. In London ENCTS passes are issued as Freedom passes using Oyster technology as well as co

[2017-01-17 12:51] kaydale commented on #34
Warwickshire:
We would suggest that these should be simplified to reflect the actual requirement:
Photograph must be a good current likeness
Face the camera with a plain expression
Head and shoulders only
No hair over face
Not wearing headgear unless for religious or medical  reasons
Eyes must be visible
No Other people visible in the picture

[2017-01-17 12:52] kaydale commented on #34
Warwickshire:
Check the lighting. We would accept all 3 photographs in the guidance as the applicant is clearly recognisable in each.

[2017-01-17 12:52] kaydale commented on #34
Warwickshire: The GDS guidance prohibits the scanning of a printed picture; we would allow this provided that the image was clear.

[2017-01-17 12:53] kaydale commented on #34
Warwickshire:
The guidance states Don’t worry about cropping the photo – we’ll do that for you when you submit your application. We only crop approximately 25% of current application photographs, so taking this approach would result in a significant increase in work.

[2017-01-17 12:53] kaydale commented on #34
Warwickshire:
The guidance does not permit the use of a webcam to take the photograph, we would allow such use if the picture was useable.

[2017-01-17 12:54] kaydale commented on #34
Warwickshire:
The guidance on providing photographs seems overly stringent, whilst the regulations require a passport style photograph we do not believe that all the rules for the provision of a passport photograph are required.

[2017-01-17 12:54] joanneSouthern commented on #63
We dont automatically renew bus passes - Northumberland

[2017-01-17 12:56] kaydale commented on #34
Central Bedfordshire:
Is this factually correct or just a generalisation?  –my understanding is that the over 60s are more well off than the 20 somethings for instance. To be fair – having Googled this I have no idea why the scheme was introduced in the first place. Can we find this out?

[2017-01-17 12:59] joanneSouthern commented on #66
Northumberland - we use ITSO specification as mentioned above, saying its a physical plastic card is too simplistic

[2017-01-17 16:27] kaydale commented on #59
On the "verifying your identity page" we need to add a link to a fail verify journey. Needs hyperlinked txt and adding /&verify=false/ to the string

[2017-01-17 17:07] kaydale opened #67 "ConTravel: What if verified address doesn't match local authority?"
In Index change to this:
See the example page asking users to confirm their name and address

If the user says the address returned is not correct, they are likely to be a new resident whose address has not been updated with their identity provider. The user should then be asked to enter their current address and warned that they must not enter false information. If the bus pass is physical, counc

[2017-01-17 17:44] kateiw commented on #6
@sanjaypoyzer @kaydale are these assets to be reused by LAs to build real services or just for prototyping? If the former we need to to a clean up of all assets to optimise for web.

NB: Ask Ed.

[2017-01-18 09:10] kaydale commented on #58
First pass of this is done but I need help with the routing. I won't push until I've finished it all.

[2017-01-18 17:46] irinapencheva commented on #54
@kaydale - what do you mean by 'billing address'? In ConTravel there's no payment, so might be confusing

[2017-01-19 09:29] kaydale commented on #54
@irinapencheva You're totally right - this should say something about verified address. The issue is relate to this page https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/example-service/renewal-notification

[2017-01-19 09:55] irinapencheva opened #69 "ConTravel: Councils outside London don't write to people to tell them they're eligible for a pass - remove reference in the pattern"
More User Research needed to understand awareness

[2017-01-19 09:57] irinapencheva commented on #54
Great, yep, just a minor change then. Thanks!

[2017-01-19 10:04] kaydale opened #70 "ConTravel: Application without using verify needs a new success page"
I didn't do this yet as I think it needs some fancy routing work.

[2017-01-19 11:02] #6 closed, assigned to kateiw

[2017-01-19 11:11] #59 closed, assigned to kaydale

[2017-01-19 11:27] kaydale opened #72 "PP: update "aware" content"
Feedback from LAs. Action required:
Change wording to:

Users need to find out about the parking permits service before they need to park their car. There are a number of ways users could find out about the service, for example:

- information from the council when they sign up for council tax
- information from their estate agent when they buy their house
- signage in the street

Local authoritie

[2017-01-19 11:44] kaydale commented on #52
10. Checking permits
It's better for users and cheaper for government if the permits are issued electronically. Wardens check the permits by entering number plates into a database.

Councils who haven't yet moved over to an electronic permit system, should have a plan in place to move over.

In the meantime, councils should mention in the payment receipt

- how long they will need to wait for a pe

[2017-01-19 16:01] kaydale commented on #9
add stuff about: "how they use their bus pass, bus pass is scanned"

[2017-01-19 16:15] kaydale commented on #62
Need to get a rough idea of the different policies & processes are in order to build this. @irinapencheva is this within scope of the pilot?

[2017-01-19 16:16] #58 closed, assigned to kaydale

[2017-01-19 17:00] kaydale commented on #60
Add an example page to both services using this code: http://govuk-elements.herokuapp.com/form-elements/#form-toggle-content

[2017-01-19 17:17] kaydale commented on #36
This is the same as #62 so I will delete this one

[2017-01-19 17:22] #61 closed, assigned to nobody

[2017-01-19 17:24] kaydale commented on #61
Closed issue and wont be making changes.

If a user has opted in to renewals they would expect to get a notification a the need to renew. If the user has passed away the "tell us once" service should pick that up.

[2017-01-19 17:26] kaydale commented on #63
If you have moved address how does this work? @irinapencheva can you investigate? This should only be automatic if the council is sure they have an up to date address

[2017-01-19 17:31] kaydale commented on #65
We think that the service start page should not be about deciding to apply with verify or not. This page should be about informing the user over whether this is the right service for them. The interstitial page should be about deciding to use verify or not.

[2017-01-19 17:31] #65 closed, assigned to nobody

[2017-01-19 17:59] #69 closed, assigned to kaydale

[2017-01-19 18:09] #54 closed, assigned to nobody

[2017-01-20 12:10] irinapencheva commented on #63
@kaydale - sure, will include as a question to investigate in next round of service pattern comments

[2017-01-20 12:14] irinapencheva opened #74 "ConTravel: Could we move the order of confirming name and age first and address second? If the user changes their current address but then sees a DOB that is not theirs/makes them ineligible, they've wasted time to input new address."
This could be tested as part of UR to see what makes more sense

[2017-01-20 16:18] irinapencheva commented on #62
@kaydale Scope of pilot is only new applications, so replacements is not covered in terms of the transformation. But councils should definitely incl. some guidance on what to do if pass is stolen/lost

[2017-01-20 16:52] EUzkuraityte opened #76 "PP: correct step numbering"
There are two step 5s. Please can you change it to 6 for 'If a user fails to verify' and adjust all the following numbers?

[2017-01-20 16:56] EUzkuraityte opened #77 "PP: amend wording in step 2"
Please can you change 'their parking permit service serves' to 'their parking permit service covers' ?

[2017-01-20 16:58] EUzkuraityte opened #78 "Add DVLA API lookup to prototype and pattern"
Can we change from '7. Enter vehicle details' to '7. Enter vehicle details and additional information'

[2017-01-20 17:00] EUzkuraityte opened #79 "PP: edit step 7. Enter vehicle details content"
could you add: at this point the user should also be allowed to select the permit start date and choose the length of permit (if available)

[2017-01-23 12:43] EUzkuraityte opened #80 "PP: What is the user need? minor changes required"
1. please change 'car near their house.' to 'car near their home.'
2. please change 'Parking permit services makes sure' to either 'Parking permit service makes sure' or 'Parking permit services make sure'
3. would you be able to add sth along the lines of 'We recommend that local authorities provide parking permit service using user centric approach. This will ensure that every resident has a saf

[2017-01-23 13:04] EUzkuraityte opened #82 "PP: What do councils need from users to deliver the service? - add a line before the bullet list"
@kaydale could you add sth like this:

'Depending on local authority needs, the user may be asked to provide a combination of: '

[2017-01-23 13:11] EUzkuraityte opened #83 "PP: What is the user journey? - needs minor changes"
Please can you change : 'Local authorities should make sure the right information is being provided through these channels.' to:

'Local authorities should make sure the correct information is being provided through all channels within their control'

[2017-01-23 13:16] EUzkuraityte opened #84 "PP: edit step 8.Pay"
Please can you add a sentence after this - 'The fee will vary based on the fee calculation rules determined by each individual council'. Please add ' In some cases the permit can be issued free of charge, for example, if the resident is the 1st one of his or her household to apply'.

[2017-01-23 13:19] EUzkuraityte opened #85 "PP: add to step 9. Receive permit confirmation"
Please add a sentence after this one: 'They should also receive information about how the permit will be enforced (See step 8).'

Please add: 'If the payment cannot be accepted or if the application fails for some reason (i.e. times out) the user should be shown an on-screen message that specifies the next steps a user should take to continue with the application'

--------------

could you also c

[2017-01-23 13:22] EUzkuraityte opened #86 "PP: Step 11: Renewals prototype"
The link provided is circular. Please can you advise if the prototype page is in development?

[2017-01-23 13:27] EUzkuraityte opened #87 "PP: add to the bullet list on step 3. Service start page"
Could you add sth similar to the bullet list:

'a postcode look up tool to check eligibility for available permits based on selected address (if deemed necessary by the council due to complexity to available permits)'

It relates to the 1st bullet point on the list and provides an option for a complex system that could take up a lot of time / effort is it was to be written up.

[2017-01-23 14:48] EUzkuraityte opened #88 "PP: [urgent] incorrect flow of information in steps 4 & 5"
@kaydale this is quite urgent. #Please can you move this section from Step 4 to Step 5:

'At this point the council should check whether or not the person or the household already has a parking permit. For some councils this may affect the price, for others it might mean the user can not have another permit.'

at this point the user's address is not yet know as it hasn't been returned from Verify

[2017-01-23 14:56] EUzkuraityte opened #89 "PP: prototype for Steps 6a & 6b"
Hi, if possible, could you mock up the prototype for:

See the example page which says what types of permits the user is eligible for (based no their address)
See the example page which says the user is eligible because they are the 1 st applicant of the household.

[2017-01-23 15:09] #72 closed, assigned to kateiw

[2017-01-23 15:14] #67 closed, assigned to kateiw

[2017-01-23 15:21] kaydale commented on #60
@kateiw How does this page sit in relation to the rest of the user journey? I can see you built the page but I don't know where it is in the flow?

[2017-01-23 15:27] kateiw commented on #60
I don't know 😕 Is the prototype as a whole strung together from beginning
to end?

I put a link to it from each index page in the new "Contacting users"
section i also added... But I haven't said where this should go in the flow
of the prototype.

What do you think?

On 23 January 2017 at 15:21, kaydale <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-01-23 16:11] kaydale commented on #60
@kateiw I think we might want to specify how this fits in the flow. Lets have some time together to discuss.

[2017-01-24 07:51] kaydale commented on #78
@EUzkuraityte It links with #79 I'm almost thinking these things might need to be split out across two pages in accordance with the "one thing per page" design principle.
@kateiw what do you think?

[2017-01-24 08:06] kaydale commented on #85
@EUzkuraityte do you think showing an on-sceen message is specific to 'receive permit' page or is that just more general and deserve it's own section in the pattern?

[2017-01-24 08:10] kaydale commented on #86
@sanjaypoyzer has this open as an issue he is working on (see issue #25) So I don't know if he already has built this but not pushed it to the main prototype. @EUzkuraityte do you think this one could wait until he is back?

[2017-01-24 08:17] #21 closed, assigned to nobody

[2017-01-24 08:25] #64 closed, assigned to nobody

[2017-01-24 10:44] anthonylord commented on #66
We're never going to be able to cover all bus pass formats, so we should make it as general as we can. So change to:

Bus passes are a physical plastic card that users can use on any bus in England. They either have to show it to the driver or scan on a reader when they get onto the bus.

[2017-01-24 11:09] anthonylord commented on #56
It's mandatory, the law, that councils must provide concessionary travel passes, but that's not a user need. It's not like taxes that everyone has to pay, not everyone that's eligible for a bus pass needs one. More info on user needs here for LAs: https://www.gov.uk/guidance/content-design/user-needs

I agree that what we shouldn't be saying this: 'As people get older, they are more likely to not

[2017-01-24 13:14] joanneSouthern commented on #60
Could it be at the point where we upload the photo we also collect email/phone details

[2017-01-25 09:45] petegale commented on #56
I agree with Ant, and the other comments here about this paragraph.

I also like the idea of structuring this as a user need. How about something simple like:
As someone who is eligible to travel for free
I need to apply for a concessionary travel permit
So that I am able to prove my eligibility and travel for free

[2017-01-25 10:00] #57 closed, assigned to nobody

[2017-01-25 11:54] ghost opened #94 "Can the age check at the start be internalised, rather than on a separate webpage?"
The GOV.UK service to check pension age is a bit old in the tooth (e.g. select boxes) - perhaps this should be improved? Alternatively, given the relative simplicity of the date logic, should this 'check' be part of the new service, rather than solely something independent?

[2017-01-25 11:55] ghost opened #95 "CT: For London boroughs, the eligibility is different from the rest of the country"
"In London, it might be more helpful to a resident to indicate when they become eligible for the 60+ Oyster, since this is when they first have the opportunity to meet their need for subsidised travel. This might be something like

""You qualify for a bus pass on 23 March 2021. However, as a London resident you can get a 60+ Oyster card, which also gives you free travel. You qualify for the 60+ Oy

[2017-01-25 11:57] ghost opened #96 "CT: Photo upload page should be more like confirmation page"
The page a user sees once they've uploaded a photo is effectively the confirmation page for their application, but it doesn't clearly feel like a confirmation page (eg https://govuk-prototype-kit.herokuapp.com/docs/examples/confirmation-page). The emphasised content on the page should refer to the completed application, rather than the uploaded photo.

[2017-01-25 11:58] samuelculley commented on #94
The page stating that a user is not eligible for a bus pass because of age might make it clearer that the person is not eligible yet. For London again, the first availability will be for the 60+ Oyster card, so this message should similar inform the user of the specific date they become available for the 60+ Oyster card, and provide a call-to-action for the user to go the right page on the TfL sit

[2017-01-25 11:58] ghost commented on #95
The page stating that a user is not eligible for a bus pass because of age might make it clearer that the person is not eligible yet. For London again, the first availability will be for the 60+ Oyster card, so this message should similar inform the user of the specific date they become available for the 60+ Oyster card, and provide a call-to-action for the user to go the right page on the TfL sit

[2017-01-25 12:02] ghost opened #97 "CT: Missing step for communicating with user about application status"
There's a step missing here that we have. After a user has applied, we send a letter (ew) to tell them that their application is valid and 'successful', and then the actual pass arrives in due course from the supplier. Here the confirmation page only states that "if your application passes manual checks, you'll get it in 7 days", but never gives the user an update on whether those manual checks ha

[2017-01-25 12:17] EUzkuraityte opened #98 "PP: a declaration / disclaimer page to deter users from committing fraud"
Heya,

Would you be able to mock up a carefully worded version of a declaration page that would deter users from committing fraud?

Something similar to the attached? it was requested by Sunderland this morning.

![screen shot 2017-01-25 at 12 16 47](https://cloud.githubusercontent.com/assets/20285115/22290354/2f904fc8-e2f8-11e6-842f-bb323cd4267e.png)

[2017-01-25 12:38] kaydale commented on #98
Sure @EUzkuraityte there are patterns for this on the central gov hackpad so I will use one of those patterns for now - but this would also be good to test in local gov.

https://designpatterns.hackpad.com/Declarations-RB89Ux2CqUn

[2017-01-25 12:42] kaydale commented on #95
@samuelculley Surely this is something specific to London LA's and thus should not be included as the main pattern but this would be a nuance of the pattern.

[2017-01-25 12:45] kaydale commented on #96
@samuelculley Yes I agree - it is best to follow the pattern (as closely as possible) that you have linked to given that it is a tried and tested design.

[2017-01-25 13:37] #76 closed, assigned to nobody

[2017-01-25 13:37] #84 closed, assigned to nobody

[2017-01-25 13:58] kaydale opened #99 "Both: on start pages add "other ways to apply" stuff"
Users need to be signposted to paper forms & phone numbers if they dont want to/ cant use the digital service.

[2017-01-25 14:07] kaydale opened #100 "Both: Last page should look more like confirmation page pattern"
https://www.gov.uk/service-manual/design/confirmation-pages

[2017-01-25 14:24] kaydale commented on #60
I think what needs to happen is:
Upload photo > Confirmation of photo upload success > Asking for contact details > Confirmation of application submission

[2017-01-25 14:29] #77 closed, assigned to nobody

[2017-01-25 14:29] #80 closed, assigned to nobody

[2017-01-25 14:30] #83 closed, assigned to nobody

[2017-01-25 14:30] #87 closed, assigned to nobody

[2017-01-25 14:31] #88 closed, assigned to nobody

[2017-01-25 14:42] #70 closed, assigned to kaydale

[2017-01-25 14:43] #52 closed, assigned to kaydale

[2017-01-25 14:47] kateiw commented on #97
@samuelculley can we not use the Home Office photo checker? It might need to be made a bit less strict but it should be open source to steal and adapt right? https://www.passport.service.gov.uk/photo/upload

Passport renewals still do a manual check against the old passport photo to make sure it's the same person, but we wouldn't need to do this. Then the notifications would become irrelevant as w

[2017-01-25 14:54] #56 closed, assigned to nobody

[2017-01-25 15:00] ghost commented on #97
Makes sense, I think there might be some discrepancy where the user's pass still has some checks to go through after they finish their online journey. I know at least one supplier that plans to check there aren't any duplicates only after the user has finished the application. I'm not sure how that would work, and I don't know if it's something we should include in the service pattern.

[2017-01-25 15:01] kateiw opened #101 "PP: Gathering contact details"
We should make it clear that we do this to communicate with users about the progress of their application if it requires manual checks, and for renewal reminders. We should also make it optional to provide this information.

Collection of this information for manual checks should happen at the end of the service flow, before the confirmation page.

If for renewals only then the call to action shou

[2017-01-25 15:05] kateiw opened #102 "CT: If there are manual checks involved, collecting contact information to notify user of progress"
We should only collect contact information if the application requires manual checks.

If we are using an automated photo checker then we should be able to confirm the application success and give a date they should receive their pass by immediately.

If we cannot use an automated photo checker then the collection of contact details should come after the photo upload stage, before the confirmation

[2017-01-25 15:11] kateiw commented on #97
That supplier/LA shouldn't be doing things in that way if possible. We should be failing users fast, so it would be better to use an API to check this while the user is going through the service.

Do you know why they plan to do it in this way?

[2017-01-25 15:16] ghost commented on #97
Their current pass printing setup also does their duplicate checking. They aren't sure how they could separate the two without having a lot of issues with suppliers. I don't have much knowledge about this though, it was raised as a concern when we did the service design workshop so things may have happened since then. I'm speaking to them later today so I'll find out what's up.

[2017-01-25 15:28] kateiw commented on #97
Cool. Either way I'd stay away from incorporating this into the pattern, it
sounds like a local idiosyncrasy and it's not something we'd want to
recommend.

K

On 25 January 2017 at 15:16, samuelculley <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-01-25 16:17] joanneSouthern commented on #12
Northumberland doesn't check outstanding fines

[2017-01-25 16:19] joanneSouthern commented on #11
Northumberland - Its part of the terms of conditions of the permit that states where the badge must be displayed otherwise they will get a fine, this is supplied when the permit is issued

[2017-01-26 10:39] irinapencheva opened #103 "CT: Add a screen - ineligible as existing pass already exists"
This should link to the renewals/ replacements process as well as 'other ways to apply' in case the user believes they don't have a card issued

[2017-01-26 14:34] EUzkuraityte opened #104 "PP: add to section Did the user recently move in?"
Should we be asking when the user moved in the property in addition to if they moved since the the old permit was issued.

comment in regard to this from Sunderland CC:

Because users are allowed 5 permits per property and charges increase for each additional permit, we would want to ask the question when the user moved into the property after we knew they were at an eliglible address.  We could t

[2017-01-26 14:42] EUzkuraityte opened #105 "PP: add to section Enter vehicle details"
Hi,

Suggestion from Bucks CC - Integration with the DVLA would be useful here.

I'm inclined to agree on this, but not sure if we want to add this to the service pattern given that V5C data is self asserted and it does not cover cases such as shared cars...

Please advise what you think.

[2017-01-26 14:51] EUzkuraityte opened #106 "PP: amend section Confirm address and eligibility"
At the end of the section, where it says that temporary permits should be for 3 months, could you change: ', they can issue a temporary permit for at least 3 months.' to

', they can issue a temporary permit for a shorter time period, for example 3 months.'

[2017-01-26 14:55] EUzkuraityte opened #107 "Add line about local links not being 100% accurate"

[2017-01-26 15:06] EUzkuraityte commented on #107
Until this is resolved I prefer not to be prescriptive about making LAs have links to GOV.UK form service pages...

[2017-01-26 15:10] EUzkuraityte opened #108 "PP: advise on users moving outside the borough or within (from one CPZ to another)"
Comment from B&H: Cancelling old permits and next steps - We need to encourage customers moving within Brighton to surrender old permits - the patten does not cover this

could we think of the best place in the user journey where we could incorporate this advice?

[2017-01-26 15:20] EUzkuraityte opened #109 "PP: can we make the prototype more consistent from slide to slide"
Feedback from B&H:
"Residents of Argleton are eligible for one parking permit each." and "Your address already has a permit" Can we talk about this? Households can get more than one permit. Residents can apply for multiple, but may not be successful.

Also, your question does not match the page - user and user's address have different criteria

[2017-01-30 10:05] kaydale commented on #89
@EUzkuraityte  eligibility page is here:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/eligible?
Do you think the bit about being the 1st applicant is an important details for the pattern?

Then on what type of permit the user is eligible for - could you give me an example of this content/scenario?

[2017-01-30 10:19] EUzkuraityte commented on #89
Hey! I'm happy to leave out the 'being the 1st applicant' detail, as LAs will amend it to their services as appropriate.

as for user being eligible for different types of permits, could you include:

1. an introduction that would say: 'Your home address is eligible for:' - this is to make it clear that the address can get these types of permits, but the user will not necessarily be able to get al

[2017-01-30 10:28] #99 closed, assigned to nobody

[2017-01-30 10:35] #66 closed, assigned to nobody

[2017-01-30 10:35] #82 closed, assigned to nobody

[2017-01-30 10:38] kaydale commented on #74
@irinapencheva Kate & I discussed on Thursday that actually this checking DOB should be a background task that the user does not see. It is an extreme edge case that verify would return an incorrect address and thus I don't think we should include a step where the user can change their DOB. We will still include the page about communicating to the user that they are not eligible because of age - a

[2017-01-30 10:38] #74 closed, assigned to nobody

[2017-01-30 10:39] #9 closed, assigned to nobody

[2017-01-30 10:43] irinapencheva commented on #74
@kaydale - sounds good, are you updating the comments spreadsheet or shall I as that was a council comment?

[2017-01-30 10:49] kaydale commented on #78
@EUzkuraityte as discussed earlier this can link to https://vehicleenquiry.service.gov.uk/ for the user to find out emissions etc..

The details I should add are:
Cylinder capacity (cc)
CO₂Emissions

Anything else?

[2017-01-30 10:57] EUzkuraityte commented on #78
@kaydale It's amazing! Do we know what kind of information it returns?
Does it provide a user's address (just asking because it asks for V5C!)

[2017-01-30 11:27] kaydale commented on #78
![vehicle enquiry-service](https://cloud.githubusercontent.com/assets/20561170/22421448/1d310436-e6df-11e6-9dc5-3c828cd98fb8.png)

[2017-01-30 11:41] EUzkuraityte commented on #78
awesome thank you! i had a couple of colleagues test it with their info and it didn't work so def need an alternative to manually enter the data.

Also, do we know what v5c adds to the process? does it enhance search and does it return any additional info if entered?

[2017-01-31 09:21] kaydale commented on #79
@EUzkuraityte Permit lengths - what form do they take? i.e:
Select the permit length you need:
- 1 month
- 3 month
- 6  month
- 12 month

Also how many LAs offer permit length/want to offer permit length?

[2017-01-31 11:31] #106 closed, assigned to nobody

[2017-01-31 13:47] kaydale commented on #104
@EUzkuraityte
![screen shot 2017-01-31 at 13 45 46](https://cloud.githubusercontent.com/assets/20561170/22467216/a3756280-e7bb-11e6-9334-b841a90d8514.png)

Doesn't this page cover that? Its section "7d. Did the user recently move in?"

It then takes you to: https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/moved-in

[2017-01-31 13:49] kaydale commented on #105
@EUzkuraityte what needs to change to the pattern on this?

[2017-01-31 16:26] #79 closed, assigned to nobody

[2017-01-31 16:26] #85 closed, assigned to nobody

[2017-01-31 16:35] kateiw opened #114 "Both: change start button"
We should change the start button to show it's an online application.

The text should change from "Start now" to "Apply online now".

[2017-01-31 16:45] kaydale opened #115 "Both: Fail to verify path"
Upon failing add a new page which is like a start page but telling the user they will need:
- proof of address (both)
- proof of age (CT)
- all the other service stuff...

[2017-01-31 16:48] kaydale opened #116 "PP: On the index page under 3. service start page"
Add a bullet point as follows:
- what information they need about the car for example number plate (registration number) of the vehicle

[2017-01-31 16:54] kaydale opened #117 "Both: on verifying your identity page"
Your permit will take longer to arrive as additional checking will be required.
change to
Your permit will take longer to arrive as additional checking will be required. You will also be required to upload proof of address such as:
- council tax bill
- tenancy agreement
- utility bill
- a recent bank statement

[2017-02-01 15:31] kaydale opened #118 "Parking permit: 7.a"
Content change. Instead of "please contact council" redirect to council look up tool.

[2017-02-01 15:35] kaydale opened #119 "Parking permit 7b. links to incorrect page in prototype of argleton"

[2017-02-01 16:25] kaydale opened #120 "Parking permit section 7"
7a = needs lots of work  (is for all inedible address scenarios)
7b = needs lots of work (is for too many permits at address so maybe cancel old permits)
7c,d,e = delete

if
7f. = send to visitsors permit application service.... this could be built into 7b. i.e if you actually want a visitors permit go here

Index page = fix fix fix!!

[2017-02-01 16:27] kaydale opened #121 "Both: Chose a format of index pages"
It is not clear what should be user facing terminology & transactions (aka included in the service) VS and what is for us to communicate with LAs about how the pattern should work.

[2017-02-01 17:00] kaydale opened #122 "ConTrav: add a page for not old enough & applying in wrong council"

[2017-02-01 17:05] kaydale opened #123 "Contravel: If fail to verify ask for age first"
To fail a user fast

[2017-02-03 10:02] kaydale commented on #114
@kateiw I didnt see you were assigned to this and I just did it too :(

[2017-02-03 10:31] kateiw commented on #114
lol no worries, thanks for doing it!

On 3 February 2017 at 10:02, kaydale <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-03 10:45] #109 closed, assigned to nobody

[2017-02-03 10:46] #60 closed, assigned to kaydale, kateiw

[2017-02-03 10:47] #89 closed, assigned to nobody

[2017-02-03 10:48] #101 closed, assigned to nobody

[2017-02-03 10:51] kaydale commented on #108
@EUzkuraityte If not a digital permit, this would be good information to include in the letter that will accompany the permit itself. So maybe we should add a step for "send the user the physical permit"

[2017-02-03 10:52] kaydale commented on #122
@kateiw Was this a thing?? I can't remember what the final call was on this

[2017-02-03 12:32] kateiw commented on #122
I think we ruled this out? if you're not old enough you cant apply regardless of where you are, so we don't ask people to confirm their address either, so no I don't think this is a thing, especially without a good onward journey (from doubts about the council finder).

[2017-02-03 15:50] EUzkuraityte commented on #108
Sounds good!

[2017-02-03 17:51] #117 closed, assigned to kaydale

[2017-02-03 17:51] #114 closed, assigned to kaydale, kateiw

[2017-02-03 17:51] #115 closed, assigned to kaydale

[2017-02-03 17:51] #116 closed, assigned to kaydale

[2017-02-03 17:51] #118 closed, assigned to kaydale

[2017-02-05 16:40] suryanaga commented on #36
@kaydale #62 is marked ConTravel, where as this is PP (parking permits).

[2017-02-06 10:22] suryanaga opened #126 "PP: Error message for payment failure and possibly other error messages"

[2017-02-06 10:44] suryanaga opened #127 "ConTravel: Fix start button position on non-verify start page"
https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/example-service/start-non-verify

[2017-02-06 10:45] suryanaga opened #128 "Both: Add non-verify start page to non-verify flow"

[2017-02-06 10:49] #123 closed, assigned to kaydale

[2017-02-06 10:49] #100 closed, assigned to kaydale

[2017-02-06 10:53] suryanaga opened #129 "PP: Need to work out how we serve the need for applying for multiple permits"

[2017-02-06 11:23] kateiw opened #130 "Both: Proof of address and eligibility flow in non-verify journey"
Move the proof of address upload page to after the eligibility confirmation page.

Add a "<back" button to the proof of address page.

The eligibility confirmation page also needs a title and content change. Currently it reads "You are eligible for a parking permit in Argleton", should change to "Based on the address you have provided, you are eligible for a parking permit" and then the content sh

[2017-02-06 13:32] suryanaga commented on #96
This is a duplicate of #100

[2017-02-06 13:32] #96 closed, assigned to kaydale

[2017-02-06 13:33] #25 closed, assigned to suryanaga

[2017-02-06 13:35] #120 closed, assigned to kaydale

[2017-02-06 13:35] #119 closed, assigned to kaydale

[2017-02-06 13:40] suryanaga commented on #102
Was this fixed with #53?

[2017-02-06 13:42] suryanaga commented on #94
Possibly.

What is the date logic here? I could potentially build a thing which does this.

[2017-02-06 13:43] suryanaga commented on #122
@kaydale @kateiw Should this issue be closed then?

[2017-02-06 13:44] suryanaga commented on #121
@kaydale Not sure I understand this. Could you give an example?

[2017-02-06 13:47] suryanaga commented on #98
@EUzkuraityte I'd like to understand the need for this a bit more. What kind of fraud is this aiming to prevent? What risks will it mitigate?

[2017-02-06 13:48] suryanaga commented on #41
@kaydale Did any work happen on this while I was away?

[2017-02-06 13:50] EUzkuraityte commented on #98
@sanjaypoyzer, we recommend not using V5C or insurance doc upload so we need to propose an alternative way for deterring users from requesting the permit for someone else's car (because these docs provide a connection between the user and the vehicle).

[2017-02-06 13:51] suryanaga commented on #107
@EUzkuraityte This issue seems to be missing information. i.e I don't know what it's about. Could you clarify please?

[2017-02-06 13:52] suryanaga commented on #108
@kaydale What response is this waiting on?

[2017-02-06 13:57] EUzkuraityte commented on #107
@sanjaypoyzer oops! sorry, seems like I messed up the title. This issue is with local links team. They route users to incorrect LAs from find your council and apply for a parking permit pages. I met with them and their short answer was 'no resources, we can't fix it'. So if we can advice LAs that it's up to them if they want to be linking to GOV.UK,  it'd be great!

[2017-02-06 14:07] suryanaga commented on #78
@EUzkuraityte Do you know if we can talk to someone at DVLA about seeing if there's an API we can pull information from.

If we don't have a direct contact, there seems to be a page about requesting data from DVLA and an email address [here](https://www.gov.uk/data-requests-dvla).

[2017-02-06 14:11] suryanaga commented on #98
@EUzkuraityte Why does it matter if people get a permit for someone else's car?

[2017-02-06 14:17] davidillsley commented on #78
FYI: https://dvladigital.blog.gov.uk/2016/12/29/next-steps-to-vehicle-enquiry-service-ves-and-developing-an-application-program-interface-api/

[2017-02-06 14:21] suryanaga commented on #107
@EUzkuraityte Ok cool, understood and agreed. Will add a line that this resource is not complete so may not always route users to the correct council.

However I would add that councils we are working with should be confident that the resource will work with at least _their_ council, as they are responsible for providing the correct links to the team who manage the page.

[2017-02-06 14:25] suryanaga commented on #78
@davidillsley Useful link, thanks!

[2017-02-06 14:25] suryanaga commented on #105
This seems to be a duplicate of #78

[2017-02-06 14:25] #105 closed, assigned to nobody

[2017-02-06 14:29] suryanaga commented on #104
@EUzkuraityte Ok to close this issue?

[2017-02-06 14:30] suryanaga commented on #86
Looks like this was fixed in #53

[2017-02-06 14:30] #86 closed, assigned to nobody

[2017-02-06 14:35] suryanaga commented on #97
@samuelculley @kateiw Ok to close this issue?

[2017-02-06 14:35] suryanaga commented on #15
Closing this issue as it's being served outside of the pattern.

[2017-02-06 14:35] #15 closed, assigned to nobody

[2017-02-06 14:44] suryanaga commented on #95
Sounds like this could do with a bit more thinking on what should be included.

[2017-02-06 14:45] suryanaga commented on #16
@irinapencheva @euzkuraityte Do we have any data on this yet?

[2017-02-06 14:46] suryanaga commented on #62
Will add something in about contacting council if pass is lost or stolen.

[2017-02-06 14:48] suryanaga commented on #34
@irinapencheva Sounds like we need to do some work gathering the photo requirements from the councils that we're working with. Can you send something round to gather some info? Also worth checking the DfT guidance about this.

[2017-02-06 14:49] suryanaga commented on #63
@irinapencheva Any update on this?

[2017-02-06 14:53] kateiw commented on #122
​I think so but double check with Kay​

On 6 February 2017 at 13:43, Sanjay Poyzer <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-06 15:05] kaydale commented on #121
@sanjaypoyzer This was about the amount of content on the guidance pages aka: https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit

we discussed this this morning but agreed that waiting till we are done iterating to figure out the best way to present this page

[2017-02-06 15:09] irinapencheva commented on #16
@sanjaypoyzer for ConTravel it varies between getting it immediately (if on F2F) or around 3-5 WD. I would put 5 WD on the main prototype and say that's a point they can change on their local prototype

[2017-02-06 15:10] kaydale commented on #108
@sanjaypoyzer It was waiting a response from me - to move it into ready to do.

[2017-02-06 15:10] irinapencheva commented on #62
@sanjaypoyzer - cool, thanks

[2017-02-06 15:11] kaydale commented on #122
@kateiw @sanjaypoyzer yep will close now

[2017-02-06 15:11] #122 closed, assigned to nobody

[2017-02-06 15:13] suryanaga commented on #121
Cool, keep in then for a To Do later

[2017-02-06 15:14] suryanaga commented on #108
lol ok

[2017-02-06 15:23] EUzkuraityte commented on #98
The explanation I've been given is that in areas where there are waiting lists to get permits for, there cannot be scope to allow for users re-selling their parking permits as they need to be absolutely sure that only people who are genuine residents of the area park their cars in the CPZs. If you want to push back on this, I'm happy to set up some calls with LAs to discuss this! Just let me know

[2017-02-06 15:46] suryanaga commented on #98
Yeah I don't think that reasoning is sound.

The permits system should accommodate for residents using their space. If a resident sells their space, they are not going to be using any more space then they would have if they had used it for their own car. For that reason, I am yet to be convinced that there's a need for the user to prove ownership of the car they want a permit for.

[2017-02-06 16:00] suryanaga commented on #128
Will wait til #127 is done to do this.

[2017-02-06 16:01] suryanaga commented on #108
@EUzkuraityte Reading over this, I'm not really sure I understand why it's needed. Surely the old permit will be cancelled? Won't all permits be checked anyway?

[2017-02-06 16:05] suryanaga commented on #130
@kateiw Not sure I understand why the proof of address upload page would be after the eligibility confirmation page? How do we know if they are eligible before they give us the address?

Back button and content fix make sense though.

[2017-02-06 16:07] EUzkuraityte commented on #108
@sanjaypoyzer if the LA has no integration between council tax and parking permit system then they wouldn't know that a user has moved and the used would continue using the parking permit until its expiry date. That's why need to let users know that they must inform the LA when moving out of the borough or within (if it affects the CPZ).

[2017-02-06 16:07] kateiw commented on #130
after address inputting page, before proof upload.

 - why would we ask them to upload a file if we know they aren't eligible
based on their address input?

On 6 February 2017 at 16:05, Sanjay Poyzer <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-06 16:09] kateiw commented on #130
So it would be: 1 type in address, 2 yes you are eligible, 3 upload proof.

On 6 February 2017 at 16:07, Kate Ivey-Williams <
kate.ivey-williams@digital.cabinet-office.gov.uk> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-06 16:13] kateiw commented on #97
yep I think so

On 6 February 2017 at 14:35, Sanjay Poyzer <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-06 16:14] suryanaga commented on #108
I'm not sure that's the best way of addressing that problem. It relies on people notifying the council that they have moved, which they aren't likely to do.

If the council is not able to integrate council and parking permits systems in any real way, they could manually search the permits system for the user's address when the user stops paying council tax. This is extra effort on the council side

[2017-02-06 16:15] kateiw commented on #102
No I don't think so - we still need to figure out how the photos will be checked and if we can use an adaptation of the HO passport photo checker.

We're avoiding a renewals reminder on CT.

[2017-02-06 16:16] suryanaga commented on #130
@kateiw Ah I see, that makes sense :)

[2017-02-06 16:17] kateiw commented on #130
👍

On 6 February 2017 at 16:16, Sanjay Poyzer <notifications@github.com> wrote:

--
Kate Ivey-Williams | Service Designer for GOV.UK

[2017-02-06 16:18] #97 closed, assigned to nobody

[2017-02-06 16:22] suryanaga commented on #102
Cool, that makes sense.

[2017-02-06 16:31] suryanaga commented on #103
@irinapencheva Could you clarify what you mean by that last bit? Why would they go to 'other ways to apply' if they don't think they have a card? Just because they need to speak to someone in person? I think if that's the case it makes more sense to say "Contact us if you don't think you already have a pass."

[2017-02-06 17:12] suryanaga opened #133 "Both: Mimic file upload in browser (for nonverify document upload + photo upload for ConTravel)"
To be able to test the prototype with users effectively, the Upload photo button (and other Upload buttons) should mimic the browser's file upload functionality.

[2017-02-06 18:08] irinapencheva commented on #34
@sanjaypoyzer - I'll post something on Slack to start off as part of first Alpha sprint

[2017-02-07 09:00] #127 closed, assigned to suryanaga

[2017-02-07 09:01] #103 closed, assigned to suryanaga

[2017-02-08 10:31] suryanaga opened #135 "Both: Add links for how to feedback on the pattern"
Will add a link to google docs for people to feed back on individual parts of the pattern.

[2017-02-08 10:35] suryanaga commented on #121
Gonna go for the same format as https://www.gov.uk/service-manual/design/addresses

[2017-02-08 15:12] #121 closed, assigned to suryanaga

[2017-02-08 16:30] suryanaga commented on #128
Have done some preliminary work towards this on `non-verify-path` branch which might be worth it's own PR, but need to work what we actually want to happen when a user fails to Verify.

Should the "we couldn't verify you" message come from GOV.UK, or from the council?

Currently we show this to people on GOV.UK services.
<img width="993" alt="screen shot 2017-02-08 at 16 27 59" src="https://cloud.

[2017-02-09 10:57] suryanaga commented on #128
Checklist for marking this done:

- [x] "If a user can't verify" pattern content consistent on both services
- [x] A way to prove address without verify - Pattern content in both services
- [x] A way to prove user is old enough without verify - Pattern content on ConTravel
- [x] Ability to click through failed to Verify journey for both services

[2017-02-10 14:45] suryanaga commented on #130
Have removed the 'add address' page in PR #137 as there's no need for the user the manually enter their address - The council will find that out by looking at the documents.

[2017-02-10 14:45] #130 closed, assigned to suryanaga

[2017-02-10 14:46] suryanaga commented on #129
@kaydale Could you write some info about this please? I think you've thought about it a lot more than I have.

[2017-02-10 14:58] suryanaga commented on #108
Closing this issue for now to clean up the board, but feel free to re-open if you get extra justification.

[2017-02-10 14:58] #108 closed, assigned to suryanaga

[2017-02-10 14:59] suryanaga opened #138 "Feature: Link to github for discussing the pattern"

[2017-02-10 14:59] suryanaga opened #139 "Feature: Ability to pick the council you're testing with"

[2017-02-10 15:06] suryanaga commented on #98
Closing this until more justification for it is given.

[2017-02-10 15:06] #98 closed, assigned to nobody

[2017-02-10 15:09] suryanaga commented on #104
Closing this until further justification is given.

[2017-02-10 15:09] #104 closed, assigned to kaydale

[2017-02-10 15:15] suryanaga commented on #23
Closing this as I feel it's basically an offline service.

[2017-02-10 15:15] #23 closed, assigned to kateiw

[2017-02-10 15:21] suryanaga commented on #44
Closing this as I think the content in the pattern makes it clear this is only applicable for some councils.

[2017-02-10 15:21] #44 closed, assigned to nobody

[2017-02-10 15:22] suryanaga commented on #35
Closing this as it's not an issue yet

[2017-02-10 15:22] #35 closed, assigned to nobody

[2017-02-10 15:23] irinapencheva commented on #63
@sanjaypoyzer - from pilot participants only Herts do automatic renewals, so suggest any changes to service pattern reflect that most LAs don't

[2017-02-10 15:25] irinapencheva commented on #34
@sanjaypoyzer - I'm in touch with HMPO as well to see what can be reused, will keep you posted

[2017-02-10 15:25] suryanaga commented on #63
Ok cool, I'll close this issue then and bear it in mind for any future content about renewals

[2017-02-10 15:25] #63 closed, assigned to irinapencheva

[2017-02-10 15:26] suryanaga commented on #129
Actually this is a duplicate of #33 - Let's add thoughts there

[2017-02-10 15:26] #129 closed, assigned to nobody

[2017-02-10 15:46] suryanaga commented on #33
So I'm thinking that I'll add a page in the example service where people can also apply for a visitor's permit at the same time by checking a box. Would this satisfy this issue do you think @kaydale @EUzkuraityte ?

[2017-02-10 15:51] suryanaga commented on #11
Closing this issue as I don't think there's anything useful that's not out of scope.

[2017-02-10 15:51] #11 closed, assigned to nobody

[2017-02-10 16:03] suryanaga commented on #12
Closing as it doesn't look like it's a thing

[2017-02-10 16:03] #12 closed, assigned to nobody

[2017-02-10 16:11] suryanaga commented on #139
- [x] Ability to switch based on URL
- [x] Instructions on how to add your council styles and switch
- [x] Display council name as given
- [x] Display stylesheet as given (use local file or remote URL)
- [x] Ability to set prices of permits
- [x] Ability to set wait time to receive permit (displays both at start and end of service)

[2017-02-10 16:15] suryanaga opened #140 "Both: Start pages are very busy, need some cleaning up"

[2017-02-10 16:40] suryanaga commented on #16
Oops, just fixed this on master. Ah well, there goes my flawless git best practice

[2017-02-10 16:40] #16 closed, assigned to nobody

[2017-02-13 16:55] EUzkuraityte opened #141 "option for screen where no payment is required"
https://verify-local-patterns.herokuapp.com/pay/choose-payment

Hi @sanjaypoyzer , could you create an alternative page or amend this one to allow the user to bypass payment if they have mitigating circumstances, i.e. are a blue badge holder, live in a HMO property, etc.

[2017-02-13 16:57] EUzkuraityte opened #142 "ability to sign up for notifications in multiple channels"
Hi @sanjaypoyzer
could you change it to allow the user enter multiple means for being contacted, not just one.

https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/add_contact_details

[2017-02-13 17:01] suryanaga commented on #141
@EUzkuraityte Yep, but I need to understand more about what those different mitigating circumstances are exactly. We also need to think about how a user proves each of those circumstances.

[2017-02-13 17:02] EUzkuraityte opened #143 "Users need a good incentive to choose Verify"
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/prove-identity

Hi @sanjaypoyzer,
would you be able to change this line about Verify 'You'll receive your permit faster if you verify your identity with GOV.UK Verify.' to sth else like ' If you choose to proceed with GOV.UK Verify, you'll be able to reuse our logins to access central government services' o

[2017-02-13 17:02] suryanaga commented on #142
@EUzkuraityte Could you explain more about why the user would need to enter multiple means for contact?

[2017-02-13 17:03] EUzkuraityte opened #144 "PP: 7c typo"
Hi, it says 'elibible' ....

can you also change the title to for different permits?' rather than 'for multiple permits?'

[2017-02-13 17:07] EUzkuraityte commented on #142
they might prefer to be contacted by email, but in case something is urgent they may allow to be contacted via email. Phone and email combo is pretty standard anyway so probs shouldn't be an issue. Plus from the service point of view, in case one of the contact details are mistyped or invalid they'll always have a back up option.

[2017-02-13 17:09] EUzkuraityte commented on #141
@sanjaypoyzer so there are only few thatI know of:
I am a current blue badge holder
I live in Housing of Multiple Occupation property
I am a council tenant

I suppose it's not universal across all of LAs, and the evidence/routes to provide it would be dependant on LAs business rules

[2017-02-13 17:25] suryanaga commented on #143
@EUzkuraityte I'm not sure there's precedent for saying to users they can reuse their Verify identity in other services on those screens, and I'm not sure it's something there's agreement that we definitely want to do in general.

The time to receive a permit should be affected, as without Verify there is going to be manual processing of documents. Not really sure how it could be the case that Ver

[2017-02-13 17:33] suryanaga commented on #142
What urgent messages might the council send about parking permits?

The problem with a backup is that the user will then get the notification twice, which previous research has shown to be something users don't like. This is why our current pattern is radio buttons rather than check boxes. ([Some more info about this pattern here](https://designpatterns.hackpad.com/Notification-preferences-interac

[2017-02-13 17:54] suryanaga commented on #141
@EUzkuraityte Ok cool, if we can collect some more info then I'm happy to put it in.

[2017-02-14 08:47] EUzkuraityte commented on #143
@sanjaypoyzer Some LAs issue a permit without checking the docs and then do all the checks retrospectively. Other LAs don't even ask for any proof if a user can provide a c-tax number, etc so to claim that with Verify the process is definitely shorter is not factually true. It can be shorter or it can be way longer.

Can you thing of a line for promoting Verify that would apply across LAs?

[2017-02-14 08:52] EUzkuraityte commented on #142
@sanjaypoyzer the user wouldn't get the message twice. Most councils have email notifications as default method for contact and only use telephone if the emails bounce back (it all comes down to cost in the end...).

Good link btw, happy to follow their suggestion and ask for one primary contact method but would also like to give the users an opportunity to enter a back up if they wish.

[2017-02-14 10:50] EUzkuraityte commented on #141
@sanjaypoyzer no probs, will do some research a little later and consult other pilot participants to get you a more comprehensive list

[2017-02-14 13:02] EUzkuraityte commented on #141
@sanjaypoyzer
so depending on the council, a user would not be charged if they:
I am a current blue badge holder
I live in Housing of Multiple Occupation property
I am applying for the 1st household permit
I am a first person in my household to apply for a parking permit
I drive an eco vehicle

[2017-02-14 13:12] EUzkuraityte opened #145 "Some councils need extra vehicle details for enforcement purposes"
@sanjaypoyzer

At the end of the section, could you add 'If required for enforcement purposes, a local authority may also ask for make, model and colour of the vehicle'

this was raised to us as part of gating template and we were told that without this information a user can challenge a parking ticket

[2017-02-14 13:51] EUzkuraityte opened #146 "Users need to check if permits are available near their address before verifying"
Hi @sanjaypoyzer
I need your advice on this, as the feedback we got is this:
'We would need to check the eligibility to park (is there available permits) before the customer goes through the verification process - we expect that customers who have verified to then find out they can’t get a permit, would be (probably rightly) annoyed and cause an increase in complaints'

It makes perfect sense to m

[2017-02-14 16:48] petegale opened #147 "Helping users upload photos"
**Issue:** All of the assistance focusses on how to take a good photo, however in research, many of the issues we heard of were more to do with how to get a photo onto a computer or tablet and than how to upload it. I suspect that we may not be addressing the most important need here.

**Impact:** In discovery research we heard many users mention that problems uploading photos had led them to aban

[2017-02-14 16:55] petegale opened #148 "Users have to re-enter personal data during the payment process"
**Issue:** Users have to re-enter personal data during the payment process.
**Impact:** Unlikely to be a completion issue, however we've seen in previous Verify research that re-keying personal data like this is a major driver of negative perceptions of effort.
**Evidence:** None that I can reference easily, although I have observed this response many times when testing other services with Verify

[2017-02-14 16:58] suryanaga commented on #143
@EUzkuraityte Well there's a difference between claiming that the process of applying is shorter (which in many cases it won't be) and claiming that the time for the permit to be issued/arrive is shorter (which except in the case where it's being issued before the checks, it will be).

If there isn't a genuine advantage to users, then we shouldn't really promote Verify just for the sake of it. So

[2017-02-14 16:59] suryanaga commented on #145
Yep. Can add this.

[2017-02-15 17:11] suryanaga commented on #107
🤔 @EUzkuraityte I can't actually find where we've said they need to link the GOV.UK service...

[2017-02-16 08:59] EUzkuraityte commented on #107
@sanjaypoyzer I though we were recommending to have that on the service start page, but if it's not on it, then great :)

[2017-02-16 10:36] suryanaga commented on #107
I think we discussed it, but we haven't put it in. However it could be a good idea.There is a chance users end up at the wrong council's start page, so could be an idea to send them off to the right one.

I think we should probably do it, but I do want to do a bit of work on making the start pages clearer and less overwhelming first.

Will also put in a note in the pattern guidance that the the co

[2017-02-16 10:49] irinapencheva opened #150 "Add T&Cs for usage of card as part of the confirmation screen"

[2017-02-16 10:54] irinapencheva opened #151 "CT: Improve formulation of user need"
Currently says: 'As someone who is eligible to travel for free [...] So that I am able to travel for free'

[2017-02-16 10:57] irinapencheva commented on #151
@petegale

[2017-02-16 11:14] irinapencheva opened #152 "Do users read service start page & can we move the how to use pass (incl. validity) to confirmation of pass issued page?"

[2017-02-16 13:46] #128 closed, assigned to suryanaga

[2017-02-16 17:32] #138 closed, assigned to nobody

[2017-02-17 16:12] irinapencheva opened #155 "CT: minor typos, see below for changes"
1. When referring to the photograph style, is there any way to we avoid using the word 'passport' style, as the criteria are definitely not that stringent?

2. On section '1. Awareness':
- please move the first bullet point 'signage on buses and bus stops' to the bottom of the list as almost all LAs don't have any signage for that
- add 'to': Local authorities should try 'to' make sure ...

3. On

[2017-02-17 16:19] irinapencheva opened #156 "CT: Capturing users contact details should happen before the step 'sending the bus pass to user'."
Propose to split step '9. Sending the bus pass to the user' and reorder as follows: step 9. Confirming application is complete' followed by '10. contacting users',  followed by  '11. sending the bus pass to the user'
This is to align easier scaling of the pattern for the use of Notify where the confirmation email and letter is potentially sent by Notify

[2017-02-20 10:01] EUzkuraityte opened #157 "PP: add to service start page"
@sanjaypoyzer

Hi could you add two bullet points for 3. Service start page:

- how to renew a permit
- what to do and how to request a replacement if a physical permit is lost or stolen

[2017-02-20 10:04] EUzkuraityte opened #158 "add to prototype 'start page'"
@sanjaypoyzer

Hi could you amend the page (https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/start-page) so that it has all the information in the service pattern section for start page?

I'm happy to write it up for you and then for you to edit if that makes things easier!

[2017-02-20 10:06] suryanaga commented on #157
Think this is a duplicate of #36

[2017-02-20 10:11] EUzkuraityte commented on #157
Yup, just saw it!

[2017-02-20 10:11] #157 closed, assigned to nobody

[2017-02-20 10:13] EUzkuraityte opened #159 "PP: 'verification failed' prototype - minor typo & follow up page"
@sanjaypoyzer

Hi
1. it says 'were' when it should say 'We're'
2. Not sure this page (https://govuk-verify.herokuapp.com/other-ways?requestId=parking-permit-argleton) adds a lot of value. Could just route directly to the one after...

[2017-02-20 10:15] EUzkuraityte opened #160 "PP: minor edit to prototype - verification failed page"
@sanjaypoyzer

Hi, could you replace 'apply online for a older person's bus pass' with 'apply online for a parking permit' here :https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/verification-failed

[2017-02-20 10:32] suryanaga commented on #158
@EUzkuraityte Sure. Looks like more stuff was added whilst I was away and not updated on the start page.

Had a look and these are my thoughts

- the different types of permit the user can apply for (if applicable)
  - this should be a setting for the councils to change
- a postcode look up tool to check eligibility for available permits based on selected address (if deemed necessary by the counci

[2017-02-20 10:34] suryanaga commented on #159
@EUzkuraityte I think that's a little bit out of our control, as it's part of the Verify process. I think they are looking at revising those screens though.

Where did you see the typo?

[2017-02-20 10:37] suryanaga commented on #160
[Done](https://github.com/alphagov/verify-local-patterns/blob/master/app/views/service-patterns/parking-permit/example-service/verification-failed.html)

[2017-02-20 10:37] #160 closed, assigned to nobody

[2017-02-20 10:39] EUzkuraityte commented on #159
@sanjaypoyzer

ah ok, I just think it's an additional step for a user to take that's not really needed. Anyway, when they change it, so can we :)

typo's here: https://govuk-verify.herokuapp.com/fail?requestId=parking-permit-argleton&serviceLOA=2&verify=false&security1=&security2=&firstName=&middleName=&lastName=&prevFirstName=&prevMiddleName=&prevLastName=&dob-day=&dob-month=&dob-year=&idp=experi

[2017-02-20 10:41] EUzkuraityte commented on #158
@sanjaypoyzer yup, sounds good, if we can also have sth re: links to renewals and replacements too it would be perfect! (sth like CT has)

[2017-02-20 10:57] EUzkuraityte opened #161 "Changes to Confirm address and eligibility"
@sanjaypoyzer

Hi, could you shorten the section 5 a bit to look like below. There's some repetition with section 6 that I took out.

GOV.UK Verify will send the council the user's address, as known by the user's chosen identity provider. On returning from the GOV.UK Verify process, the council should ask the user to confirm whether or not this is their current address.
**See the example page aski

[2017-02-20 12:18] EUzkuraityte opened #162 "move section Contacting users to before Enter vehicle details"
Hi @sanjaypoyzer

could you move section 10? it makes more sense to capture user's  contact details after checking their address and eligibility...

[2017-02-20 12:40] suryanaga commented on #159
Yeah, I agree it's an extra step in this case. I think it might be because other services might have more to put in that page, but there could be a check done on the size of the content.

[2017-02-20 12:40] #159 closed, assigned to nobody

[2017-02-20 12:46] suryanaga commented on #158
Yep, that's issue #36

[2017-02-20 12:47] suryanaga commented on #162
@EUzkuraityte Not sure I understand - Section 10 is after all checks, it's right at the end of the journey

[2017-02-20 12:51] suryanaga commented on #161
@EUzkuraityte If I understand correctly, you just want me to remove:

[2017-02-20 12:54] kaydale commented on #159
Sorry to butt in here - but this is where a service would normally put a
phone number or a paper form download.

Its a question for research though

On 20 February 2017 at 12:40, Sanjay Poyzer <notifications@github.com>
wrote:

--
Best,
Kay

*Kay Dale*
*Service Designer GOV.UK <http://gov.uk/> Verify*
Government Digital Service
Aviation House *|* 125 Kingsway | London WC2B 6SE

[2017-02-20 13:33] suryanaga opened #163 "PP: Confirmation page at end of journey"

[2017-02-20 13:36] suryanaga commented on #163
Revise contact page to feel more like a confirmation page

[2017-02-20 13:51] EUzkuraityte opened #164 "Add more info to confirmation page"
hi @sanjaypoyzer

As discussed, could you edit the section to say the below and also add a link to the prototype confirmation page?

After payment, the user needs to receive a confirmation of payment and an acknowledgement that their application has been successful. They should also receive information about:

- how the permit will be enforced
- how long they will need to wait for a permit to be p

[2017-02-20 15:02] #102 closed, assigned to suryanaga

[2017-02-21 10:58] suryanaga commented on #95
@samuelculley @irinapencheva Can we schedule a conversation with Camden about what needs to be in here? It's still not very clear to me.

[2017-02-21 11:05] irinapencheva commented on #95
@sanjaypoyzer - can we park this as low priority / icebox for now. We are still not sure about Camden's status so no need to action this

[2017-02-21 11:05] #95 closed, assigned to suryanaga

[2017-02-21 11:12] suryanaga commented on #126
Known error messages needed:

 - Card details entered incorrectly.
 - Money not available.

Need to look at what the responses councils can expect from their payment providers are.

[2017-02-21 15:26] suryanaga commented on #163
Duplicate of #164

[2017-02-21 15:26] #163 closed, assigned to nobody

[2017-02-21 15:53] suryanaga commented on #135
This is done

[2017-02-21 15:53] #135 closed, assigned to nobody

[2017-02-21 15:56] suryanaga commented on #139
Still need to do instructions before this is closed.

[2017-02-21 15:59] suryanaga commented on #151
Should say "As someone who is old enough for free travel, I need a bus pass so that I can prove I'm eligible to ride for free on a bus."

[2017-02-21 16:01] irinapencheva commented on #151
As someone who is old enough for a bus pass
I need to apply for a concessionary travel permit
So that I am able to travel for free

[2017-02-21 16:18] irinapencheva opened #165 "CT: alternative ways to upload photograph"

[2017-02-21 17:00] irinapencheva opened #166 "CT: Uploading a photograph guidance - required changes"
'This guide will show you how to take a digital photo that meets the passport photo rules.' - reword to 'digital photo'

Clarify text on confirmation page - you might be rejected and it should resemble you

'Get a friend to take your photo
Use a plain background
Don’t crop your photo – include your face, shoulders and upper body' - remove

Change example image of good picture to the Corbyn one
Sta

[2017-02-21 17:06] irinapencheva commented on #166
add fourth option for the user to take a picture now as part of Chrome

[2017-02-21 17:09] irinapencheva opened #167 "Do users understand what is a good quality picture? Do they need additional help"

[2017-02-22 10:40] suryanaga opened #168 "ConTravel: Saying 'no' to confirm address should route to address input"

[2017-02-22 10:40] suryanaga opened #169 "Both: Check links on pattern page"

[2017-02-22 11:02] suryanaga opened #170 "CT: Move existing bus pass check to below age and address confirmation"
In the pattern it says

Is this a thing? It will require the councils to match the user's identity to a bus pass database, but I think we're not doing matching?

[2017-02-22 11:02] suryanaga commented on #170
@irinapencheva ^^

[2017-02-22 11:43] suryanaga opened #171 "Both: Make data entered in forms show throughout the prototype"

[2017-02-22 11:45] suryanaga opened #172 "Both: Show service name somewhere on the page at all times?"

[2017-02-22 11:46] suryanaga commented on #172
Generally this is super inconsistent throughout the prototype. Some pages show service name, and some don't.

[2017-02-22 12:07] irinapencheva commented on #170
This is a think, but they don't need to do ID matching to establish that - it will be a back-end eligibility/ duplicate records check once Verify has provided the identity

[2017-02-22 14:28] suryanaga commented on #170
Right ok, so it is something they will build?

[2017-02-22 14:30] irinapencheva commented on #170
Yes, it's part of their tech stack/ integration with back-end

[2017-02-23 10:23] #166 closed, assigned to nobody

[2017-02-23 10:24] #133 closed, assigned to nobody

[2017-02-23 10:31] suryanaga commented on #62
Addressed in PR #154

[2017-02-23 10:31] #62 closed, assigned to suryanaga

[2017-02-23 10:36] suryanaga commented on #170
@irinapencheva Ok, so I've revised the content of this a little bit because I was moving around some stuff that's near it.

If you can just confirm you're happy with this then we can close this issue. (It's now point 6 on the [pattern page](http://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel).)

If the user has been successfully verified, The council will receive the u

[2017-02-23 10:53] irinapencheva commented on #170
@sanjaypoyzer - happy with the wording but this step should happen after the user has confirmed age and address (otherwise the Verify info cannot be used). So can you make this to be step 8.

Can you also change in the first sentence the typo - should be lowercase 't' in 'the council'

[2017-02-23 13:52] irinapencheva opened #174 "CT: did we not agree that 'confirming DOB' should come before 'confirming address' as it's an easier process and you can get an answer quicker/ not waste time on adding address?"

[2017-02-23 15:31] irinapencheva opened #175 "CT: Service pattern step for photo upload needs to be reworded to reflect latest process"

[2017-02-23 15:36] irinapencheva opened #176 "Change 'Keep your hair away from your face and brushed down' to 'Keep your hair away from your face '"

[2017-02-24 12:45] #168 closed, assigned to nobody

[2017-02-24 16:48] suryanaga opened #179 "Do people need to know how much faster people receive their bus pass with Verify?"
On the 'verifying your identity' page we say "You'll receive your bus pass faster with Verify" - Would be good to put a number on this.

[2017-02-24 17:15] suryanaga commented on #156
@irinapencheva I think this part might have changed since you added this issue. Ok to close?

[2017-02-24 17:16] irinapencheva commented on #156
Yep, thanks!

[2017-02-24 17:16] #156 closed, assigned to nobody

[2017-02-24 17:18] suryanaga commented on #175
"Users can upload a digital passport style photograph for use on the bus pass, but they may need to be instructed how. The council website should ask the user whether or not they need instructions, and then step them through the process if they do." - Reword this.

[2017-02-24 17:21] suryanaga commented on #171
Closing this as it's actually not needed

[2017-02-24 17:21] #171 closed, assigned to nobody

[2017-02-24 17:23] irinapencheva commented on #175
Suggested: "Users can upload a digital photograph of themselves for use on the bus pass, but they need to be given guidance on the required quality of the photograph. The council website should ask the user whether or not they want to take a picture using the device they are using, or by uploading a photograph that they already have."

[2017-02-24 17:28] suryanaga opened #180 "Change photo upload buttons to radio buttons for the choice"
From Pete:

Just wondering how many people will understand the label “Use device camera”

Also, we’ve got two primary action buttons on this page :(

Is there any chance of doing something like below?

Let me know

P

How do you want to upload your photo

(  ) Upload a file

(  ) Take a photo with a webcam

(  ) Take a photo with a tablet or smartphone

[  Continue  ]

[2017-02-24 17:40] suryanaga commented on #146
@EUzkuraityte I think this is a valid user need, reworded to reflect as such - But I think it should probably be a localised option so we can discuss whether or not to test with it in the Argleton version.

[2017-02-24 17:42] suryanaga commented on #145
@EUzkuraityte Is this still a thing if we're using the DVLA API?

[2017-02-24 17:56] suryanaga commented on #169
Been noticing problems with this, so need to take a minute to properly look into it.

[2017-02-26 16:14] suryanaga opened #183 "Nonverify start page should be more like contravel nonverify start page"
The nonverify start page content needs changing to accomodate the fact the user has already seen a start page by this point

[2017-02-26 16:22] suryanaga commented on #78
Confirmed that we will be probably be using DVLA's API, so will add to prototype.

[2017-02-26 18:47] #180 closed, assigned to nobody

[2017-02-26 18:50] #172 closed, assigned to nobody

[2017-02-28 15:38] petegale opened #185 "Users need a confirmation email at the end of the process"
**Impact:** Users are less likely to request a confirmation email, or record their reference number as they expect it to be sent automatically.

**Evidence:** All users expected to receive a confirmation email. Several users reacted with surprise when they saw the link “Request a confirmation email”, as they expected this to be sent automatically.

[2017-02-28 15:39] petegale opened #186 "Some tried to select multiple radio buttons when specifying notification channel"
**Impact:** Users were unsure which contact channel would be best so far into the future and wanted to select multiple channels to be sure.

**Evidence:** Users were observed clicking radio buttons for multiple contact channels and providing details for each, explaining that this would be their preference, given their uncertainty over

[2017-02-28 15:39] petegale opened #187 "Users need to receive notifications through more than one channel"
**Impact:** Users were unsure which contact channel would be best so far into the future and wanted to select multiple channels to be sure.

**Evidence:** Users were observed clicking radio buttons for multiple contact channels and providing details for each, explaining that this would be their preference, given their uncertainty over

[2017-02-28 15:40] petegale opened #188 "Users need to receive more than one notification type (reminder, confirmation & progress notifications), yet did not request them."
**Impact:** Without the notifications they need, users will be more likely to contact the council about their application

**Evidence:** Some users discussed their need for different types of notification and then only completed the steps to request a single type.

[2017-02-28 15:41] petegale opened #189 "Users need to know they won't necessarily receive their pass within 5 days"
**Impact:** Having not received a pass, users would be more likely to contact the council, leading to increased workload and dissatisfied users.

**Evidence:** Several users stated thought that this page said they would receive their pass in 5 days, when in fact it said the pass would be dispatched in 5 days.

When scan-reading this page, the second line reads “bus pass within 5 days”

[2017-02-28 15:41] petegale opened #190 "Users need to feel the level of identity verification of information entered is proportionate for the service"
Users believe that the requirements for identity verification are unusually stringent for a concessionary travel pass, and a few reported they would abandon the process as a result.

As with the previous issue, helping user to understand why they are being verified, and the benefits of that may help.

[2017-02-28 15:42] petegale opened #191 "Users need to know they can re-use their identity account in other services so that they feel the effort to sign up was worthwhile"
Impact: Without understanding the broader utility of their identity account, users are more likely to see verification as an unnecessary burden.

Evidence: When discussing the process at the end of the session, most thought the identity verification was ‘only for the bus pass’.

[2017-02-28 15:43] petegale opened #192 "Users need motivation to choose Verify"
**Impact:** Some were less likely to select the verified route

**Evidence:** Some users read that their permit would take longer, yet still chose the un-verified route. For these users, delivery time was not an important factor.

[2017-02-28 15:44] petegale opened #193 "Users need to know if they'll have to upload documents in their chosen prove ID route"
**Impact:** Users were less likely to select the verified route

**Evidence:** Some users who chose the unverified route without intending to, were more positive about the verified route than those who had not.

“Of this is good, you don’t have to upload any documents” User 4

[2017-02-28 15:44] petegale opened #194 "Users need to know where to click to choose Verify (or the non-Verify route if they prefer)"
**Impact:** These users would have proceeded with the unverified transaction

**Evidence:** Several users were seen to click checkbox and then click on the ‘Continue without verifying’ link. This is probably the result of poor affordance on the green button, and the labels for these elements - the button simply has the GOV.UK Verify name, whereas the link says ‘Continue…’

[2017-02-28 15:45] petegale opened #195 "On the start page, users in London were looking for a ‘Freedom Pass’ not a bus pass, and also confused this with an over 60 oyster card."
**Impact:** These users would have left this page without starting the transaction.

**Evidence:** Several (London based) users stated that this page was not the right page for their application.

These users would be unlikely to have found this page, having searched for ‘Freedom pass’. If they had, they would probably have gone elsewhere, thinking this was not the right pass for them.

[2017-02-28 15:45] petegale opened #196 "Users need to know where to click to apply (from the start page)"
**Impact:** These users would have left this page without starting the transaction.

**Evidence:** Some users needed to be prompted to use the ‘Apply now’ button to start the transaction.
These users were confused by the link list that provides links for renew & replace, but nothing for ‘new’.

“But it doesn’t say where to apply for a new one!” User 3

[2017-02-28 15:46] petegale opened #197 "At the first page of the Verify hub, some users reported confusion about how this related to applying for a bus pass"
Some were further confused by the presence of the identity providers.

Giving users a better understanding of why they are being verified may improve this.

[2017-02-28 15:47] petegale opened #198 "Some users were confused not to see ‘bus passes’ in the list of Verify services provided in the hub."
**Impact:** These users were then more confused about why they were being asked to use Verify.

**Evidence:** When trying to understand the role of Verify, some users looked into the list of services provided in the hub, but were unable to find anything relating to concessionary travel.

[2017-02-28 15:47] petegale opened #199 "Some users thought they would have to visit the Post Office or Barclays in person as part of the verification process"
**Impact:** These users were more likely to abandon verification in favour of the unverified route.

**Evidence:** Some users mentioned the need to take identity documents to their local branch as a consideration when selecting an identity provider.

This reflects a poor understanding of the role of Verify within the transaction.

[2017-02-28 15:48] petegale opened #200 "Users needed to upload a photo for their bus pass but they incorrectly assumed that passport photo criteria would apply or they would need a photo from a shop"
These users were less likely to attempt to take a photo themselves and thought that smartphone or webcam pictures would not be accepted. Some reported they would need to go to a photo booth or shop, yet were unsure how they would add that to the form.

When first viewing this page, some users saw the example photo, scanned the criteria and then spoke about how these were the same as for a passport

[2017-02-28 15:49] petegale opened #201 "Some thought that a webcam or smartphone would not produce an acceptable photo"
Some users incorrectly assumed that passport photo criteria would apply.

These users were less likely to attempt to take a photo themselves and thought that smartphone or webcam pictures would not be accepted. Some reported they would need to go to a photo booth or shop, yet were unsure how they would add that to the form.

When first viewing this page, some users saw the example photo, scanned t

[2017-02-28 15:49] petegale opened #202 "Users need know how to get their photo from their camera or phone to their computer and into the application form."
**Impact:** Users were reluctant to choose ‘Upload a file’ or ‘Take a photo with a tablet or smartphone’. Most users wanted to get help at this point.

**Evidence:** few were able to describe exactly how they would get a photo from their preferred device and into the application form.

[2017-02-28 15:49] petegale opened #203 "Councils need photos to be cropped to a passport photo proportions"
Impact: These photos may not be suitable and this may prevent completion of the application.

Evidence: Users were asked to take photos that met the criteria set out. Of the five photos taken, two did not meet criteria for both framing and background.

[2017-02-28 15:50] petegale opened #204 "Councils need the photos to have a plain white background"
Impact: These photos may not be suitable and this may prevent completion of the application.

Evidence: Users were asked to take photos that met the criteria set out. Of the five photos taken, two did not meet criteria for both framing and background.

[2017-02-28 17:21] #139 closed, assigned to nobody

[2017-02-28 17:25] suryanaga opened #205 "Do users feel safe paying the council online?"
Worth also trying to see if GOV.UK Pay branding helps with this.

[2017-02-28 17:26] suryanaga opened #206 "Recently moved in & only resident's checks - Why were these removed?"

[2017-02-28 17:27] suryanaga commented on #206
@euzkuraitye Do you know why these were removed?

[2017-02-28 17:29] suryanaga opened #207 "Add explainer page about payment before user chooses payment option"
Before being asked to choose a payment option, there should be a page getting users to confirm what they are about to do, mainly because the payment screens are often controlled by an outside body but also because users are used to payment screens feeling different to the rest of a service.

[2017-02-28 17:31] suryanaga opened #208 "Remove breadcrumbs from payment pages"
To make them feel slightly more away from the rest of the service.

Also worth exploring if the rest of the layout can be minimised at all.

[2017-02-28 17:36] suryanaga opened #209 "Bug: Sometimes getting undefined template on heroku instance"

[2017-03-01 10:13] #175 closed, assigned to nobody

[2017-03-01 10:15] #151 closed, assigned to nobody

[2017-03-01 10:15] #176 closed, assigned to nobody

[2017-03-01 10:16] #150 closed, assigned to suryanaga

[2017-03-01 10:16] #170 closed, assigned to irinapencheva

[2017-03-01 10:16] #174 closed, assigned to nobody

[2017-03-01 10:21] #155 closed, assigned to nobody

[2017-03-01 14:18] joanneSouthern commented on #145
we need to upload V5 - for compliance with our policy

[2017-03-01 15:11] sanjaypoyzer commented on #145
@joanneSouthern Can we get the policy changed?

[2017-03-01 15:58] EUzkuraityte opened #210 "non verify route function to upload evidence"
Hi @sanjaypoyzer

could you add a document upload function for a non- verify route.
As a starter could you include this advice:

To apply for a parking permit, you need to provide us with:

- your vehicle registration document (V5C). The address has to match your residency address. If you have recently moved and have not updated your V5C, you can [do it here](https://www.gov.uk/change-name-address

[2017-03-02 09:48] EUzkuraityte opened #211 "Users who have just moved need a permit to so that they can park near their home"
Hi @sanjaypoyzer

This will need some refining, but can we add an additional step for LAs to ask for more information to establish eligibility for the service?

This should be an optional step that LAs could choose to display or not, depending on the information received from Verify, i.e. if the latest address is unverified.

Could you make the step look something like this:

## Add eligibility de

[2017-03-02 09:53] EUzkuraityte commented on #207
@sanjaypoyzer on this page, would you also be able to offer the user an option to let the council know that they have mitigating circumstances that would allow them to obtain a permit free of charge? I feel like we've already had this discussion, so apols if I'm duplicating!

[2017-03-02 10:05] suryanaga commented on #207
@EUzkuraityte That will involve adding proof of that concession - This feels big enough that it should really be a separate issues (and also will block this issue being closed if we don't make it separate).

[2017-03-03 09:15] #78 closed, assigned to suryanaga

[2017-03-03 09:15] #207 closed, assigned to nobody

[2017-03-03 09:20] suryanaga commented on #164
@EUzkuraityte Does this issue still apply or is it outdated?

[2017-03-03 09:23] sanjaypoyzer commented on #146
This came up as a real need in the Con Travel research, but I want to talk to the Notify team about it a bit more.

[2017-03-03 09:25] suryanaga commented on #142
This came up in the Con Travel research but I want to talk to the Notify team a bit more about it.

[2017-03-03 09:28] suryanaga commented on #208
@kaydale You'll need to write a nunjucks `if` in the  `lib/argleton_template.html` to do this.

[2017-03-03 09:33] kaydale commented on #208
@sanjaypoyzer Not done that before - probs best if you take that one today as I won't be in the office to get help ;)

[2017-03-03 11:07] EUzkuraityte commented on #145
@sanjaypoyzer just to continue the original thread..

We may be able to use VES API for this info and to calculate the permit price but we need a-to give user the option not to use it b-if reg not found or if the user chooses not to use VES look up, we need the fields to capture this info

[2017-03-03 13:21] suryanaga commented on #208
@kaydale Have a go at searching in that file for the word "breadcrumbs" and see if you can work it out :)

[2017-03-03 13:50] kaydale commented on #183
@sanjaypoyzer Does this look ok?

## Apply for a resident's parking permit without using GOV.UK Verify

You can still apply online for a parking permit, but you'll need to scan and upload some documents.

##  To apply online you will need to provide:

- Proof of address, such as a council tax bill or a recent utility bill or a tenancy agreement or a mortgage statement

You'll need to scan in and u

[2017-03-03 14:08] kaydale commented on #208
@sanjaypoyzer when you say lib/argleton_template.html do you mean layout_argelton.html?

[2017-03-03 14:23] kaydale commented on #208
@sanjaypoyzer Here is my best guess without being taught anything about how to do nunjucks stuff

{% if pageTitle = "Enter card details" or "Confirm your payment"%}
Do not {{ breadcrumb  }}
  {% endif %}
but I literally have no idea how to do that in real life.

[2017-03-03 14:30] suryanaga commented on #208
@kaydale You're way too close for me to give you the answer :)

[2017-03-03 14:59] kaydale commented on #208
@sanjaypoyzer so some of that needs to be in this:

<title>{{council.name}}: {{serviceName}} {{" " if startPage else " - " + pageTitle }} </title>

??

[2017-03-03 14:59] petegale commented on #204
![screen shot 2017-03-03 at 14 59 14](https://cloud.githubusercontent.com/assets/2970019/23555743/fd750258-0021-11e7-82a5-40e90cd99c57.png)

[2017-03-03 15:02] petegale commented on #203
![screen shot 2017-03-03 at 14 59 14](https://cloud.githubusercontent.com/assets/2970019/23555831/54e88f00-0022-11e7-8066-c541f997d786.png)

[2017-03-03 15:02] suryanaga commented on #208
@kaydale You shouldn't need to touch that line I don't think, that's the title of the page.

[2017-03-03 15:05] petegale commented on #202
![screen shot 2017-03-03 at 15 05 16](https://cloud.githubusercontent.com/assets/2970019/23555997/d6ef287e-0022-11e7-8dfc-730a8399db6d.png)

[2017-03-03 15:07] kaydale commented on #208
@sanjaypoyzer
Damn I thought that was why the start page didn't have breadcrumbs and everything else does :(
I really am stuck now :(

[2017-03-03 15:07] petegale commented on #200
![screen shot 2017-03-03 at 15 06 53](https://cloud.githubusercontent.com/assets/2970019/23556069/22021894-0023-11e7-8e59-a5cc96fde7fe.png)

[2017-03-03 15:08] petegale commented on #199
![screen shot 2017-03-03 at 15 08 03](https://cloud.githubusercontent.com/assets/2970019/23556091/38ee14e0-0023-11e7-920c-c165d1bfb37a.png)

[2017-03-03 15:09] petegale commented on #198
![screen shot 2017-03-03 at 15 08 56](https://cloud.githubusercontent.com/assets/2970019/23556120/57233bb6-0023-11e7-8d3b-058a1437021b.png)

[2017-03-03 15:10] petegale commented on #197
![screen shot 2017-03-03 at 15 09 46](https://cloud.githubusercontent.com/assets/2970019/23556152/7e042eca-0023-11e7-937a-e35dc6aea50d.png)

[2017-03-03 15:11] petegale commented on #196
![screen shot 2017-03-03 at 15 10 37](https://cloud.githubusercontent.com/assets/2970019/23556171/956c5966-0023-11e7-97ae-ea40fc1c7c78.png)

[2017-03-03 15:12] petegale commented on #195
![screen shot 2017-03-03 at 15 12 28](https://cloud.githubusercontent.com/assets/2970019/23556251/d5f654be-0023-11e7-9f05-2640ea17d632.png)

[2017-03-03 15:13] petegale commented on #194
![screen shot 2017-03-03 at 15 13 06](https://cloud.githubusercontent.com/assets/2970019/23556267/ed0283da-0023-11e7-8eb7-138fae993706.png)

[2017-03-03 15:14] petegale commented on #193
![screen shot 2017-03-03 at 15 13 58](https://cloud.githubusercontent.com/assets/2970019/23556305/10275cbe-0024-11e7-893d-bee1d7eee2d3.png)

[2017-03-03 15:15] petegale commented on #192
![screen shot 2017-03-03 at 15 15 00](https://cloud.githubusercontent.com/assets/2970019/23556331/316542f6-0024-11e7-9b3a-a060ecf710a6.png)

[2017-03-03 15:16] petegale commented on #191
![screen shot 2017-03-03 at 15 16 21](https://cloud.githubusercontent.com/assets/2970019/23556387/638d985a-0024-11e7-9c8d-c6f602921fad.png)

[2017-03-03 15:17] petegale commented on #190
![screen shot 2017-03-03 at 15 17 30](https://cloud.githubusercontent.com/assets/2970019/23556428/8963c78e-0024-11e7-8f20-08c25e5cbc97.png)

[2017-03-03 15:17] #144 closed, assigned to kaydale

[2017-03-03 15:17] #161 closed, assigned to kaydale

[2017-03-03 15:17] #183 closed, assigned to kaydale

[2017-03-03 15:19] petegale commented on #189
![screen shot 2017-03-03 at 15 19 10](https://cloud.githubusercontent.com/assets/2970019/23556497/c4ec2e04-0024-11e7-869f-dd0107c5274f.png)

[2017-03-03 15:20] petegale commented on #188
![screen shot 2017-03-03 at 15 19 49](https://cloud.githubusercontent.com/assets/2970019/23556549/e117afb8-0024-11e7-9ede-cdfee48fd723.png)

[2017-03-03 15:21] petegale commented on #187
![screen shot 2017-03-03 at 15 20 43](https://cloud.githubusercontent.com/assets/2970019/23556587/fded48f0-0024-11e7-9e53-0284cd85ab82.png)

[2017-03-03 15:22] petegale commented on #186
![screen shot 2017-03-03 at 15 20 43](https://cloud.githubusercontent.com/assets/2970019/23556621/199e2f1a-0025-11e7-949a-89354059b61a.png)

[2017-03-03 15:22] petegale commented on #185
![screen shot 2017-03-03 at 15 22 17](https://cloud.githubusercontent.com/assets/2970019/23556649/38b909f6-0025-11e7-8812-3f0fe082e9af.png)

[2017-03-03 15:24] petegale commented on #152
![screen shot 2017-03-03 at 15 24 26](https://cloud.githubusercontent.com/assets/2970019/23556734/820cfd9c-0025-11e7-9d26-f0967f3389f0.png)

[2017-03-03 15:25] petegale commented on #167
![screen shot 2017-03-03 at 15 25 11](https://cloud.githubusercontent.com/assets/2970019/23556765/9d372642-0025-11e7-8591-e40305106f93.png)

[2017-03-03 15:26] suryanaga commented on #158
@EUzkuraityte Addressing a lot of this in PR #214 but some of the more local options I will do after we do the first round of user testing. If you can add separate issues for those options that would be great.

[2017-03-03 15:26] petegale commented on #167
![screen shot 2017-03-03 at 15 25 51](https://cloud.githubusercontent.com/assets/2970019/23556805/beb777ea-0025-11e7-9b36-2ea6ceea0689.png)

[2017-03-03 15:26] petegale commented on #167
![screen shot 2017-03-03 at 15 26 07](https://cloud.githubusercontent.com/assets/2970019/23556813/c662041a-0025-11e7-8e0f-6b7502bb9736.png)

[2017-03-03 15:28] petegale commented on #45
![screen shot 2017-03-03 at 15 27 56](https://cloud.githubusercontent.com/assets/2970019/23556886/fedfdefc-0025-11e7-9537-c9014d32067f.png)

[2017-03-03 15:30] petegale commented on #24
![screen shot 2017-03-03 at 15 28 58](https://cloud.githubusercontent.com/assets/2970019/23556949/323fd824-0026-11e7-9abd-0502ffd2b29e.png)

[2017-03-03 15:30] petegale commented on #24
![screen shot 2017-03-03 at 15 28 47](https://cloud.githubusercontent.com/assets/2970019/23556992/5709d9de-0026-11e7-8d54-505df78c9ddf.png)

[2017-03-03 15:31] kaydale commented on #208
@sanjaypoyzer you going to have to give me a clue

{% if pageTitle = "Enter card details" - {{breadcrumb}}{% endif %}
{% if pageTitle = "Confirm your payment" - {{breadcrumb}}{% endif %}

[2017-03-03 15:45] EUzkuraityte commented on #158
@sanjaypoyzer sure, no probs!

When you say 'options' is that renewals and replacements?

[2017-03-03 15:48] EUzkuraityte opened #215 "add an option for renewals on service start page"
Hi @sanjaypoyzer I hope I got this right. please add a link to renewals page at the end of the service start page

[2017-03-03 15:51] EUzkuraityte opened #216 "service start page should link to replacements"
Hi @sanjaypoyzer please could you add a link to the replacement page at the end of the service start page

[2017-03-03 15:59] suryanaga commented on #208
@kaydale It's the other way round - You want to do it if the page title doesn't include either of those things. Have a look at `else` - https://mozilla.github.io/nunjucks/templating.html

[2017-03-03 16:00] suryanaga commented on #158
Basically anything that isn't going to be for all councils should be it's own issue and de-prioritised beneath first round of research

[2017-03-03 16:09] EUzkuraityte commented on #162
@sanjaypoyzer I think we spoke about it in person. It makes for a more coherent flow if we ask user details about them (Verify stuff plus contact info), then about their car and finally the payment info.

Rather than info about them, then the car, then payment, then more info about them...

Not a major issue if you can't change it, just IMPO this would look better

[2017-03-03 16:10] EUzkuraityte commented on #206
@sanjaypoyzer no clue.. could they have been deleted by mistake?

[2017-03-03 16:14] kaydale commented on #208
I have been studying that page hard but I'm the kind of learner who needs to talk me though it with someone.

{% if pageTitle = "" + {{breadcrumb}}%}
{% else pageTitle = ("Enter card details", "Confirm your payment")  - {{breadcrumb}}%}
{% endif %}

@sanjaypoyzer could park it till Monday and you can teach me or you can do this one...

[2017-03-03 16:15] EUzkuraityte commented on #143
@sanjaypoyzer I had a chat internally with the team and the consensus is that the log ins will be reusable.. I think it's worth putting it up and the reusability of credentials across local and central is a massive selling point..

as for the process being quicker - could be quicker, could be the same. Will need to consult out pilot participants on this, as I really don't know.

[2017-03-03 16:29] suryanaga commented on #208
@kaydale Sure, let's do that :)

[2017-03-03 16:29] EUzkuraityte commented on #162
@sanjaypoyzer also, we need to be asking for people's contact info as part of the application (I think this is applicable to both prototypes) in case the council needs to follow up with the applicant

BTW, not sure if it's a bug or sth, but link in 'Request a confirmation email.' is not working...

[2017-03-03 16:41] EUzkuraityte opened #218 "inconsistent pricing info throughout"
Hi @sanjaypoyzer it's a minor thing, but on the [service start page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/start-page) we give price ranges for £51, £81 and £153, while later on the user can choose between paying £21.50 and £51 and where the user confirms payment details it says £60

[2017-03-03 16:41] suryanaga commented on #206
@kaydale @kateiw Any ideas?

[2017-03-03 16:46] EUzkuraityte opened #219 "inconsistent information re: permit being sent to user on 1st and last pages"
Hi @sanjaypoyzer on the 1st page we say that: 'You won't receive a physical permit. Wardens will check your vehicle's registration number.'
whilst on the last one we say: 'You can expect your permit to arrive within 5 working days.'

Could you edit the 1st page as most of out councils will need to post the permit anyhow..

[2017-03-03 17:14] suryanaga commented on #43
Actually going to close this for now, because we're going to test the first round as if the councils were using GOV.UK Pay and this probably wouldn't be a thing they would do (but it's something we can talk to them about if it comes up in research)

[2017-03-03 17:14] #43 closed, assigned to suryanaga

[2017-03-06 09:44] #219 closed, assigned to nobody

[2017-03-06 09:46] suryanaga commented on #210
@EUzkuraityte The proof of address is in there already. Is the V5C still needed even with DVLA lookup?

[2017-03-06 09:49] EUzkuraityte commented on #210
@sanjaypoyzer Yes, it is because DVLA look up is for VES not KADOE info.. so it provides nothing on the vehicle keeper information

[2017-03-06 10:05] #158 closed, assigned to suryanaga

[2017-03-06 10:08] suryanaga commented on #210
@EUzkuraityte The Verify route won't return vehicle keeper information either. If a council needs to know that, it will need to be in both routes.

[2017-03-06 10:18] kateiw commented on #206
Not sure, @kaydale might know

[2017-03-06 10:21] #218 closed, assigned to nobody

[2017-03-06 10:26] EUzkuraityte commented on #210
@sanjaypoyzer Yup, see: https://github.com/alphagov/verify-local-patterns/issues/211

[2017-03-06 12:50] kaydale commented on #206
@sanjaypoyzer Just caught up with Kate. So the reason these scenarios were merged into the /not-eligible-permits-exceeded screen was because the outcome was the same but the message was different.

So the outcome would be the user needs to get in contact with the LA to cancel the existing permits. Under the assumption that old permits could not be cancelled until proof of tenancy is supplied to th

[2017-03-06 12:54] suryanaga commented on #210
@EUzkuraityte Ok, closing this issue then and let's stick to that one.

[2017-03-06 12:54] #210 closed, assigned to nobody

[2017-03-06 13:18] ghost opened #222 "Front page mentions a passport style photo, which isn't accurate"
We specifically say on this page You’ll upload a passport-style digital photo as part of the application. This isn't accurate, as we can accept photos that aren't passport style

![image](https://cloud.githubusercontent.com/assets/24895693/23611436/48bd75a2-026f-11e7-8b3b-f5a71022039a.png)

[2017-03-06 16:30] #5 closed, assigned to suryanaga

[2017-03-09 16:39] joanneSouthern commented on #145
not with elections coming up, it would take too long

[2017-03-10 15:34] #146 closed, assigned to nobody

[2017-03-13 10:23] petegale opened #224 "Users need to apply for multiple resident's permits at the same time"
**Impact:** Users wanting to apply for multiple passes would have to complete multiple applications.

**Evidence:** Some users reported past applications for multiple permits and for some this remained an issue and a concern throughout the transaction.

[2017-03-13 10:26] petegale opened #225 "Users need to know what it’s going to cost before they start"
**Impact:** Users may be unwilling to start an application if the don’t know what it will cost them.

**Evidence:** Several users mentioned that they wanted to find out what the permit would cost for their car before they started.

[2017-03-13 10:26] petegale commented on #225
![screen shot 2017-03-13 at 10 24 55](https://cloud.githubusercontent.com/assets/2970019/23850456/76ca207c-07d7-11e7-8f81-b04df896a646.png)

[2017-03-13 10:27] petegale opened #226 "Users need to know where permits could be used before they applied for one"
**Impact:** Users may be unwilling to start an application if they only know about the permit's validity at a single postcode location.

**Evidence:** Some users questioned this when reading the start page and were unsure of what exactly was meant by ‘anywhere in Argleton City Centre’

[2017-03-13 10:28] petegale commented on #226
![screen shot 2017-03-13 at 10 26 56](https://cloud.githubusercontent.com/assets/2970019/23850494/a57f848e-07d7-11e7-965e-edf5e4887c06.png)

[2017-03-13 10:30] petegale opened #227 "Users need to know that they can also apply offline"
**Impact:** Users will be less likely to find other ways of applying that might better meet their needs

**Evidence:** No one was observed either reading below the start button or clicking on the ‘Other ways to apply’ link.

[2017-03-13 10:30] petegale commented on #227
![screen shot 2017-03-13 at 10 26 56](https://cloud.githubusercontent.com/assets/2970019/23850610/1a4dfe9e-07d8-11e7-9322-13c0bcc3152a.png)

[2017-03-13 10:56] petegale commented on #194
Same issue reported with parking permits:
![screen shot 2017-03-13 at 10 31 30](https://cloud.githubusercontent.com/assets/2970019/23851500/a712b858-07db-11e7-9443-978aed56fb63.png)

[2017-03-13 11:06] petegale opened #228 "Users need to know what GOV.UK Verify is so that they can make an informed choice"
**Impact:** Users will be more likely to make poor choices about application route.

**Evidence:** Some users raised questions about Verify at this point. What was it and what could it be used for?

[2017-03-13 11:07] petegale commented on #228
![screen shot 2017-03-13 at 11 05 41](https://cloud.githubusercontent.com/assets/2970019/23851925/49f3bddc-07dd-11e7-842f-8e5dd075719a.png)

[2017-03-13 11:19] petegale opened #229 "Users need to know why they need to prove their identity"
**Impact:** Without this, users struggle to understand the verification process.

**Evidence:** Some users questioned why their name, address and number plate wouldn’t be sufficient for a permit application.

[2017-03-13 11:19] petegale commented on #229
![screen shot 2017-03-13 at 11 19 27](https://cloud.githubusercontent.com/assets/2970019/23852298/f963586c-07de-11e7-924c-299f577d2a37.png)

[2017-03-13 11:20] petegale commented on #229
![screen shot 2017-03-13 at 11 20 15](https://cloud.githubusercontent.com/assets/2970019/23852321/0f728a42-07df-11e7-85a0-92c6aef02277.png)

[2017-03-13 11:22] petegale opened #230 "Users need to understand what "certified companies" are"
**Impact:** This confusion reduced confidence and trust and led some to consider alternative application channels

**Evidence:** Several users expressed surprise when first seeing the logos of identity providers and questioned their role in the transaction.

[2017-03-13 11:23] petegale commented on #230
![screen shot 2017-03-13 at 11 21 11](https://cloud.githubusercontent.com/assets/2970019/23852385/693fcd28-07df-11e7-95f8-f253919ebcce.png)

[2017-03-13 11:24] petegale opened #231 "Users need to know if there were any charges for credit or debit card charges before they selected this option"
**Impact:** Users will have to click into each of the payment options to learn more about them before deciding

**Evidence:** Questioned whether there would be any additional charges for Credit or Debit card transactions when considering this choice.

[2017-03-13 11:25] petegale commented on #231
![screen shot 2017-03-13 at 11 23 31](https://cloud.githubusercontent.com/assets/2970019/23852431/a1de5dfc-07df-11e7-9678-f7461b6a0b3e.png)

[2017-03-13 11:26] petegale opened #232 "Users need more information about direct debit before the select this payment option (how many instalments, does it auto-renew)."
**Impact:** Users will have to click into each of the payment options to learn more about them before deciding

**Evidence:** Some users asked about direct debit installments at this point, and some rejected direct debit as a means of paying, believing the permit would then automatically renew at the end of the year.

[2017-03-13 11:26] petegale commented on #232
![screen shot 2017-03-13 at 11 23 19](https://cloud.githubusercontent.com/assets/2970019/23852476/e3463ff8-07df-11e7-9c02-09a18cddba29.png)

[2017-03-13 11:28] petegale opened #233 "Users clicked on the VISA logo on the payment screen before they entered their card number."
**Impact:** Interacting with nonfunctional page elements will increase the perceived effort to complete the transaction.

[2017-03-13 11:29] petegale commented on #233
![screen shot 2017-03-13 at 11 26 47](https://cloud.githubusercontent.com/assets/2970019/23852543/40413df2-07e0-11e7-9a19-d7ce8ba84b43.png)

[2017-03-13 11:31] petegale opened #234 "When entering an invalid card expiry date, users received a confusing error message."
**Impact:** Users will be less likely to recover from errors.

**Evidence:** The user who saw this error message thought ‘value’ referred to the amount being charged, and was unsure why it had happened.

[2017-03-13 11:31] petegale commented on #234
![screen shot 2017-03-13 at 11 26 54](https://cloud.githubusercontent.com/assets/2970019/23852599/8f1df8b6-07e0-11e7-817e-88e7320d2a49.png)

[2017-03-13 11:31] petegale opened #235 "Users need the process to be quick and simple to complete"
**Impact:** Re-entering personal data was a major driver of dissatisfaction with the transaction.

**Evidence:** Most users reported their frustration at having to enter personal details multiple times (name & address x 2, email x 3).
Several were also observed making transcription errors on re-entry.

[2017-03-13 11:32] petegale commented on #235
![screen shot 2017-03-13 at 11 27 01](https://cloud.githubusercontent.com/assets/2970019/23852624/b164eef2-07e0-11e7-897c-4b62a7d06904.png)

[2017-03-13 11:33] petegale opened #236 "Users need to signup for notifications in multiple channels (text and email)"
**Impact:** Those who wanted confirmation would not receive it. This is likely to driving up information requests to the local authority.

**Evidence:** Several users were observed selecting this option, believing they were opting out of additional communication whilst still getting notifications.

[2017-03-13 11:34] petegale commented on #236
![screen shot 2017-03-13 at 11 27 10](https://cloud.githubusercontent.com/assets/2970019/23852685/ec9f2c62-07e0-11e7-94fc-78bde1a97925.png)

[2017-03-13 11:34] petegale opened #237 "Users need to know when they’ve finished the transaction"
**Impact:** Users who are uncertain of the status of their application will be more likely to contact their local authority to enquire.

**Evidence:** Some users (especially those who had opted out of email notification) were unsure whether they had completed everything

[2017-03-13 11:35] petegale commented on #237
![screen shot 2017-03-13 at 11 27 18](https://cloud.githubusercontent.com/assets/2970019/23852718/1b5db622-07e1-11e7-85f0-9f38869212e5.png)

[2017-03-13 11:36] petegale opened #238 "Users need a printer to be able to print a temporary permit"
**Impact:** Users won’t be able to print temporary permits.

**Evidence:** Most users would have been unable to print temporary permits. Some stated they would want to contact the council to find out what they should do instead.

[2017-03-13 11:36] petegale commented on #238
![screen shot 2017-03-13 at 11 27 27](https://cloud.githubusercontent.com/assets/2970019/23852773/54a1c89c-07e1-11e7-9cb4-055874d41aec.png)

[2017-03-13 11:37] petegale opened #239 "Users need to know where their permit would allow them to park"
**Impact:** Users will need to carry out further research to understand where their permit is valid for.

**Evidence:** Several users expressed this information need at the end of the transaction.

[2017-03-13 11:37] petegale commented on #239
![screen shot 2017-03-13 at 11 27 38](https://cloud.githubusercontent.com/assets/2970019/23852796/6df9c48e-07e1-11e7-9263-e95aecddad22.png)

[2017-03-14 11:36] suryanaga commented on #222
It says "passport style" not "passport regulation" - Which I think is a fair description of the type of photo that's needed. Potentially we could reword as "photocard style" but I'm not sure that it's a big issue.

[2017-03-14 11:44] ghost commented on #222
Given there are so many assumptions about the photo anyway I'm sure there's a lot more we can do further down the journey that'll be much more effective. If bucks still want to try this, could do it as part of the local prototype and see what happens.

[2017-03-14 13:06] irinapencheva commented on #192
This and issue #193 should be addressed at start page as part of benefits of going through the Verify route

[2017-03-14 13:08] irinapencheva commented on #200
Related to issue #201 #222

[2017-03-14 13:12] irinapencheva commented on #190
also related to #197 - should be addressed as part of start page and why Verify is used for this service

[2017-03-16 14:33] suryanaga opened #242 "BUG: If first permit cost is 0/free, payment pages break."

[2017-03-16 15:10] suryanaga opened #243 "Add all councils to verify prototype"
**CT**

- [x] Northumberland County Council
- [x] Hertfordshire County Council
- [x] Warwickshire County Council
- [x] Buckinghamshire County Council

**PP**

- [x] Buckinghamshire County Council
- [x] Cambridgeshire
- [x] Northumberland County Council
- [x] Oxfordshire County Council
- [x] Southampton City Council
- [x] Sunderland City Council
- [x] Tunbridge Wells Borough Council

[2017-03-17 10:55] #243 closed, assigned to nobody

[2017-03-20 11:55] suryanaga opened #244 "Does white hair on white background get recognised by the face recogniser software?"
This is a question for beta.

This seems to be an issue in the current passport service (as per [this tweet](https://twitter.com/eucalyptus44/status/841943391973842946)), and it could be more of an issue for older people more like to have white hair.

[2017-03-20 14:11] #242 closed, assigned to nobody

[2017-03-20 14:14] suryanaga commented on #222
Closing this as it's essentially a duplicate of #200.

[2017-03-20 14:14] #222 closed, assigned to nobody

[2017-03-20 14:30] suryanaga commented on #192
@irinapencheva The start page already has too much content, which is why all the information about the Verify choice is introduced in it's own page.

[2017-03-20 14:37] suryanaga commented on #193
I think this should be addressed by #240.

[2017-03-20 14:38] suryanaga commented on #192
This should be addressed by #240.

[2017-03-21 11:29] suryanaga opened #248 "Users need to know the right delivery time but can't do so for non-verify route as currently the success page for non-verify route does not update"
When the user will receive their pass should be reflected on the success page by their choice of verify vs non-verify

[2017-03-21 11:40] anthonylord commented on #244
@sanjaypoyzer Is this a question for LAs or IDPs?

[2017-03-21 15:24] suryanaga commented on #244
@anthonylord More for LAs, but would be great if IDPs are thinking about this too!

[2017-03-21 16:16] suryanaga commented on #142
Duplicate of #186

[2017-03-21 16:16] #142 closed, assigned to nobody

[2017-03-22 17:16] suryanaga commented on #228
This is addressed in #240.

[2017-03-22 17:17] suryanaga commented on #229
This is addressed in #240.

[2017-03-24 12:41] #215 closed, assigned to nobody

[2017-03-24 12:41] #216 closed, assigned to nobody

[2017-03-27 09:21] suryanaga opened #254 "Needs alternative content for councils where the permits are one price"
Some councils have just one price of permit so some of the content currently doesn't work / seems strange.

[2017-03-27 09:25] suryanaga opened #255 "Permit start date should relate to today's date"
The permit start date that is shown when after a user chooses 'as soon as possible' should be 5 working days after today's start date.

[2017-03-27 11:03] suryanaga opened #256 "Need cleaner, dryer CSS architecture for localisation"

[2017-03-27 14:14] suryanaga opened #258 "Some councils can't lookup boundaries by postcode entered"
Some councils can not lookup parking boundaries.

[2017-03-27 14:18] suryanaga opened #259 "Users need to know where they can park"
Will add a link to a map on the parking start page. Councils can add this URL in their options.

[2017-03-27 14:19] suryanaga opened #260 "Content should reflect limit for residents, not households (local option)"
Oxfordshire limit permits to each resident, not each household.

[2017-03-27 14:23] suryanaga opened #261 "Remove 6 month permit (council option)"
Some councils do not offer 6 month permits.

[2017-03-27 14:24] suryanaga opened #262 "Users need to know the costs of permits in each boundary (if it's different)"
Oxfordshire has different costs of permits for each boundary.

This probably needs a space for free text explanation.

[2017-03-27 14:26] suryanaga opened #263 "No online payment solution (local option)"
Oxfordshire has no online payment solution, so there needs to be an option which accommodates for this and skips the payment pages.

[2017-03-27 14:28] suryanaga opened #264 "Some councils need the vehicle to be registered to address/person applying"
Sounds like the only way to do this right now is by having the user upload their V5.

[2017-03-27 14:31] suryanaga opened #265 "Some councils need to do manual checks so can't tell the user they are eligible straight away"
Some councils need to manual checks to find out if a user is eligible. The checks that some councils have that we so far know about are:

 - Permit availability
 - Ownership of vehicle (if using V5 scan)

Comment below if you know of a council with more manual checks then this.

[2017-03-27 14:32] suryanaga opened #266 "The vehicle details doesn't decide the price of permit"
For at least one council (Ox), the vehicle details has no bearing on price of permit.

[2017-03-27 14:34] suryanaga commented on #266
It should also be clear to users that this is a different step from the checking ownership step if both are included.

[2017-03-27 14:35] suryanaga opened #267 "Remove choice of start date (local option)"
At least one council (Ox) does not allow for choice of start date.

[2017-03-27 14:36] suryanaga opened #268 "Remove references to temporary permits"
At least one council (Ox) does not issue temporary permits, so there should be a local option to remove references to this.

[2017-03-27 16:21] #256 closed, assigned to nobody

[2017-03-27 17:19] suryanaga commented on #264
So there are a few examples of gov services asking for the V5 number to do a lookup of vehicle ownership.

https://vehicletax.service.gov.uk/
https://sorn.service.gov.uk/

And this one, found in the design patterns hackpad:
https://pr.preview-dvla.co.uk/assign/vehicle-lookup

@EUzkuraityte Is there anyway we would be able to get this functionality into our services? Can we talk to DVLA about it?

[2017-03-27 17:24] suryanaga commented on #264
Also some interesting stuff here about illustrations, which we'd probably need to use if we're asking for V5 number - https://designpatterns.hackpad.com/Illustrations-P8guskSNLoX

[2017-03-28 15:53] suryanaga commented on #224
- Users who just want visitors permits should use a different (lower level of assurance) service.
 - Users who want visitors permits *and* residents permits should be able to get them in one flow.
 - Users who want multiple residents permits (if council allows) should be able to get them in one flow.

[2017-03-28 16:12] #206 closed, assigned to nobody

[2017-03-28 16:15] #162 closed, assigned to nobody

[2017-03-29 10:57] suryanaga opened #273 "Do users who need to buy permits for their guests as well understand that they can do both with this service?"

[2017-03-30 09:13] suryanaga opened #274 "Do people know what to do with their permit once it arrives?"
We could show research participants a permit and get them to explain what they would do with it when it arrives.

[2017-03-30 09:45] suryanaga opened #276 "Some councils allow users to pick a permit up themselves from a council office"
Would be good to get some more detail about this from the councils that offer it.

[2017-03-30 09:45] suryanaga commented on #164
Most of these were already done in separate issues aside from:

## how the permit will be enforced

Have now done this. Documented in #275.

## if they can pick up their permit from a council office to get it faster and where from

This is more complex than just adding a line to the page. We need to ask the user this question earlier in the flow. It should be a council option, not all councils wil

[2017-03-30 11:27] #164 closed, assigned to nobody

[2017-03-30 15:47] petegale commented on #268
Will add a configuration variable to councils.json for tempPermit= TRUE / FALSE and switch out temperorary permit messages based on that

[2017-03-30 16:29] petegale commented on #268
BEFORE:
![start-before](https://cloud.githubusercontent.com/assets/2970019/24515068/56afd4d6-156e-11e7-90da-90065c60d53f.png)
![success-before](https://cloud.githubusercontent.com/assets/2970019/24515076/5b5a4a66-156e-11e7-864e-13929005e3bd.png)
AFTER:
![start-after](https://cloud.githubusercontent.com/assets/2970019/24515080/600dd51e-156e-11e7-92c6-ba439aad489c.png)
![success-after](https://cloud

[2017-03-31 08:29] #254 closed, assigned to nobody

[2017-03-31 09:16] suryanaga opened #279 "Some councils will be integrating with Verify at LOA1 level"
The linked stable prototype should reflect this.

@EUzkuraityte Do you know which councils will be using which LOA?

[2017-03-31 09:56] EUzkuraityte commented on #279
@sanjaypoyzer for PP only Cambridgeshire volunteered to use LOA1 (but others have until Thurs to express their interest)

[2017-03-31 13:30] colin2678 opened #280 "Users needed confirmation how they will be contacted on the application complete but the details of the contact methods don't reflect user's entered preferences"
the completed application page explains that you will not get a physical permit, but also asks for the user to display this in their car window. This should be one or the other

[2017-03-31 13:38] colin2678 opened #281 "selecting direct debit changes price - PP"
Selecting a to pay a parking permit by direct debit increases the price fro, £53 to £60

[2017-03-31 13:49] colin2678 opened #282 "link to verify users under 21 is not working - PP"
In PP application users who say they  are under 21 are shown an additional screen which does not successfully link to Verify

[2017-04-03 11:58] #268 closed, assigned to petegale

[2017-04-04 08:22] EUzkuraityte opened #287 "do existing permits which are going to expire soon affect the price of additional permits?"
Some LAs charge a different fee for the permits depending on whether this is the 1st, 2nd, 3rd etc. permit for the household. This can generate user dissatisfaction if for example, the 1st permit is taken out for 6 months and is free, the 2nd one is charged £30 and is taken out for a year. After the time comes to renew the 1st permit, is it still considered the 1st permit of the household with fre

[2017-04-04 09:12] #263 closed, assigned to petegale

[2017-04-04 09:29] #260 closed, assigned to petegale

[2017-04-04 09:46] EUzkuraityte opened #288 "Users who already have a permit need to change their permit details or cancel their permit"
hi @sanjaypoyzer could you add two options [on this page](https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start#) for:

-  the user to follow an alternative process if they have an existing permit but want to change details (i.e. they bought a new car and sold the old one) or
- the user wants to cancel an existing permit (i.e. they're moving out

[2017-04-04 09:58] suryanaga commented on #282
Hi @colin2678, thanks for catching this. Will flag it with the team which manages the verify stable protoype.

[2017-04-04 13:41] petegale commented on #255
This is fixed by #289

[2017-04-04 14:06] petegale commented on #280
Hi @colin2678 I've taken a look and can't see the inconsistency. I might just be missing it. Could you be a bit more specific?

[2017-04-04 14:19] #281 closed, assigned to petegale

[2017-04-04 15:38] suryanaga commented on #264
@EUzkuraityte to arrange workshop with councils who want to use V5.

[2017-04-04 15:41] EUzkuraityte commented on #276
which councils offer this as an option?
confirm if this is actually faster?
what's the benefit as opposed to going to the office and making the application face to face?

[2017-04-04 15:55] suryanaga commented on #141
@EUzkuraityte going to find any more and turn them all into seperate issues

[2017-04-05 10:13] suryanaga opened #291 "sometimes needs password on return from verify journey"

[2017-04-06 12:40] petegale opened #292 "How do users respond to adding V5C information"
Some councils may require additional information to confirm ownership of the parked vehicle. If this takes the form of a scanned document, it has the potential to significantly degrade the user journey:
 - At present, one of the strongest motivators for choosing a verified pathway is avoiding the need to scan and upload documents. Including scanning and upload in the  verified transaction would re

[2017-04-06 13:01] petegale commented on #33
This isn't a user research question, but a design decision. Once we make that decision we can then understand the impact of that decision through research.

[2017-04-06 14:16] petegale commented on #143
We need to be careful with language here. Reusing credentials is not something that we encourage (as in using the same username and password), or language that's used anywhere in the hub.

I spoke to Ant about the copy shown below. He's happy for us to go with that.
![screen shot 2017-04-06 at 15 15 50](https://cloud.githubusercontent.com/assets/2970019/24759028/0e315306-1adc-11e7-9c36-835e364e638

[2017-04-06 14:17] petegale commented on #143
Pushing this back into TODO, as it needs work before coming back to research questions

[2017-04-06 14:56] suryanaga commented on #143
Hmm... Wondering if it also needs the Verify logo if we use that language. (Was something I was thinking about doing anyway.)

[2017-04-06 15:25] suryanaga commented on #33
We have it down as an issue in #224, and so I will build it as a thing, but I think we need do some research to find out whether or not this is actually a thing people need to do

[2017-04-06 16:13] petegale commented on #33
We know there is a need to apply for residents and visitors permits at the same time. We also know that where permit limits allow it (especially with visitors scratch cards) there is a need to buy more than one at a time.

Text file attached contains all the variation in permit type and zone for participating councils
[permit types.txt](https://github.com/alphagov/verify-local-patterns/files/90326

[2017-04-06 16:34] suryanaga commented on #33
Ok closing this then as it's an answered question.

[2017-04-07 13:35] EUzkuraityte commented on #224
I assume a new step in the user journey is needed in between
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-choice
and
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

that asks the user what types and how many permits he wants to apply for

[2017-04-07 13:45] EUzkuraityte opened #293 "start page and residents start page both mention when permits allow user to park"
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/start-page

Change this:
In some parts of Argleton, you'll need a parking permit to park your car or other vehicle.
Parking permits allow you to park within a given boundary, 24 hours a day and 7 days a week. - not needed as there's duplication between this page and residents parking permit page

To this:
Y

[2017-04-07 13:49] EUzkuraityte opened #294 "User needs to know what different permits are available to them before the start of the transaction"
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/check-boundary

Change this:
To check if you need a permit, enter the postcode of the area where you'd like to park.

To this:
We would out if you or your visitors need a permit based on the the post code of the area where you live.

Enter your post code to find out:
- if you need a permit
- permits availab

[2017-04-07 14:00] EUzkuraityte opened #295 "User journey and content changes to 'you need a parking permit'"
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-choice

Change this:

is within Argleton city centre, so you'll need a parking permit.

Are you a resident of Argleton city centre?

Are you a resident of Argleton city centre?

- Yes, I'm a resident
- No, I'm a visitor

To this:
The post code [pull entered value from previous page] is within Argle

[2017-04-07 14:05] EUzkuraityte opened #296 "Should we show users the progress of their application?"
@sanjaypoyzer @petegale

I feel like the application is quite lenghty and having gone through it myself I felt a little lost not knowing how far in it I was, how many more steps I needed to complete etc. should we consider user testing this and / or introducing any of these:

1 - progress bar
2 - back button
3 - Previous answers + 'change' option as illustrated below

![screen shot 2017-04-07 at 1

[2017-04-07 14:33] EUzkuraityte opened #297 "Users who are eligible for a free permit need to know that they can get one"
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

Changes this:
Residents of Argleton city centre can buy resident's parking permits.

Permits cost between £51 and £153 depending on where you want to park. You'll need to check the boundaries to find your price.

You can park anywhere within the boundary, at any time, once you have a permit.

[2017-04-07 14:36] EUzkuraityte opened #298 "PP: using consistent language throughout"
can we ensure that users always 'apply for a permit' not 'claim a permit'

[2017-04-07 14:41] EUzkuraityte opened #299 "user option to enter their 'correct' address not longer visible"
@sanjaypoyzer the prototype currently routes from this page:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/confirm-address

to this page:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/eligible?answer=Yes
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/eligible?ans

[2017-04-10 10:13] #261 closed, assigned to suryanaga

[2017-04-10 10:47] suryanaga opened #300 "Users need to get visitors (guests) permits in the same transaction as resident's permits"
Decoupling this issue from #224.

[2017-04-10 10:47] suryanaga commented on #224
Adding a seperate issue for visitors permits here - #300.

[2017-04-11 09:02] petegale opened #301 "Users need to understand that you can't use a paper photo"
If you answer that you already have a paper photo, you never get the option to use a tablet or a smartphone to take a picture.

[2017-04-11 12:02] #255 closed, assigned to nobody

[2017-04-11 12:02] #267 closed, assigned to petegale

[2017-04-11 12:04] suryanaga commented on #265
@petegale Are you still working on this or was it already addressed in a PR?

[2017-04-11 12:07] suryanaga commented on #279
- [x] Cambridgeshire,
- [ ] Oxfordshire,
- [x] Northumberland
- [x] Sunderland

[2017-04-11 12:10] suryanaga commented on #298
@EUzkuraityte The reason it says "Claim your permit" on the page about choosing verify is to explain to users why they need to verify their identity. In other words they are claiming *their* permit rather than applying for *a* permit.

[2017-04-11 12:12] suryanaga commented on #297
@EUzkuraityte Most of this is dependent on council options.

Can you say what's behind this issue please?

Also the issue about it saying concessionary travel office should be it's own issue as it's unrelated to the above stuff.

[2017-04-11 12:16] suryanaga commented on #296
@EUzkuraityte I haven't seen anything in user research so far that suggests there's a user need for this.

We've got lots of discussion and research around progress indicators on the hackpad - https://designpatterns.hackpad.com/Progress-indicators-3AOrLoia9Us

I'm adding the question tag to this so we can look out for it in research.

[2017-04-11 12:22] suryanaga commented on #295
- The post code *does* get pulled from the previous page.
 - Suggested routing is not an issue, it's a solution to a problem. The issues you are talking about are already in #224 and #300.

[2017-04-11 12:22] #295 closed, assigned to nobody

[2017-04-11 12:23] EUzkuraityte commented on #298
@sanjaypoyzer I'm still not sure how the usage of the word 'claim' as opposed to 'apply' is conditional to choosing Verify, let's discuss at our meeting this pm

[2017-04-11 12:24] suryanaga commented on #293
- This varies between councils.
 - This issue does not document a problem.

[2017-04-11 12:25] suryanaga commented on #294
What problem does this solve?

[2017-04-11 12:26] irinapencheva opened #302 "Service pattern content changes"
A number of small changes required to the wording of the service pattern. All are outlined in this document:
https://docs.google.com/document/d/1SK3oFzYGLWwTRxj93QHAiwONG3n_ZLmSWonlxzFibWg/edit#

[2017-04-11 12:27] irinapencheva opened #303 "Users need to know if they will have to upload a photo"
"Shouldn't 'About this service' be above 'This service is for new applications. You can also:
replace a lost or stolen bus pass.
renew an expired bus pass.'"

[2017-04-11 12:29] irinapencheva opened #304 "Should we reword upload of photograph instruction on start page?"
On "You'll upload a digital photo as part of the application.'

Isn't the process also about 'taking' a photo so should be reworded?

[2017-04-11 12:30] irinapencheva opened #305 "Users need to know how to use their bus pass"
"Once you receive your pass you'll need to keep it with you while using the bus, as you'll need to have it scanned upon boarding."

A bit confusing, could be reworded

[2017-04-11 12:31] EUzkuraityte commented on #294
@sanjaypoyzer let's discuss. If LAs can make this info available then why not tell users not only if they need a permit, but also what kind of permit they can get.

The problem would be a user going through the whole Verify journey only to be told in the end that the household exceeded the max nr of permits allowed or that the address does not qualify for the permit they want.

[2017-04-11 12:34] irinapencheva opened #306 "Incentives for choosing the Verify Option"
User research should check if the updated incentives for choosing the Verify option are more appealing? What do people choose? Does the way the options are written make sense to users? Do they know why they go through Verify for this service?

[2017-04-11 12:35] irinapencheva opened #307 "Verifying your identity page question"
Currently the question is: "How do you want to claim your older person's bus pass?"

Is this the right question? Shouldn't it be 'How do you want to prove your eligibility and identity to claim your ...?"

[2017-04-11 12:36] irinapencheva opened #308 "Confirm your age page - bug"
I clicked 'No' and it leads me to confirm address page

[2017-04-11 12:39] irinapencheva opened #309 "Confirm your address - bug"
I clicked 'No' on current address and it still leads me to ' looks like you're eligible'

[2017-04-11 12:39] EUzkuraityte commented on #293
@sanjaypoyzer I reworded it into an issue (see Title), either way I can see why we need to be repeating the same content on several pages of the prototype. Can this be looked into?

[2017-04-11 12:40] irinapencheva opened #310 "Confirm your address - do users read and choose correct address?"
User research to check if this is not current address do users actually read the address that's returned from Verify? Do they have problem with entering a new address?

[2017-04-11 12:47] petegale commented on #265
@sanjaypoyzer got sidetracked by higher priority work. I haven't done any work on this yet, but will pick it up again, unless you want to

[2017-04-11 12:49] EUzkuraityte commented on #297
@sanjaypoyzer two issues here:
1 - current content does not let the user know that they can get a permit free of charge
2 - current content does not tell the user how the permit price is determined (and that was something that users wanted to know, it came out from our lab day)

[2017-04-11 12:50] EUzkuraityte opened #311 "Incorrect content displayed in the 'Other ways to apply' section"
Fixes needed for 'other ways to apply' section:
1.
change this:

to this:

2. Changes this:

to reflect the documents listed in the upload docs section.

3. Add this link (https://www.gov.uk/call-charges) to 'Find out about call charges'

[2017-04-11 12:53] suryanaga commented on #297
@EUzkuraityte Ok, can you split those into two separate issues please?

[2017-04-11 12:54] petegale commented on #306
This is covered by #45, and it's definitely on our list of research questions

[2017-04-11 12:55] ghost opened #312 "Your bus pass photo - You can't select "I'm not sure" as an option"

[2017-04-11 12:56] EUzkuraityte opened #313 "Users need to know how their permit price is determined"
@sanjaypoyzer content on this page:

https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

does not tell the user how the permit price is determined (and that was something that users wanted to know, it came out from our lab day)

[2017-04-11 12:56] ghost opened #314 "Your bus pass photo - "Get help sending a photo" link doesn't function"

[2017-04-11 12:56] suryanaga opened #315 "Councils need users name and address in non-verify route"

[2017-04-11 12:56] EUzkuraityte commented on #297
@sanjaypoyzer done it!

this issue is now about 1 - current content does not let the user know that they can get a permit free of charge

[2017-04-11 12:56] ghost opened #316 "Confirm your photo - there's no option to upload a new photo after one has been uploaded"

[2017-04-11 12:57] irinapencheva commented on #306
Great, if these ?s are still applicable for the updated prototype, will close this issue

[2017-04-11 12:57] #306 closed, assigned to nobody

[2017-04-11 12:58] ghost opened #317 "Confirmation messages - change text for message sending"
Instead of saying

one when your older person's bus pass is on it's way

It should say

another message when your bus pass is in the post

[2017-04-11 12:59] ghost opened #318 "Confirmation messages - no clear option for not wanting any messages sent"

[2017-04-11 13:01] ghost opened #319 "Users needed confirmation how they will be contacted on the application complete but the details of the contact methods don't reflect user's entered preferences"
This section should depend on what information has been provided - if the user hasn't provided an email address, then no confirmation could be sent at this point.

[2017-04-11 13:01] EUzkuraityte opened #320 "Question - do we need two prototype pages when it can be done in one?"
Info on these two pages:

- https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/prove-identity
- https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/pre-verify

could potentially be summarised in one. Issue being that we should not force users through extra steps and prototype screens unless we absolutely have to.

For

[2017-04-11 13:02] ghost opened #321 "Users need to provide an address that's different from their verified address so that they can receive their permit/pass"
I don't know if we'll be able to modify addresses at this point if the application has been submitted and all the internal messaging has been sent off. It would be easier to not include this functionality, and instead give a contact detail in case someone wants to change it.

[2017-04-11 13:07] joanneSouthern commented on #321
Agree, i wouldnt want to verify an address and then send information out to another address

[2017-04-11 13:10] joanneSouthern commented on #296
a progress bar or step 1 of X would be good, so you could see how far through you were in the process

[2017-04-11 13:45] petegale commented on #318
We had this option in the prototype for earlier rounds. We found that:

 - several users incorrectly selected this, so would never get the notifications that they wanted.
 - everyone wanted notifications of some sort.

For these reasons we removed this option. We will reopen it if there is good evidence of a user need, but otherwise not.

[2017-04-11 13:45] #318 closed, assigned to nobody

[2017-04-11 13:46] petegale commented on #319
I think that is the intention here. It may be a bug.

[2017-04-11 13:51] petegale commented on #320
I disagree with the premise that these pages should be combined and this contradicts some of our core design principles. Specifically: https://www.gov.uk/service-manual/design/form-structure#start-with-one-thing-per-page.

Perhaps this could be re-phrased as a question about whether users are experiencing problems relating to these being two separate pages

[2017-04-11 13:55] suryanaga commented on #265
let's put it back in to do and look at it with everything else we're prioritising

[2017-04-11 13:56] GWSunderland opened #322 "Users need to know in advance about personal information they would need to provide in the Verify process"
![issue1](https://cloud.githubusercontent.com/assets/27288208/24912737/eee75fba-1ec6-11e7-8e99-c164b1491f40.PNG)

[2017-04-11 13:57] petegale commented on #296
@joanneSouthern is this something that came up in your research? There are some issues with implementing this, especially when the number of steps varies significantly between different users. If it is a problem we observed, I'd be keen to know where it occurred, as it may well signify a different problem, or different solution.

This is our current guidance on this: https://www.gov.uk/service-man

[2017-04-11 13:58] GWSunderland opened #323 "Users expected cursor to apprear in the 1st box and / or auto-forward"
![issue2](https://cloud.githubusercontent.com/assets/27288208/24912854/466c8b2a-1ec7-11e7-9f1d-f4cf6b99929d.PNG)

[2017-04-11 13:59] suryanaga commented on #293
Ok, I've reworded it to be clearer.

Still not really sure why this is a problem though. It's on both those pages because the information would be useful at both parts of the journey.

[2017-04-11 14:00] GWSunderland opened #324 "Users not advised when the permit is free of charge."
![issue3](https://cloud.githubusercontent.com/assets/27288208/24912959/904ad666-1ec7-11e7-907e-99e6fdc1192f.PNG)

[2017-04-11 14:00] suryanaga commented on #294
Ah, I see, ok. Have reworded to be clearer.

[2017-04-11 14:01] GWSunderland opened #325 "Users need to be able to select 'Post' as renewal confirmation option"
![issue4](https://cloud.githubusercontent.com/assets/27288208/24913013/c0bb0028-1ec7-11e7-875f-f414c9d614c6.PNG)

[2017-04-11 14:02] petegale commented on #293
In all our testing with users, we've seen that reading is often incomplete, and users forget what they've read as often as remembering it. As a principle, information should be available to the point of need. Requiring users to remember information they may or may not have read elsewhere is probably unwise.

also: https://www.nngroup.com/articles/recognition-and-recall/

[2017-04-11 14:03] joanneSouthern commented on #296
yes it came out in research, people just wanting to know how far through they were

[2017-04-11 14:03] GWSunderland opened #326 "Users need to understand the relevance of GOV.UK Verify reuse links on the confirmation page"
![issue5](https://cloud.githubusercontent.com/assets/27288208/24913120/054bc240-1ec8-11e7-929a-4ca138096526.PNG)

[2017-04-11 14:04] joanneSouthern commented on #323
we have been talking about this, it would be really good especially if you are not used to using a mouse

[2017-04-11 14:05] GWSunderland opened #327 "Users need to know when their application is complete"
![issue6](https://cloud.githubusercontent.com/assets/27288208/24913187/44b0c340-1ec8-11e7-8fa8-4d8b45f0e356.PNG)

[2017-04-11 14:06] GWSunderland opened #328 "Users unsure where their permit allowed them to park"
![issue7](https://cloud.githubusercontent.com/assets/27288208/24913240/71c3a690-1ec8-11e7-87bb-c7bea1d9e8e5.PNG)

[2017-04-11 14:09] GWSunderland opened #329 "Users need to know what different types of permit they could apply for"
![issue8](https://cloud.githubusercontent.com/assets/27288208/24913344/ce4649f4-1ec8-11e7-8b0b-342129837b2d.PNG)

[2017-04-11 14:10] GWSunderland opened #330 "Users wanted to apply for more than one permit during a single application"
![issue9](https://cloud.githubusercontent.com/assets/27288208/24913405/069d235e-1ec9-11e7-88a3-ca8aaa7cfb12.PNG)

[2017-04-11 14:14] GWSunderland opened #331 "Users need their permits to start the date after their current permit expires"
![issue10](https://cloud.githubusercontent.com/assets/27288208/24913609/9193c58a-1ec9-11e7-9fdc-13706f874329.PNG)

[2017-04-11 14:15] GWSunderland opened #332 "Users need to know that they will need their vehicle registration number"
![issue11](https://cloud.githubusercontent.com/assets/27288208/24913666/be802f70-1ec9-11e7-9d78-3509c58daac2.PNG)

[2017-04-11 14:21] EUzkuraityte commented on #320
@petegale would you be able to explain what is a 'thing' in this context?

The way I see it, we're presenting the options to the user on how he/she can apply for a permit. And this is the one 'thing' that the Redundancy payment screen does. But please let me know if this is not the case.

@sanjaypoyzer maybe we could also link us to the service designers who assessed the service to find out the ba

[2017-04-11 14:58] petegale commented on #323
@GWSunderland @joanneSouthern We follow the [GDS Design pattern](https://www.gov.uk/service-manual/design/dates) on this that recommends not auto forwarding date fields as being the least problematic approach overall. I've added a link to this page to the page [where this design pattern is discussed ](https://designpatterns.hackpad.com/Dates-vpx6XlVjIbE) so if you have any more specific observatio

[2017-04-11 15:22] suryanaga commented on #330
This is a duplicate of #224.

[2017-04-11 15:22] #330 closed, assigned to nobody

[2017-04-11 15:27] EUzkuraityte commented on #324
This is a duplicate of #297

[2017-04-11 15:27] #324 closed, assigned to nobody

[2017-04-11 15:29] suryanaga commented on #320
@EUzkuraityte We used to have a page that looked like that. It tested really badly. Documented in #240.

[2017-04-11 15:33] petegale commented on #297
I'm adding the research notes from #324
![image](https://cloud.githubusercontent.com/assets/2970019/24917193/47cf52f6-1ed4-11e7-8daa-72126e1b1edd.png)
Part of the problem described by Sunderland was that the solution implemented, whereby the payment process is skipped does not address user needs, as users are never told of the price, and are also worried as they've given their bank details

[2017-04-11 15:33] EUzkuraityte commented on #328
This is a duplicate of #239

[2017-04-11 15:33] #328 closed, assigned to nobody

[2017-04-11 15:34] EUzkuraityte commented on #224
![image](https://cloud.githubusercontent.com/assets/20285115/24917346/c549b852-1ed4-11e7-9077-f38488d61163.png)

[2017-04-11 15:34] irinapencheva commented on #314
Linked to #147

[2017-04-11 15:35] EUzkuraityte commented on #239
![image](https://cloud.githubusercontent.com/assets/20285115/24917367/d7efe706-1ed4-11e7-9dde-bcc90557424b.png)

[2017-04-11 15:38] irinapencheva commented on #165
Linked to #301

[2017-04-11 15:38] #165 closed, assigned to nobody

[2017-04-11 15:38] #33 closed, assigned to nobody

[2017-04-11 16:02] irinapencheva commented on #321
@samuelculley - could we chat what we mean about that

[2017-04-12 11:09] #309 closed, assigned to nobody

[2017-04-12 11:09] #299 closed, assigned to nobody

[2017-04-12 11:10] #308 closed, assigned to nobody

[2017-04-12 11:39] suryanaga commented on #301
Adding this flowchart here illustrating the current flow:

<img width="903" alt="screen shot 2017-04-12 at 12 35 29" src="https://cloud.githubusercontent.com/assets/4106955/24955740/a0eb0008-1f7c-11e7-8945-b02d22147979.png">

The flowchart shows that you can not get to the Take photo with your device page if you answer "Yes" to the first question.

This is not intended!

[2017-04-12 11:50] suryanaga commented on #301
Going to change it to the routing illustrated here:

<img width="875" alt="screen shot 2017-04-12 at 12 49 10" src="https://cloud.githubusercontent.com/assets/4106955/24956207/81f14b56-1f7e-11e7-8838-e4e0844c27c2.png">

[2017-04-12 13:19] EUzkuraityte commented on #279
@sanjaypoyzer please add Sunderland to the list. They just emailed us saying that they'd like to use LOA1

[2017-04-12 13:21] irinapencheva opened #335 "Need a verify prototype instance to support address change"
This is linked to #310

[2017-04-12 13:26] suryanaga commented on #94
@irinapencheva Suggest we move this down as we've seen no need for it in research.

[2017-04-12 13:27] suryanaga commented on #307
@irinapencheva Not sure what the issue is here

[2017-04-12 13:33] irinapencheva commented on #94
@sanjaypoyzer - OK, happy to move for now
@petegale - in this or a later round of UR, could we look at this?

[2017-04-12 13:38] irinapencheva commented on #307
@sanjaypoyzer - sorry, wrongly worded comment when I was copy-pasting from my spreadsheet. Reworded the comment above, so hopefully makes more sense now.

[2017-04-12 13:59] Becktacular commented on #323
Not having the auto forward function is a minor inconvenience to sighted users. But in terms of accessibility, for people using a screen reader and keyboard to move around a screen (e.g. visually impaired), having the cursor auto-forward to the next field is unexpected behaviour and can make it almost impossible for them to complete the fields.

[2017-04-12 14:16] suryanaga commented on #307
So is this a question for research? If so, it should be more along the lines of "Does the user understand x?"

If it's an issue, what is the underlying issue? What's the evidence?

[2017-04-12 14:31] irinapencheva commented on #307
Let's leave it for the content designer. I think the way the question is worded now is a bit dubious for the task.

[2017-04-12 14:32] #266 closed, assigned to nobody

[2017-04-13 07:32] joanneSouthern opened #337 "Users needed to know where to click but were unsure and required assistance"

[2017-04-13 07:33] joanneSouthern opened #338 "Users need to know that they'll need an email address and photo prior to starting the application, and a utility bill if going non-verify"

[2017-04-13 07:34] joanneSouthern opened #339 "Northumberland CT - users couldn't find the 'apply for a new bus pass' link"

[2017-04-13 07:34] joanneSouthern opened #340 "Northumberland CT - users needed assistance clicking on radio buttons"

[2017-04-13 07:35] joanneSouthern opened #341 "Users had to go through the verify journey but couldn't do so without assistance as they didn't understand what was happening or what to do next"

[2017-04-13 07:36] joanneSouthern opened #342 "Northumberland CT - user were unable to continue with verify as they didnt have an email address"

[2017-04-13 07:36] joanneSouthern opened #343 "Northumberland CT - Users hadn't heard of certified companies"

[2017-04-13 07:37] joanneSouthern opened #344 "Users believe that the requirements for identity verification are unusually stringent and long winded for a concessionary travel pass"

[2017-04-13 07:37] joanneSouthern opened #345 "Northumberland CT - Users struggled with entering information in the text boxes in the correct format"

[2017-04-13 07:38] joanneSouthern opened #346 "users felt they need a professional photo to apply for a pass"

[2017-04-13 07:39] joanneSouthern opened #347 "Users needed to upload a photo, but couldn't do so without assistance"

[2017-04-13 07:39] joanneSouthern opened #348 "Users asked what size photo was required"

[2017-04-13 07:40] joanneSouthern opened #349 "Users were unable to take a selfie and upload this onto their computers"

[2017-04-13 07:40] joanneSouthern opened #350 "Users had ipads/smartphones and were unable to use a mouse"

[2017-04-13 07:41] joanneSouthern opened #351 "confirmation and renewals - users checked the box but failed to enter an email address or phone number"

[2017-04-13 07:41] joanneSouthern opened #352 "users didnt realise they were finished"

[2017-04-13 07:42] joanneSouthern opened #353 "users felt the process was too long winded, wouldn't recommend to a friend"

[2017-04-13 07:43] joanneSouthern opened #354 "Northumberland CT - buttons too small, too close together, font too small, links/actions unclear"

[2017-04-13 07:46] joanneSouthern opened #355 "Northumberland PP - too many pages at the start - could first 3 pages be merged?"

[2017-04-13 07:46] joanneSouthern opened #356 "Users need to know how much their permit will cost before they start the application"

[2017-04-13 07:46] joanneSouthern opened #357 "costs are incorrect"

[2017-04-13 08:39] joanneSouthern opened #358 "Northumberland PP - need to have car reg permit and visitor permit added"

[2017-04-13 08:39] joanneSouthern opened #359 "Northumberland PP - users where confused as to where to go - apply link is in red rather then a button"

[2017-04-13 08:40] joanneSouthern opened #360 "Users didn't read 'about the service'"

[2017-04-13 08:41] joanneSouthern opened #361 "Users didn't realise they needed an email address to apply"
Users didn't realise they needed an email address to apply online
For GOV.UK Verify an email address is always needed, for doc upload route it would be most likely needed but would depend on LA rules

[2017-04-13 08:42] joanneSouthern opened #362 "Northumberland PP - Users struggle to make an effective choice with little or no understanding of GOV.UK Verify"

[2017-04-13 08:45] joanneSouthern opened #363 "Users chose the verify route because they felt they couldn’t choose the alternative route (e.g. didn’t have a scanner / no information about what documents they would need to upload)"

[2017-04-13 08:46] joanneSouthern opened #364 "Northumberland PP - Users had little understanding of why verification is required."

[2017-04-13 08:47] joanneSouthern opened #365 "Northumberland PP - Users didn’t feel the design of the Northumberland pages was clear and user friendly, buttons, links, font size, too condensed"

[2017-04-13 08:48] joanneSouthern opened #366 "Users need to know that they can't get verified early in the journey"
Northumberland PP - over 20 and lived in UK - Users said that this information should have been listed on the first apply page. Getting to this point in the process then finding you can’t apply via this route might be frustrating to Users need to know that they can't get verified early in the journey

[2017-04-13 08:49] joanneSouthern opened #367 "Northumberland PP - Verify - Users were confused by the inclusion of certified companies"

[2017-04-13 08:51] joanneSouthern opened #368 "Users questioned the security of mobiles and codes"

[2017-04-13 08:51] joanneSouthern opened #369 "Users had to download an app but said they wouldn't be able to do so without assistance"

[2017-04-13 08:52] joanneSouthern opened #370 "Northumberland PP - Users concerned about identify test - would want to ring council to ensure it was legitimate website"

[2017-04-13 08:52] joanneSouthern opened #371 "Northumberland PP - Users were concerned around “temporary access to credit record”, how long is temporary ?"

[2017-04-13 08:53] joanneSouthern opened #372 "Northumberland PP - Users did not recognise the Verify logo or have confidence in its security"

[2017-04-13 08:53] joanneSouthern opened #373 "Northumberland PP - Users who picked one document with them were still asked for two on the following pages"

[2017-04-13 08:54] joanneSouthern opened #374 "BUG - car reg - Box asks for vehicle registration details twice"

[2017-04-13 08:54] joanneSouthern opened #375 "Choice between a 6 month or 12 month permit"

[2017-04-13 08:55] joanneSouthern opened #376 "Users need a better way to enter dates"
Users felt the layout of this page was poor with boxes too close together.   Users felt a calendar popup to choose a date would be helpful

[2017-04-13 08:55] joanneSouthern opened #377 "Northumberland PP - Users want more information about direct debit before the select this payment option (how many instalments, does it auto-renew)."

[2017-04-13 08:55] joanneSouthern opened #378 "Northumberland PP - Users wanted to know if there were any charges for credit or debit card charges before they selected this option."

[2017-04-13 08:56] joanneSouthern opened #379 "BUG - Direct Debit route - information falling off bottom of the page"

[2017-04-13 08:56] joanneSouthern opened #380 "Users clicked on the VISA logo on the payment screen before they entered their card number."

[2017-04-13 08:57] joanneSouthern opened #381 "Northumberland PP - When entering an invalid card expiry date, users received a confusing error message."

[2017-04-13 08:57] joanneSouthern opened #382 "Northumberland PP - Users were frustrated by re-entering personal details and made mistakes., emails, address, phone numbers"

[2017-04-13 08:57] joanneSouthern opened #383 "Users felt the layout / design of this page was poor"
Northumberland PP - card details - Users felt the layout / design of this page was poor

[2017-04-13 08:58] joanneSouthern opened #384 "Northumberland PP - Users are told they have not signed up for an e-mail confirmation when they have."

[2017-04-13 08:58] joanneSouthern opened #385 "It wasn’t clear to everyone that they’d finished the transaction."

[2017-04-13 08:59] joanneSouthern opened #386 "Northumberland PP - Users were unsure where their permit would allow them to park."

[2017-04-13 08:59] joanneSouthern opened #387 "Users need to know if they are receiving a “physical” permit or not"

[2017-04-13 09:02] irinapencheva commented on #335
@EUzkuraityte - do you  mind if we move this item from the CT column as a top priority for PP as it impacts your service a lot more?
@sanjaypoyzer - looping you for visibility

[2017-04-13 09:05] EUzkuraityte commented on #335
@irinapencheva sure!

[2017-04-13 09:07] suryanaga commented on #335
@irinapencheva @EUzkuraityte I think it's best to have 2 seperate linked issues, one for PP and one for CT. That should reduce confusion when talking about priorities.

[2017-04-13 09:09] EUzkuraityte opened #388 "Need a verify prototype instance to support address change"
link to #335

[2017-04-13 09:10] irinapencheva commented on #335
great, thanks! I'll move it down the priority list then

[2017-04-13 09:13] suryanaga opened #389 "Councils need guidance on how to implement the new local options available in the prototype"
We have a bunch of new local options available now, but they need properly documenting so that councils can more fully localise the prototype

This is important because councils should be testing as realistic as journey as possible, and right now the prototype does not properly reflect the journey

[2017-04-13 09:17] suryanaga commented on #349
@joanneSouthern Could you provide some more information about this please? Perhaps paste in a screenshot of the slide deck you showed to us the other day?

[2017-04-13 09:20] EUzkuraityte commented on #276
closing this as based on the LA responses none of the current pilot participants allow for this

[2017-04-13 09:20] #276 closed, assigned to nobody

[2017-04-13 09:21] joanneSouthern commented on #349
@sanjaypoyzer  they said they wouldnt be able to do it without assistance

[2017-04-13 09:25] suryanaga commented on #346
@joanneSouthern Could you give some more information about what you asked users, which page they were on, and what they said? Thanks

[2017-04-13 09:33] suryanaga commented on #349
@joanneSouthern What screen were they looking at when they said this?

[2017-04-13 09:33] suryanaga commented on #312
@samuelculley Which page? The one which asks "Do you have a photo?"

[2017-04-13 09:37] suryanaga commented on #337
@joanneSouthern For this one, it would be good to understand more about the users who said they'd need assistance, and what type of digital experience they had. As well as what specifically they were struggling with.

For example, if this was users who said they owned an iPad but had never used a mouse, and then struggled to use the mouse, I don't think we need to worry too much. (Although it does

[2017-04-13 09:39] joanneSouthern commented on #346
right at the very beginning, they had low IT skills, weren't confident with the mouse and were use to ipads rather then computers

[2017-04-13 09:39] suryanaga commented on #351
@joanneSouthern I think this might be a local issue due to the text fields being shown before the radio button is selected, but we'll keep an eye out for it popping up in other councils.

[2017-04-13 09:39] joanneSouthern commented on #349
the screen where it asks you if you have a photo on your computer

[2017-04-13 09:40] suryanaga commented on #338
@joanneSouthern Was there something specific they realised they needed during the journey that they wouldn't have?

[2017-04-13 09:42] suryanaga commented on #346
@joanneSouthern So by right at the beginning, do you mean the [start page](https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/example-service/start-page)?

[2017-04-13 09:42] joanneSouthern commented on #337
low IT skills, i would even say none.  They had ipads so werent used to a mouse, struggled with scrolling, clicking and moving the mouse, we had to do the mouse for them,
Even the people with IT skills said they wanted assistance, they weren't sure where to click and didnt understand what they needed to do or why they were doing it

[2017-04-13 09:43] joanneSouthern commented on #338
an email address
a photo on their computer
utility bill for those on the non V route

[2017-04-13 09:46] suryanaga commented on #349
@joanneSouthern So they answered "Yes" to "Do you have a photo like this?", then got asked "Is your photo on this computer?" and then said they'd ask for assistance at that point?

[2017-04-13 09:46] joanneSouthern commented on #346
sorry @sanjaypoyzer this one is when the photo guidance appeared and they realised they needed a photo on the computer,
they all said they would need assistance with the whole process right from the start page in terms of their skill set

[2017-04-13 09:47] joanneSouthern commented on #349
yes @sanjaypoyzer , they said it was in the drawer in their house, we asked was it a printed out photo they said yes done in either a booth or by a professional photographer, often left over from when they applied for their passports

[2017-04-13 09:51] suryanaga opened #390 "Can iPad / non-mouse users use the service without assistance?"

[2017-04-13 09:56] suryanaga commented on #337
Ok, a think there's two things rolled up here:

 1. Users who haven't used a mouse before find it hard to use a mouse. We should be testing with those users with an iPad or whatever other device they use at home.
 2. People unsure where to click. This I think is a different issue that's related to the current Northumberland styling.

The first issue is really a question for further research, not r

[2017-04-13 10:05] suryanaga commented on #349
Ah, ok so this is related to #301 possibly.

Did the user not feel confident in clicking "No" to answer the question at this stage then? I'd expect users to be able to answer that question fine so I'm a little confused why they would drop off at this stage.

[2017-04-13 10:08] joanneSouthern commented on #349
I believe the question says 'do you have a photo like this'
it doesnt say at that point is it on your computer so they answer yes

[2017-04-13 10:14] suryanaga commented on #346
@joanneSouthern Ok sure, I think the thing about them needing assistance is a separate issue though. This one's more about them thinking they need a professional photo. I'm just trying to understand what gave them this impression, so we can change it. At the moment, the ["You need a photo" page](https://verify-local-patterns.herokuapp.com/service-patterns/concessionary-travel/example-service/need-

[2017-04-13 10:17] suryanaga commented on #349
@joanneSouthern Sure, so that's fine if they answer "yes" at that point, and then answer "no" on the question about it being on their computer. They'll still be routed to taking a new photo.

[2017-04-13 10:23] joanneSouthern commented on #346
@sanjaypoyzer i think its because last time they applied they thats what they did

[2017-04-13 10:53] suryanaga commented on #346
Ok, I'll add something in then.

[2017-04-13 11:44] suryanaga commented on #338
So let's break this down:

## Email address

Users only *need* this if they are using Verify. So really this could be told to the user when they choose Verify.

## Photo

Users definitely need to either have a photo, or the ability to take a photo (ie Access to a camera.) to do the application online. There's really no point them going further than the start page without that. So it's right that w

[2017-04-13 12:26] petegale commented on #323
@Becktacular I thought that was the case. It's interesting though that the current pattern causes so many usability issues with this audience - especially those older users with poor motor skills, who struggle when they then have to edit the text they've entered into tiny input fields. I wonder if there is a solution out there can address both sets of needs?

[2017-04-18 09:16] EUzkuraityte opened #393 "Users do not read below the 'Apply' button"
Users do not read below the  'Apply' button on this page: https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

[2017-04-18 09:18] EUzkuraityte opened #394 "Users need to know that they can get multiple permits"
[User are] not aware that more than 2 can be purchased on this page https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

[2017-04-18 09:22] EUzkuraityte commented on #375
Northumberland PP - Users were confused with the choice of a 6 month and 12 month choice with no obvious benefit (e.g. reduced price for 12 months)

Bucks PP - Expressed happiness that permits will be available for 6 months (change of ownership)

on this page:
https://verify-local-patterns.herokuapp.com/service-patterns/parking-permit/example-service/resident-start

[2017-04-18 09:33] #388 closed, assigned to petegale

[2017-04-18 09:33] #335 closed, assigned to petegale

[2017-04-18 11:43] timpaul commented on #323
Thanks for sharing this - it's an interesting example of the needs of two groups conflicting with each other. I also think this is one of those things we'll need to keep an eye on, as it's affected by users expectations, which can shift over time.

[2017-04-18 12:16] suryanaga commented on #352
I think this could be an issue with the current styles on Northumberland's prototype.

[2017-04-18 12:20] suryanaga commented on #353
Without using a lower level of assurance, the only real option we have here is making it clearer to people before they start Verify that it will take a while

[2017-04-18 12:21] suryanaga commented on #304
@irinapencheva Can you explain what the issue here is? What do you think is the intended result of leaving it how it is?

[2017-04-18 12:22] suryanaga commented on #302
Please submit those issues as seperate ones. This way of submitting issues completely breaks our current way of working.

[2017-04-18 12:23] suryanaga commented on #317
Why? What's the issue here?

[2017-04-18 12:27] suryanaga commented on #319
@samuelculley Can you say exactly what you did and what you saw?

[2017-04-18 12:37] irinapencheva commented on #302
@samuelculley - could you help with resubmitting these wording changes as separate issues to comply with the above?

[2017-04-18 12:37] #302 closed, assigned to nobody

[2017-04-18 12:37] petegale commented on #353
@sanjaypoyzer agreed - LOA1 is the only way to reduce the length of the Verify registration journey. However - perceptions such as these are usually indicative of an imbalance between effort and perceived value, so perhaps we can do something in terms of increasing perceived value?

Also - the design pattern for 'one thing per page' says that this should be the starting oint until user research su

[2017-04-18 12:42] irinapencheva commented on #304
@sanjaypoyzer - if I read this, I'd assume / understand it as the act of uploading a picture from a camera on my computer and would assume there's no way to take a picture as part of the application (i.e. if I have a webcam/ tablet).

We could park this item in 'Icebox' for the content designer's review?

[2017-04-18 12:45] suryanaga commented on #353
@petegale Yep, agreed that this could be linked to perceived value, although only if the user's quote came at the end of the process. Was that the case here @joanneSouthern?

Pete, which 'one thing per page' parts of the process do you think are contributing to the feeling that the process take a long time?

[2017-04-18 12:47] suryanaga commented on #304
@irinapencheva Yeah, I'm not really sure that's a real issue. It's not something we've seen in user research, and you (and I) have got too much contextual knowledge of the process to know what our genuine reaction to the content would actually be.

[2017-04-18 12:47] petegale commented on #352
@sanjaypoyzer It's worth noting that this issue has also been reported by Bucks and Sunderland as well as in round 1 of parking permits for Argleton. So it may not just be styling.

[2017-04-18 12:48] suryanaga opened #396 "Do people know how to use their bus pass once it arrives?"

[2017-04-18 12:55] petegale commented on #353
First thoughts on this, might be worth discussing in more detail

There are some elements of the journey that feel repetitive. I reckon they might be a good place to start. Could we consider "confirm your information is correct" as one thing? That could bring confirm address and confirm d.o.b. into one.

I wonder also wether those who are eligible need to be told they can proceed? Couldn't we just

[2017-04-18 13:46] suryanaga commented on #352
@petegale Ok, I'm going to do some organising of all the issues related to this page because there's a few now...

[2017-04-18 14:14] suryanaga commented on #385
![screenshot-verify-local-patterns herokuapp com 2017-04-18 15-14-20](https://cloud.githubusercontent.com/assets/4106955/25135248/b7a4c2ee-2449-11e7-8bf1-985a3c1b2697.png)

[2017-04-18 14:24] suryanaga commented on #237
Ok, going to keep this one as the canonical "people didn't realise they were done" issue for Parking Permits.

#327 and #385 show this is still an issue for Sunderland and Northumberland. I'm not going to close those issues just yet as they could do with making their styling more like [the pattern](https://www.gov.uk/service-manual/design/confirmation-pages). (We know that works well on other gov

[2017-04-18 14:27] suryanaga commented on #327
Suggest that Sunderland fix the styling of the success page and test again to see if the issue persists.

[2017-04-18 14:29] suryanaga commented on #385
Suggest that Northumberland make the styling of this page more like [the pattern](https://www.gov.uk/service-manual/design/confirmation-pages) and test again to see if the issue persists.

[2017-04-18 14:29] suryanaga commented on #352
OK, so #237 is the related issue for Parking Permits. As per other issues, we'll keep both around. That issue now also references #327 and #385, although both of those issues have local issues that could do with being addressed.

@petegale Are there any other versions of this issue that I've missed? Have the Bucks issues made it onto github yet?

[2017-04-18 14:36] petegale commented on #237
I think it's worth considering that the cause of this issue may not be to do with styling of the page, but how the transaction flow deviates from what the users expect.

I doubt that users are failing to see the completion message. Rather they don't think everything has happened yet, so question whether this is accurate.

This was flagged in the feedback call with Northumberland. They felt that us

[2017-04-18 14:38] petegale commented on #352
@sanjaypoyzer not that I'm aware of. @samuelculley should be doing the Bucks issues today or tomorrow

[2017-04-18 14:51] stephenjoe1 commented on #233
This is something which has happened occasionally during Pay research but not to the extent that it has confused the user. The impact of trust that having the card symbols bring has outweighed the occasional user interaction with these symbols. It has also eliminated the occasions when users put in the wrong information in the card number box. Without the symbols some would start putting in their

[2017-04-18 14:58] colin2678 commented on #280
Apologies, I have been away for the past couple of weeks. Please find attached a screen of the inconsistency.
![pp-application](https://cloud.githubusercontent.com/assets/26651509/25137476/c274b3c2-244f-11e7-9858-6b2cbd4040cd.PNG)

[2017-04-18 14:59] colin2678 commented on #280
^^ I hope that worked, as images are still blocked on Github for me :-(

[2017-04-18 15:45] petegale opened #399 "Users who don't need to pay need confirmation of what they are applying for"
Users who are applying for a parking permit that costs £0 never see a page that summarises their transaction before they complete.

This goes against what they expect and leads them to question whether they have actually completed the transaction.

[2017-04-19 07:44] EUzkuraityte opened #400 "Users need to know what GOV.UK Verify is"
![image](https://cloud.githubusercontent.com/assets/20285115/25168686/64154a02-24dc-11e7-8148-2bae521fa691.png)

[2017-04-19 07:46] EUzkuraityte opened #401 "Users need to know they can use GOV.UK Verify whether or not they already have an account"
'I do not think I am registered with GOV.UK'

![image](https://cloud.githubusercontent.com/assets/20285115/25168790/b6ac887a-24dc-11e7-9deb-460522a2b12f.png)

'User assumed they already had a Verify account on this page'

![image](https://cloud.githubusercontent.com/assets/20285115/25168838/f081f27e-24dc-11e7-9a77-da906e8875fa.png)

[2017-04-19 07:49] EUzkuraityte opened #402 "Users need the application process to be quick"
![image](https://cloud.githubusercontent.com/assets/20285115/25168908/11f3e386-24dd-11e7-90bf-c7054b90f231.png)

![image](https://cloud.githubusercontent.com/assets/20285115/25168916/17a36842-24dd-11e7-83c2-836491bf52d1.png)

[2017-04-19 07:52] EUzkuraityte opened #403 "Users need to know why councils can't use information that they already hold about them to verify their identity"
![image](https://cloud.githubusercontent.com/assets/20285115/25169013/70941e42-24dd-11e7-99a1-99deca109d01.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169018/73dee140-24dd-11e7-8338-5f56f6ea1f63.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169021/7689d300-24dd-11e7-871e-c123a0fbb7b8.png)
![image](https://cloud.githubusercontent.com/assets/20285115/251

[2017-04-19 07:54] EUzkuraityte opened #404 "User thought a photograph could be used to verify"
![image](https://cloud.githubusercontent.com/assets/20285115/25169096/b9422efe-24dd-11e7-8cee-41093fa9fa1b.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169104/be7ff478-24dd-11e7-99b4-245018fe4deb.png)

[2017-04-19 07:56] EUzkuraityte opened #405 "Low percentage of users are able to install apps"
![image](https://cloud.githubusercontent.com/assets/20285115/25169189/ff2a1e5e-24dd-11e7-8fb6-4886c39e3a16.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169192/0246db0e-24de-11e7-92e2-8da25a9253cb.png)

[2017-04-19 07:59] EUzkuraityte opened #406 "Users need to understand the difference between GOV.UK Verify and the certified companies"
![image](https://cloud.githubusercontent.com/assets/20285115/25169273/528848d2-24de-11e7-9edf-e6a5378aa14a.png)
![image](https://cloud.githubusercontent.com/assets/20285115/25169281/5b54ed4e-24de-11e7-8b6e-ba4244d17a1d.png)